;;;;;;;;;;;;;;;;;;;;;;;;;/
;     GravityGuy 2016	 ;
;      [ICT]UNIFESP	 ;
;////////////////////////;
;////////Made By:////////;
;////////////////////////;
; Joe|Joao|Paulo|Willian ;
;;;;;;;;;;;;;;;;;;;;;;;;;;


format PE GUI 4.0
entry start

include 'win32a.inc'


include 'opengl.inc'

section '.text' code readable executable

  start:

	invoke	GetModuleHandle,0
	mov	[wc.hInstance],eax
	invoke	LoadIcon,0,IDI_APPLICATION
	mov	[wc.hIcon],eax
	invoke	LoadCursor,0,IDC_ARROW
	mov	[wc.hCursor],eax
	invoke	RegisterClass,wc
	invoke	CreateWindowEx,0,_class,_title,WS_VISIBLE+WS_OVERLAPPEDWINDOW+WS_CLIPCHILDREN+WS_CLIPSIBLINGS,16,16,700,700,NULL,NULL,[wc.hInstance],NULL
	mov	[hwnd],eax

  msg_loop:
	invoke	GetMessage,msg,NULL,0,0
	or	eax,eax
	jz	end_loop
	invoke	TranslateMessage,msg
	invoke	DispatchMessage,msg
	jmp	msg_loop

  end_loop:
	invoke	ExitProcess,[msg.wParam]

proc WindowProc hwnd,wmsg,wparam,lparam
	push	ebx esi edi
	cmp	[wmsg],WM_CREATE
	je	.wmcreate
	cmp	[wmsg],WM_SIZE
	je	.wmsize
	cmp	[wmsg],WM_PAINT
	je	.wmpaint
	cmp	[wmsg],WM_KEYDOWN
	je	.wmkeydown
	cmp	[wmsg],WM_DESTROY
	je	.wmdestroy
  .defwndproc:
	invoke	DefWindowProc,[hwnd],[wmsg],[wparam],[lparam]
	jmp	.finish

  .wmcreate:
	invoke	GetDC,[hwnd]
	mov	[hdc],eax
	mov	edi,pfd
	mov	ecx,sizeof.PIXELFORMATDESCRIPTOR shr 2
	xor	eax,eax
	rep	stosd
	mov	[pfd.nSize],sizeof.PIXELFORMATDESCRIPTOR
	mov	[pfd.nVersion],1
	mov	[pfd.dwFlags],PFD_SUPPORT_OPENGL+PFD_DOUBLEBUFFER+PFD_DRAW_TO_WINDOW
	mov	[pfd.iLayerType],PFD_MAIN_PLANE
	mov	[pfd.iPixelType],PFD_TYPE_RGBA
	mov	[pfd.cColorBits],16
	mov	[pfd.cDepthBits],16
	mov	[pfd.cAccumBits],0
	mov	[pfd.cStencilBits],0
	invoke	ChoosePixelFormat,[hdc],pfd
	invoke	SetPixelFormat,[hdc],eax,pfd
	invoke	wglCreateContext,[hdc]
	mov	[hrc],eax
	invoke	wglMakeCurrent,[hdc],[hrc]
	invoke	GetClientRect,[hwnd],rc
	invoke	glViewport,0,0,[rc.right],[rc.bottom]
	invoke	glClearColor,0.56,0.72,1.0
	invoke	GetTickCount
	mov	[clock],eax
	xor	eax,eax
	jmp	.finish
  .wmsize:
	invoke	GetClientRect,[hwnd],rc
	invoke	glViewport,0,0,[rc.right],[rc.bottom]
	xor	eax,eax
	jmp	.finish
  .wmpaint:
	invoke	GetTickCount
	sub	eax,[clock]
	cmp	eax,10
	jb	.render
	add	[clock],eax

      .nextframe:
	 cmp	 [screen],1
	 je	.ingameclock
	 invoke glLoadIdentity
	jmp	.render
	.ingameclock:
	;Aumenta Velocidade com o Tempo
	mov	[aux],0.00001
	fld	[player.v]
	fld	[aux]
	faddp
	fstp	[player.v]

       ; cmp	  [player.gcount],1
	;je	 .ngrav
	call	.godown
	.ngrav:
	fld	[minx]
	fld	[player.v]
	faddp
	fstp	[minx]
	fld	[maxx]
	fld	[player.v]
	faddp
	fstp	[maxx]

	fld	[player.v]
	fchs
	fstp	[aux]
	invoke	glTranslatef,[aux],0.0,0.0;move camera
	call	.goright   ;move player

      .render:


	invoke	glClear,GL_COLOR_BUFFER_BIT ;Limpa Tela



	;Screen logic
	cmp	[screen],1
	je	.ingame
	cmp	[screen],2
	je	.morto
	invoke	glClearColor,0.95,0.62,0.30
	.menu:
	 mov	 eax,0
	push	eax	;Salva EAX
	.renderscreen1:
	pop	eax	;Load EAX
	cmp	eax,[screen1size]
	je	.endrenderscreen1

	push	eax
	mov	ebx,29	;Tamanho do Objeto
	mul	ebx
	mov	ebx,eax

	pop	eax
	inc	eax
	push	eax


	 ;Nova Logica

	invoke	glBegin,GL_QUADS       ;Desenha Quadrado
	invoke	glColor3f,[screen1+ebx+17],[screen1+ebx+21],[screen1+ebx+25]  ;Cor RGB(R,G,B)

	mov	ecx,[screen1+ebx]
	mov	[aux2],ecx

	mov	ecx,[screen1+ebx+4]
	mov	[aux3],ecx

	invoke	glVertex2f,[aux2],[aux3] ;Verice 1 Pos(x,y)
	;aux=x+sx

	fld	[aux2]
	mov	ecx,[screen1+ebx+8]
	mov	[aux],ecx
	fld	[aux]
	faddp
	fstp	[aux]
	invoke	glVertex2f,[aux],[aux3] ;Vertice 2 Pos(x+sx,y)
	;aux1=y+sy

	fld	[aux3]
	mov	ecx,[screen1+ebx+12]
	mov	[aux1],ecx
	fld	[aux1]
	faddp
	fstp	[aux1]
	invoke	glVertex2f,[aux],[aux1];Vertice 3 Pos(x+sx,y+sy)
	invoke	glVertex2f,[aux2],[aux1];Vertice 3 Pos(x,y+sy)
	invoke	glEnd

	jmp	.renderscreen1

	.endrenderscreen1:
	jmp	.endrenderplayer

	.morto:

	mov	eax,0
	push	eax	;Salva EAX
	.renderscreen2:
	pop	eax	;Load EAX
	cmp	eax,[screen2size]
	je	.endrenderscreen2

	push	eax
	mov	ebx,29	;Tamanho do Objeto
	mul	ebx
	mov	ebx,eax

	pop	eax
	inc	eax
	push	eax


	 ;Nova Logica

	invoke	glBegin,GL_QUADS       ;Desenha Quadrado
	invoke	glColor3f,[screen2+ebx+17],[screen2+ebx+21],[screen2+ebx+25]  ;Cor RGB(R,G,B)

	mov	ecx,[screen2+ebx]
	mov	[aux2],ecx

	mov	ecx,[screen2+ebx+4]
	mov	[aux3],ecx

	invoke	glVertex2f,[aux2],[aux3] ;Verice 1 Pos(x,y)
	;aux=x+sx

	fld	[aux2]
	mov	ecx,[screen2+ebx+8]
	mov	[aux],ecx
	fld	[aux]
	faddp
	fstp	[aux]
	invoke	glVertex2f,[aux],[aux3] ;Vertice 2 Pos(x+sx,y)
	;aux1=y+sy

	fld	[aux3]
	mov	ecx,[screen2+ebx+12]
	mov	[aux1],ecx
	fld	[aux1]
	faddp
	fstp	[aux1]
	invoke	glVertex2f,[aux],[aux1];Vertice 3 Pos(x+sx,y+sy)
	invoke	glVertex2f,[aux2],[aux1];Vertice 3 Pos(x,y+sy)
	invoke	glEnd

	jmp	.renderscreen2

	.endrenderscreen2:
	jmp	.endrenderplayer


       .ingame:
	       invoke  glClearColor,0.56,0.72,1.0
       ;Morreu?
	fld	[player.x]
	fld	[maxx]
	fcompp
	fstsw ax
	fwait
	sahf
	jbe	.die

	fld	[player.x]
	fld	[minx]
	fcompp
	fstsw ax
	fwait
	sahf
	jae	.die

	fld	[player.y]
	fld	[maxy]
	fcompp
	fstsw ax
	fwait
	sahf
	jbe	.die

	fld	[player.y]
	fld	[miny]
	fcompp
	fstsw ax
	fwait
	sahf
	jae	.die

	jmp    .live
	.die:
	mov	[screen],2
	.live:
	;Desenha Chao
	mov	eax,0
	push	eax	;Salva EAX
	.renderfloor:
	pop	eax	;Load EAX
	cmp	eax,[chaosize]
	je	.endrenderfloor

	push	eax
	mov	ebx,29	;Tamanho do Objeto
	mul	ebx
	mov	ebx,eax

	pop	eax
	inc	eax
	push	eax

	;Colisao
	;Ignorar?
	mov	ah,[chao+ebx+16]
	cmp	ah,1
	jne	.fimcolisao
	;Eixo x
	;one.Position.x + one.Size.x >= two.Position.x &&
	fld	[player.px]
	fld	[player.sx]
	faddp
	fstp   [aux]

	fld    [aux]
	mov    eax,[chao+ebx]
	mov    [aux1],eax
	fld    [aux1]
	fcompp
	fstsw ax
	fwait
	sahf
	ja     .fimcolisao
	;two.Position.x + two.Size.x >= one.Position.x
	mov	ecx,[chao+ebx]
	mov	[aux],ecx
	fld	[aux]
	mov	ecx,[chao+ebx+8]
	mov	[aux1],ecx
	fld	[aux1]
	faddp
	fstp	[aux]
	fld    [aux]
	fld    [player.px]
	fcompp
	fstsw ax
	fwait
	sahf
	ja     .fimcolisao
	;Eixo Y
	;one.Position.y + one.Size.y >= two.Position.y &&
	fld	[player.py]
	fld	[player.sy]
	faddp
	fstp   [aux]

	fld    [aux]
	mov    eax,[chao+ebx+4]
	mov    [aux],eax
	fld    [aux]
	fcompp
	fstsw ax
	fwait
	sahf
	ja     .fimcolisao
	;two.Position.y + two.Size.y >= one.Position.y
	mov	eax,[chao+ebx+4]
	mov	[aux],eax
	fld	[aux]
	mov	eax,[chao+ebx+12]
	mov	[aux],eax
	fld	[aux]
	faddp
	fstp	[aux]
	fld    [aux]
	fld    [player.py]
	fcompp
	fstsw ax
	fwait
	sahf
	ja     .fimcolisao

;	;Colidiu

	 mov	[player.col],1

	.fimcolisao:


	invoke	glBegin,GL_QUADS       ;Desenha Quadrado
	invoke	glColor3f,[chao+ebx+17],[chao+ebx+21],[chao+ebx+25]  ;Cor RGB(R,G,B)


	invoke	glVertex2f,[chao+ebx],[chao+ebx+4] ;Verice 1 Pos(x,y)
	;aux=x+sx
	mov	ecx,[chao+ebx]
	mov	[aux],ecx
	fld	[aux]
	mov	ecx,[chao+ebx+8]
	mov	[aux],ecx
	fld	[aux]
	faddp
	fstp	[aux]
	invoke	glVertex2f,[aux],[chao+ebx+4] ;Vertice 2 Pos(x+sx,y)
	;aux1=y+sy
	mov	ecx,[chao+ebx+4]
	mov	[aux1],ecx
	fld	[aux1]
	mov	ecx,[chao+ebx+12]
	mov	[aux1],ecx
	fld	[aux1]
	faddp
	fstp	[aux1]
	invoke	glVertex2f,[aux],[aux1];Vertice 3 Pos(x+sx,y+sy)
	invoke	glVertex2f,[chao+ebx],[aux1];Vertice 3 Pos(x,y+sy)
	invoke	glEnd

	jmp	.renderfloor

	.endrenderfloor:


	 cmp	 [player.col],0
	 je	 .naocolidiu

	 mov	eax,[player.x]
	 mov	[player.px],eax
	 mov	eax,[player.y]
	 mov	[player.py],eax
	 mov	[player.col],0
	.naocolidiu:
	 mov	eax,[player.px]
	 mov	[player.x],eax
	 mov	eax,[player.py]
	 mov	[player.y],eax

	;Desenha Player

	mov	eax,0
	push	eax	;Salva EAX
	.renderplayer:
	pop	eax	;Load EAX
	cmp	eax,[playersize]
	je	.endrenderplayer

	push	eax
	mov	ebx,29	;Tamanho do Objeto
	mul	ebx
	mov	ebx,eax

	pop	eax
	inc	eax
	push	eax


	 ;Nova Logica

	invoke	glBegin,GL_QUADS       ;Desenha Quadrado
	invoke	glColor3f,[playermodel+ebx+17],[playermodel+ebx+21],[playermodel+ebx+25]  ;Cor RGB(R,G,B)

	fld	[player.x]
	mov	ecx,[playermodel+ebx]
	mov	[aux2],ecx
	fld	[aux2]
	faddp
	fstp	[aux2]
	fld	[player.y]
	mov	ecx,[playermodel+ebx+4]
	mov	[aux3],ecx
	fld	[aux3]
	faddp
	fstp	[aux3]
	invoke	glVertex2f,[aux2],[aux3] ;Verice 1 Pos(x,y)
	;aux=x+sx

	fld	[aux2]
	mov	ecx,[playermodel+ebx+8]
	mov	[aux],ecx
	fld	[aux]
	faddp
	fstp	[aux]
	invoke	glVertex2f,[aux],[aux3] ;Vertice 2 Pos(x+sx,y)
	;aux1=y+sy

	fld	[aux3]
	mov	ecx,[playermodel+ebx+12]
	mov	[aux1],ecx
	fld	[aux1]
	faddp
	fstp	[aux1]
	invoke	glVertex2f,[aux],[aux1];Vertice 3 Pos(x+sx,y+sy)
	invoke	glVertex2f,[aux2],[aux1];Vertice 3 Pos(x,y+sy)
	invoke	glEnd

	jmp	.renderplayer

	.endrenderplayer:



	invoke	SwapBuffers,[hdc]
	xor	eax,eax
	jmp	.finish

  .inverteg:
	mov	[screen],1
	cmp	[player.gcount],1
	jne	.finverteg
	mov	[player.gcount],0
	fld	[player.g]
	fchs
	fstp	[player.g]
	.finverteg:
	ret
   .goup:
	push ebp
	mov ebp, esp

	fld	[player.y]
	fld	[player.v]
	faddp
	fstp	[player.py]

	mov esp, ebp
	pop ebp
	ret

   .godown:
	push ebp
	mov ebp, esp

	fld	[player.y]
	fld	[player.g]
	fsubp
	fstp	[player.py]
	;Colisao

	mov	eax,0
	push	eax	;Salva EAX
	.loopele:
	pop	eax	;Load EAX
	cmp	eax,[chaosize]
	je	.endloopele

	push	eax
	mov	ebx,29	;Tamanho do Objeto
	mul	ebx
	mov	ebx,eax

	pop	eax
	inc	eax
	push	eax

	;Colisao
	;Ignorar?
	mov	ah,[chao+ebx+16]
	cmp	ah,1
	jne	.fimcolisao1
	;Eixo x
	;one.Position.x + one.Size.x >= two.Position.x &&
	fld	[player.x]
	fld	[player.sx]
	faddp
	fstp   [aux]

	fld    [aux]
	mov    eax,[chao+ebx]
	mov    [aux1],eax
	fld    [aux1]
	fcompp
	fstsw ax
	fwait
	sahf
	ja     .fimcolisao1
	;two.Position.x + two.Size.x >= one.Position.x
	mov	ecx,[chao+ebx]
	mov	[aux],ecx
	fld	[aux]
	mov	ecx,[chao+ebx+8]
	mov	[aux1],ecx
	fld	[aux1]
	faddp
	fstp	[aux]
	fld    [aux]
	fld    [player.x]
	fcompp
	fstsw ax
	fwait
	sahf
	ja     .fimcolisao1
	;Eixo Y
	;one.Position.y + one.Size.y >= two.Position.y &&
	fld	[player.py]
	fld	[player.sy]
	faddp
	fstp   [aux]

	fld    [aux]
	mov    eax,[chao+ebx+4]
	mov    [aux],eax
	fld    [aux]
	fcompp
	fstsw ax
	fwait
	sahf
	ja     .fimcolisao1
	;two.Position.y + two.Size.y >= one.Position.y
	mov	eax,[chao+ebx+4]
	mov	[aux],eax
	fld	[aux]
	mov	eax,[chao+ebx+12]
	mov	[aux],eax
	fld	[aux]
	faddp
	fstp	[aux]
	fld    [aux]
	fld    [player.py]
	fcompp
	fstsw ax
	fwait
	sahf
	ja     .fimcolisao1

;	;Colidiu

	 mov	[player.col],1

	.fimcolisao1:
	jmp    .loopele
	.endloopele:
	 cmp	 [player.col],0
	 je	 .naocolidiu1

	 mov	[player.gcount],1
	 mov	eax,[player.y]
	 mov	[player.py],eax
	 mov	[player.col],0
	.naocolidiu1:
	 mov	eax,[player.py]
	 mov	[player.y],eax


	mov esp, ebp
	pop ebp
	jmp .ngrav
	ret
   .goright:
	push ebp
	mov ebp, esp

	fld	[player.x]
	fld	[player.v]
	faddp
	fstp	[player.px]

	mov esp, ebp
	pop ebp
	ret
   .goleft:
	push ebp
	mov ebp, esp

	fld	[player.x]
	fld	[player.v]
	fsubp
	fstp	[player.px]

	mov esp, ebp
	pop ebp
	ret

  .wmkeydown:;OnKeyPress

	cmp	[wparam],VK_UP
	je	.goup
	cmp	[wparam],VK_DOWN
	je	.godown
	cmp	[wparam],VK_LEFT
	je	.goleft
	cmp	[wparam],VK_RIGHT
	je	.goright
	cmp	[wparam],VK_SPACE

	je	.inverteg


	cmp	[wparam],VK_ESCAPE
	jne	.defwndproc
  .wmdestroy:
	invoke	wglMakeCurrent,0,0
	invoke	wglDeleteContext,[hrc]
	invoke	ReleaseDC,[hwnd],[hdc]
	invoke	PostQuitMessage,0
	xor	eax,eax
  .finish:
	pop	edi esi ebx
	ret


endp

section '.data' data readable writeable
 ;"Variaveis"
  _title db 'Gravity Guy',0
  _class db 'FASMOPENGL32',0
  ;Telas
  ;0 - Menu
  ;1 - Ingame
  ;2 - Morto
  screen db 0

  maxx dd 1.3
  minx dd -1.3
  maxy dd 1.2
  miny dd -1.3
  ;GameObject struct
  struct GameObject
   ;Posicao
    x dd ?
    y dd ?
   ;Tamanho
    sx dd ?
    sy dd ?
   ;Colisao
   col db ?
   ;Cor
   r dd ?
   g dd ?
   b dd ?
  ends
   ;Player struct
  struct Player
   ;Posicao
    x dd ?
    y dd ?
   ;Tamanho
    sx dd ?
    sy dd ?
   ;Velocidade
    v dd ?
   ;Colisoes
   col db ?
   ;Animacao
   anim db ?
   vanim dd ?
   ;Colisao
   px dd ? ;possivel x
   py dd ? ;possivel x
   ;Gravidade
   g dd ?	;Aceleracao
   gcount db ?


  ends
  ;IDS DAS ANIMACOES [0=Inverter Gravidade \/,2=Inverter Gravidade /\]
  ;Player
  player Player 0.0,0.0,0.23,0.37,0.012,0,-1,0.0,0.0,0.0,0.03,0
  ;Player Model
  playermodel GameObject 0.068965554,0.004482778,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.08620691,0.004482778,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.10344827,0.021724137,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.10344827,0.038965493,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.12068963,0.038965493,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.13793099,0.038965493,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.13793099,0.021724137,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.15517247,0.004482778,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.17241383,0.004482778,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.18965518,0.021724137,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.18965518,0.038965493,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.17241383,0.038965493,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.15517247,0.038965493,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.20689654,0.038965493,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.2241379,0.05620691,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.2241379,0.07344827,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.2241379,0.09068963,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.2241379,0.10793105,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.20689654,0.1251724,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.20689654,0.14241377,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.2241379,0.14241377,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.24137926,0.15965518,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.24137926,0.17689654,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.2241379,0.1941379,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.20689654,0.1941379,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.18965518,0.1941379,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.17241383,0.1941379,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.15517247,0.1941379,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.18965518,0.21137932,0.01724138,0.01724138,0,0.0,0.0,0.0
GameObject 0.18965518,0.22862068,0.01724138,0.01724138,0,0.0,0.0,0.0
GameObject 0.18965518,0.2458621,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.17241383,0.26310346,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.15517247,0.26310346,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.13793099,0.26310346,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.12068963,0.26310346,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.10344827,0.26310346,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.08620691,0.26310346,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.13793099,0.1941379,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.12068963,0.1941379,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.10344827,0.17689654,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.10344827,0.15965518,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.12068963,0.14241377,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.13793099,0.14241377,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.15517247,0.14241377,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.17241383,0.14241377,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.18965518,0.14241377,0.01724138,0.01724138,0,0.2901961,0.13333334,0.0
GameObject 0.068965554,0.2458621,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.068965554,0.22862068,0.01724138,0.01724138,0,0.0,0.0,0.0
GameObject 0.068965554,0.21137932,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.068965554,0.1941379,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.068965554,0.17689654,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.068965554,0.15965518,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.051724195,0.14241377,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.051724195,0.1251724,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.034482718,0.10793105,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.034482718,0.09068963,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.034482718,0.07344827,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.034482718,0.05620691,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.051724195,0.038965493,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.051724195,0.021724137,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.051724195,0.07344827,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.068965554,0.07344827,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.08620691,0.09068963,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.08620691,0.10793105,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.17241383,0.22862068,0.01724138,0.01724138,0,0.0,0.0,0.0
GameObject 0.10344827,0.22862068,0.01724138,0.01724138,0,0.0,0.0,0.0
GameObject 0.08620691,0.2458621,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.10344827,0.2458621,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.08620691,0.22862068,0.01724138,0.01724138,0,0.2,0.2,0.2
GameObject 0.08620691,0.21137932,0.01724138,0.01724138,0,0.0,0.0,0.0
GameObject 0.08620691,0.1941379,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.08620691,0.17689654,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.08620691,0.15965518,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.068965554,0.14241377,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.08620691,0.14241377,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.068965554,0.1251724,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.068965554,0.10793105,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.051724195,0.10793105,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.051724195,0.09068963,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.051724195,0.05620691,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.068965554,0.05620691,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.068965554,0.038965493,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.08620691,0.07344827,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.08620691,0.05620691,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.10344827,0.05620691,0.01724138,0.01724138,0,0.9019608,0.59607846,0.09411765
GameObject 0.13793099,0.2458621,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.12068963,0.2458621,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.12068963,0.22862068,0.01724138,0.01724138,0,0.0,0.0,0.0
GameObject 0.12068963,0.21137932,0.01724138,0.01724138,0,0.0,0.0,0.0
GameObject 0.10344827,0.21137932,0.01724138,0.01724138,0,0.0,0.0,0.0
GameObject 0.10344827,0.1941379,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.10344827,0.14241377,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.10344827,0.1251724,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.08620691,0.1251724,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.068965554,0.09068963,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.12068963,0.1251724,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.13793099,0.1251724,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.15517247,0.1251724,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.17241383,0.1251724,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.18965518,0.1251724,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.10344827,0.10793105,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.10344827,0.09068963,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.10344827,0.07344827,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.12068963,0.07344827,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.12068963,0.10793105,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.12068963,0.05620691,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.13793099,0.05620691,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.08620691,0.038965493,0.01724138,0.01724138,0,1.0,0.7294118,0.0
GameObject 0.17241383,0.2458621,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.15517247,0.2458621,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.13793099,0.22862068,0.01724138,0.01724138,0,0.0,0.0,0.0
GameObject 0.15517247,0.22862068,0.01724138,0.01724138,0,0.2,0.2,0.2
GameObject 0.13793099,0.21137932,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.15517247,0.21137932,0.01724138,0.01724138,0,0.0,0.0,0.0
GameObject 0.17241383,0.21137932,0.01724138,0.01724138,0,0.0,0.0,0.0
GameObject 0.20689654,0.10793105,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.18965518,0.10793105,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.17241383,0.10793105,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.15517247,0.10793105,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.13793099,0.10793105,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.12068963,0.09068963,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.13793099,0.09068963,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.15517247,0.09068963,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.17241383,0.09068963,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.18965518,0.09068963,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.20689654,0.09068963,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.20689654,0.05620691,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.20689654,0.07344827,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.17241383,0.05620691,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.15517247,0.05620691,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.13793099,0.07344827,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.15517247,0.07344827,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.17241383,0.07344827,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.18965518,0.07344827,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.18965518,0.05620691,0.01724138,0.01724138,0,1.0,0.8627451,0.4
GameObject 0.2241379,0.17689654,0.01724138,0.01724138,0,1.0,0.46666667,0.0
GameObject 0.20689654,0.17689654,0.01724138,0.01724138,0,1.0,0.46666667,0.0
GameObject 0.18965518,0.17689654,0.01724138,0.01724138,0,1.0,0.46666667,0.0
GameObject 0.17241383,0.17689654,0.01724138,0.01724138,0,1.0,0.46666667,0.0
GameObject 0.15517247,0.17689654,0.01724138,0.01724138,0,1.0,0.46666667,0.0
GameObject 0.13793099,0.17689654,0.01724138,0.01724138,0,1.0,0.46666667,0.0
GameObject 0.12068963,0.17689654,0.01724138,0.01724138,0,0.7411765,0.34901962,0.0
GameObject 0.12068963,0.15965518,0.01724138,0.01724138,0,0.7411765,0.34901962,0.0
GameObject 0.13793099,0.15965518,0.01724138,0.01724138,0,0.7411765,0.34901962,0.0
GameObject 0.15517247,0.15965518,0.01724138,0.01724138,0,0.7411765,0.34901962,0.0
GameObject 0.17241383,0.15965518,0.01724138,0.01724138,0,0.7411765,0.34901962,0.0
GameObject 0.18965518,0.15965518,0.01724138,0.01724138,0,0.7411765,0.34901962,0.0
GameObject 0.20689654,0.15965518,0.01724138,0.01724138,0,0.7411765,0.34901962,0.0
GameObject 0.2241379,0.15965518,0.01724138,0.01724138,0,0.7411765,0.34901962,0.0
GameObject 0.068965554,0.021724137,0.01724138,0.01724138,0,0.7411765,0.34901962,0.0
GameObject 0.15517247,0.021724137,0.01724138,0.01724138,0,0.7411765,0.34901962,0.0
GameObject 0.08620691,0.021724137,0.01724138,0.01724138,0,1.0,0.46666667,0.0
GameObject 0.17241383,0.021724137,0.01724138,0.01724138,0,1.0,0.46666667,0.0
GameObject 0.051724195,0.17689654,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.034482718,0.15965518,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.017241359,0.15965518,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.0,0.14241377,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.0,0.1251724,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.0,0.10793105,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.0,0.09068963,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject -0.017241359,0.07344827,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject -0.017241359,0.05620691,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject -0.017241359,0.038965493,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.0,0.038965493,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.017241359,0.05620691,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.0,0.05620691,0.01724138,0.01724138,0,0.8,0.0,0.0
GameObject 0.0,0.07344827,0.01724138,0.01724138,0,0.8,0.0,0.0
GameObject 0.017241359,0.09068963,0.01724138,0.01724138,0,0.8,0.0,0.0
GameObject 0.017241359,0.10793105,0.01724138,0.01724138,0,0.8,0.0,0.0
GameObject 0.017241359,0.1251724,0.01724138,0.01724138,0,0.8,0.0,0.0
GameObject 0.017241359,0.14241377,0.01724138,0.01724138,0,0.8,0.0,0.0
GameObject 0.051724195,0.15965518,0.01724138,0.01724138,0,0.8,0.0,0.0
GameObject 0.017241359,0.07344827,0.01724138,0.01724138,0,1.0,0.0,0.0
GameObject 0.034482718,0.1251724,0.01724138,0.01724138,0,1.0,0.0,0.0
GameObject 0.034482718,0.14241377,0.01724138,0.01724138,0,1.0,0.0,0.0
GameObject 0.034482718,0.22862068,0.01724138,0.01724138,0,0.0,0.0,0.0
GameObject 0.051724195,0.22862068,0.01724138,0.01724138,0,0.0,0.0,0.0
GameObject 0.20689654,0.22862068,0.01724138,0.01724138,0,0.0,0.0,0.0
GameObject 0.18965518,0.26310346,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.20689654,0.26310346,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.2241379,0.26310346,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.24137926,0.26310346,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.20689654,0.2803448,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.18965518,0.2803448,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.18965518,0.29758623,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.17241383,0.29758623,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.17241383,0.3148276,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.15517247,0.3148276,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.13793099,0.3148276,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.12068963,0.3148276,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.10344827,0.3148276,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.08620691,0.3148276,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.08620691,0.29758623,0.01724138,0.01724138,0,0.8,0.0,0.0
GameObject 0.068965554,0.2803448,0.01724138,0.01724138,0,0.8,0.0,0.0
GameObject 0.068965554,0.26310346,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.068965554,0.29758623,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.12068963,0.33206895,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.13793099,0.33206895,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.13793099,0.34931037,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.12068963,0.34931037,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.10344827,0.34931037,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.08620691,0.34931037,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.15517247,0.34931037,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.17241383,0.34931037,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.10344827,0.29758623,0.01724138,0.01724138,0,0.8,0.0,0.0
GameObject 0.08620691,0.2803448,0.01724138,0.01724138,0,0.8,0.0,0.0
GameObject 0.10344827,0.2803448,0.01724138,0.01724138,0,0.8,0.0,0.0
GameObject 0.12068963,0.29758623,0.01724138,0.01724138,0,0.8,0.0,0.0
GameObject 0.12068963,0.2803448,0.01724138,0.01724138,0,1.0,0.0,0.0
GameObject 0.13793099,0.2803448,0.01724138,0.01724138,0,1.0,0.0,0.0
GameObject 0.15517247,0.2803448,0.01724138,0.01724138,0,1.0,0.0,0.0
GameObject 0.17241383,0.2803448,0.01724138,0.01724138,0,1.0,0.0,0.0
GameObject 0.15517247,0.29758623,0.01724138,0.01724138,0,1.0,0.0,0.0
GameObject 0.13793099,0.29758623,0.01724138,0.01724138,0,1.0,0.0,0.0
GameObject 0.051724195,0.26310346,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.051724195,0.29758623,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.051724195,0.2803448,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0
GameObject 0.068965554,0.3148276,0.01724138,0.01724138,0,0.2901961,0.19607843,0.0

  playersize dd 218


 ;Tela de Menu
screen1 GameObject -1.0,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.96875,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.9375,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.90625,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.875,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.84375,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.03125,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.0625,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.09375,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.125,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.15625,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.1875,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.21875,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.25,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.28125,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.3125,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.34375,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.375,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.40625,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.4375,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.46875,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.5,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.53125,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.5625,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.59375,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.625,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.65625,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.6875,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.71875,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.75,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.78125,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.8125,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.84375,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.875,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.90625,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.9375,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.96875,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -1.0,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.96875,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.9375,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.90625,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.875,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.84375,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.8125,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.78125,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.75,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.71875,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.6875,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.65625,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.625,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.59375,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.5625,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.53125,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.5,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.46875,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.4375,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.40625,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.375,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.34375,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.3125,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.28125,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.25,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.21875,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.1875,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.15625,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.125,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.09375,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.0625,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.03125,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.0,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.03125,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.0625,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.09375,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.125,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.15625,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.1875,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.21875,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.25,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.28125,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.3125,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.34375,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.375,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.40625,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.4375,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.46875,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.5,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.53125,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.5625,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.59375,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.625,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.65625,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.6875,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.71875,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.75,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.78125,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.8125,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.84375,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.875,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.90625,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.9375,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.96875,0.68875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -1.0,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.96875,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.9375,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.90625,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.875,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.84375,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.8125,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.78125,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.75,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.71875,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.6875,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.65625,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.625,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.59375,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.5625,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.53125,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.5,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.46875,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.4375,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.40625,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.375,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.34375,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.3125,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.28125,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.25,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.21875,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.1875,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.15625,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.125,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.09375,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.0625,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.03125,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.0,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.03125,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.0625,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.09375,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.125,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.15625,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.1875,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.21875,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.25,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.28125,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.3125,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.34375,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.375,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.40625,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.4375,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.46875,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.5,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.53125,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.5625,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.59375,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.625,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.65625,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.6875,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.71875,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.75,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.78125,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.8125,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.84375,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.875,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.90625,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.9375,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.96875,0.6575,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -1.0,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.96875,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.9375,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.90625,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.875,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.84375,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.8125,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.78125,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.75,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.71875,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.6875,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.65625,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.625,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.59375,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.5625,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.53125,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.5,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.46875,0.62625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.62625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.62625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,0.62625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.62625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.62625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.62625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,0.62625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.62625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.62625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.62625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.62625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.62625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject -0.03125,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.0,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.03125,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.0625,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.09375,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.125,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.15625,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.1875,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.21875,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.25,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.28125,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.3125,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.34375,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.375,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.40625,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.4375,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.46875,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.5,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.53125,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.5625,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.59375,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.625,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.65625,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.6875,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.71875,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.75,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.78125,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.8125,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.84375,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.875,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.90625,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.9375,0.62625,0.03125,0.03125,0,0.19215687,0.12156863,0.015686275
GameObject 0.96875,0.62625,0.03125,0.03125,0,0.30588236,0.19215687,0.02745098
GameObject -1.0,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.595,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,0.50125,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.65625,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.47,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.9375,0.47,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.90625,0.47,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.875,0.47,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.84375,0.47,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.8125,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.47,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.125,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.47,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.625,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.47,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.43875,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.875,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.43875,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.125,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.43875,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.625,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.43875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.875,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.78125,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.6875,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.5625,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.4375,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.40625,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.21875,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.1875,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.15625,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.125,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.03125,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.0,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.03125,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.125,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.21875,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.3125,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.4375,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.46875,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.59375,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.625,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.65625,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.71875,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.75,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.78125,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,0.4075,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.9375,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.4075,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.875,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.78125,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.6875,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.59375,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.46875,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.375,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.25,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.125,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.0625,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.0625,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.15625,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.21875,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.3125,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.40625,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.5,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.625,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.6875,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.8125,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.37625,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.90625,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.37625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.875,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.78125,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.6875,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.59375,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.46875,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.375,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.25,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.125,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.0625,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.0625,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.15625,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.1875,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.25,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.28125,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.40625,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.5,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.625,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.6875,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.8125,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.345,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.90625,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.345,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.875,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.78125,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.6875,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.59375,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.46875,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.375,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.25,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.125,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.0625,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.0625,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.15625,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.1875,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.25,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.28125,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.40625,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.5,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.625,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.6875,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.8125,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.31375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.90625,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.31375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.875,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.78125,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.75,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.71875,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.6875,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.59375,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.46875,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.375,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.21875,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.1875,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.15625,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.125,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.03125,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.0,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.03125,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.15625,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.1875,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.25,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.28125,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.40625,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.5,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.625,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.71875,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.75,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.78125,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.2825,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.90625,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.2825,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.25125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.22,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.18875,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.1575,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,0.095,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.34375,0.095,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.3125,0.095,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.28125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.095,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.34375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.06375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.06375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.25,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.06375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.34375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.0325,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.375,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.0325,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.25,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.0325,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.15625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.0325,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.0625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.0325,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.0,0.0325,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.03125,0.0325,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.0625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.0325,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.1875,0.0325,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.21875,0.0325,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.25,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.0325,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.34375,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.0325,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.40625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.0012500007,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.40625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.0012500007,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.25,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.0012500007,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.15625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.0012500007,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.0625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.0012500007,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.0625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.0012500007,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.15625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.0012500007,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.34375,0.0012500007,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.375,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,-0.03,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.40625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,-0.03,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.25,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,-0.03,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.15625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,-0.03,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.0625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,-0.03,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.0,-0.03,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.03125,-0.03,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.0625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,-0.03,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.15625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,-0.03,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.34375,-0.03,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.375,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,-0.06125,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.375,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,-0.06125,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.25,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,-0.06125,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.15625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,-0.06125,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.0625,-0.06125,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.03125,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,-0.06125,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.0625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,-0.06125,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.15625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,-0.06125,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.34375,-0.06125,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.375,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.375,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.34375,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.3125,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.28125,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.25,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.15625,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.125,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.09375,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.0625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.0,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.03125,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.0625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.1875,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.21875,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.25,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.34375,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,-0.0925,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject 0.40625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,-0.12375,0.03125,0.03125,0,0.99215686,0.8980392,0.76862746
GameObject -0.21875,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -1.0,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.96875,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.9375,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.90625,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.875,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.84375,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.8125,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.78125,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.75,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.78125,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.8125,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.84375,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.875,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.90625,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.9375,-0.2175,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.96875,-0.2175,0.03125,0.03125,0,0.13725491,0.08627451,0.011764706
GameObject -1.0,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.96875,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.9375,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.90625,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.875,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.84375,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.8125,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.78125,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.75,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.71875,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.6875,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.65625,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.625,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.59375,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.5625,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.53125,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.5,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.46875,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.4375,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.40625,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.375,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.34375,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.3125,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.28125,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.25,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.21875,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.1875,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.15625,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.125,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.09375,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.0625,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.03125,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.0,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.03125,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.0625,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.09375,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.125,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.15625,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.1875,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.21875,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.25,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.28125,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.3125,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.34375,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.375,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.40625,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.4375,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.46875,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.5,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.53125,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.5625,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.59375,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.625,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.65625,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.6875,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.71875,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.75,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.78125,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.8125,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.84375,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.875,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.90625,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.9375,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.96875,-0.24875,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -1.0,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.96875,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.9375,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.90625,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.875,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.84375,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.8125,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.78125,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.75,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.71875,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.6875,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.65625,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.625,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.59375,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.5625,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.53125,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.5,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.46875,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.4375,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.40625,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.375,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.34375,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.3125,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.28125,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.25,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.21875,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.1875,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.15625,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.125,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.09375,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.0625,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.03125,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.0,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.03125,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.0625,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.09375,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.125,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.15625,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.1875,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.21875,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.25,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.28125,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.3125,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.34375,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.375,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.40625,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.4375,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.46875,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.5,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.53125,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.5625,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.59375,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.625,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.65625,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.6875,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.71875,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.75,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.78125,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.8125,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.84375,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.875,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.90625,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.9375,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.96875,-0.28,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -1.0,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.96875,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.9375,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.90625,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.875,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.84375,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.8125,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.78125,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.75,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.71875,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.6875,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.65625,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.625,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.59375,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.5625,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.53125,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.5,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.46875,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.4375,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.40625,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.375,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.34375,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.3125,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.28125,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.25,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.21875,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.1875,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.15625,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.125,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.09375,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.0625,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.03125,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.0,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.03125,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.0625,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.09375,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.125,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.15625,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.1875,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.21875,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.25,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.28125,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.3125,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.34375,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.375,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.40625,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.4375,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.46875,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.5,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.53125,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.5625,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.59375,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.625,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.65625,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.6875,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.71875,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.75,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.78125,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.8125,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.84375,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.875,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.90625,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.9375,-0.31125,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject 0.96875,-0.31125,0.03125,0.03125,0,0.9137255,0.5686275,0.078431375
GameObject -0.8125,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.78125,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.75,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.71875,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.6875,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.65625,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.625,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.59375,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.5625,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.53125,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.5,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.46875,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.4375,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.40625,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.5625,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.56375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.5325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.50125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.03125,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.0625,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.09375,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.125,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.15625,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.1875,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.21875,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.25,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.28125,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.3125,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.34375,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
GameObject -0.375,0.72,0.03125,0.03125,0,0.9647059,0.6,0.08235294
screen1size dd 2176


 ;Tela de Morte

  screen2  GameObject -1.0,0.97,0.03125,0.03125,0,0.44313726,0.43529412,0.3137255
GameObject -0.96875,0.97,0.03125,0.03125,0,0.40392157,0.44705883,0.29803923
GameObject -0.9375,0.97,0.03125,0.03125,0,0.34117648,0.40784314,0.25490198
GameObject -0.90625,0.97,0.03125,0.03125,0,0.34901962,0.42352942,0.28627452
GameObject -0.875,0.97,0.03125,0.03125,0,0.36078432,0.42745098,0.30980393
GameObject -0.84375,0.97,0.03125,0.03125,0,0.33333334,0.40784314,0.29411766
GameObject -0.8125,0.97,0.03125,0.03125,0,0.36862746,0.44705883,0.30588236
GameObject -0.78125,0.97,0.03125,0.03125,0,0.4509804,0.50980395,0.3529412
GameObject -0.75,0.97,0.03125,0.03125,0,0.47843137,0.49019608,0.31764707
GameObject -0.71875,0.97,0.03125,0.03125,0,0.42352942,0.3882353,0.2
GameObject -0.6875,0.97,0.03125,0.03125,0,0.3529412,0.3019608,0.10980392
GameObject -0.65625,0.97,0.03125,0.03125,0,0.29803923,0.27450982,0.078431375
GameObject -0.625,0.97,0.03125,0.03125,0,0.30980393,0.28627452,0.11764706
GameObject -0.59375,0.97,0.03125,0.03125,0,0.28627452,0.2627451,0.12941177
GameObject -0.5625,0.97,0.03125,0.03125,0,0.23921569,0.23137255,0.11372549
GameObject -0.53125,0.97,0.03125,0.03125,0,0.34509805,0.3372549,0.2
GameObject -0.5,0.97,0.03125,0.03125,0,0.45490196,0.42352942,0.27058825
GameObject -0.46875,0.97,0.03125,0.03125,0,0.48235294,0.41960785,0.27058825
GameObject -0.4375,0.97,0.03125,0.03125,0,0.46666667,0.41568628,0.26666668
GameObject -0.40625,0.97,0.03125,0.03125,0,0.34117648,0.38039216,0.21960784
GameObject -0.375,0.97,0.03125,0.03125,0,0.26666668,0.29411766,0.15294118
GameObject -0.34375,0.97,0.03125,0.03125,0,0.32941177,0.28627452,0.16470589
GameObject -0.3125,0.97,0.03125,0.03125,0,0.30588236,0.2509804,0.13333334
GameObject -0.28125,0.97,0.03125,0.03125,0,0.19607843,0.1882353,0.07058824
GameObject -0.25,0.97,0.03125,0.03125,0,0.15686275,0.16470589,0.05490196
GameObject -0.21875,0.97,0.03125,0.03125,0,0.2901961,0.28627452,0.17254902
GameObject -0.1875,0.97,0.03125,0.03125,0,0.4,0.37254903,0.24705882
GameObject -0.15625,0.97,0.03125,0.03125,0,0.3647059,0.3529412,0.23137255
GameObject -0.125,0.97,0.03125,0.03125,0,0.3647059,0.3764706,0.30980393
GameObject -0.09375,0.97,0.03125,0.03125,0,0.43137255,0.44705883,0.42352942
GameObject -0.0625,0.97,0.03125,0.03125,0,0.6039216,0.60784316,0.59607846
GameObject -0.03125,0.97,0.03125,0.03125,0,0.627451,0.627451,0.60784316
GameObject 0.0,0.97,0.03125,0.03125,0,0.5647059,0.5686275,0.5411765
GameObject 0.03125,0.97,0.03125,0.03125,0,0.5176471,0.5137255,0.49019608
GameObject 0.0625,0.97,0.03125,0.03125,0,0.5254902,0.52156866,0.49411765
GameObject 0.09375,0.97,0.03125,0.03125,0,0.52156866,0.5176471,0.48235294
GameObject 0.125,0.97,0.03125,0.03125,0,0.5137255,0.5254902,0.46666667
GameObject 0.15625,0.97,0.03125,0.03125,0,0.4509804,0.4627451,0.39215687
GameObject 0.1875,0.97,0.03125,0.03125,0,0.36078432,0.3764706,0.2901961
GameObject 0.21875,0.97,0.03125,0.03125,0,0.27058825,0.29803923,0.1882353
GameObject 0.25,0.97,0.03125,0.03125,0,0.2784314,0.31764707,0.17254902
GameObject 0.28125,0.97,0.03125,0.03125,0,0.24313726,0.29411766,0.101960786
GameObject 0.3125,0.97,0.03125,0.03125,0,0.19215687,0.25882354,0.023529412
GameObject 0.34375,0.97,0.03125,0.03125,0,0.22745098,0.2901961,0.039215688
GameObject 0.375,0.97,0.03125,0.03125,0,0.23921569,0.29411766,0.07450981
GameObject 0.40625,0.97,0.03125,0.03125,0,0.20784314,0.25490198,0.09019608
GameObject 0.4375,0.97,0.03125,0.03125,0,0.22745098,0.2784314,0.13725491
GameObject 0.46875,0.97,0.03125,0.03125,0,0.22352941,0.28235295,0.12156863
GameObject 0.5,0.97,0.03125,0.03125,0,0.24313726,0.30588236,0.13725491
GameObject 0.53125,0.97,0.03125,0.03125,0,0.29803923,0.34901962,0.20392157
GameObject 0.5625,0.97,0.03125,0.03125,0,0.2509804,0.30980393,0.16862746
GameObject 0.59375,0.97,0.03125,0.03125,0,0.21568628,0.28235295,0.12941177
GameObject 0.625,0.97,0.03125,0.03125,0,0.29411766,0.38039216,0.20784314
GameObject 0.65625,0.97,0.03125,0.03125,0,0.3019608,0.3882353,0.22352941
GameObject 0.6875,0.97,0.03125,0.03125,0,0.23137255,0.31764707,0.17254902
GameObject 0.71875,0.97,0.03125,0.03125,0,0.21568628,0.2901961,0.1764706
GameObject 0.75,0.97,0.03125,0.03125,0,0.20784314,0.28235295,0.16078432
GameObject 0.78125,0.97,0.03125,0.03125,0,0.2627451,0.3372549,0.18039216
GameObject 0.8125,0.97,0.03125,0.03125,0,0.23137255,0.30980393,0.14901961
GameObject 0.84375,0.97,0.03125,0.03125,0,0.2,0.28235295,0.1254902
GameObject 0.875,0.97,0.03125,0.03125,0,0.21176471,0.2901961,0.1254902
GameObject 0.90625,0.97,0.03125,0.03125,0,0.20784314,0.2784314,0.12156863
GameObject 0.9375,0.97,0.03125,0.03125,0,0.20784314,0.27450982,0.14117648
GameObject 0.96875,0.97,0.03125,0.03125,0,0.22745098,0.29411766,0.16078432
GameObject -1.0,0.93875,0.03125,0.03125,0,0.56078434,0.58431375,0.4392157
GameObject -0.96875,0.93875,0.03125,0.03125,0,0.4117647,0.4627451,0.29803923
GameObject -0.9375,0.93875,0.03125,0.03125,0,0.3254902,0.39215687,0.21176471
GameObject -0.90625,0.93875,0.03125,0.03125,0,0.21176471,0.2627451,0.105882354
GameObject -0.875,0.93875,0.03125,0.03125,0,0.34117648,0.37254903,0.25882354
GameObject -0.84375,0.93875,0.03125,0.03125,0,0.37254903,0.4117647,0.32156864
GameObject -0.8125,0.93875,0.03125,0.03125,0,0.31764707,0.37254903,0.2509804
GameObject -0.78125,0.93875,0.03125,0.03125,0,0.34509805,0.39215687,0.23921569
GameObject -0.75,0.93875,0.03125,0.03125,0,0.39215687,0.40784314,0.24705882
GameObject -0.71875,0.93875,0.03125,0.03125,0,0.39215687,0.3764706,0.20392157
GameObject -0.6875,0.93875,0.03125,0.03125,0,0.3764706,0.34509805,0.15294118
GameObject -0.65625,0.93875,0.03125,0.03125,0,0.29803923,0.2784314,0.09803922
GameObject -0.625,0.93875,0.03125,0.03125,0,0.25490198,0.23921569,0.08235294
GameObject -0.59375,0.93875,0.03125,0.03125,0,0.28235295,0.25882354,0.105882354
GameObject -0.5625,0.93875,0.03125,0.03125,0,0.27450982,0.2509804,0.09803922
GameObject -0.53125,0.93875,0.03125,0.03125,0,0.29803923,0.27058825,0.12156863
GameObject -0.5,0.93875,0.03125,0.03125,0,0.42745098,0.3764706,0.23529412
GameObject -0.46875,0.93875,0.03125,0.03125,0,0.5176471,0.44313726,0.29411766
GameObject -0.4375,0.93875,0.03125,0.03125,0,0.47843137,0.4117647,0.24313726
GameObject -0.40625,0.93875,0.03125,0.03125,0,0.35686275,0.3647059,0.18431373
GameObject -0.375,0.93875,0.03125,0.03125,0,0.30588236,0.32156864,0.17254902
GameObject -0.34375,0.93875,0.03125,0.03125,0,0.3019608,0.28235295,0.16078432
GameObject -0.3125,0.93875,0.03125,0.03125,0,0.28627452,0.2627451,0.16078432
GameObject -0.28125,0.93875,0.03125,0.03125,0,0.34901962,0.35686275,0.28235295
GameObject -0.25,0.93875,0.03125,0.03125,0,0.44705883,0.4627451,0.42745098
GameObject -0.21875,0.93875,0.03125,0.03125,0,0.6509804,0.6509804,0.65882355
GameObject -0.1875,0.93875,0.03125,0.03125,0,0.7254902,0.7058824,0.7294118
GameObject -0.15625,0.93875,0.03125,0.03125,0,0.6901961,0.65882355,0.7176471
GameObject -0.125,0.93875,0.03125,0.03125,0,0.70980394,0.6745098,0.78039217
GameObject -0.09375,0.93875,0.03125,0.03125,0,0.69803923,0.6901961,0.7764706
GameObject -0.0625,0.93875,0.03125,0.03125,0,0.6627451,0.6509804,0.7294118
GameObject -0.03125,0.93875,0.03125,0.03125,0,0.6313726,0.6156863,0.6862745
GameObject 0.0,0.93875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.03125,0.93875,0.03125,0.03125,0,0.64705884,0.61960787,0.7019608
GameObject 0.0625,0.93875,0.03125,0.03125,0,0.69411767,0.6627451,0.7490196
GameObject 0.09375,0.93875,0.03125,0.03125,0,0.6862745,0.6666667,0.73333335
GameObject 0.125,0.93875,0.03125,0.03125,0,0.6392157,0.627451,0.6862745
GameObject 0.15625,0.93875,0.03125,0.03125,0,0.67058825,0.6627451,0.7058824
GameObject 0.1875,0.93875,0.03125,0.03125,0,0.6862745,0.68235296,0.69411767
GameObject 0.21875,0.93875,0.03125,0.03125,0,0.6,0.60784316,0.5686275
GameObject 0.25,0.93875,0.03125,0.03125,0,0.5647059,0.5882353,0.5411765
GameObject 0.28125,0.93875,0.03125,0.03125,0,0.45882353,0.4862745,0.41568628
GameObject 0.3125,0.93875,0.03125,0.03125,0,0.29411766,0.3372549,0.20392157
GameObject 0.34375,0.93875,0.03125,0.03125,0,0.24313726,0.2901961,0.101960786
GameObject 0.375,0.93875,0.03125,0.03125,0,0.22352941,0.26666668,0.047058824
GameObject 0.40625,0.93875,0.03125,0.03125,0,0.21176471,0.2627451,0.06666667
GameObject 0.4375,0.93875,0.03125,0.03125,0,0.22352941,0.2784314,0.105882354
GameObject 0.46875,0.93875,0.03125,0.03125,0,0.23137255,0.29411766,0.13333334
GameObject 0.5,0.93875,0.03125,0.03125,0,0.24705882,0.30980393,0.15294118
GameObject 0.53125,0.93875,0.03125,0.03125,0,0.23921569,0.2901961,0.13725491
GameObject 0.5625,0.93875,0.03125,0.03125,0,0.18431373,0.24313726,0.09019608
GameObject 0.59375,0.93875,0.03125,0.03125,0,0.20392157,0.27058825,0.1254902
GameObject 0.625,0.93875,0.03125,0.03125,0,0.26666668,0.33333334,0.1882353
GameObject 0.65625,0.93875,0.03125,0.03125,0,0.2509804,0.32941177,0.18039216
GameObject 0.6875,0.93875,0.03125,0.03125,0,0.26666668,0.34117648,0.2
GameObject 0.71875,0.93875,0.03125,0.03125,0,0.32156864,0.39607844,0.25882354
GameObject 0.75,0.93875,0.03125,0.03125,0,0.29411766,0.37254903,0.23529412
GameObject 0.78125,0.93875,0.03125,0.03125,0,0.27450982,0.34509805,0.19215687
GameObject 0.8125,0.93875,0.03125,0.03125,0,0.32941177,0.40392157,0.23137255
GameObject 0.84375,0.93875,0.03125,0.03125,0,0.30980393,0.38039216,0.20392157
GameObject 0.875,0.93875,0.03125,0.03125,0,0.3137255,0.38039216,0.21568628
GameObject 0.90625,0.93875,0.03125,0.03125,0,0.2901961,0.36078432,0.20392157
GameObject 0.9375,0.93875,0.03125,0.03125,0,0.27058825,0.3372549,0.19607843
GameObject 0.96875,0.93875,0.03125,0.03125,0,0.3529412,0.41960785,0.2901961
GameObject -1.0,0.9075,0.03125,0.03125,0,0.6745098,0.74509805,0.62352943
GameObject -0.96875,0.9075,0.03125,0.03125,0,0.7607843,0.84705883,0.7372549
GameObject -0.9375,0.9075,0.03125,0.03125,0,0.6862745,0.76862746,0.6431373
GameObject -0.90625,0.9075,0.03125,0.03125,0,0.46666667,0.5294118,0.36862746
GameObject -0.875,0.9075,0.03125,0.03125,0,0.3137255,0.36862746,0.1882353
GameObject -0.84375,0.9075,0.03125,0.03125,0,0.24313726,0.29411766,0.11372549
GameObject -0.8125,0.9075,0.03125,0.03125,0,0.24313726,0.3019608,0.12941177
GameObject -0.78125,0.9075,0.03125,0.03125,0,0.2627451,0.32156864,0.14509805
GameObject -0.75,0.9075,0.03125,0.03125,0,0.25490198,0.3019608,0.12941177
GameObject -0.71875,0.9075,0.03125,0.03125,0,0.31764707,0.3372549,0.13725491
GameObject -0.6875,0.9075,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.65625,0.9075,0.03125,0.03125,0,0.3882353,0.3647059,0.19215687
GameObject -0.625,0.9075,0.03125,0.03125,0,0.29803923,0.27450982,0.10980392
GameObject -0.59375,0.9075,0.03125,0.03125,0,0.28235295,0.25882354,0.08235294
GameObject -0.5625,0.9075,0.03125,0.03125,0,0.34509805,0.3019608,0.12941177
GameObject -0.53125,0.9075,0.03125,0.03125,0,0.30588236,0.24705882,0.105882354
GameObject -0.5,0.9075,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.46875,0.9075,0.03125,0.03125,0,0.40392157,0.32156864,0.21176471
GameObject -0.4375,0.9075,0.03125,0.03125,0,0.44313726,0.36078432,0.23137255
GameObject -0.40625,0.9075,0.03125,0.03125,0,0.31764707,0.30588236,0.13333334
GameObject -0.375,0.9075,0.03125,0.03125,0,0.3254902,0.3137255,0.19215687
GameObject -0.34375,0.9075,0.03125,0.03125,0,0.40784314,0.39215687,0.3529412
GameObject -0.3125,0.9075,0.03125,0.03125,0,0.43529412,0.42745098,0.43137255
GameObject -0.28125,0.9075,0.03125,0.03125,0,0.63529414,0.6431373,0.6901961
GameObject -0.25,0.9075,0.03125,0.03125,0,0.6392157,0.6666667,0.7372549
GameObject -0.21875,0.9075,0.03125,0.03125,0,0.6039216,0.62352943,0.7176471
GameObject -0.1875,0.9075,0.03125,0.03125,0,0.57254905,0.5647059,0.64705884
GameObject -0.15625,0.9075,0.03125,0.03125,0,0.5372549,0.5058824,0.5803922
GameObject -0.125,0.9075,0.03125,0.03125,0,0.49019608,0.44705883,0.5254902
GameObject -0.09375,0.9075,0.03125,0.03125,0,0.47843137,0.45882353,0.52156866
GameObject -0.0625,0.9075,0.03125,0.03125,0,0.4862745,0.4745098,0.53333336
GameObject -0.03125,0.9075,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.0,0.9075,0.03125,0.03125,0,0.4862745,0.4627451,0.52156866
GameObject 0.03125,0.9075,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.0625,0.9075,0.03125,0.03125,0,0.5411765,0.5137255,0.5803922
GameObject 0.09375,0.9075,0.03125,0.03125,0,0.5372549,0.50980395,0.57254905
GameObject 0.125,0.9075,0.03125,0.03125,0,0.5176471,0.49803922,0.5568628
GameObject 0.15625,0.9075,0.03125,0.03125,0,0.48235294,0.47843137,0.52156866
GameObject 0.1875,0.9075,0.03125,0.03125,0,0.5137255,0.50980395,0.54509807
GameObject 0.21875,0.9075,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.25,0.9075,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.28125,0.9075,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.3125,0.9075,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.34375,0.9075,0.03125,0.03125,0,0.4392157,0.4627451,0.3882353
GameObject 0.375,0.9075,0.03125,0.03125,0,0.3137255,0.34509805,0.21960784
GameObject 0.40625,0.9075,0.03125,0.03125,0,0.25882354,0.2901961,0.16470589
GameObject 0.4375,0.9075,0.03125,0.03125,0,0.23921569,0.28235295,0.15294118
GameObject 0.46875,0.9075,0.03125,0.03125,0,0.22352941,0.28627452,0.14509805
GameObject 0.5,0.9075,0.03125,0.03125,0,0.21960784,0.2784314,0.11372549
GameObject 0.53125,0.9075,0.03125,0.03125,0,0.22352941,0.27058825,0.09411765
GameObject 0.5625,0.9075,0.03125,0.03125,0,0.23529412,0.2901961,0.12156863
GameObject 0.59375,0.9075,0.03125,0.03125,0,0.24705882,0.30980393,0.15294118
GameObject 0.625,0.9075,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.65625,0.9075,0.03125,0.03125,0,0.40392157,0.47058824,0.33333334
GameObject 0.6875,0.9075,0.03125,0.03125,0,0.34509805,0.4117647,0.2627451
GameObject 0.71875,0.9075,0.03125,0.03125,0,0.36862746,0.4392157,0.2784314
GameObject 0.75,0.9075,0.03125,0.03125,0,0.39607844,0.4627451,0.30588236
GameObject 0.78125,0.9075,0.03125,0.03125,0,0.32941177,0.40392157,0.25882354
GameObject 0.8125,0.9075,0.03125,0.03125,0,0.34901962,0.4117647,0.25490198
GameObject 0.84375,0.9075,0.03125,0.03125,0,0.34509805,0.40784314,0.22745098
GameObject 0.875,0.9075,0.03125,0.03125,0,0.34901962,0.41960785,0.20784314
GameObject 0.90625,0.9075,0.03125,0.03125,0,0.39215687,0.45882353,0.26666668
GameObject 0.9375,0.9075,0.03125,0.03125,0,0.3019608,0.3764706,0.21176471
GameObject 0.96875,0.9075,0.03125,0.03125,0,0.31764707,0.38431373,0.25490198
GameObject -1.0,0.87625,0.03125,0.03125,0,0.4,0.48235294,0.36078432
GameObject -0.96875,0.87625,0.03125,0.03125,0,0.3764706,0.45882353,0.29803923
GameObject -0.9375,0.87625,0.03125,0.03125,0,0.5568628,0.627451,0.47843137
GameObject -0.90625,0.87625,0.03125,0.03125,0,0.8,0.84705883,0.7254902
GameObject -0.875,0.87625,0.03125,0.03125,0,0.67058825,0.7058824,0.5647059
GameObject -0.84375,0.87625,0.03125,0.03125,0,0.3647059,0.39607844,0.23137255
GameObject -0.8125,0.87625,0.03125,0.03125,0,0.28627452,0.30980393,0.16078432
GameObject -0.78125,0.87625,0.03125,0.03125,0,0.30980393,0.3254902,0.1882353
GameObject -0.75,0.87625,0.03125,0.03125,0,0.25490198,0.27450982,0.105882354
GameObject -0.71875,0.87625,0.03125,0.03125,0,0.3254902,0.3372549,0.15686275
GameObject -0.6875,0.87625,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.65625,0.87625,0.03125,0.03125,0,0.4392157,0.4117647,0.26666668
GameObject -0.625,0.87625,0.03125,0.03125,0,0.3647059,0.34901962,0.19215687
GameObject -0.59375,0.87625,0.03125,0.03125,0,0.23529412,0.21960784,0.047058824
GameObject -0.5625,0.87625,0.03125,0.03125,0,0.27058825,0.21960784,0.050980393
GameObject -0.53125,0.87625,0.03125,0.03125,0,0.31764707,0.2509804,0.10980392
GameObject -0.5,0.87625,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.46875,0.87625,0.03125,0.03125,0,0.25882354,0.2,0.08235294
GameObject -0.4375,0.87625,0.03125,0.03125,0,0.36078432,0.2901961,0.1764706
GameObject -0.40625,0.87625,0.03125,0.03125,0,0.41960785,0.3764706,0.27450982
GameObject -0.375,0.87625,0.03125,0.03125,0,0.5176471,0.49411765,0.4627451
GameObject -0.34375,0.87625,0.03125,0.03125,0,0.54901963,0.53333336,0.5686275
GameObject -0.3125,0.87625,0.03125,0.03125,0,0.52156866,0.5137255,0.5686275
GameObject -0.28125,0.87625,0.03125,0.03125,0,0.49803922,0.49019608,0.5568628
GameObject -0.25,0.87625,0.03125,0.03125,0,0.48235294,0.4862745,0.57254905
GameObject -0.21875,0.87625,0.03125,0.03125,0,0.5058824,0.5254902,0.60784316
GameObject -0.1875,0.87625,0.03125,0.03125,0,0.5176471,0.5254902,0.5803922
GameObject -0.15625,0.87625,0.03125,0.03125,0,0.44313726,0.42745098,0.4627451
GameObject -0.125,0.87625,0.03125,0.03125,0,0.35686275,0.30980393,0.34901962
GameObject -0.09375,0.87625,0.03125,0.03125,0,0.39607844,0.3647059,0.42352942
GameObject -0.0625,0.87625,0.03125,0.03125,0,0.4745098,0.4509804,0.5137255
GameObject -0.03125,0.87625,0.03125,0.03125,0,0.4862745,0.46666667,0.5137255
GameObject 0.0,0.87625,0.03125,0.03125,0,0.3764706,0.3529412,0.40784314
GameObject 0.03125,0.87625,0.03125,0.03125,0,0.3882353,0.35686275,0.42745098
GameObject 0.0625,0.87625,0.03125,0.03125,0,0.47058824,0.4392157,0.5176471
GameObject 0.09375,0.87625,0.03125,0.03125,0,0.47058824,0.4392157,0.5254902
GameObject 0.125,0.87625,0.03125,0.03125,0,0.49019608,0.47058824,0.5411765
GameObject 0.15625,0.87625,0.03125,0.03125,0,0.50980395,0.49803922,0.5529412
GameObject 0.1875,0.87625,0.03125,0.03125,0,0.4117647,0.39607844,0.4509804
GameObject 0.21875,0.87625,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.25,0.87625,0.03125,0.03125,0,0.5764706,0.5647059,0.654902
GameObject 0.28125,0.87625,0.03125,0.03125,0,0.6039216,0.59607846,0.6784314
GameObject 0.3125,0.87625,0.03125,0.03125,0,0.5882353,0.5882353,0.63529414
GameObject 0.34375,0.87625,0.03125,0.03125,0,0.62352943,0.627451,0.63529414
GameObject 0.375,0.87625,0.03125,0.03125,0,0.5764706,0.5803922,0.56078434
GameObject 0.40625,0.87625,0.03125,0.03125,0,0.3764706,0.39215687,0.33333334
GameObject 0.4375,0.87625,0.03125,0.03125,0,0.2627451,0.29411766,0.18431373
GameObject 0.46875,0.87625,0.03125,0.03125,0,0.22745098,0.28627452,0.10980392
GameObject 0.5,0.87625,0.03125,0.03125,0,0.21960784,0.27450982,0.078431375
GameObject 0.53125,0.87625,0.03125,0.03125,0,0.23921569,0.2901961,0.09803922
GameObject 0.5625,0.87625,0.03125,0.03125,0,0.29411766,0.34901962,0.16078432
GameObject 0.59375,0.87625,0.03125,0.03125,0,0.25490198,0.31764707,0.14901961
GameObject 0.625,0.87625,0.03125,0.03125,0,0.38431373,0.4509804,0.30588236
GameObject 0.65625,0.87625,0.03125,0.03125,0,0.45490196,0.52156866,0.38039216
GameObject 0.6875,0.87625,0.03125,0.03125,0,0.3529412,0.42352942,0.25882354
GameObject 0.71875,0.87625,0.03125,0.03125,0,0.33333334,0.41568628,0.21568628
GameObject 0.75,0.87625,0.03125,0.03125,0,0.34509805,0.42352942,0.23529412
GameObject 0.78125,0.87625,0.03125,0.03125,0,0.34901962,0.41568628,0.26666668
GameObject 0.8125,0.87625,0.03125,0.03125,0,0.34509805,0.4,0.2627451
GameObject 0.84375,0.87625,0.03125,0.03125,0,0.3529412,0.40392157,0.21960784
GameObject 0.875,0.87625,0.03125,0.03125,0,0.30980393,0.38039216,0.14117648
GameObject 0.90625,0.87625,0.03125,0.03125,0,0.36862746,0.43529412,0.19215687
GameObject 0.9375,0.87625,0.03125,0.03125,0,0.3647059,0.4392157,0.23529412
GameObject 0.96875,0.87625,0.03125,0.03125,0,0.3137255,0.38039216,0.21176471
GameObject -1.0,0.845,0.03125,0.03125,0,0.78039217,0.8392157,0.7490196
GameObject -0.96875,0.845,0.03125,0.03125,0,0.53333336,0.59607846,0.47843137
GameObject -0.9375,0.845,0.03125,0.03125,0,0.27058825,0.32941177,0.1764706
GameObject -0.90625,0.845,0.03125,0.03125,0,0.36862746,0.41960785,0.25490198
GameObject -0.875,0.845,0.03125,0.03125,0,0.7058824,0.74509805,0.5882353
GameObject -0.84375,0.845,0.03125,0.03125,0,0.68235296,0.7058824,0.5647059
GameObject -0.8125,0.845,0.03125,0.03125,0,0.38431373,0.3882353,0.24313726
GameObject -0.78125,0.845,0.03125,0.03125,0,0.29411766,0.28235295,0.14117648
GameObject -0.75,0.845,0.03125,0.03125,0,0.3372549,0.32156864,0.20392157
GameObject -0.71875,0.845,0.03125,0.03125,0,0.3254902,0.3137255,0.20784314
GameObject -0.6875,0.845,0.03125,0.03125,0,0.3372549,0.32156864,0.21176471
GameObject -0.65625,0.845,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.625,0.845,0.03125,0.03125,0,0.44705883,0.41960785,0.2784314
GameObject -0.59375,0.845,0.03125,0.03125,0,0.31764707,0.3019608,0.14901961
GameObject -0.5625,0.845,0.03125,0.03125,0,0.24313726,0.1882353,0.043137256
GameObject -0.53125,0.845,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.5,0.845,0.03125,0.03125,0,0.2627451,0.22352941,0.101960786
GameObject -0.46875,0.845,0.03125,0.03125,0,0.17254902,0.14117648,0.02745098
GameObject -0.4375,0.845,0.03125,0.03125,0,0.40784314,0.35686275,0.27450982
GameObject -0.40625,0.845,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.375,0.845,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.34375,0.845,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.3125,0.845,0.03125,0.03125,0,0.48235294,0.45882353,0.5137255
GameObject -0.28125,0.845,0.03125,0.03125,0,0.53333336,0.5137255,0.5411765
GameObject -0.25,0.845,0.03125,0.03125,0,0.5568628,0.53333336,0.5764706
GameObject -0.21875,0.845,0.03125,0.03125,0,0.4627451,0.46666667,0.50980395
GameObject -0.1875,0.845,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.15625,0.845,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.125,0.845,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.09375,0.845,0.03125,0.03125,0,0.43137255,0.39607844,0.44705883
GameObject -0.0625,0.845,0.03125,0.03125,0,0.33333334,0.30980393,0.3529412
GameObject -0.03125,0.845,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.0,0.845,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.03125,0.845,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.0625,0.845,0.03125,0.03125,0,0.43529412,0.41568628,0.4745098
GameObject 0.09375,0.845,0.03125,0.03125,0,0.49803922,0.46666667,0.5372549
GameObject 0.125,0.845,0.03125,0.03125,0,0.46666667,0.4392157,0.5058824
GameObject 0.15625,0.845,0.03125,0.03125,0,0.5019608,0.4862745,0.5411765
GameObject 0.1875,0.845,0.03125,0.03125,0,0.41568628,0.4,0.45490196
GameObject 0.21875,0.845,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.25,0.845,0.03125,0.03125,0,0.5411765,0.52156866,0.6039216
GameObject 0.28125,0.845,0.03125,0.03125,0,0.54901963,0.53333336,0.6117647
GameObject 0.3125,0.845,0.03125,0.03125,0,0.5764706,0.56078434,0.62352943
GameObject 0.34375,0.845,0.03125,0.03125,0,0.64705884,0.627451,0.6784314
GameObject 0.375,0.845,0.03125,0.03125,0,0.5294118,0.5137255,0.5568628
GameObject 0.40625,0.845,0.03125,0.03125,0,0.5176471,0.50980395,0.52156866
GameObject 0.4375,0.845,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.46875,0.845,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.5,0.845,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.53125,0.845,0.03125,0.03125,0,0.25490198,0.3019608,0.101960786
GameObject 0.5625,0.845,0.03125,0.03125,0,0.32941177,0.38431373,0.1764706
GameObject 0.59375,0.845,0.03125,0.03125,0,0.3019608,0.35686275,0.16470589
GameObject 0.625,0.845,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.65625,0.845,0.03125,0.03125,0,0.2901961,0.35686275,0.2
GameObject 0.6875,0.845,0.03125,0.03125,0,0.30980393,0.38039216,0.19215687
GameObject 0.71875,0.845,0.03125,0.03125,0,0.3254902,0.40392157,0.18431373
GameObject 0.75,0.845,0.03125,0.03125,0,0.3019608,0.38039216,0.16862746
GameObject 0.78125,0.845,0.03125,0.03125,0,0.27450982,0.34509805,0.18039216
GameObject 0.8125,0.845,0.03125,0.03125,0,0.30980393,0.36862746,0.19607843
GameObject 0.84375,0.845,0.03125,0.03125,0,0.30588236,0.36078432,0.15294118
GameObject 0.875,0.845,0.03125,0.03125,0,0.2509804,0.32941177,0.07058824
GameObject 0.90625,0.845,0.03125,0.03125,0,0.2627451,0.34509805,0.08235294
GameObject 0.9375,0.845,0.03125,0.03125,0,0.31764707,0.40392157,0.16078432
GameObject 0.96875,0.845,0.03125,0.03125,0,0.31764707,0.40784314,0.1882353
GameObject -1.0,0.81375,0.03125,0.03125,0,0.50980395,0.5803922,0.4627451
GameObject -0.96875,0.81375,0.03125,0.03125,0,0.8,0.85490197,0.7607843
GameObject -0.9375,0.81375,0.03125,0.03125,0,0.77254903,0.8352941,0.70980394
GameObject -0.90625,0.81375,0.03125,0.03125,0,0.37254903,0.43529412,0.27058825
GameObject -0.875,0.81375,0.03125,0.03125,0,0.2627451,0.3137255,0.14509805
GameObject -0.84375,0.81375,0.03125,0.03125,0,0.5686275,0.5921569,0.44705883
GameObject -0.8125,0.81375,0.03125,0.03125,0,0.5411765,0.53333336,0.40392157
GameObject -0.78125,0.81375,0.03125,0.03125,0,0.2901961,0.25882354,0.14509805
GameObject -0.75,0.81375,0.03125,0.03125,0,0.27058825,0.23137255,0.15686275
GameObject -0.71875,0.81375,0.03125,0.03125,0,0.26666668,0.23529412,0.17254902
GameObject -0.6875,0.81375,0.03125,0.03125,0,0.28627452,0.25882354,0.16078432
GameObject -0.65625,0.81375,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.625,0.81375,0.03125,0.03125,0,0.4,0.36078432,0.21960784
GameObject -0.59375,0.81375,0.03125,0.03125,0,0.32156864,0.29411766,0.15686275
GameObject -0.5625,0.81375,0.03125,0.03125,0,0.1764706,0.1254902,0.03137255
GameObject -0.53125,0.81375,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.5,0.81375,0.03125,0.03125,0,0.18039216,0.15294118,0.05882353
GameObject -0.46875,0.81375,0.03125,0.03125,0,0.20784314,0.2,0.13333334
GameObject -0.4375,0.81375,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.40625,0.81375,0.03125,0.03125,0,0.5764706,0.53333336,0.5529412
GameObject -0.375,0.81375,0.03125,0.03125,0,0.6156863,0.58431375,0.63529414
GameObject -0.34375,0.81375,0.03125,0.03125,0,0.58431375,0.57254905,0.63529414
GameObject -0.3125,0.81375,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.28125,0.81375,0.03125,0.03125,0,0.5137255,0.46666667,0.4862745
GameObject -0.25,0.81375,0.03125,0.03125,0,0.43529412,0.3882353,0.41960785
GameObject -0.21875,0.81375,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.1875,0.81375,0.03125,0.03125,0,0.41960785,0.41960785,0.45490196
GameObject -0.15625,0.81375,0.03125,0.03125,0,0.3372549,0.3254902,0.3764706
GameObject -0.125,0.81375,0.03125,0.03125,0,0.42352942,0.3764706,0.44705883
GameObject -0.09375,0.81375,0.03125,0.03125,0,0.4392157,0.40392157,0.45882353
GameObject -0.0625,0.81375,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.03125,0.81375,0.03125,0.03125,0,0.4392157,0.40784314,0.4509804
GameObject 0.0,0.81375,0.03125,0.03125,0,0.4392157,0.40392157,0.4509804
GameObject 0.03125,0.81375,0.03125,0.03125,0,0.3529412,0.32156864,0.3764706
GameObject 0.0625,0.81375,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.09375,0.81375,0.03125,0.03125,0,0.5058824,0.4862745,0.5529412
GameObject 0.125,0.81375,0.03125,0.03125,0,0.49411765,0.47843137,0.5411765
GameObject 0.15625,0.81375,0.03125,0.03125,0,0.42745098,0.4117647,0.46666667
GameObject 0.1875,0.81375,0.03125,0.03125,0,0.41568628,0.39607844,0.4627451
GameObject 0.21875,0.81375,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.25,0.81375,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.28125,0.81375,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.3125,0.81375,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.34375,0.81375,0.03125,0.03125,0,0.5176471,0.4862745,0.54901963
GameObject 0.375,0.81375,0.03125,0.03125,0,0.5411765,0.49803922,0.5764706
GameObject 0.40625,0.81375,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.4375,0.81375,0.03125,0.03125,0,0.49019608,0.4862745,0.47843137
GameObject 0.46875,0.81375,0.03125,0.03125,0,0.37254903,0.3882353,0.30588236
GameObject 0.5,0.81375,0.03125,0.03125,0,0.24705882,0.28627452,0.12941177
GameObject 0.53125,0.81375,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.5625,0.81375,0.03125,0.03125,0,0.2509804,0.30588236,0.09411765
GameObject 0.59375,0.81375,0.03125,0.03125,0,0.31764707,0.37254903,0.16078432
GameObject 0.625,0.81375,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.65625,0.81375,0.03125,0.03125,0,0.20392157,0.27058825,0.08627451
GameObject 0.6875,0.81375,0.03125,0.03125,0,0.2901961,0.3647059,0.16078432
GameObject 0.71875,0.81375,0.03125,0.03125,0,0.3372549,0.41960785,0.1882353
GameObject 0.75,0.81375,0.03125,0.03125,0,0.3254902,0.40392157,0.1882353
GameObject 0.78125,0.81375,0.03125,0.03125,0,0.23529412,0.3254902,0.11764706
GameObject 0.8125,0.81375,0.03125,0.03125,0,0.27058825,0.34117648,0.12156863
GameObject 0.84375,0.81375,0.03125,0.03125,0,0.25882354,0.32941177,0.08235294
GameObject 0.875,0.81375,0.03125,0.03125,0,0.2509804,0.32941177,0.07058824
GameObject 0.90625,0.81375,0.03125,0.03125,0,0.24705882,0.3254902,0.05882353
GameObject 0.9375,0.81375,0.03125,0.03125,0,0.28235295,0.3764706,0.12156863
GameObject 0.96875,0.81375,0.03125,0.03125,0,0.30588236,0.39607844,0.16078432
GameObject -1.0,0.7825,0.03125,0.03125,0,0.31764707,0.4,0.2509804
GameObject -0.96875,0.7825,0.03125,0.03125,0,0.23921569,0.29803923,0.15686275
GameObject -0.9375,0.7825,0.03125,0.03125,0,0.6156863,0.6627451,0.56078434
GameObject -0.90625,0.7825,0.03125,0.03125,0,0.8235294,0.87058824,0.7529412
GameObject -0.875,0.7825,0.03125,0.03125,0,0.46666667,0.50980395,0.36078432
GameObject -0.84375,0.7825,0.03125,0.03125,0,0.3372549,0.3529412,0.2
GameObject -0.8125,0.7825,0.03125,0.03125,0,0.5294118,0.5019608,0.38431373
GameObject -0.78125,0.7825,0.03125,0.03125,0,0.34117648,0.29411766,0.21960784
GameObject -0.75,0.7825,0.03125,0.03125,0,0.20392157,0.15294118,0.08627451
GameObject -0.71875,0.7825,0.03125,0.03125,0,0.23921569,0.19607843,0.11764706
GameObject -0.6875,0.7825,0.03125,0.03125,0,0.27058825,0.22745098,0.13725491
GameObject -0.65625,0.7825,0.03125,0.03125,0,0.37254903,0.32156864,0.2
GameObject -0.625,0.7825,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.59375,0.7825,0.03125,0.03125,0,0.38431373,0.34117648,0.22745098
GameObject -0.5625,0.7825,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.53125,0.7825,0.03125,0.03125,0,0.09411765,0.05490196,0.0
GameObject -0.5,0.7825,0.03125,0.03125,0,0.25490198,0.23137255,0.16862746
GameObject -0.46875,0.7825,0.03125,0.03125,0,0.53333336,0.52156866,0.49803922
GameObject -0.4375,0.7825,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.40625,0.7825,0.03125,0.03125,0,0.50980395,0.47843137,0.5019608
GameObject -0.375,0.7825,0.03125,0.03125,0,0.4117647,0.38431373,0.42352942
GameObject -0.34375,0.7825,0.03125,0.03125,0,0.45490196,0.44313726,0.49803922
GameObject -0.3125,0.7825,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.28125,0.7825,0.03125,0.03125,0,0.44313726,0.38431373,0.43529412
GameObject -0.25,0.7825,0.03125,0.03125,0,0.39215687,0.32156864,0.39607844
GameObject -0.21875,0.7825,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.1875,0.7825,0.03125,0.03125,0,0.40392157,0.38431373,0.43137255
GameObject -0.15625,0.7825,0.03125,0.03125,0,0.34901962,0.3254902,0.38039216
GameObject -0.125,0.7825,0.03125,0.03125,0,0.36862746,0.32156864,0.39607844
GameObject -0.09375,0.7825,0.03125,0.03125,0,0.41568628,0.37254903,0.44313726
GameObject -0.0625,0.7825,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.03125,0.7825,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.0,0.7825,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.03125,0.7825,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.0625,0.7825,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.09375,0.7825,0.03125,0.03125,0,0.41568628,0.39215687,0.48235294
GameObject 0.125,0.7825,0.03125,0.03125,0,0.44313726,0.42352942,0.5058824
GameObject 0.15625,0.7825,0.03125,0.03125,0,0.3529412,0.3372549,0.40392157
GameObject 0.1875,0.7825,0.03125,0.03125,0,0.2784314,0.25490198,0.3254902
GameObject 0.21875,0.7825,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.25,0.7825,0.03125,0.03125,0,0.48235294,0.45490196,0.5294118
GameObject 0.28125,0.7825,0.03125,0.03125,0,0.4117647,0.3764706,0.44705883
GameObject 0.3125,0.7825,0.03125,0.03125,0,0.35686275,0.32156864,0.36862746
GameObject 0.34375,0.7825,0.03125,0.03125,0,0.3647059,0.3254902,0.35686275
GameObject 0.375,0.7825,0.03125,0.03125,0,0.40784314,0.3647059,0.40392157
GameObject 0.40625,0.7825,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.4375,0.7825,0.03125,0.03125,0,0.5058824,0.48235294,0.5137255
GameObject 0.46875,0.7825,0.03125,0.03125,0,0.50980395,0.49019608,0.49019608
GameObject 0.5,0.7825,0.03125,0.03125,0,0.31764707,0.3372549,0.22745098
GameObject 0.53125,0.7825,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.5625,0.7825,0.03125,0.03125,0,0.2627451,0.30980393,0.10980392
GameObject 0.59375,0.7825,0.03125,0.03125,0,0.29803923,0.3529412,0.14117648
GameObject 0.625,0.7825,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.65625,0.7825,0.03125,0.03125,0,0.2,0.26666668,0.0627451
GameObject 0.6875,0.7825,0.03125,0.03125,0,0.23529412,0.30588236,0.10980392
GameObject 0.71875,0.7825,0.03125,0.03125,0,0.30588236,0.3882353,0.17254902
GameObject 0.75,0.7825,0.03125,0.03125,0,0.32941177,0.40392157,0.19215687
GameObject 0.78125,0.7825,0.03125,0.03125,0,0.28235295,0.3764706,0.16078432
GameObject 0.8125,0.7825,0.03125,0.03125,0,0.28235295,0.36078432,0.11764706
GameObject 0.84375,0.7825,0.03125,0.03125,0,0.30980393,0.39215687,0.1254902
GameObject 0.875,0.7825,0.03125,0.03125,0,0.2901961,0.37254903,0.105882354
GameObject 0.90625,0.7825,0.03125,0.03125,0,0.28627452,0.36862746,0.12156863
GameObject 0.9375,0.7825,0.03125,0.03125,0,0.27058825,0.3647059,0.14117648
GameObject 0.96875,0.7825,0.03125,0.03125,0,0.32941177,0.41960785,0.20784314
GameObject -1.0,0.75125,0.03125,0.03125,0,0.8666667,0.91764706,0.84313726
GameObject -0.96875,0.75125,0.03125,0.03125,0,0.5803922,0.6,0.49803922
GameObject -0.9375,0.75125,0.03125,0.03125,0,0.20392157,0.2,0.078431375
GameObject -0.90625,0.75125,0.03125,0.03125,0,0.39215687,0.38431373,0.25490198
GameObject -0.875,0.75125,0.03125,0.03125,0,0.7019608,0.68235296,0.5529412
GameObject -0.84375,0.75125,0.03125,0.03125,0,0.49019608,0.43529412,0.30588236
GameObject -0.8125,0.75125,0.03125,0.03125,0,0.4,0.32941177,0.20392157
GameObject -0.78125,0.75125,0.03125,0.03125,0,0.43137255,0.3529412,0.24705882
GameObject -0.75,0.75125,0.03125,0.03125,0,0.2784314,0.21568628,0.1254902
GameObject -0.71875,0.75125,0.03125,0.03125,0,0.24313726,0.18039216,0.11372549
GameObject -0.6875,0.75125,0.03125,0.03125,0,0.25882354,0.1882353,0.13725491
GameObject -0.65625,0.75125,0.03125,0.03125,0,0.34117648,0.2901961,0.21176471
GameObject -0.625,0.75125,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.59375,0.75125,0.03125,0.03125,0,0.39607844,0.3372549,0.23529412
GameObject -0.5625,0.75125,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.53125,0.75125,0.03125,0.03125,0,0.11764706,0.08235294,0.003921569
GameObject -0.5,0.75125,0.03125,0.03125,0,0.47843137,0.4392157,0.40392157
GameObject -0.46875,0.75125,0.03125,0.03125,0,0.62352943,0.59607846,0.5882353
GameObject -0.4375,0.75125,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.40625,0.75125,0.03125,0.03125,0,0.49803922,0.46666667,0.5176471
GameObject -0.375,0.75125,0.03125,0.03125,0,0.5294118,0.49411765,0.56078434
GameObject -0.34375,0.75125,0.03125,0.03125,0,0.41568628,0.39607844,0.45882353
GameObject -0.3125,0.75125,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.28125,0.75125,0.03125,0.03125,0,0.34509805,0.3019608,0.3529412
GameObject -0.25,0.75125,0.03125,0.03125,0,0.36078432,0.30588236,0.37254903
GameObject -0.21875,0.75125,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.1875,0.75125,0.03125,0.03125,0,0.4,0.36862746,0.38039216
GameObject -0.15625,0.75125,0.03125,0.03125,0,0.39215687,0.34509805,0.36862746
GameObject -0.125,0.75125,0.03125,0.03125,0,0.28627452,0.23921569,0.29411766
GameObject -0.09375,0.75125,0.03125,0.03125,0,0.30588236,0.2627451,0.32156864
GameObject -0.0625,0.75125,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.03125,0.75125,0.03125,0.03125,0,0.30588236,0.27058825,0.32156864
GameObject 0.0,0.75125,0.03125,0.03125,0,0.29411766,0.26666668,0.30980393
GameObject 0.03125,0.75125,0.03125,0.03125,0,0.21176471,0.18431373,0.23529412
GameObject 0.0625,0.75125,0.03125,0.03125,0,0.1882353,0.16078432,0.22745098
GameObject 0.09375,0.75125,0.03125,0.03125,0,0.19215687,0.1764706,0.24313726
GameObject 0.125,0.75125,0.03125,0.03125,0,0.27058825,0.25882354,0.31764707
GameObject 0.15625,0.75125,0.03125,0.03125,0,0.30588236,0.29803923,0.3529412
GameObject 0.1875,0.75125,0.03125,0.03125,0,0.34509805,0.32941177,0.37254903
GameObject 0.21875,0.75125,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.25,0.75125,0.03125,0.03125,0,0.50980395,0.49019608,0.5411765
GameObject 0.28125,0.75125,0.03125,0.03125,0,0.5137255,0.4862745,0.5294118
GameObject 0.3125,0.75125,0.03125,0.03125,0,0.33333334,0.3019608,0.30980393
GameObject 0.34375,0.75125,0.03125,0.03125,0,0.33333334,0.28627452,0.27058825
GameObject 0.375,0.75125,0.03125,0.03125,0,0.2784314,0.22352941,0.21176471
GameObject 0.40625,0.75125,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.4375,0.75125,0.03125,0.03125,0,0.36862746,0.32156864,0.3254902
GameObject 0.46875,0.75125,0.03125,0.03125,0,0.4,0.36862746,0.36862746
GameObject 0.5,0.75125,0.03125,0.03125,0,0.35686275,0.37254903,0.2901961
GameObject 0.53125,0.75125,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.5625,0.75125,0.03125,0.03125,0,0.24313726,0.29411766,0.11372549
GameObject 0.59375,0.75125,0.03125,0.03125,0,0.23921569,0.29411766,0.08235294
GameObject 0.625,0.75125,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.65625,0.75125,0.03125,0.03125,0,0.22745098,0.29803923,0.078431375
GameObject 0.6875,0.75125,0.03125,0.03125,0,0.2627451,0.3372549,0.14117648
GameObject 0.71875,0.75125,0.03125,0.03125,0,0.30588236,0.38431373,0.21176471
GameObject 0.75,0.75125,0.03125,0.03125,0,0.38431373,0.4745098,0.2784314
GameObject 0.78125,0.75125,0.03125,0.03125,0,0.32156864,0.41568628,0.19215687
GameObject 0.8125,0.75125,0.03125,0.03125,0,0.30588236,0.4,0.16078432
GameObject 0.84375,0.75125,0.03125,0.03125,0,0.34117648,0.43137255,0.17254902
GameObject 0.875,0.75125,0.03125,0.03125,0,0.3372549,0.43529412,0.1764706
GameObject 0.90625,0.75125,0.03125,0.03125,0,0.3372549,0.4392157,0.2
GameObject 0.9375,0.75125,0.03125,0.03125,0,0.32156864,0.40784314,0.2
GameObject 0.96875,0.75125,0.03125,0.03125,0,0.34117648,0.43137255,0.21176471
GameObject -1.0,0.72,0.03125,0.03125,0,0.5411765,0.6313726,0.46666667
GameObject -0.96875,0.72,0.03125,0.03125,0,0.83137256,0.8627451,0.7372549
GameObject -0.9375,0.72,0.03125,0.03125,0,0.64705884,0.6392157,0.5254902
GameObject -0.90625,0.72,0.03125,0.03125,0,0.18431373,0.15686275,0.03529412
GameObject -0.875,0.72,0.03125,0.03125,0,0.38431373,0.3529412,0.21568628
GameObject -0.84375,0.72,0.03125,0.03125,0,0.5137255,0.45490196,0.32941177
GameObject -0.8125,0.72,0.03125,0.03125,0,0.34509805,0.26666668,0.15686275
GameObject -0.78125,0.72,0.03125,0.03125,0,0.3254902,0.25490198,0.16470589
GameObject -0.75,0.72,0.03125,0.03125,0,0.26666668,0.22352941,0.15686275
GameObject -0.71875,0.72,0.03125,0.03125,0,0.24705882,0.19215687,0.1254902
GameObject -0.6875,0.72,0.03125,0.03125,0,0.2784314,0.20784314,0.1254902
GameObject -0.65625,0.72,0.03125,0.03125,0,0.28235295,0.22745098,0.14117648
GameObject -0.625,0.72,0.03125,0.03125,0,0.30980393,0.2509804,0.15686275
GameObject -0.59375,0.72,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.5625,0.72,0.03125,0.03125,0,0.16862746,0.12941177,0.02745098
GameObject -0.53125,0.72,0.03125,0.03125,0,0.25490198,0.22745098,0.16470589
GameObject -0.5,0.72,0.03125,0.03125,0,0.52156866,0.47843137,0.48235294
GameObject -0.46875,0.72,0.03125,0.03125,0,0.5411765,0.49019608,0.53333336
GameObject -0.4375,0.72,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.40625,0.72,0.03125,0.03125,0,0.5529412,0.5176471,0.5764706
GameObject -0.375,0.72,0.03125,0.03125,0,0.4862745,0.45882353,0.5137255
GameObject -0.34375,0.72,0.03125,0.03125,0,0.3647059,0.34901962,0.4
GameObject -0.3125,0.72,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.28125,0.72,0.03125,0.03125,0,0.35686275,0.32941177,0.38431373
GameObject -0.25,0.72,0.03125,0.03125,0,0.40784314,0.3764706,0.42745098
GameObject -0.21875,0.72,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.1875,0.72,0.03125,0.03125,0,0.28627452,0.24705882,0.23921569
GameObject -0.15625,0.72,0.03125,0.03125,0,0.27450982,0.23137255,0.22745098
GameObject -0.125,0.72,0.03125,0.03125,0,0.28627452,0.23529412,0.2784314
GameObject -0.09375,0.72,0.03125,0.03125,0,0.2784314,0.23137255,0.28235295
GameObject -0.0625,0.72,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.03125,0.72,0.03125,0.03125,0,0.2,0.16470589,0.19607843
GameObject 0.0,0.72,0.03125,0.03125,0,0.20392157,0.18039216,0.20784314
GameObject 0.03125,0.72,0.03125,0.03125,0,0.12941177,0.11372549,0.14901961
GameObject 0.0625,0.72,0.03125,0.03125,0,0.16078432,0.14509805,0.1882353
GameObject 0.09375,0.72,0.03125,0.03125,0,0.20392157,0.1882353,0.23921569
GameObject 0.125,0.72,0.03125,0.03125,0,0.32156864,0.30980393,0.36078432
GameObject 0.15625,0.72,0.03125,0.03125,0,0.34117648,0.3372549,0.37254903
GameObject 0.1875,0.72,0.03125,0.03125,0,0.39215687,0.3764706,0.4117647
GameObject 0.21875,0.72,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.25,0.72,0.03125,0.03125,0,0.22745098,0.19215687,0.24705882
GameObject 0.28125,0.72,0.03125,0.03125,0,0.36862746,0.3372549,0.38431373
GameObject 0.3125,0.72,0.03125,0.03125,0,0.34509805,0.3019608,0.3254902
GameObject 0.34375,0.72,0.03125,0.03125,0,0.32156864,0.26666668,0.27450982
GameObject 0.375,0.72,0.03125,0.03125,0,0.32156864,0.2509804,0.26666668
GameObject 0.40625,0.72,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.4375,0.72,0.03125,0.03125,0,0.2627451,0.21568628,0.23529412
GameObject 0.46875,0.72,0.03125,0.03125,0,0.3372549,0.29803923,0.29803923
GameObject 0.5,0.72,0.03125,0.03125,0,0.39215687,0.39607844,0.32156864
GameObject 0.53125,0.72,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.5625,0.72,0.03125,0.03125,0,0.23137255,0.2784314,0.11764706
GameObject 0.59375,0.72,0.03125,0.03125,0,0.21176471,0.27058825,0.0627451
GameObject 0.625,0.72,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.65625,0.72,0.03125,0.03125,0,0.27058825,0.34509805,0.12156863
GameObject 0.6875,0.72,0.03125,0.03125,0,0.3137255,0.38431373,0.20392157
GameObject 0.71875,0.72,0.03125,0.03125,0,0.3372549,0.40784314,0.24705882
GameObject 0.75,0.72,0.03125,0.03125,0,0.35686275,0.44313726,0.26666668
GameObject 0.78125,0.72,0.03125,0.03125,0,0.29411766,0.3882353,0.15686275
GameObject 0.8125,0.72,0.03125,0.03125,0,0.2901961,0.38431373,0.14509805
GameObject 0.84375,0.72,0.03125,0.03125,0,0.32941177,0.42352942,0.19215687
GameObject 0.875,0.72,0.03125,0.03125,0,0.32941177,0.42352942,0.19607843
GameObject 0.90625,0.72,0.03125,0.03125,0,0.33333334,0.42745098,0.20784314
GameObject 0.9375,0.72,0.03125,0.03125,0,0.30980393,0.40784314,0.17254902
GameObject 0.96875,0.72,0.03125,0.03125,0,0.29411766,0.3882353,0.12156863
GameObject -1.0,0.68875,0.03125,0.03125,0,0.35686275,0.47843137,0.20784314
GameObject -0.96875,0.68875,0.03125,0.03125,0,0.36862746,0.43137255,0.21568628
GameObject -0.9375,0.68875,0.03125,0.03125,0,0.69411767,0.70980394,0.5647059
GameObject -0.90625,0.68875,0.03125,0.03125,0,0.5529412,0.5372549,0.42352942
GameObject -0.875,0.68875,0.03125,0.03125,0,0.24705882,0.23137255,0.09803922
GameObject -0.84375,0.68875,0.03125,0.03125,0,0.34509805,0.30980393,0.17254902
GameObject -0.8125,0.68875,0.03125,0.03125,0,0.31764707,0.2509804,0.14901961
GameObject -0.78125,0.68875,0.03125,0.03125,0,0.2,0.13725491,0.05490196
GameObject -0.75,0.68875,0.03125,0.03125,0,0.16862746,0.12156863,0.0627451
GameObject -0.71875,0.68875,0.03125,0.03125,0,0.21568628,0.16862746,0.11372549
GameObject -0.6875,0.68875,0.03125,0.03125,0,0.28235295,0.22745098,0.15686275
GameObject -0.65625,0.68875,0.03125,0.03125,0,0.28627452,0.23137255,0.14509805
GameObject -0.625,0.68875,0.03125,0.03125,0,0.32156864,0.25490198,0.16078432
GameObject -0.59375,0.68875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.5625,0.68875,0.03125,0.03125,0,0.2509804,0.18431373,0.12156863
GameObject -0.53125,0.68875,0.03125,0.03125,0,0.47058824,0.41960785,0.39215687
GameObject -0.5,0.68875,0.03125,0.03125,0,0.5647059,0.50980395,0.5372549
GameObject -0.46875,0.68875,0.03125,0.03125,0,0.47843137,0.42352942,0.47843137
GameObject -0.4375,0.68875,0.03125,0.03125,0,0.40392157,0.36078432,0.41568628
GameObject -0.40625,0.68875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.375,0.68875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.34375,0.68875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.3125,0.68875,0.03125,0.03125,0,0.23921569,0.21960784,0.25490198
GameObject -0.28125,0.68875,0.03125,0.03125,0,0.2784314,0.2509804,0.2784314
GameObject -0.25,0.68875,0.03125,0.03125,0,0.2784314,0.23529412,0.2627451
GameObject -0.21875,0.68875,0.03125,0.03125,0,0.28627452,0.23137255,0.23921569
GameObject -0.1875,0.68875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.15625,0.68875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.125,0.68875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject -0.09375,0.68875,0.03125,0.03125,0,0.23921569,0.1882353,0.22745098
GameObject -0.0625,0.68875,0.03125,0.03125,0,0.25882354,0.22745098,0.2627451
GameObject -0.03125,0.68875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.0,0.68875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.03125,0.68875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.0625,0.68875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.09375,0.68875,0.03125,0.03125,0,0.4745098,0.44705883,0.49803922
GameObject 0.125,0.68875,0.03125,0.03125,0,0.49019608,0.45490196,0.49803922
GameObject 0.15625,0.68875,0.03125,0.03125,0,0.2784314,0.2627451,0.28235295
GameObject 0.1875,0.68875,0.03125,0.03125,0,0.25490198,0.22745098,0.2509804
GameObject 0.21875,0.68875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.25,0.68875,0.03125,0.03125,0,0.16470589,0.12941177,0.16078432
GameObject 0.28125,0.68875,0.03125,0.03125,0,0.21568628,0.1764706,0.19215687
GameObject 0.3125,0.68875,0.03125,0.03125,0,0.26666668,0.22352941,0.23529412
GameObject 0.34375,0.68875,0.03125,0.03125,0,0.24705882,0.19607843,0.20392157
GameObject 0.375,0.68875,0.03125,0.03125,0,0.2509804,0.19215687,0.19607843
GameObject 0.40625,0.68875,0.03125,0.03125,0,0.18039216,0.1254902,0.13333334
GameObject 0.4375,0.68875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.46875,0.68875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.5,0.68875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.53125,0.68875,0.03125,0.03125,0,0.3529412,0.38431373,0.28235295
GameObject 0.5625,0.68875,0.03125,0.03125,0,0.27450982,0.32156864,0.15686275
GameObject 0.59375,0.68875,0.03125,0.03125,0,0.22352941,0.28627452,0.08627451
GameObject 0.625,0.68875,0.03125,0.03125,0,0.7882353,0.09411765,0.09411765
GameObject 0.65625,0.68875,0.03125,0.03125,0,0.23137255,0.3019608,0.09019608
GameObject 0.6875,0.68875,0.03125,0.03125,0,0.25882354,0.32156864,0.15686275
GameObject 0.71875,0.68875,0.03125,0.03125,0,0.25882354,0.32156864,0.17254902
GameObject 0.75,0.68875,0.03125,0.03125,0,0.30588236,0.38431373,0.21568628
GameObject 0.78125,0.68875,0.03125,0.03125,0,0.3019608,0.4,0.19215687
GameObject 0.8125,0.68875,0.03125,0.03125,0,0.3019608,0.4,0.15686275
GameObject 0.84375,0.68875,0.03125,0.03125,0,0.29411766,0.4,0.14901961
GameObject 0.875,0.68875,0.03125,0.03125,0,0.30980393,0.41960785,0.1882353
GameObject 0.90625,0.68875,0.03125,0.03125,0,0.3647059,0.47058824,0.24705882
GameObject 0.9375,0.68875,0.03125,0.03125,0,0.36078432,0.45882353,0.21568628
GameObject 0.96875,0.68875,0.03125,0.03125,0,0.32156864,0.41960785,0.16078432
GameObject -1.0,0.6575,0.03125,0.03125,0,0.48235294,0.6039216,0.3372549
GameObject -0.96875,0.6575,0.03125,0.03125,0,0.47058824,0.54901963,0.2901961
GameObject -0.9375,0.6575,0.03125,0.03125,0,0.4,0.42352942,0.24705882
GameObject -0.90625,0.6575,0.03125,0.03125,0,0.59607846,0.6,0.47843137
GameObject -0.875,0.6575,0.03125,0.03125,0,0.3764706,0.36862746,0.22745098
GameObject -0.84375,0.6575,0.03125,0.03125,0,0.23529412,0.21568628,0.06666667
GameObject -0.8125,0.6575,0.03125,0.03125,0,0.27058825,0.23921569,0.10980392
GameObject -0.78125,0.6575,0.03125,0.03125,0,0.18039216,0.13725491,0.02745098
GameObject -0.75,0.6575,0.03125,0.03125,0,0.11372549,0.07058824,0.003921569
GameObject -0.71875,0.6575,0.03125,0.03125,0,0.17254902,0.12941177,0.07450981
GameObject -0.6875,0.6575,0.03125,0.03125,0,0.2784314,0.22745098,0.14901961
GameObject -0.65625,0.6575,0.03125,0.03125,0,0.3647059,0.3019608,0.21176471
GameObject -0.625,0.6575,0.03125,0.03125,0,0.42352942,0.3529412,0.26666668
GameObject -0.59375,0.6575,0.03125,0.03125,0,0.3019608,0.22745098,0.16470589
GameObject -0.5625,0.6575,0.03125,0.03125,0,0.40392157,0.33333334,0.30980393
GameObject -0.53125,0.6575,0.03125,0.03125,0,0.4862745,0.42745098,0.44313726
GameObject -0.5,0.6575,0.03125,0.03125,0,0.3764706,0.32156864,0.36078432
GameObject -0.46875,0.6575,0.03125,0.03125,0,0.3137255,0.27058825,0.30588236
GameObject -0.4375,0.6575,0.03125,0.03125,0,0.33333334,0.29411766,0.31764707
GameObject -0.40625,0.6575,0.03125,0.03125,0,0.4,0.3647059,0.39215687
GameObject -0.375,0.6575,0.03125,0.03125,0,0.3529412,0.32156864,0.34901962
GameObject -0.34375,0.6575,0.03125,0.03125,0,0.1882353,0.15686275,0.19215687
GameObject -0.3125,0.6575,0.03125,0.03125,0,0.09803922,0.0627451,0.09803922
GameObject -0.28125,0.6575,0.03125,0.03125,0,0.19607843,0.14901961,0.18039216
GameObject -0.25,0.6575,0.03125,0.03125,0,0.14901961,0.08627451,0.09803922
GameObject -0.21875,0.6575,0.03125,0.03125,0,0.16862746,0.09803922,0.09411765
GameObject -0.1875,0.6575,0.03125,0.03125,0,0.23921569,0.17254902,0.1764706
GameObject -0.15625,0.6575,0.03125,0.03125,0,0.26666668,0.20392157,0.20784314
GameObject -0.125,0.6575,0.03125,0.03125,0,0.24313726,0.2,0.20784314
GameObject -0.09375,0.6575,0.03125,0.03125,0,0.22745098,0.1882353,0.21960784
GameObject -0.0625,0.6575,0.03125,0.03125,0,0.3882353,0.3647059,0.39607844
GameObject -0.03125,0.6575,0.03125,0.03125,0,0.3647059,0.34901962,0.38431373
GameObject 0.0,0.6575,0.03125,0.03125,0,0.43529412,0.43137255,0.48235294
GameObject 0.03125,0.6575,0.03125,0.03125,0,0.5529412,0.54901963,0.6
GameObject 0.0625,0.6575,0.03125,0.03125,0,0.42745098,0.40392157,0.44705883
GameObject 0.09375,0.6575,0.03125,0.03125,0,0.3137255,0.27450982,0.31764707
GameObject 0.125,0.6575,0.03125,0.03125,0,0.27058825,0.22745098,0.2627451
GameObject 0.15625,0.6575,0.03125,0.03125,0,0.29411766,0.2509804,0.2784314
GameObject 0.1875,0.6575,0.03125,0.03125,0,0.24705882,0.20784314,0.22745098
GameObject 0.21875,0.6575,0.03125,0.03125,0,0.21568628,0.18039216,0.2
GameObject 0.25,0.6575,0.03125,0.03125,0,0.1764706,0.14509805,0.15294118
GameObject 0.28125,0.6575,0.03125,0.03125,0,0.16078432,0.11764706,0.11372549
GameObject 0.3125,0.6575,0.03125,0.03125,0,0.21568628,0.16862746,0.16470589
GameObject 0.34375,0.6575,0.03125,0.03125,0,0.23529412,0.18039216,0.1764706
GameObject 0.375,0.6575,0.03125,0.03125,0,0.22352941,0.16862746,0.16078432
GameObject 0.40625,0.6575,0.03125,0.03125,0,0.14117648,0.08235294,0.078431375
GameObject 0.4375,0.6575,0.03125,0.03125,0,0.12156863,0.0627451,0.05882353
GameObject 0.46875,0.6575,0.03125,0.03125,0,0.23921569,0.18039216,0.18039216
GameObject 0.5,0.6575,0.03125,0.03125,0,0.49019608,0.45490196,0.45882353
GameObject 0.53125,0.6575,0.03125,0.03125,0,0.49411765,0.5019608,0.4627451
GameObject 0.5625,0.6575,0.03125,0.03125,0,0.34901962,0.39607844,0.26666668
GameObject 0.59375,0.6575,0.03125,0.03125,0,0.26666668,0.32941177,0.16078432
GameObject 0.625,0.6575,0.03125,0.03125,0,0.19215687,0.2784314,0.05882353
GameObject 0.65625,0.6575,0.03125,0.03125,0,0.1882353,0.2627451,0.050980393
GameObject 0.6875,0.6575,0.03125,0.03125,0,0.20392157,0.27058825,0.09019608
GameObject 0.71875,0.6575,0.03125,0.03125,0,0.2,0.27058825,0.09803922
GameObject 0.75,0.6575,0.03125,0.03125,0,0.2509804,0.3254902,0.12156863
GameObject 0.78125,0.6575,0.03125,0.03125,0,0.3019608,0.3882353,0.1882353
GameObject 0.8125,0.6575,0.03125,0.03125,0,0.36078432,0.47058824,0.23137255
GameObject 0.84375,0.6575,0.03125,0.03125,0,0.3647059,0.4745098,0.21960784
GameObject 0.875,0.6575,0.03125,0.03125,0,0.34509805,0.45490196,0.20392157
GameObject 0.90625,0.6575,0.03125,0.03125,0,0.37254903,0.4862745,0.23137255
GameObject 0.9375,0.6575,0.03125,0.03125,0,0.38039216,0.48235294,0.21960784
GameObject 0.96875,0.6575,0.03125,0.03125,0,0.35686275,0.45882353,0.1882353
GameObject -1.0,0.62625,0.03125,0.03125,0,0.60784316,0.6784314,0.5176471
GameObject -0.96875,0.62625,0.03125,0.03125,0,0.5372549,0.60784316,0.37254903
GameObject -0.9375,0.62625,0.03125,0.03125,0,0.5882353,0.6392157,0.42745098
GameObject -0.90625,0.62625,0.03125,0.03125,0,0.3647059,0.3764706,0.22352941
GameObject -0.875,0.62625,0.03125,0.03125,0,0.40784314,0.4117647,0.24705882
GameObject -0.84375,0.62625,0.03125,0.03125,0,0.24705882,0.25490198,0.078431375
GameObject -0.8125,0.62625,0.03125,0.03125,0,0.21176471,0.23137255,0.05490196
GameObject -0.78125,0.62625,0.03125,0.03125,0,0.21960784,0.23137255,0.08235294
GameObject -0.75,0.62625,0.03125,0.03125,0,0.1882353,0.1764706,0.078431375
GameObject -0.71875,0.62625,0.03125,0.03125,0,0.14117648,0.09803922,0.02745098
GameObject -0.6875,0.62625,0.03125,0.03125,0,0.16078432,0.09803922,0.011764706
GameObject -0.65625,0.62625,0.03125,0.03125,0,0.2627451,0.19607843,0.101960786
GameObject -0.625,0.62625,0.03125,0.03125,0,0.24313726,0.17254902,0.101960786
GameObject -0.59375,0.62625,0.03125,0.03125,0,0.1882353,0.11372549,0.07450981
GameObject -0.5625,0.62625,0.03125,0.03125,0,0.41568628,0.3529412,0.35686275
GameObject -0.53125,0.62625,0.03125,0.03125,0,0.4392157,0.3882353,0.42352942
GameObject -0.5,0.62625,0.03125,0.03125,0,0.41960785,0.3764706,0.41568628
GameObject -0.46875,0.62625,0.03125,0.03125,0,0.40784314,0.38039216,0.40784314
GameObject -0.4375,0.62625,0.03125,0.03125,0,0.47843137,0.45882353,0.46666667
GameObject -0.40625,0.62625,0.03125,0.03125,0,0.49411765,0.45490196,0.48235294
GameObject -0.375,0.62625,0.03125,0.03125,0,0.40392157,0.3647059,0.39607844
GameObject -0.34375,0.62625,0.03125,0.03125,0,0.2901961,0.25490198,0.28627452
GameObject -0.3125,0.62625,0.03125,0.03125,0,0.22745098,0.18039216,0.21568628
GameObject -0.28125,0.62625,0.03125,0.03125,0,0.1254902,0.0627451,0.078431375
GameObject -0.25,0.62625,0.03125,0.03125,0,0.15294118,0.07058824,0.08235294
GameObject -0.21875,0.62625,0.03125,0.03125,0,0.24313726,0.16470589,0.16078432
GameObject -0.1875,0.62625,0.03125,0.03125,0,0.32941177,0.2509804,0.25882354
GameObject -0.15625,0.62625,0.03125,0.03125,0,0.4117647,0.34901962,0.36078432
GameObject -0.125,0.62625,0.03125,0.03125,0,0.39607844,0.35686275,0.3764706
GameObject -0.09375,0.62625,0.03125,0.03125,0,0.3647059,0.3372549,0.3529412
GameObject -0.0625,0.62625,0.03125,0.03125,0,0.34117648,0.32156864,0.34117648
GameObject -0.03125,0.62625,0.03125,0.03125,0,0.36862746,0.3372549,0.36862746
GameObject 0.0,0.62625,0.03125,0.03125,0,0.33333334,0.29803923,0.3372549
GameObject 0.03125,0.62625,0.03125,0.03125,0,0.24313726,0.20784314,0.24705882
GameObject 0.0625,0.62625,0.03125,0.03125,0,0.23137255,0.19607843,0.23137255
GameObject 0.09375,0.62625,0.03125,0.03125,0,0.23137255,0.19607843,0.22745098
GameObject 0.125,0.62625,0.03125,0.03125,0,0.16078432,0.12156863,0.14509805
GameObject 0.15625,0.62625,0.03125,0.03125,0,0.10980392,0.05882353,0.078431375
GameObject 0.1875,0.62625,0.03125,0.03125,0,0.1764706,0.13725491,0.14901961
GameObject 0.21875,0.62625,0.03125,0.03125,0,0.2,0.16470589,0.16862746
GameObject 0.25,0.62625,0.03125,0.03125,0,0.14901961,0.105882354,0.105882354
GameObject 0.28125,0.62625,0.03125,0.03125,0,0.14509805,0.09019608,0.09411765
GameObject 0.3125,0.62625,0.03125,0.03125,0,0.1764706,0.11372549,0.11764706
GameObject 0.34375,0.62625,0.03125,0.03125,0,0.3882353,0.32156864,0.31764707
GameObject 0.375,0.62625,0.03125,0.03125,0,0.6313726,0.56078434,0.56078434
GameObject 0.40625,0.62625,0.03125,0.03125,0,0.46666667,0.4,0.40392157
GameObject 0.4375,0.62625,0.03125,0.03125,0,0.1254902,0.06666667,0.0627451
GameObject 0.46875,0.62625,0.03125,0.03125,0,0.14117648,0.09019608,0.08235294
GameObject 0.5,0.62625,0.03125,0.03125,0,0.43137255,0.39607844,0.41960785
GameObject 0.53125,0.62625,0.03125,0.03125,0,0.5294118,0.5176471,0.5372549
GameObject 0.5625,0.62625,0.03125,0.03125,0,0.36862746,0.3882353,0.31764707
GameObject 0.59375,0.62625,0.03125,0.03125,0,0.23921569,0.29411766,0.14509805
GameObject 0.625,0.62625,0.03125,0.03125,0,0.21960784,0.29411766,0.078431375
GameObject 0.65625,0.62625,0.03125,0.03125,0,0.2,0.27450982,0.050980393
GameObject 0.6875,0.62625,0.03125,0.03125,0,0.20392157,0.2784314,0.0627451
GameObject 0.71875,0.62625,0.03125,0.03125,0,0.20392157,0.2784314,0.07058824
GameObject 0.75,0.62625,0.03125,0.03125,0,0.23529412,0.31764707,0.09411765
GameObject 0.78125,0.62625,0.03125,0.03125,0,0.2901961,0.38431373,0.15294118
GameObject 0.8125,0.62625,0.03125,0.03125,0,0.30980393,0.40784314,0.18431373
GameObject 0.84375,0.62625,0.03125,0.03125,0,0.29411766,0.39215687,0.14901961
GameObject 0.875,0.62625,0.03125,0.03125,0,0.24313726,0.34901962,0.09803922
GameObject 0.90625,0.62625,0.03125,0.03125,0,0.25882354,0.36862746,0.09411765
GameObject 0.9375,0.62625,0.03125,0.03125,0,0.29411766,0.40392157,0.09803922
GameObject 0.96875,0.62625,0.03125,0.03125,0,0.30588236,0.4117647,0.09411765
GameObject -1.0,0.595,0.03125,0.03125,0,0.5686275,0.5647059,0.46666667
GameObject -0.96875,0.595,0.03125,0.03125,0,0.4117647,0.45490196,0.26666668
GameObject -0.9375,0.595,0.03125,0.03125,0,0.56078434,0.61960787,0.43137255
GameObject -0.90625,0.595,0.03125,0.03125,0,0.47843137,0.5254902,0.37254903
GameObject -0.875,0.595,0.03125,0.03125,0,0.26666668,0.3137255,0.14117648
GameObject -0.84375,0.595,0.03125,0.03125,0,0.2627451,0.31764707,0.11764706
GameObject -0.8125,0.595,0.03125,0.03125,0,0.21176471,0.27450982,0.06666667
GameObject -0.78125,0.595,0.03125,0.03125,0,0.27058825,0.30980393,0.12156863
GameObject -0.75,0.595,0.03125,0.03125,0,0.30980393,0.2901961,0.16470589
GameObject -0.71875,0.595,0.03125,0.03125,0,0.24705882,0.19607843,0.101960786
GameObject -0.6875,0.595,0.03125,0.03125,0,0.15686275,0.09411765,0.003921569
GameObject -0.65625,0.595,0.03125,0.03125,0,0.18039216,0.12156863,0.03137255
GameObject -0.625,0.595,0.03125,0.03125,0,0.1764706,0.11372549,0.043137256
GameObject -0.59375,0.595,0.03125,0.03125,0,0.19215687,0.1254902,0.078431375
GameObject -0.5625,0.595,0.03125,0.03125,0,0.4,0.34901962,0.3372549
GameObject -0.53125,0.595,0.03125,0.03125,0,0.49411765,0.4509804,0.47843137
GameObject -0.5,0.595,0.03125,0.03125,0,0.25882354,0.23137255,0.27450982
GameObject -0.46875,0.595,0.03125,0.03125,0,0.23137255,0.22352941,0.2627451
GameObject -0.4375,0.595,0.03125,0.03125,0,0.39607844,0.38431373,0.41568628
GameObject -0.40625,0.595,0.03125,0.03125,0,0.35686275,0.31764707,0.3529412
GameObject -0.375,0.595,0.03125,0.03125,0,0.25490198,0.20392157,0.23529412
GameObject -0.34375,0.595,0.03125,0.03125,0,0.21176471,0.16862746,0.19215687
GameObject -0.3125,0.595,0.03125,0.03125,0,0.23137255,0.16862746,0.1882353
GameObject -0.28125,0.595,0.03125,0.03125,0,0.28235295,0.20392157,0.2
GameObject -0.25,0.595,0.03125,0.03125,0,0.4117647,0.33333334,0.32941177
GameObject -0.21875,0.595,0.03125,0.03125,0,0.5058824,0.41960785,0.41960785
GameObject -0.1875,0.595,0.03125,0.03125,0,0.64705884,0.5764706,0.5803922
GameObject -0.15625,0.595,0.03125,0.03125,0,0.5568628,0.49803922,0.5137255
GameObject -0.125,0.595,0.03125,0.03125,0,0.40784314,0.36862746,0.38431373
GameObject -0.09375,0.595,0.03125,0.03125,0,0.40784314,0.36862746,0.3764706
GameObject -0.0625,0.595,0.03125,0.03125,0,0.28627452,0.23137255,0.24313726
GameObject -0.03125,0.595,0.03125,0.03125,0,0.16862746,0.101960786,0.11764706
GameObject 0.0,0.595,0.03125,0.03125,0,0.11764706,0.039215688,0.05490196
GameObject 0.03125,0.595,0.03125,0.03125,0,0.10980392,0.050980393,0.050980393
GameObject 0.0625,0.595,0.03125,0.03125,0,0.07058824,0.023529412,0.019607844
GameObject 0.09375,0.595,0.03125,0.03125,0,0.047058824,0.011764706,0.003921569
GameObject 0.125,0.595,0.03125,0.03125,0,0.08627451,0.047058824,0.047058824
GameObject 0.15625,0.595,0.03125,0.03125,0,0.11372549,0.07058824,0.07450981
GameObject 0.1875,0.595,0.03125,0.03125,0,0.09803922,0.0627451,0.05490196
GameObject 0.21875,0.595,0.03125,0.03125,0,0.1254902,0.09803922,0.08235294
GameObject 0.25,0.595,0.03125,0.03125,0,0.14117648,0.09803922,0.09411765
GameObject 0.28125,0.595,0.03125,0.03125,0,0.16078432,0.09803922,0.105882354
GameObject 0.3125,0.595,0.03125,0.03125,0,0.37254903,0.29803923,0.30980393
GameObject 0.34375,0.595,0.03125,0.03125,0,0.78431374,0.7058824,0.7176471
GameObject 0.375,0.595,0.03125,0.03125,0,0.9882353,0.90588236,0.91764706
GameObject 0.40625,0.595,0.03125,0.03125,0,0.98039216,0.9137255,0.92156863
GameObject 0.4375,0.595,0.03125,0.03125,0,0.6666667,0.6156863,0.6117647
GameObject 0.46875,0.595,0.03125,0.03125,0,0.1882353,0.14117648,0.1254902
GameObject 0.5,0.595,0.03125,0.03125,0,0.27450982,0.23529412,0.2509804
GameObject 0.53125,0.595,0.03125,0.03125,0,0.5529412,0.5176471,0.54901963
GameObject 0.5625,0.595,0.03125,0.03125,0,0.43137255,0.44313726,0.39215687
GameObject 0.59375,0.595,0.03125,0.03125,0,0.25882354,0.29803923,0.15294118
GameObject 0.625,0.595,0.03125,0.03125,0,0.2509804,0.3019608,0.101960786
GameObject 0.65625,0.595,0.03125,0.03125,0,0.23137255,0.29803923,0.07450981
GameObject 0.6875,0.595,0.03125,0.03125,0,0.1882353,0.25490198,0.039215688
GameObject 0.71875,0.595,0.03125,0.03125,0,0.18431373,0.24705882,0.03529412
GameObject 0.75,0.595,0.03125,0.03125,0,0.20784314,0.27450982,0.078431375
GameObject 0.78125,0.595,0.03125,0.03125,0,0.23529412,0.32156864,0.09019608
GameObject 0.8125,0.595,0.03125,0.03125,0,0.21960784,0.3019608,0.05490196
GameObject 0.84375,0.595,0.03125,0.03125,0,0.20392157,0.2901961,0.03137255
GameObject 0.875,0.595,0.03125,0.03125,0,0.21960784,0.3137255,0.043137256
GameObject 0.90625,0.595,0.03125,0.03125,0,0.22352941,0.3254902,0.03529412
GameObject 0.9375,0.595,0.03125,0.03125,0,0.22745098,0.32941177,0.023529412
GameObject 0.96875,0.595,0.03125,0.03125,0,0.2509804,0.3529412,0.03529412
GameObject -1.0,0.56375,0.03125,0.03125,0,0.39215687,0.40392157,0.2627451
GameObject -0.96875,0.56375,0.03125,0.03125,0,0.24705882,0.27450982,0.10980392
GameObject -0.9375,0.56375,0.03125,0.03125,0,0.3137255,0.33333334,0.21960784
GameObject -0.90625,0.56375,0.03125,0.03125,0,0.54901963,0.56078434,0.46666667
GameObject -0.875,0.56375,0.03125,0.03125,0,0.2901961,0.30980393,0.16078432
GameObject -0.84375,0.56375,0.03125,0.03125,0,0.20392157,0.23921569,0.0627451
GameObject -0.8125,0.56375,0.03125,0.03125,0,0.23529412,0.2784314,0.101960786
GameObject -0.78125,0.56375,0.03125,0.03125,0,0.2509804,0.28627452,0.10980392
GameObject -0.75,0.56375,0.03125,0.03125,0,0.28235295,0.29411766,0.14509805
GameObject -0.71875,0.56375,0.03125,0.03125,0,0.29803923,0.27058825,0.16078432
GameObject -0.6875,0.56375,0.03125,0.03125,0,0.2627451,0.21568628,0.12156863
GameObject -0.65625,0.56375,0.03125,0.03125,0,0.20784314,0.15294118,0.05882353
GameObject -0.625,0.56375,0.03125,0.03125,0,0.16470589,0.11372549,0.03137255
GameObject -0.59375,0.56375,0.03125,0.03125,0,0.2901961,0.23529412,0.18039216
GameObject -0.5625,0.56375,0.03125,0.03125,0,0.5294118,0.48235294,0.47058824
GameObject -0.53125,0.56375,0.03125,0.03125,0,0.4,0.36862746,0.39215687
GameObject -0.5,0.56375,0.03125,0.03125,0,0.1882353,0.16862746,0.20392157
GameObject -0.46875,0.56375,0.03125,0.03125,0,0.26666668,0.24705882,0.3019608
GameObject -0.4375,0.56375,0.03125,0.03125,0,0.47843137,0.46666667,0.5176471
GameObject -0.40625,0.56375,0.03125,0.03125,0,0.42745098,0.4,0.43529412
GameObject -0.375,0.56375,0.03125,0.03125,0,0.3137255,0.27058825,0.29803923
GameObject -0.34375,0.56375,0.03125,0.03125,0,0.22352941,0.16470589,0.1764706
GameObject -0.3125,0.56375,0.03125,0.03125,0,0.23921569,0.16862746,0.17254902
GameObject -0.28125,0.56375,0.03125,0.03125,0,0.41960785,0.3372549,0.3254902
GameObject -0.25,0.56375,0.03125,0.03125,0,0.6,0.5137255,0.5019608
GameObject -0.21875,0.56375,0.03125,0.03125,0,0.79607844,0.7137255,0.7019608
GameObject -0.1875,0.56375,0.03125,0.03125,0,0.94509804,0.8745098,0.8784314
GameObject -0.15625,0.56375,0.03125,0.03125,0,0.9019608,0.84313726,0.87058824
GameObject -0.125,0.56375,0.03125,0.03125,0,0.7764706,0.7372549,0.7607843
GameObject -0.09375,0.56375,0.03125,0.03125,0,0.7137255,0.654902,0.6666667
GameObject -0.0625,0.56375,0.03125,0.03125,0,0.627451,0.5411765,0.54901963
GameObject -0.03125,0.56375,0.03125,0.03125,0,0.47843137,0.3647059,0.37254903
GameObject 0.0,0.56375,0.03125,0.03125,0,0.30980393,0.19607843,0.19607843
GameObject 0.03125,0.56375,0.03125,0.03125,0,0.21176471,0.11764706,0.09803922
GameObject 0.0625,0.56375,0.03125,0.03125,0,0.15686275,0.09411765,0.07058824
GameObject 0.09375,0.56375,0.03125,0.03125,0,0.105882354,0.07450981,0.050980393
GameObject 0.125,0.56375,0.03125,0.03125,0,0.06666667,0.03529412,0.015686275
GameObject 0.15625,0.56375,0.03125,0.03125,0,0.09019608,0.047058824,0.039215688
GameObject 0.1875,0.56375,0.03125,0.03125,0,0.1254902,0.07058824,0.07058824
GameObject 0.21875,0.56375,0.03125,0.03125,0,0.14509805,0.08627451,0.07450981
GameObject 0.25,0.56375,0.03125,0.03125,0,0.22352941,0.16078432,0.14901961
GameObject 0.28125,0.56375,0.03125,0.03125,0,0.43137255,0.36862746,0.37254903
GameObject 0.3125,0.56375,0.03125,0.03125,0,0.7254902,0.65882355,0.6745098
GameObject 0.34375,0.56375,0.03125,0.03125,0,0.89411765,0.827451,0.84705883
GameObject 0.375,0.56375,0.03125,0.03125,0,0.9254902,0.85882354,0.8784314
GameObject 0.40625,0.56375,0.03125,0.03125,0,0.9490196,0.8862745,0.8980392
GameObject 0.4375,0.56375,0.03125,0.03125,0,0.9647059,0.9098039,0.9137255
GameObject 0.46875,0.56375,0.03125,0.03125,0,0.4862745,0.43529412,0.43137255
GameObject 0.5,0.56375,0.03125,0.03125,0,0.20784314,0.16078432,0.16862746
GameObject 0.53125,0.56375,0.03125,0.03125,0,0.4117647,0.36862746,0.3882353
GameObject 0.5625,0.56375,0.03125,0.03125,0,0.45490196,0.4392157,0.41568628
GameObject 0.59375,0.56375,0.03125,0.03125,0,0.3019608,0.3254902,0.20784314
GameObject 0.625,0.56375,0.03125,0.03125,0,0.25490198,0.29803923,0.12156863
GameObject 0.65625,0.56375,0.03125,0.03125,0,0.19215687,0.24705882,0.047058824
GameObject 0.6875,0.56375,0.03125,0.03125,0,0.15686275,0.21176471,0.0
GameObject 0.71875,0.56375,0.03125,0.03125,0,0.16862746,0.22745098,0.023529412
GameObject 0.75,0.56375,0.03125,0.03125,0,0.18431373,0.24705882,0.07450981
GameObject 0.78125,0.56375,0.03125,0.03125,0,0.22745098,0.3019608,0.08235294
GameObject 0.8125,0.56375,0.03125,0.03125,0,0.21176471,0.2901961,0.047058824
GameObject 0.84375,0.56375,0.03125,0.03125,0,0.19215687,0.27450982,0.023529412
GameObject 0.875,0.56375,0.03125,0.03125,0,0.19215687,0.27058825,0.019607844
GameObject 0.90625,0.56375,0.03125,0.03125,0,0.20392157,0.28627452,0.039215688
GameObject 0.9375,0.56375,0.03125,0.03125,0,0.23137255,0.31764707,0.06666667
GameObject 0.96875,0.56375,0.03125,0.03125,0,0.28627452,0.3764706,0.12941177
GameObject -1.0,0.5325,0.03125,0.03125,0,0.25490198,0.30588236,0.105882354
GameObject -0.96875,0.5325,0.03125,0.03125,0,0.20392157,0.22352941,0.05490196
GameObject -0.9375,0.5325,0.03125,0.03125,0,0.25490198,0.23529412,0.15686275
GameObject -0.90625,0.5325,0.03125,0.03125,0,0.42745098,0.38431373,0.3529412
GameObject -0.875,0.5325,0.03125,0.03125,0,0.31764707,0.28235295,0.21176471
GameObject -0.84375,0.5325,0.03125,0.03125,0,0.18039216,0.15686275,0.05490196
GameObject -0.8125,0.5325,0.03125,0.03125,0,0.21960784,0.20392157,0.09019608
GameObject -0.78125,0.5325,0.03125,0.03125,0,0.21568628,0.21960784,0.078431375
GameObject -0.75,0.5325,0.03125,0.03125,0,0.20392157,0.21960784,0.078431375
GameObject -0.71875,0.5325,0.03125,0.03125,0,0.24313726,0.24313726,0.10980392
GameObject -0.6875,0.5325,0.03125,0.03125,0,0.26666668,0.23921569,0.12156863
GameObject -0.65625,0.5325,0.03125,0.03125,0,0.19607843,0.15294118,0.06666667
GameObject -0.625,0.5325,0.03125,0.03125,0,0.14509805,0.09803922,0.039215688
GameObject -0.59375,0.5325,0.03125,0.03125,0,0.37254903,0.32941177,0.3137255
GameObject -0.5625,0.5325,0.03125,0.03125,0,0.41960785,0.38039216,0.4
GameObject -0.53125,0.5325,0.03125,0.03125,0,0.2509804,0.22352941,0.25882354
GameObject -0.5,0.5325,0.03125,0.03125,0,0.2784314,0.25490198,0.30980393
GameObject -0.46875,0.5325,0.03125,0.03125,0,0.43137255,0.40392157,0.45490196
GameObject -0.4375,0.5325,0.03125,0.03125,0,0.41568628,0.39215687,0.42745098
GameObject -0.40625,0.5325,0.03125,0.03125,0,0.26666668,0.24705882,0.27058825
GameObject -0.375,0.5325,0.03125,0.03125,0,0.15294118,0.11372549,0.12941177
GameObject -0.34375,0.5325,0.03125,0.03125,0,0.13725491,0.07058824,0.078431375
GameObject -0.3125,0.5325,0.03125,0.03125,0,0.38431373,0.3137255,0.30980393
GameObject -0.28125,0.5325,0.03125,0.03125,0,0.7294118,0.6509804,0.627451
GameObject -0.25,0.5325,0.03125,0.03125,0,0.83137256,0.7490196,0.7254902
GameObject -0.21875,0.5325,0.03125,0.03125,0,0.96862745,0.8901961,0.8862745
GameObject -0.1875,0.5325,0.03125,0.03125,0,0.98039216,0.92156863,0.92941177
GameObject -0.15625,0.5325,0.03125,0.03125,0,0.972549,0.92941177,0.9529412
GameObject -0.125,0.5325,0.03125,0.03125,0,0.9490196,0.9098039,0.92941177
GameObject -0.09375,0.5325,0.03125,0.03125,0,0.91764706,0.84705883,0.8509804
GameObject -0.0625,0.5325,0.03125,0.03125,0,0.78431374,0.6627451,0.6666667
GameObject -0.03125,0.5325,0.03125,0.03125,0,0.64705884,0.5019608,0.5019608
GameObject 0.0,0.5325,0.03125,0.03125,0,0.50980395,0.3529412,0.3372549
GameObject 0.03125,0.5325,0.03125,0.03125,0,0.42745098,0.28627452,0.25490198
GameObject 0.0625,0.5325,0.03125,0.03125,0,0.36862746,0.26666668,0.22352941
GameObject 0.09375,0.5325,0.03125,0.03125,0,0.2901961,0.21960784,0.1764706
GameObject 0.125,0.5325,0.03125,0.03125,0,0.24313726,0.17254902,0.13725491
GameObject 0.15625,0.5325,0.03125,0.03125,0,0.21176471,0.13333334,0.11372549
GameObject 0.1875,0.5325,0.03125,0.03125,0,0.24705882,0.15294118,0.13725491
GameObject 0.21875,0.5325,0.03125,0.03125,0,0.3529412,0.25882354,0.23921569
GameObject 0.25,0.5325,0.03125,0.03125,0,0.6117647,0.5294118,0.5294118
GameObject 0.28125,0.5325,0.03125,0.03125,0,0.8352941,0.76862746,0.77254903
GameObject 0.3125,0.5325,0.03125,0.03125,0,0.87058824,0.8156863,0.83137256
GameObject 0.34375,0.5325,0.03125,0.03125,0,0.8784314,0.83137256,0.85490197
GameObject 0.375,0.5325,0.03125,0.03125,0,0.88235295,0.84313726,0.87058824
GameObject 0.40625,0.5325,0.03125,0.03125,0,0.8980392,0.85490197,0.87058824
GameObject 0.4375,0.5325,0.03125,0.03125,0,0.95686275,0.8980392,0.90588236
GameObject 0.46875,0.5325,0.03125,0.03125,0,0.8392157,0.7764706,0.7764706
GameObject 0.5,0.5325,0.03125,0.03125,0,0.3647059,0.30588236,0.30980393
GameObject 0.53125,0.5325,0.03125,0.03125,0,0.31764707,0.25490198,0.28627452
GameObject 0.5625,0.5325,0.03125,0.03125,0,0.46666667,0.43137255,0.4392157
GameObject 0.59375,0.5325,0.03125,0.03125,0,0.34509805,0.34509805,0.27450982
GameObject 0.625,0.5325,0.03125,0.03125,0,0.2509804,0.2784314,0.14117648
GameObject 0.65625,0.5325,0.03125,0.03125,0,0.20392157,0.25490198,0.08235294
GameObject 0.6875,0.5325,0.03125,0.03125,0,0.18039216,0.23529412,0.03529412
GameObject 0.71875,0.5325,0.03125,0.03125,0,0.1764706,0.23529412,0.03529412
GameObject 0.75,0.5325,0.03125,0.03125,0,0.18039216,0.24313726,0.06666667
GameObject 0.78125,0.5325,0.03125,0.03125,0,0.21176471,0.28235295,0.047058824
GameObject 0.8125,0.5325,0.03125,0.03125,0,0.23921569,0.30980393,0.07058824
GameObject 0.84375,0.5325,0.03125,0.03125,0,0.2784314,0.34901962,0.11764706
GameObject 0.875,0.5325,0.03125,0.03125,0,0.2784314,0.34901962,0.11764706
GameObject 0.90625,0.5325,0.03125,0.03125,0,0.27058825,0.34509805,0.11372549
GameObject 0.9375,0.5325,0.03125,0.03125,0,0.29411766,0.38039216,0.14509805
GameObject 0.96875,0.5325,0.03125,0.03125,0,0.34117648,0.42745098,0.19607843
GameObject -1.0,0.50125,0.03125,0.03125,0,0.07058824,0.11764706,0.0
GameObject -0.96875,0.50125,0.03125,0.03125,0,0.28627452,0.2901961,0.09803922
GameObject -0.9375,0.50125,0.03125,0.03125,0,0.28627452,0.25490198,0.15294118
GameObject -0.90625,0.50125,0.03125,0.03125,0,0.28235295,0.23137255,0.19607843
GameObject -0.875,0.50125,0.03125,0.03125,0,0.2627451,0.21568628,0.16862746
GameObject -0.84375,0.50125,0.03125,0.03125,0,0.18039216,0.12941177,0.07450981
GameObject -0.8125,0.50125,0.03125,0.03125,0,0.1764706,0.12156863,0.05882353
GameObject -0.78125,0.50125,0.03125,0.03125,0,0.19607843,0.15294118,0.0627451
GameObject -0.75,0.50125,0.03125,0.03125,0,0.21960784,0.20392157,0.09411765
GameObject -0.71875,0.50125,0.03125,0.03125,0,0.25882354,0.25490198,0.12941177
GameObject -0.6875,0.50125,0.03125,0.03125,0,0.2784314,0.25882354,0.14117648
GameObject -0.65625,0.50125,0.03125,0.03125,0,0.21176471,0.18431373,0.09803922
GameObject -0.625,0.50125,0.03125,0.03125,0,0.21176471,0.17254902,0.13333334
GameObject -0.59375,0.50125,0.03125,0.03125,0,0.38431373,0.3372549,0.34117648
GameObject -0.5625,0.50125,0.03125,0.03125,0,0.32156864,0.28235295,0.30980393
GameObject -0.53125,0.50125,0.03125,0.03125,0,0.14901961,0.11372549,0.16470589
GameObject -0.5,0.50125,0.03125,0.03125,0,0.29411766,0.26666668,0.30980393
GameObject -0.46875,0.50125,0.03125,0.03125,0,0.4745098,0.4509804,0.49019608
GameObject -0.4375,0.50125,0.03125,0.03125,0,0.40392157,0.37254903,0.40392157
GameObject -0.40625,0.50125,0.03125,0.03125,0,0.2627451,0.23921569,0.27058825
GameObject -0.375,0.50125,0.03125,0.03125,0,0.1882353,0.14901961,0.16470589
GameObject -0.34375,0.50125,0.03125,0.03125,0,0.23137255,0.1764706,0.17254902
GameObject -0.3125,0.50125,0.03125,0.03125,0,0.627451,0.5568628,0.54509807
GameObject -0.28125,0.50125,0.03125,0.03125,0,0.8980392,0.8235294,0.79607844
GameObject -0.25,0.50125,0.03125,0.03125,0,0.90588236,0.8235294,0.8039216
GameObject -0.21875,0.50125,0.03125,0.03125,0,0.95686275,0.89411765,0.88235295
GameObject -0.1875,0.50125,0.03125,0.03125,0,0.9647059,0.91764706,0.91764706
GameObject -0.15625,0.50125,0.03125,0.03125,0,0.94509804,0.9137255,0.92941177
GameObject -0.125,0.50125,0.03125,0.03125,0,0.9137255,0.8784314,0.8862745
GameObject -0.09375,0.50125,0.03125,0.03125,0,0.84705883,0.78431374,0.78039217
GameObject -0.0625,0.50125,0.03125,0.03125,0,0.7019608,0.5921569,0.59607846
GameObject -0.03125,0.50125,0.03125,0.03125,0,0.61960787,0.4745098,0.47058824
GameObject 0.0,0.50125,0.03125,0.03125,0,0.5764706,0.4117647,0.39607844
GameObject 0.03125,0.50125,0.03125,0.03125,0,0.54509807,0.38039216,0.34509805
GameObject 0.0625,0.50125,0.03125,0.03125,0,0.49411765,0.34901962,0.30980393
GameObject 0.09375,0.50125,0.03125,0.03125,0,0.4509804,0.33333334,0.28627452
GameObject 0.125,0.50125,0.03125,0.03125,0,0.42745098,0.3137255,0.27450982
GameObject 0.15625,0.50125,0.03125,0.03125,0,0.42352942,0.2901961,0.2627451
GameObject 0.1875,0.50125,0.03125,0.03125,0,0.47058824,0.3254902,0.30980393
GameObject 0.21875,0.50125,0.03125,0.03125,0,0.6,0.46666667,0.46666667
GameObject 0.25,0.50125,0.03125,0.03125,0,0.7647059,0.6627451,0.6627451
GameObject 0.28125,0.50125,0.03125,0.03125,0,0.83137256,0.7607843,0.7607843
GameObject 0.3125,0.50125,0.03125,0.03125,0,0.83137256,0.78039217,0.79607844
GameObject 0.34375,0.50125,0.03125,0.03125,0,0.8627451,0.8235294,0.84705883
GameObject 0.375,0.50125,0.03125,0.03125,0,0.89411765,0.85490197,0.8784314
GameObject 0.40625,0.50125,0.03125,0.03125,0,0.89411765,0.8509804,0.87058824
GameObject 0.4375,0.50125,0.03125,0.03125,0,0.9137255,0.85490197,0.8666667
GameObject 0.46875,0.50125,0.03125,0.03125,0,0.9372549,0.8666667,0.8745098
GameObject 0.5,0.50125,0.03125,0.03125,0,0.5529412,0.47843137,0.4862745
GameObject 0.53125,0.50125,0.03125,0.03125,0,0.34509805,0.2784314,0.3019608
GameObject 0.5625,0.50125,0.03125,0.03125,0,0.43137255,0.39215687,0.41568628
GameObject 0.59375,0.50125,0.03125,0.03125,0,0.4,0.4,0.3529412
GameObject 0.625,0.50125,0.03125,0.03125,0,0.25490198,0.28627452,0.16078432
GameObject 0.65625,0.50125,0.03125,0.03125,0,0.23137255,0.28627452,0.11372549
GameObject 0.6875,0.50125,0.03125,0.03125,0,0.20784314,0.25882354,0.06666667
GameObject 0.71875,0.50125,0.03125,0.03125,0,0.18431373,0.23921569,0.047058824
GameObject 0.75,0.50125,0.03125,0.03125,0,0.19607843,0.25490198,0.06666667
GameObject 0.78125,0.50125,0.03125,0.03125,0,0.22352941,0.2901961,0.047058824
GameObject 0.8125,0.50125,0.03125,0.03125,0,0.23921569,0.30980393,0.07058824
GameObject 0.84375,0.50125,0.03125,0.03125,0,0.28235295,0.35686275,0.11764706
GameObject 0.875,0.50125,0.03125,0.03125,0,0.33333334,0.4,0.14509805
GameObject 0.90625,0.50125,0.03125,0.03125,0,0.3372549,0.4117647,0.14901961
GameObject 0.9375,0.50125,0.03125,0.03125,0,0.34509805,0.43137255,0.16078432
GameObject 0.96875,0.50125,0.03125,0.03125,0,0.38039216,0.46666667,0.2
GameObject -1.0,0.47,0.03125,0.03125,0,0.12156863,0.15294118,0.03137255
GameObject -0.96875,0.47,0.03125,0.03125,0,0.1764706,0.17254902,0.011764706
GameObject -0.9375,0.47,0.03125,0.03125,0,0.2784314,0.23921569,0.09019608
GameObject -0.90625,0.47,0.03125,0.03125,0,0.20392157,0.15686275,0.08627451
GameObject -0.875,0.47,0.03125,0.03125,0,0.24313726,0.19607843,0.15294118
GameObject -0.84375,0.47,0.03125,0.03125,0,0.23921569,0.1764706,0.14117648
GameObject -0.8125,0.47,0.03125,0.03125,0,0.21176471,0.13725491,0.105882354
GameObject -0.78125,0.47,0.03125,0.03125,0,0.18431373,0.11372549,0.05490196
GameObject -0.75,0.47,0.03125,0.03125,0,0.19215687,0.14117648,0.08627451
GameObject -0.71875,0.47,0.03125,0.03125,0,0.2627451,0.23529412,0.16078432
GameObject -0.6875,0.47,0.03125,0.03125,0,0.3372549,0.3137255,0.22745098
GameObject -0.65625,0.47,0.03125,0.03125,0,0.2901961,0.25882354,0.19607843
GameObject -0.625,0.47,0.03125,0.03125,0,0.23921569,0.20392157,0.17254902
GameObject -0.59375,0.47,0.03125,0.03125,0,0.36862746,0.32941177,0.32156864
GameObject -0.5625,0.47,0.03125,0.03125,0,0.3019608,0.27058825,0.28627452
GameObject -0.53125,0.47,0.03125,0.03125,0,0.20784314,0.18039216,0.21176471
GameObject -0.5,0.47,0.03125,0.03125,0,0.47843137,0.44705883,0.49019608
GameObject -0.46875,0.47,0.03125,0.03125,0,0.53333336,0.49803922,0.54509807
GameObject -0.4375,0.47,0.03125,0.03125,0,0.3764706,0.3372549,0.3882353
GameObject -0.40625,0.47,0.03125,0.03125,0,0.29411766,0.2627451,0.29411766
GameObject -0.375,0.47,0.03125,0.03125,0,0.24705882,0.20784314,0.21568628
GameObject -0.34375,0.47,0.03125,0.03125,0,0.4,0.34509805,0.34509805
GameObject -0.3125,0.47,0.03125,0.03125,0,0.8235294,0.7529412,0.73333335
GameObject -0.28125,0.47,0.03125,0.03125,0,0.9607843,0.88235295,0.8627451
GameObject -0.25,0.47,0.03125,0.03125,0,0.9411765,0.87058824,0.85490197
GameObject -0.21875,0.47,0.03125,0.03125,0,0.9529412,0.8980392,0.8901961
GameObject -0.1875,0.47,0.03125,0.03125,0,0.94509804,0.8980392,0.9019608
GameObject -0.15625,0.47,0.03125,0.03125,0,0.92941177,0.8901961,0.9019608
GameObject -0.125,0.47,0.03125,0.03125,0,0.9372549,0.8980392,0.9019608
GameObject -0.09375,0.47,0.03125,0.03125,0,0.9411765,0.8862745,0.88235295
GameObject -0.0625,0.47,0.03125,0.03125,0,0.8901961,0.8039216,0.7882353
GameObject -0.03125,0.47,0.03125,0.03125,0,0.7921569,0.67058825,0.64705884
GameObject 0.0,0.47,0.03125,0.03125,0,0.7019608,0.54901963,0.5176471
GameObject 0.03125,0.47,0.03125,0.03125,0,0.6901961,0.5176471,0.48235294
GameObject 0.0625,0.47,0.03125,0.03125,0,0.65882355,0.48235294,0.4392157
GameObject 0.09375,0.47,0.03125,0.03125,0,0.59607846,0.42352942,0.38039216
GameObject 0.125,0.47,0.03125,0.03125,0,0.6,0.42352942,0.3882353
GameObject 0.15625,0.47,0.03125,0.03125,0,0.62352943,0.43529412,0.40784314
GameObject 0.1875,0.47,0.03125,0.03125,0,0.65882355,0.47058824,0.4509804
GameObject 0.21875,0.47,0.03125,0.03125,0,0.7372549,0.5803922,0.5686275
GameObject 0.25,0.47,0.03125,0.03125,0,0.7921569,0.6627451,0.65882355
GameObject 0.28125,0.47,0.03125,0.03125,0,0.8156863,0.7058824,0.7058824
GameObject 0.3125,0.47,0.03125,0.03125,0,0.8352941,0.75686276,0.7607843
GameObject 0.34375,0.47,0.03125,0.03125,0,0.85490197,0.8,0.80784315
GameObject 0.375,0.47,0.03125,0.03125,0,0.8784314,0.8352941,0.84313726
GameObject 0.40625,0.47,0.03125,0.03125,0,0.8862745,0.8352941,0.84705883
GameObject 0.4375,0.47,0.03125,0.03125,0,0.89411765,0.8352941,0.84313726
GameObject 0.46875,0.47,0.03125,0.03125,0,0.93333334,0.85882354,0.87058824
GameObject 0.5,0.47,0.03125,0.03125,0,0.74509805,0.6745098,0.6666667
GameObject 0.53125,0.47,0.03125,0.03125,0,0.38431373,0.32156864,0.31764707
GameObject 0.5625,0.47,0.03125,0.03125,0,0.30980393,0.27058825,0.26666668
GameObject 0.59375,0.47,0.03125,0.03125,0,0.36078432,0.36078432,0.3019608
GameObject 0.625,0.47,0.03125,0.03125,0,0.31764707,0.34901962,0.21568628
GameObject 0.65625,0.47,0.03125,0.03125,0,0.25490198,0.30588236,0.11764706
GameObject 0.6875,0.47,0.03125,0.03125,0,0.23921569,0.29803923,0.09411765
GameObject 0.71875,0.47,0.03125,0.03125,0,0.23137255,0.28235295,0.101960786
GameObject 0.75,0.47,0.03125,0.03125,0,0.19607843,0.24705882,0.07058824
GameObject 0.78125,0.47,0.03125,0.03125,0,0.20784314,0.2627451,0.05882353
GameObject 0.8125,0.47,0.03125,0.03125,0,0.23921569,0.30980393,0.08235294
GameObject 0.84375,0.47,0.03125,0.03125,0,0.2627451,0.3372549,0.09411765
GameObject 0.875,0.47,0.03125,0.03125,0,0.3019608,0.3764706,0.11764706
GameObject 0.90625,0.47,0.03125,0.03125,0,0.33333334,0.4117647,0.1254902
GameObject 0.9375,0.47,0.03125,0.03125,0,0.3529412,0.44313726,0.13725491
GameObject 0.96875,0.47,0.03125,0.03125,0,0.38431373,0.4745098,0.1764706
GameObject -1.0,0.43875,0.03125,0.03125,0,0.47843137,0.5254902,0.4
GameObject -0.96875,0.43875,0.03125,0.03125,0,0.1254902,0.14509805,0.0
GameObject -0.9375,0.43875,0.03125,0.03125,0,0.3019608,0.28235295,0.1254902
GameObject -0.90625,0.43875,0.03125,0.03125,0,0.32941177,0.27058825,0.1882353
GameObject -0.875,0.43875,0.03125,0.03125,0,0.3764706,0.3019608,0.25490198
GameObject -0.84375,0.43875,0.03125,0.03125,0,0.34901962,0.27450982,0.22745098
GameObject -0.8125,0.43875,0.03125,0.03125,0,0.22352941,0.14901961,0.105882354
GameObject -0.78125,0.43875,0.03125,0.03125,0,0.1254902,0.0627451,0.007843138
GameObject -0.75,0.43875,0.03125,0.03125,0,0.08627451,0.039215688,0.0
GameObject -0.71875,0.43875,0.03125,0.03125,0,0.14509805,0.105882354,0.0627451
GameObject -0.6875,0.43875,0.03125,0.03125,0,0.28627452,0.24313726,0.19215687
GameObject -0.65625,0.43875,0.03125,0.03125,0,0.29411766,0.24313726,0.20784314
GameObject -0.625,0.43875,0.03125,0.03125,0,0.2509804,0.20392157,0.1764706
GameObject -0.59375,0.43875,0.03125,0.03125,0,0.3529412,0.3137255,0.29411766
GameObject -0.5625,0.43875,0.03125,0.03125,0,0.26666668,0.24313726,0.23137255
GameObject -0.53125,0.43875,0.03125,0.03125,0,0.33333334,0.31764707,0.31764707
GameObject -0.5,0.43875,0.03125,0.03125,0,0.39215687,0.37254903,0.4
GameObject -0.46875,0.43875,0.03125,0.03125,0,0.32156864,0.28627452,0.3372549
GameObject -0.4375,0.43875,0.03125,0.03125,0,0.29803923,0.25490198,0.32156864
GameObject -0.40625,0.43875,0.03125,0.03125,0,0.25882354,0.21960784,0.25490198
GameObject -0.375,0.43875,0.03125,0.03125,0,0.25490198,0.21568628,0.22745098
GameObject -0.34375,0.43875,0.03125,0.03125,0,0.5686275,0.5019608,0.49411765
GameObject -0.3125,0.43875,0.03125,0.03125,0,0.8862745,0.8156863,0.79607844
GameObject -0.28125,0.43875,0.03125,0.03125,0,0.9607843,0.8784314,0.85882354
GameObject -0.25,0.43875,0.03125,0.03125,0,0.9490196,0.8784314,0.87058824
GameObject -0.21875,0.43875,0.03125,0.03125,0,0.9607843,0.9098039,0.90588236
GameObject -0.1875,0.43875,0.03125,0.03125,0,0.9647059,0.92156863,0.9254902
GameObject -0.15625,0.43875,0.03125,0.03125,0,0.9490196,0.90588236,0.91764706
GameObject -0.125,0.43875,0.03125,0.03125,0,0.93333334,0.8784314,0.8862745
GameObject -0.09375,0.43875,0.03125,0.03125,0,0.9137255,0.84705883,0.8509804
GameObject -0.0625,0.43875,0.03125,0.03125,0,0.89411765,0.80784315,0.8
GameObject -0.03125,0.43875,0.03125,0.03125,0,0.8745098,0.7647059,0.7411765
GameObject 0.0,0.43875,0.03125,0.03125,0,0.81960785,0.68235296,0.64705884
GameObject 0.03125,0.43875,0.03125,0.03125,0,0.7647059,0.59607846,0.5568628
GameObject 0.0625,0.43875,0.03125,0.03125,0,0.73333335,0.54901963,0.5058824
GameObject 0.09375,0.43875,0.03125,0.03125,0,0.69411767,0.5019608,0.4509804
GameObject 0.125,0.43875,0.03125,0.03125,0,0.6784314,0.48235294,0.43137255
GameObject 0.15625,0.43875,0.03125,0.03125,0,0.68235296,0.48235294,0.43529412
GameObject 0.1875,0.43875,0.03125,0.03125,0,0.69803923,0.50980395,0.47058824
GameObject 0.21875,0.43875,0.03125,0.03125,0,0.72156864,0.5529412,0.53333336
GameObject 0.25,0.43875,0.03125,0.03125,0,0.7607843,0.6039216,0.5882353
GameObject 0.28125,0.43875,0.03125,0.03125,0,0.78431374,0.64705884,0.63529414
GameObject 0.3125,0.43875,0.03125,0.03125,0,0.80784315,0.69411767,0.68235296
GameObject 0.34375,0.43875,0.03125,0.03125,0,0.8509804,0.7647059,0.7647059
GameObject 0.375,0.43875,0.03125,0.03125,0,0.88235295,0.80784315,0.8156863
GameObject 0.40625,0.43875,0.03125,0.03125,0,0.8862745,0.8156863,0.81960785
GameObject 0.4375,0.43875,0.03125,0.03125,0,0.88235295,0.81960785,0.81960785
GameObject 0.46875,0.43875,0.03125,0.03125,0,0.9137255,0.84705883,0.8509804
GameObject 0.5,0.43875,0.03125,0.03125,0,0.85490197,0.78431374,0.7764706
GameObject 0.53125,0.43875,0.03125,0.03125,0,0.4745098,0.40392157,0.39215687
GameObject 0.5625,0.43875,0.03125,0.03125,0,0.28235295,0.24313726,0.22352941
GameObject 0.59375,0.43875,0.03125,0.03125,0,0.34509805,0.34901962,0.2901961
GameObject 0.625,0.43875,0.03125,0.03125,0,0.29803923,0.33333334,0.16470589
GameObject 0.65625,0.43875,0.03125,0.03125,0,0.23921569,0.3019608,0.05882353
GameObject 0.6875,0.43875,0.03125,0.03125,0,0.23921569,0.29411766,0.05882353
GameObject 0.71875,0.43875,0.03125,0.03125,0,0.23921569,0.29803923,0.10980392
GameObject 0.75,0.43875,0.03125,0.03125,0,0.21176471,0.2627451,0.09019608
GameObject 0.78125,0.43875,0.03125,0.03125,0,0.19607843,0.24313726,0.078431375
GameObject 0.8125,0.43875,0.03125,0.03125,0,0.23137255,0.29411766,0.105882354
GameObject 0.84375,0.43875,0.03125,0.03125,0,0.24313726,0.30980393,0.09019608
GameObject 0.875,0.43875,0.03125,0.03125,0,0.22745098,0.29803923,0.06666667
GameObject 0.90625,0.43875,0.03125,0.03125,0,0.21568628,0.29411766,0.03529412
GameObject 0.9375,0.43875,0.03125,0.03125,0,0.23529412,0.30980393,0.043137256
GameObject 0.96875,0.43875,0.03125,0.03125,0,0.28627452,0.36078432,0.101960786
GameObject -1.0,0.4075,0.03125,0.03125,0,0.6431373,0.6509804,0.53333336
GameObject -0.96875,0.4075,0.03125,0.03125,0,0.25490198,0.2784314,0.12156863
GameObject -0.9375,0.4075,0.03125,0.03125,0,0.23137255,0.23529412,0.10980392
GameObject -0.90625,0.4075,0.03125,0.03125,0,0.2627451,0.23529412,0.15294118
GameObject -0.875,0.4075,0.03125,0.03125,0,0.29411766,0.2627451,0.17254902
GameObject -0.84375,0.4075,0.03125,0.03125,0,0.27450982,0.24705882,0.14901961
GameObject -0.8125,0.4075,0.03125,0.03125,0,0.15686275,0.13725491,0.05882353
GameObject -0.78125,0.4075,0.03125,0.03125,0,0.12941177,0.09411765,0.019607844
GameObject -0.75,0.4075,0.03125,0.03125,0,0.12156863,0.047058824,0.007843138
GameObject -0.71875,0.4075,0.03125,0.03125,0,0.08235294,0.015686275,0.0
GameObject -0.6875,0.4075,0.03125,0.03125,0,0.11764706,0.0627451,0.02745098
GameObject -0.65625,0.4075,0.03125,0.03125,0,0.15294118,0.09411765,0.0627451
GameObject -0.625,0.4075,0.03125,0.03125,0,0.19607843,0.14117648,0.12941177
GameObject -0.59375,0.4075,0.03125,0.03125,0,0.32156864,0.27450982,0.2784314
GameObject -0.5625,0.4075,0.03125,0.03125,0,0.42352942,0.3882353,0.4
GameObject -0.53125,0.4075,0.03125,0.03125,0,0.3019608,0.28235295,0.29803923
GameObject -0.5,0.4075,0.03125,0.03125,0,0.23529412,0.21568628,0.24313726
GameObject -0.46875,0.4075,0.03125,0.03125,0,0.26666668,0.23921569,0.27058825
GameObject -0.4375,0.4075,0.03125,0.03125,0,0.23529412,0.20392157,0.24313726
GameObject -0.40625,0.4075,0.03125,0.03125,0,0.22352941,0.18431373,0.21176471
GameObject -0.375,0.4075,0.03125,0.03125,0,0.27058825,0.21960784,0.23137255
GameObject -0.34375,0.4075,0.03125,0.03125,0,0.61960787,0.54509807,0.54901963
GameObject -0.3125,0.4075,0.03125,0.03125,0,0.9098039,0.827451,0.81960785
GameObject -0.28125,0.4075,0.03125,0.03125,0,0.9490196,0.8666667,0.8509804
GameObject -0.25,0.4075,0.03125,0.03125,0,0.9254902,0.85490197,0.8509804
GameObject -0.21875,0.4075,0.03125,0.03125,0,0.94509804,0.8901961,0.89411765
GameObject -0.1875,0.4075,0.03125,0.03125,0,0.95686275,0.89411765,0.9098039
GameObject -0.15625,0.4075,0.03125,0.03125,0,0.9411765,0.8862745,0.89411765
GameObject -0.125,0.4075,0.03125,0.03125,0,0.89411765,0.83137256,0.8352941
GameObject -0.09375,0.4075,0.03125,0.03125,0,0.88235295,0.7764706,0.7921569
GameObject -0.0625,0.4075,0.03125,0.03125,0,0.89411765,0.7764706,0.7764706
GameObject -0.03125,0.4075,0.03125,0.03125,0,0.8862745,0.7647059,0.7529412
GameObject 0.0,0.4075,0.03125,0.03125,0,0.85490197,0.7137255,0.6901961
GameObject 0.03125,0.4075,0.03125,0.03125,0,0.81960785,0.65882355,0.62352943
GameObject 0.0625,0.4075,0.03125,0.03125,0,0.77254903,0.59607846,0.54901963
GameObject 0.09375,0.4075,0.03125,0.03125,0,0.7647059,0.5764706,0.52156866
GameObject 0.125,0.4075,0.03125,0.03125,0,0.7411765,0.5529412,0.4862745
GameObject 0.15625,0.4075,0.03125,0.03125,0,0.69803923,0.52156866,0.4509804
GameObject 0.1875,0.4075,0.03125,0.03125,0,0.68235296,0.5176471,0.45882353
GameObject 0.21875,0.4075,0.03125,0.03125,0,0.70980394,0.5411765,0.5019608
GameObject 0.25,0.4075,0.03125,0.03125,0,0.7294118,0.5647059,0.53333336
GameObject 0.28125,0.4075,0.03125,0.03125,0,0.7372549,0.5803922,0.5568628
GameObject 0.3125,0.4075,0.03125,0.03125,0,0.7607843,0.60784316,0.5882353
GameObject 0.34375,0.4075,0.03125,0.03125,0,0.7921569,0.6666667,0.65882355
GameObject 0.375,0.4075,0.03125,0.03125,0,0.84705883,0.7372549,0.7294118
GameObject 0.40625,0.4075,0.03125,0.03125,0,0.8745098,0.7882353,0.78431374
GameObject 0.4375,0.4075,0.03125,0.03125,0,0.8901961,0.827451,0.8156863
GameObject 0.46875,0.4075,0.03125,0.03125,0,0.90588236,0.85490197,0.84313726
GameObject 0.5,0.4075,0.03125,0.03125,0,0.89411765,0.827451,0.83137256
GameObject 0.53125,0.4075,0.03125,0.03125,0,0.5137255,0.44313726,0.45882353
GameObject 0.5625,0.4075,0.03125,0.03125,0,0.27450982,0.23137255,0.23529412
GameObject 0.59375,0.4075,0.03125,0.03125,0,0.36078432,0.3529412,0.30980393
GameObject 0.625,0.4075,0.03125,0.03125,0,0.28235295,0.32941177,0.13725491
GameObject 0.65625,0.4075,0.03125,0.03125,0,0.24313726,0.3254902,0.03529412
GameObject 0.6875,0.4075,0.03125,0.03125,0,0.23921569,0.30980393,0.039215688
GameObject 0.71875,0.4075,0.03125,0.03125,0,0.25490198,0.3137255,0.08627451
GameObject 0.75,0.4075,0.03125,0.03125,0,0.26666668,0.3254902,0.11372549
GameObject 0.78125,0.4075,0.03125,0.03125,0,0.25490198,0.30980393,0.12156863
GameObject 0.8125,0.4075,0.03125,0.03125,0,0.23137255,0.29803923,0.105882354
GameObject 0.84375,0.4075,0.03125,0.03125,0,0.23529412,0.3019608,0.09411765
GameObject 0.875,0.4075,0.03125,0.03125,0,0.23921569,0.30588236,0.078431375
GameObject 0.90625,0.4075,0.03125,0.03125,0,0.23137255,0.3019608,0.0627451
GameObject 0.9375,0.4075,0.03125,0.03125,0,0.24313726,0.31764707,0.050980393
GameObject 0.96875,0.4075,0.03125,0.03125,0,0.26666668,0.34117648,0.08627451
GameObject -1.0,0.37625,0.03125,0.03125,0,0.6431373,0.60784316,0.47843137
GameObject -0.96875,0.37625,0.03125,0.03125,0,0.40784314,0.3882353,0.25882354
GameObject -0.9375,0.37625,0.03125,0.03125,0,0.22745098,0.21568628,0.12156863
GameObject -0.90625,0.37625,0.03125,0.03125,0,0.20392157,0.19607843,0.13333334
GameObject -0.875,0.37625,0.03125,0.03125,0,0.1882353,0.18039216,0.101960786
GameObject -0.84375,0.37625,0.03125,0.03125,0,0.19607843,0.19607843,0.10980392
GameObject -0.8125,0.37625,0.03125,0.03125,0,0.1882353,0.1882353,0.10980392
GameObject -0.78125,0.37625,0.03125,0.03125,0,0.19607843,0.16862746,0.105882354
GameObject -0.75,0.37625,0.03125,0.03125,0,0.18431373,0.13725491,0.08235294
GameObject -0.71875,0.37625,0.03125,0.03125,0,0.14901961,0.09411765,0.039215688
GameObject -0.6875,0.37625,0.03125,0.03125,0,0.11372549,0.050980393,0.0
GameObject -0.65625,0.37625,0.03125,0.03125,0,0.0627451,0.0,0.0
GameObject -0.625,0.37625,0.03125,0.03125,0,0.20784314,0.15294118,0.13333334
GameObject -0.59375,0.37625,0.03125,0.03125,0,0.4392157,0.39215687,0.3882353
GameObject -0.5625,0.37625,0.03125,0.03125,0,0.34509805,0.30588236,0.3254902
GameObject -0.53125,0.37625,0.03125,0.03125,0,0.2,0.1764706,0.20392157
GameObject -0.5,0.37625,0.03125,0.03125,0,0.16862746,0.15294118,0.1764706
GameObject -0.46875,0.37625,0.03125,0.03125,0,0.23529412,0.21176471,0.23529412
GameObject -0.4375,0.37625,0.03125,0.03125,0,0.2509804,0.21960784,0.24313726
GameObject -0.40625,0.37625,0.03125,0.03125,0,0.23529412,0.19215687,0.21176471
GameObject -0.375,0.37625,0.03125,0.03125,0,0.25490198,0.2,0.21568628
GameObject -0.34375,0.37625,0.03125,0.03125,0,0.6156863,0.5294118,0.5294118
GameObject -0.3125,0.37625,0.03125,0.03125,0,0.8627451,0.77254903,0.76862746
GameObject -0.28125,0.37625,0.03125,0.03125,0,0.92941177,0.84705883,0.8352941
GameObject -0.25,0.37625,0.03125,0.03125,0,0.91764706,0.84313726,0.8352941
GameObject -0.21875,0.37625,0.03125,0.03125,0,0.9411765,0.87058824,0.8666667
GameObject -0.1875,0.37625,0.03125,0.03125,0,0.9372549,0.85882354,0.8666667
GameObject -0.15625,0.37625,0.03125,0.03125,0,0.9254902,0.85490197,0.85882354
GameObject -0.125,0.37625,0.03125,0.03125,0,0.8980392,0.8235294,0.8156863
GameObject -0.09375,0.37625,0.03125,0.03125,0,0.90588236,0.8,0.79607844
GameObject -0.0625,0.37625,0.03125,0.03125,0,0.9019608,0.7764706,0.76862746
GameObject -0.03125,0.37625,0.03125,0.03125,0,0.8666667,0.73333335,0.70980394
GameObject 0.0,0.37625,0.03125,0.03125,0,0.84313726,0.68235296,0.65882355
GameObject 0.03125,0.37625,0.03125,0.03125,0,0.8,0.61960787,0.5882353
GameObject 0.0625,0.37625,0.03125,0.03125,0,0.7647059,0.5686275,0.5294118
GameObject 0.09375,0.37625,0.03125,0.03125,0,0.7529412,0.5568628,0.50980395
GameObject 0.125,0.37625,0.03125,0.03125,0,0.75686276,0.5686275,0.5176471
GameObject 0.15625,0.37625,0.03125,0.03125,0,0.72156864,0.5568628,0.49803922
GameObject 0.1875,0.37625,0.03125,0.03125,0,0.7137255,0.54509807,0.49803922
GameObject 0.21875,0.37625,0.03125,0.03125,0,0.7411765,0.56078434,0.53333336
GameObject 0.25,0.37625,0.03125,0.03125,0,0.74509805,0.56078434,0.5411765
GameObject 0.28125,0.37625,0.03125,0.03125,0,0.7647059,0.5803922,0.56078434
GameObject 0.3125,0.37625,0.03125,0.03125,0,0.78431374,0.6,0.5882353
GameObject 0.34375,0.37625,0.03125,0.03125,0,0.77254903,0.6117647,0.60784316
GameObject 0.375,0.37625,0.03125,0.03125,0,0.7921569,0.65882355,0.64705884
GameObject 0.40625,0.37625,0.03125,0.03125,0,0.8156863,0.7137255,0.7058824
GameObject 0.4375,0.37625,0.03125,0.03125,0,0.8392157,0.78039217,0.76862746
GameObject 0.46875,0.37625,0.03125,0.03125,0,0.87058824,0.83137256,0.8156863
GameObject 0.5,0.37625,0.03125,0.03125,0,0.93333334,0.8666667,0.8627451
GameObject 0.53125,0.37625,0.03125,0.03125,0,0.6392157,0.5568628,0.56078434
GameObject 0.5625,0.37625,0.03125,0.03125,0,0.22745098,0.19215687,0.19215687
GameObject 0.59375,0.37625,0.03125,0.03125,0,0.36078432,0.36862746,0.3372549
GameObject 0.625,0.37625,0.03125,0.03125,0,0.27450982,0.34509805,0.101960786
GameObject 0.65625,0.37625,0.03125,0.03125,0,0.25882354,0.3529412,0.023529412
GameObject 0.6875,0.37625,0.03125,0.03125,0,0.25882354,0.34901962,0.043137256
GameObject 0.71875,0.37625,0.03125,0.03125,0,0.27450982,0.34509805,0.09019608
GameObject 0.75,0.37625,0.03125,0.03125,0,0.27450982,0.3529412,0.1254902
GameObject 0.78125,0.37625,0.03125,0.03125,0,0.29411766,0.3647059,0.16862746
GameObject 0.8125,0.37625,0.03125,0.03125,0,0.3137255,0.3764706,0.20784314
GameObject 0.84375,0.37625,0.03125,0.03125,0,0.28627452,0.34901962,0.18039216
GameObject 0.875,0.37625,0.03125,0.03125,0,0.27450982,0.34117648,0.13333334
GameObject 0.90625,0.37625,0.03125,0.03125,0,0.29411766,0.36862746,0.13333334
GameObject 0.9375,0.37625,0.03125,0.03125,0,0.3137255,0.39215687,0.14509805
GameObject 0.96875,0.37625,0.03125,0.03125,0,0.33333334,0.4117647,0.1764706
GameObject -1.0,0.345,0.03125,0.03125,0,0.61960787,0.56078434,0.43137255
GameObject -0.96875,0.345,0.03125,0.03125,0,0.5058824,0.44705883,0.34509805
GameObject -0.9375,0.345,0.03125,0.03125,0,0.4,0.3647059,0.29411766
GameObject -0.90625,0.345,0.03125,0.03125,0,0.36078432,0.34509805,0.30588236
GameObject -0.875,0.345,0.03125,0.03125,0,0.3019608,0.3019608,0.25490198
GameObject -0.84375,0.345,0.03125,0.03125,0,0.2901961,0.28235295,0.23137255
GameObject -0.8125,0.345,0.03125,0.03125,0,0.2509804,0.24313726,0.1882353
GameObject -0.78125,0.345,0.03125,0.03125,0,0.2,0.1764706,0.1254902
GameObject -0.75,0.345,0.03125,0.03125,0,0.18039216,0.14117648,0.09803922
GameObject -0.71875,0.345,0.03125,0.03125,0,0.18431373,0.14117648,0.09019608
GameObject -0.6875,0.345,0.03125,0.03125,0,0.2,0.14901961,0.09411765
GameObject -0.65625,0.345,0.03125,0.03125,0,0.11764706,0.0627451,0.015686275
GameObject -0.625,0.345,0.03125,0.03125,0,0.21176471,0.16078432,0.12156863
GameObject -0.59375,0.345,0.03125,0.03125,0,0.3764706,0.32941177,0.30980393
GameObject -0.5625,0.345,0.03125,0.03125,0,0.27058825,0.23921569,0.2509804
GameObject -0.53125,0.345,0.03125,0.03125,0,0.23921569,0.21960784,0.24313726
GameObject -0.5,0.345,0.03125,0.03125,0,0.22352941,0.20392157,0.23137255
GameObject -0.46875,0.345,0.03125,0.03125,0,0.20392157,0.17254902,0.2
GameObject -0.4375,0.345,0.03125,0.03125,0,0.21568628,0.18039216,0.2
GameObject -0.40625,0.345,0.03125,0.03125,0,0.21960784,0.1882353,0.19607843
GameObject -0.375,0.345,0.03125,0.03125,0,0.28627452,0.21960784,0.22745098
GameObject -0.34375,0.345,0.03125,0.03125,0,0.56078434,0.47058824,0.47843137
GameObject -0.3125,0.345,0.03125,0.03125,0,0.84313726,0.7411765,0.73333335
GameObject -0.28125,0.345,0.03125,0.03125,0,0.9098039,0.8235294,0.8117647
GameObject -0.25,0.345,0.03125,0.03125,0,0.91764706,0.827451,0.8156863
GameObject -0.21875,0.345,0.03125,0.03125,0,0.9372549,0.8509804,0.8392157
GameObject -0.1875,0.345,0.03125,0.03125,0,0.9411765,0.84313726,0.84705883
GameObject -0.15625,0.345,0.03125,0.03125,0,0.91764706,0.83137256,0.83137256
GameObject -0.125,0.345,0.03125,0.03125,0,0.8745098,0.79607844,0.77254903
GameObject -0.09375,0.345,0.03125,0.03125,0,0.8745098,0.77254903,0.7529412
GameObject -0.0625,0.345,0.03125,0.03125,0,0.8392157,0.7137255,0.6901961
GameObject -0.03125,0.345,0.03125,0.03125,0,0.8,0.6509804,0.6313726
GameObject 0.0,0.345,0.03125,0.03125,0,0.76862746,0.6,0.5686275
GameObject 0.03125,0.345,0.03125,0.03125,0,0.7411765,0.5568628,0.5176471
GameObject 0.0625,0.345,0.03125,0.03125,0,0.7372549,0.54509807,0.5019608
GameObject 0.09375,0.345,0.03125,0.03125,0,0.74509805,0.54509807,0.5058824
GameObject 0.125,0.345,0.03125,0.03125,0,0.7411765,0.54509807,0.49803922
GameObject 0.15625,0.345,0.03125,0.03125,0,0.7176471,0.53333336,0.49019608
GameObject 0.1875,0.345,0.03125,0.03125,0,0.7058824,0.52156866,0.49019608
GameObject 0.21875,0.345,0.03125,0.03125,0,0.7294118,0.5372549,0.50980395
GameObject 0.25,0.345,0.03125,0.03125,0,0.74509805,0.54509807,0.52156866
GameObject 0.28125,0.345,0.03125,0.03125,0,0.7411765,0.54901963,0.5254902
GameObject 0.3125,0.345,0.03125,0.03125,0,0.7490196,0.5686275,0.54901963
GameObject 0.34375,0.345,0.03125,0.03125,0,0.7607843,0.6039216,0.5803922
GameObject 0.375,0.345,0.03125,0.03125,0,0.78039217,0.64705884,0.62352943
GameObject 0.40625,0.345,0.03125,0.03125,0,0.8039216,0.69411767,0.68235296
GameObject 0.4375,0.345,0.03125,0.03125,0,0.827451,0.7529412,0.7372549
GameObject 0.46875,0.345,0.03125,0.03125,0,0.8666667,0.80784315,0.7921569
GameObject 0.5,0.345,0.03125,0.03125,0,0.9372549,0.8627451,0.8509804
GameObject 0.53125,0.345,0.03125,0.03125,0,0.70980394,0.6431373,0.62352943
GameObject 0.5625,0.345,0.03125,0.03125,0,0.21568628,0.1882353,0.1764706
GameObject 0.59375,0.345,0.03125,0.03125,0,0.2901961,0.30588236,0.27058825
GameObject 0.625,0.345,0.03125,0.03125,0,0.31764707,0.40392157,0.1254902
GameObject 0.65625,0.345,0.03125,0.03125,0,0.2627451,0.3647059,0.019607844
GameObject 0.6875,0.345,0.03125,0.03125,0,0.27450982,0.36862746,0.0627451
GameObject 0.71875,0.345,0.03125,0.03125,0,0.2901961,0.37254903,0.09803922
GameObject 0.75,0.345,0.03125,0.03125,0,0.27450982,0.3529412,0.10980392
GameObject 0.78125,0.345,0.03125,0.03125,0,0.2509804,0.33333334,0.09411765
GameObject 0.8125,0.345,0.03125,0.03125,0,0.32156864,0.38039216,0.22745098
GameObject 0.84375,0.345,0.03125,0.03125,0,0.32941177,0.38431373,0.23921569
GameObject 0.875,0.345,0.03125,0.03125,0,0.26666668,0.33333334,0.14509805
GameObject 0.90625,0.345,0.03125,0.03125,0,0.24313726,0.31764707,0.101960786
GameObject 0.9375,0.345,0.03125,0.03125,0,0.2784314,0.3647059,0.13333334
GameObject 0.96875,0.345,0.03125,0.03125,0,0.3372549,0.42745098,0.20784314
GameObject -1.0,0.31375,0.03125,0.03125,0,0.4509804,0.39607844,0.2901961
GameObject -0.96875,0.31375,0.03125,0.03125,0,0.49411765,0.4392157,0.36862746
GameObject -0.9375,0.31375,0.03125,0.03125,0,0.38039216,0.34509805,0.30588236
GameObject -0.90625,0.31375,0.03125,0.03125,0,0.3254902,0.28627452,0.25882354
GameObject -0.875,0.31375,0.03125,0.03125,0,0.29411766,0.26666668,0.24705882
GameObject -0.84375,0.31375,0.03125,0.03125,0,0.3019608,0.27450982,0.24313726
GameObject -0.8125,0.31375,0.03125,0.03125,0,0.27058825,0.23921569,0.20392157
GameObject -0.78125,0.31375,0.03125,0.03125,0,0.23529412,0.1882353,0.15686275
GameObject -0.75,0.31375,0.03125,0.03125,0,0.20392157,0.15294118,0.12941177
GameObject -0.71875,0.31375,0.03125,0.03125,0,0.20784314,0.15294118,0.12156863
GameObject -0.6875,0.31375,0.03125,0.03125,0,0.31764707,0.26666668,0.21960784
GameObject -0.65625,0.31375,0.03125,0.03125,0,0.35686275,0.30588236,0.26666668
GameObject -0.625,0.31375,0.03125,0.03125,0,0.34117648,0.2901961,0.2627451
GameObject -0.59375,0.31375,0.03125,0.03125,0,0.30980393,0.27058825,0.2509804
GameObject -0.5625,0.31375,0.03125,0.03125,0,0.23921569,0.21176471,0.21960784
GameObject -0.53125,0.31375,0.03125,0.03125,0,0.2,0.1764706,0.20392157
GameObject -0.5,0.31375,0.03125,0.03125,0,0.17254902,0.15686275,0.18431373
GameObject -0.46875,0.31375,0.03125,0.03125,0,0.20392157,0.1764706,0.20784314
GameObject -0.4375,0.31375,0.03125,0.03125,0,0.27058825,0.23529412,0.2509804
GameObject -0.40625,0.31375,0.03125,0.03125,0,0.25490198,0.22745098,0.21960784
GameObject -0.375,0.31375,0.03125,0.03125,0,0.26666668,0.20784314,0.2
GameObject -0.34375,0.31375,0.03125,0.03125,0,0.5294118,0.4392157,0.42745098
GameObject -0.3125,0.31375,0.03125,0.03125,0,0.8509804,0.7490196,0.7137255
GameObject -0.28125,0.31375,0.03125,0.03125,0,0.9137255,0.81960785,0.7882353
GameObject -0.25,0.31375,0.03125,0.03125,0,0.9098039,0.8156863,0.7921569
GameObject -0.21875,0.31375,0.03125,0.03125,0,0.9372549,0.8235294,0.8117647
GameObject -0.1875,0.31375,0.03125,0.03125,0,0.92156863,0.8117647,0.8039216
GameObject -0.15625,0.31375,0.03125,0.03125,0,0.8862745,0.7921569,0.7764706
GameObject -0.125,0.31375,0.03125,0.03125,0,0.84313726,0.75686276,0.74509805
GameObject -0.09375,0.31375,0.03125,0.03125,0,0.84705883,0.73333335,0.7176471
GameObject -0.0625,0.31375,0.03125,0.03125,0,0.84313726,0.70980394,0.6862745
GameObject -0.03125,0.31375,0.03125,0.03125,0,0.8509804,0.7137255,0.68235296
GameObject 0.0,0.31375,0.03125,0.03125,0,0.8156863,0.6666667,0.627451
GameObject 0.03125,0.31375,0.03125,0.03125,0,0.80784315,0.654902,0.6117647
GameObject 0.0625,0.31375,0.03125,0.03125,0,0.79607844,0.6313726,0.58431375
GameObject 0.09375,0.31375,0.03125,0.03125,0,0.78039217,0.6,0.5568628
GameObject 0.125,0.31375,0.03125,0.03125,0,0.7647059,0.58431375,0.5411765
GameObject 0.15625,0.31375,0.03125,0.03125,0,0.7764706,0.5882353,0.5411765
GameObject 0.1875,0.31375,0.03125,0.03125,0,0.75686276,0.5686275,0.5254902
GameObject 0.21875,0.31375,0.03125,0.03125,0,0.7411765,0.5529412,0.5176471
GameObject 0.25,0.31375,0.03125,0.03125,0,0.7529412,0.5568628,0.5294118
GameObject 0.28125,0.31375,0.03125,0.03125,0,0.7372549,0.56078434,0.5294118
GameObject 0.3125,0.31375,0.03125,0.03125,0,0.73333335,0.5882353,0.5529412
GameObject 0.34375,0.31375,0.03125,0.03125,0,0.7411765,0.6117647,0.5686275
GameObject 0.375,0.31375,0.03125,0.03125,0,0.7490196,0.6313726,0.59607846
GameObject 0.40625,0.31375,0.03125,0.03125,0,0.7764706,0.65882355,0.6313726
GameObject 0.4375,0.31375,0.03125,0.03125,0,0.80784315,0.7058824,0.68235296
GameObject 0.46875,0.31375,0.03125,0.03125,0,0.8627451,0.7607843,0.7411765
GameObject 0.5,0.31375,0.03125,0.03125,0,0.9372549,0.84705883,0.84313726
GameObject 0.53125,0.31375,0.03125,0.03125,0,0.7372549,0.6666667,0.6745098
GameObject 0.5625,0.31375,0.03125,0.03125,0,0.25882354,0.23137255,0.21960784
GameObject 0.59375,0.31375,0.03125,0.03125,0,0.33333334,0.3529412,0.2901961
GameObject 0.625,0.31375,0.03125,0.03125,0,0.32156864,0.4117647,0.1254902
GameObject 0.65625,0.31375,0.03125,0.03125,0,0.29411766,0.39607844,0.06666667
GameObject 0.6875,0.31375,0.03125,0.03125,0,0.28235295,0.37254903,0.078431375
GameObject 0.71875,0.31375,0.03125,0.03125,0,0.27450982,0.35686275,0.078431375
GameObject 0.75,0.31375,0.03125,0.03125,0,0.25490198,0.34117648,0.05882353
GameObject 0.78125,0.31375,0.03125,0.03125,0,0.22745098,0.32156864,0.023529412
GameObject 0.8125,0.31375,0.03125,0.03125,0,0.25882354,0.33333334,0.11372549
GameObject 0.84375,0.31375,0.03125,0.03125,0,0.34509805,0.4,0.2509804
GameObject 0.875,0.31375,0.03125,0.03125,0,0.3529412,0.41568628,0.25490198
GameObject 0.90625,0.31375,0.03125,0.03125,0,0.2627451,0.32941177,0.15686275
GameObject 0.9375,0.31375,0.03125,0.03125,0,0.27450982,0.35686275,0.14509805
GameObject 0.96875,0.31375,0.03125,0.03125,0,0.35686275,0.44705883,0.23529412
GameObject -1.0,0.2825,0.03125,0.03125,0,0.28627452,0.24705882,0.16078432
GameObject -0.96875,0.2825,0.03125,0.03125,0,0.4,0.3647059,0.29803923
GameObject -0.9375,0.2825,0.03125,0.03125,0,0.3137255,0.2784314,0.23137255
GameObject -0.90625,0.2825,0.03125,0.03125,0,0.16470589,0.1254902,0.09411765
GameObject -0.875,0.2825,0.03125,0.03125,0,0.1764706,0.14117648,0.10980392
GameObject -0.84375,0.2825,0.03125,0.03125,0,0.2627451,0.22745098,0.19215687
GameObject -0.8125,0.2825,0.03125,0.03125,0,0.2627451,0.22352941,0.18431373
GameObject -0.78125,0.2825,0.03125,0.03125,0,0.2509804,0.20392157,0.16862746
GameObject -0.75,0.2825,0.03125,0.03125,0,0.29411766,0.23529412,0.21176471
GameObject -0.71875,0.2825,0.03125,0.03125,0,0.37254903,0.3137255,0.28235295
GameObject -0.6875,0.2825,0.03125,0.03125,0,0.5137255,0.46666667,0.42745098
GameObject -0.65625,0.2825,0.03125,0.03125,0,0.53333336,0.48235294,0.4509804
GameObject -0.625,0.2825,0.03125,0.03125,0,0.47058824,0.42352942,0.4
GameObject -0.59375,0.2825,0.03125,0.03125,0,0.35686275,0.3137255,0.3137255
GameObject -0.5625,0.2825,0.03125,0.03125,0,0.27450982,0.24705882,0.25490198
GameObject -0.53125,0.2825,0.03125,0.03125,0,0.23921569,0.22352941,0.23529412
GameObject -0.5,0.2825,0.03125,0.03125,0,0.1882353,0.16862746,0.19215687
GameObject -0.46875,0.2825,0.03125,0.03125,0,0.16862746,0.14509805,0.16470589
GameObject -0.4375,0.2825,0.03125,0.03125,0,0.22745098,0.1882353,0.2
GameObject -0.40625,0.2825,0.03125,0.03125,0,0.21960784,0.1882353,0.18039216
GameObject -0.375,0.2825,0.03125,0.03125,0,0.23921569,0.18431373,0.16078432
GameObject -0.34375,0.2825,0.03125,0.03125,0,0.53333336,0.42745098,0.40784314
GameObject -0.3125,0.2825,0.03125,0.03125,0,0.84313726,0.7372549,0.7019608
GameObject -0.28125,0.2825,0.03125,0.03125,0,0.9019608,0.79607844,0.7490196
GameObject -0.25,0.2825,0.03125,0.03125,0,0.9019608,0.8,0.75686276
GameObject -0.21875,0.2825,0.03125,0.03125,0,0.93333334,0.8156863,0.79607844
GameObject -0.1875,0.2825,0.03125,0.03125,0,0.9254902,0.8117647,0.8
GameObject -0.15625,0.2825,0.03125,0.03125,0,0.9019608,0.8,0.7921569
GameObject -0.125,0.2825,0.03125,0.03125,0,0.87058824,0.78431374,0.76862746
GameObject -0.09375,0.2825,0.03125,0.03125,0,0.87058824,0.7647059,0.7490196
GameObject -0.0625,0.2825,0.03125,0.03125,0,0.8901961,0.77254903,0.7607843
GameObject -0.03125,0.2825,0.03125,0.03125,0,0.90588236,0.78431374,0.76862746
GameObject 0.0,0.2825,0.03125,0.03125,0,0.8901961,0.76862746,0.7411765
GameObject 0.03125,0.2825,0.03125,0.03125,0,0.8666667,0.7411765,0.69803923
GameObject 0.0625,0.2825,0.03125,0.03125,0,0.84705883,0.7058824,0.6627451
GameObject 0.09375,0.2825,0.03125,0.03125,0,0.81960785,0.6666667,0.627451
GameObject 0.125,0.2825,0.03125,0.03125,0,0.81960785,0.654902,0.6156863
GameObject 0.15625,0.2825,0.03125,0.03125,0,0.8352941,0.6627451,0.627451
GameObject 0.1875,0.2825,0.03125,0.03125,0,0.8235294,0.6392157,0.60784316
GameObject 0.21875,0.2825,0.03125,0.03125,0,0.79607844,0.6156863,0.5882353
GameObject 0.25,0.2825,0.03125,0.03125,0,0.77254903,0.6039216,0.57254905
GameObject 0.28125,0.2825,0.03125,0.03125,0,0.78431374,0.6392157,0.6039216
GameObject 0.3125,0.2825,0.03125,0.03125,0,0.8,0.6784314,0.63529414
GameObject 0.34375,0.2825,0.03125,0.03125,0,0.8039216,0.69803923,0.6509804
GameObject 0.375,0.2825,0.03125,0.03125,0,0.8,0.69803923,0.6627451
GameObject 0.40625,0.2825,0.03125,0.03125,0,0.8,0.69803923,0.6666667
GameObject 0.4375,0.2825,0.03125,0.03125,0,0.81960785,0.7137255,0.69803923
GameObject 0.46875,0.2825,0.03125,0.03125,0,0.85882354,0.7372549,0.73333335
GameObject 0.5,0.2825,0.03125,0.03125,0,0.93333334,0.83137256,0.83137256
GameObject 0.53125,0.2825,0.03125,0.03125,0,0.7411765,0.67058825,0.6784314
GameObject 0.5625,0.2825,0.03125,0.03125,0,0.21960784,0.19607843,0.18431373
GameObject 0.59375,0.2825,0.03125,0.03125,0,0.3647059,0.3882353,0.31764707
GameObject 0.625,0.2825,0.03125,0.03125,0,0.3254902,0.4117647,0.14901961
GameObject 0.65625,0.2825,0.03125,0.03125,0,0.29803923,0.39215687,0.09411765
GameObject 0.6875,0.2825,0.03125,0.03125,0,0.26666668,0.35686275,0.08627451
GameObject 0.71875,0.2825,0.03125,0.03125,0,0.25882354,0.34117648,0.08627451
GameObject 0.75,0.2825,0.03125,0.03125,0,0.2509804,0.33333334,0.06666667
GameObject 0.78125,0.2825,0.03125,0.03125,0,0.25490198,0.3529412,0.05490196
GameObject 0.8125,0.2825,0.03125,0.03125,0,0.24313726,0.3254902,0.07450981
GameObject 0.84375,0.2825,0.03125,0.03125,0,0.2784314,0.34117648,0.16862746
GameObject 0.875,0.2825,0.03125,0.03125,0,0.36078432,0.41960785,0.28235295
GameObject 0.90625,0.2825,0.03125,0.03125,0,0.31764707,0.38039216,0.2509804
GameObject 0.9375,0.2825,0.03125,0.03125,0,0.2784314,0.3529412,0.17254902
GameObject 0.96875,0.2825,0.03125,0.03125,0,0.33333334,0.41960785,0.20392157
GameObject -1.0,0.25125,0.03125,0.03125,0,0.1882353,0.18039216,0.09803922
GameObject -0.96875,0.25125,0.03125,0.03125,0,0.24705882,0.24313726,0.16078432
GameObject -0.9375,0.25125,0.03125,0.03125,0,0.25882354,0.23529412,0.16470589
GameObject -0.90625,0.25125,0.03125,0.03125,0,0.18431373,0.15686275,0.09411765
GameObject -0.875,0.25125,0.03125,0.03125,0,0.17254902,0.14509805,0.078431375
GameObject -0.84375,0.25125,0.03125,0.03125,0,0.1882353,0.15686275,0.09411765
GameObject -0.8125,0.25125,0.03125,0.03125,0,0.20784314,0.16470589,0.11764706
GameObject -0.78125,0.25125,0.03125,0.03125,0,0.21568628,0.18039216,0.13333334
GameObject -0.75,0.25125,0.03125,0.03125,0,0.2784314,0.23921569,0.20392157
GameObject -0.71875,0.25125,0.03125,0.03125,0,0.33333334,0.28235295,0.2509804
GameObject -0.6875,0.25125,0.03125,0.03125,0,0.36078432,0.30588236,0.28235295
GameObject -0.65625,0.25125,0.03125,0.03125,0,0.30980393,0.25490198,0.23529412
GameObject -0.625,0.25125,0.03125,0.03125,0,0.27058825,0.22745098,0.21568628
GameObject -0.59375,0.25125,0.03125,0.03125,0,0.27450982,0.23137255,0.23529412
GameObject -0.5625,0.25125,0.03125,0.03125,0,0.27058825,0.23921569,0.25882354
GameObject -0.53125,0.25125,0.03125,0.03125,0,0.23921569,0.21960784,0.24313726
GameObject -0.5,0.25125,0.03125,0.03125,0,0.16862746,0.14509805,0.16862746
GameObject -0.46875,0.25125,0.03125,0.03125,0,0.1764706,0.15294118,0.16862746
GameObject -0.4375,0.25125,0.03125,0.03125,0,0.21176471,0.18039216,0.19215687
GameObject -0.40625,0.25125,0.03125,0.03125,0,0.1882353,0.14509805,0.14117648
GameObject -0.375,0.25125,0.03125,0.03125,0,0.21568628,0.14509805,0.1254902
GameObject -0.34375,0.25125,0.03125,0.03125,0,0.5568628,0.4392157,0.40784314
GameObject -0.3125,0.25125,0.03125,0.03125,0,0.84705883,0.72156864,0.67058825
GameObject -0.28125,0.25125,0.03125,0.03125,0,0.8862745,0.76862746,0.7176471
GameObject -0.25,0.25125,0.03125,0.03125,0,0.8901961,0.78039217,0.7411765
GameObject -0.21875,0.25125,0.03125,0.03125,0,0.90588236,0.7882353,0.7647059
GameObject -0.1875,0.25125,0.03125,0.03125,0,0.8980392,0.78431374,0.77254903
GameObject -0.15625,0.25125,0.03125,0.03125,0,0.8745098,0.7882353,0.78039217
GameObject -0.125,0.25125,0.03125,0.03125,0,0.8784314,0.79607844,0.7921569
GameObject -0.09375,0.25125,0.03125,0.03125,0,0.89411765,0.80784315,0.81960785
GameObject -0.0625,0.25125,0.03125,0.03125,0,0.9019608,0.8039216,0.8117647
GameObject -0.03125,0.25125,0.03125,0.03125,0,0.8901961,0.8,0.8
GameObject 0.0,0.25125,0.03125,0.03125,0,0.89411765,0.7921569,0.7882353
GameObject 0.03125,0.25125,0.03125,0.03125,0,0.85882354,0.75686276,0.7372549
GameObject 0.0625,0.25125,0.03125,0.03125,0,0.84705883,0.73333335,0.7058824
GameObject 0.09375,0.25125,0.03125,0.03125,0,0.8627451,0.73333335,0.7137255
GameObject 0.125,0.25125,0.03125,0.03125,0,0.85490197,0.7137255,0.69411767
GameObject 0.15625,0.25125,0.03125,0.03125,0,0.84313726,0.69411767,0.67058825
GameObject 0.1875,0.25125,0.03125,0.03125,0,0.827451,0.6745098,0.65882355
GameObject 0.21875,0.25125,0.03125,0.03125,0,0.8117647,0.65882355,0.6431373
GameObject 0.25,0.25125,0.03125,0.03125,0,0.83137256,0.6862745,0.6745098
GameObject 0.28125,0.25125,0.03125,0.03125,0,0.85490197,0.7294118,0.7137255
GameObject 0.3125,0.25125,0.03125,0.03125,0,0.8509804,0.7372549,0.72156864
GameObject 0.34375,0.25125,0.03125,0.03125,0,0.83137256,0.7372549,0.72156864
GameObject 0.375,0.25125,0.03125,0.03125,0,0.8352941,0.74509805,0.73333335
GameObject 0.40625,0.25125,0.03125,0.03125,0,0.827451,0.7490196,0.7372549
GameObject 0.4375,0.25125,0.03125,0.03125,0,0.84313726,0.7607843,0.75686276
GameObject 0.46875,0.25125,0.03125,0.03125,0,0.85490197,0.76862746,0.76862746
GameObject 0.5,0.25125,0.03125,0.03125,0,0.9254902,0.84313726,0.8352941
GameObject 0.53125,0.25125,0.03125,0.03125,0,0.69411767,0.63529414,0.62352943
GameObject 0.5625,0.25125,0.03125,0.03125,0,0.20784314,0.18431373,0.18039216
GameObject 0.59375,0.25125,0.03125,0.03125,0,0.41568628,0.43529412,0.38039216
GameObject 0.625,0.25125,0.03125,0.03125,0,0.33333334,0.41568628,0.1882353
GameObject 0.65625,0.25125,0.03125,0.03125,0,0.28235295,0.3647059,0.101960786
GameObject 0.6875,0.25125,0.03125,0.03125,0,0.28627452,0.36862746,0.11764706
GameObject 0.71875,0.25125,0.03125,0.03125,0,0.2784314,0.36078432,0.10980392
GameObject 0.75,0.25125,0.03125,0.03125,0,0.2627451,0.34117648,0.101960786
GameObject 0.78125,0.25125,0.03125,0.03125,0,0.27058825,0.3647059,0.09411765
GameObject 0.8125,0.25125,0.03125,0.03125,0,0.26666668,0.34901962,0.07450981
GameObject 0.84375,0.25125,0.03125,0.03125,0,0.27450982,0.34901962,0.11764706
GameObject 0.875,0.25125,0.03125,0.03125,0,0.3254902,0.3882353,0.25490198
GameObject 0.90625,0.25125,0.03125,0.03125,0,0.3647059,0.42352942,0.33333334
GameObject 0.9375,0.25125,0.03125,0.03125,0,0.3647059,0.42352942,0.31764707
GameObject 0.96875,0.25125,0.03125,0.03125,0,0.34509805,0.42352942,0.27058825
GameObject -1.0,0.22,0.03125,0.03125,0,0.23137255,0.24705882,0.16078432
GameObject -0.96875,0.22,0.03125,0.03125,0,0.25882354,0.26666668,0.18431373
GameObject -0.9375,0.22,0.03125,0.03125,0,0.24313726,0.2509804,0.16862746
GameObject -0.90625,0.22,0.03125,0.03125,0,0.2627451,0.25490198,0.1764706
GameObject -0.875,0.22,0.03125,0.03125,0,0.24313726,0.23137255,0.15294118
GameObject -0.84375,0.22,0.03125,0.03125,0,0.17254902,0.14901961,0.08627451
GameObject -0.8125,0.22,0.03125,0.03125,0,0.13333334,0.09803922,0.043137256
GameObject -0.78125,0.22,0.03125,0.03125,0,0.10980392,0.078431375,0.02745098
GameObject -0.75,0.22,0.03125,0.03125,0,0.11764706,0.09019608,0.043137256
GameObject -0.71875,0.22,0.03125,0.03125,0,0.09411765,0.05882353,0.03137255
GameObject -0.6875,0.22,0.03125,0.03125,0,0.050980393,0.003921569,0.0
GameObject -0.65625,0.22,0.03125,0.03125,0,0.039215688,0.0,0.0
GameObject -0.625,0.22,0.03125,0.03125,0,0.101960786,0.05490196,0.050980393
GameObject -0.59375,0.22,0.03125,0.03125,0,0.26666668,0.22745098,0.23529412
GameObject -0.5625,0.22,0.03125,0.03125,0,0.3019608,0.27058825,0.28627452
GameObject -0.53125,0.22,0.03125,0.03125,0,0.23529412,0.21176471,0.24313726
GameObject -0.5,0.22,0.03125,0.03125,0,0.16470589,0.14117648,0.16470589
GameObject -0.46875,0.22,0.03125,0.03125,0,0.13725491,0.105882354,0.12941177
GameObject -0.4375,0.22,0.03125,0.03125,0,0.16470589,0.1254902,0.12941177
GameObject -0.40625,0.22,0.03125,0.03125,0,0.11372549,0.050980393,0.050980393
GameObject -0.375,0.22,0.03125,0.03125,0,0.17254902,0.078431375,0.06666667
GameObject -0.34375,0.22,0.03125,0.03125,0,0.6901961,0.5568628,0.53333336
GameObject -0.3125,0.22,0.03125,0.03125,0,0.89411765,0.7490196,0.7137255
GameObject -0.28125,0.22,0.03125,0.03125,0,0.8862745,0.7607843,0.7137255
GameObject -0.25,0.22,0.03125,0.03125,0,0.8862745,0.77254903,0.73333335
GameObject -0.21875,0.22,0.03125,0.03125,0,0.8980392,0.78431374,0.7607843
GameObject -0.1875,0.22,0.03125,0.03125,0,0.91764706,0.8117647,0.8039216
GameObject -0.15625,0.22,0.03125,0.03125,0,0.93333334,0.84313726,0.84313726
GameObject -0.125,0.22,0.03125,0.03125,0,0.9254902,0.8666667,0.8666667
GameObject -0.09375,0.22,0.03125,0.03125,0,0.92941177,0.8509804,0.85882354
GameObject -0.0625,0.22,0.03125,0.03125,0,0.92941177,0.8392157,0.84313726
GameObject -0.03125,0.22,0.03125,0.03125,0,0.92156863,0.81960785,0.827451
GameObject 0.0,0.22,0.03125,0.03125,0,0.9098039,0.8,0.7921569
GameObject 0.03125,0.22,0.03125,0.03125,0,0.89411765,0.76862746,0.7607843
GameObject 0.0625,0.22,0.03125,0.03125,0,0.8862745,0.7490196,0.74509805
GameObject 0.09375,0.22,0.03125,0.03125,0,0.88235295,0.7372549,0.73333335
GameObject 0.125,0.22,0.03125,0.03125,0,0.8509804,0.70980394,0.69411767
GameObject 0.15625,0.22,0.03125,0.03125,0,0.8392157,0.69803923,0.6784314
GameObject 0.1875,0.22,0.03125,0.03125,0,0.85882354,0.7137255,0.7019608
GameObject 0.21875,0.22,0.03125,0.03125,0,0.8509804,0.7058824,0.69803923
GameObject 0.25,0.22,0.03125,0.03125,0,0.827451,0.6901961,0.68235296
GameObject 0.28125,0.22,0.03125,0.03125,0,0.83137256,0.7058824,0.69411767
GameObject 0.3125,0.22,0.03125,0.03125,0,0.8352941,0.7176471,0.70980394
GameObject 0.34375,0.22,0.03125,0.03125,0,0.8627451,0.7529412,0.7490196
GameObject 0.375,0.22,0.03125,0.03125,0,0.87058824,0.78039217,0.7764706
GameObject 0.40625,0.22,0.03125,0.03125,0,0.87058824,0.7921569,0.7921569
GameObject 0.4375,0.22,0.03125,0.03125,0,0.8666667,0.79607844,0.8039216
GameObject 0.46875,0.22,0.03125,0.03125,0,0.84705883,0.7882353,0.7921569
GameObject 0.5,0.22,0.03125,0.03125,0,0.92156863,0.85882354,0.84705883
GameObject 0.53125,0.22,0.03125,0.03125,0,0.6627451,0.59607846,0.5921569
GameObject 0.5625,0.22,0.03125,0.03125,0,0.26666668,0.24705882,0.23529412
GameObject 0.59375,0.22,0.03125,0.03125,0,0.40392157,0.42745098,0.34901962
GameObject 0.625,0.22,0.03125,0.03125,0,0.3137255,0.3882353,0.16862746
GameObject 0.65625,0.22,0.03125,0.03125,0,0.3254902,0.40784314,0.14509805
GameObject 0.6875,0.22,0.03125,0.03125,0,0.3019608,0.38431373,0.10980392
GameObject 0.71875,0.22,0.03125,0.03125,0,0.26666668,0.34901962,0.07058824
GameObject 0.75,0.22,0.03125,0.03125,0,0.28235295,0.36862746,0.09411765
GameObject 0.78125,0.22,0.03125,0.03125,0,0.28235295,0.37254903,0.08235294
GameObject 0.8125,0.22,0.03125,0.03125,0,0.2784314,0.37254903,0.05490196
GameObject 0.84375,0.22,0.03125,0.03125,0,0.2627451,0.34117648,0.0627451
GameObject 0.875,0.22,0.03125,0.03125,0,0.25882354,0.32941177,0.14117648
GameObject 0.90625,0.22,0.03125,0.03125,0,0.29411766,0.3529412,0.23137255
GameObject 0.9375,0.22,0.03125,0.03125,0,0.3882353,0.44705883,0.34901962
GameObject 0.96875,0.22,0.03125,0.03125,0,0.4392157,0.50980395,0.38431373
GameObject -1.0,0.18875,0.03125,0.03125,0,0.3019608,0.3254902,0.25882354
GameObject -0.96875,0.18875,0.03125,0.03125,0,0.21568628,0.23137255,0.17254902
GameObject -0.9375,0.18875,0.03125,0.03125,0,0.21568628,0.23137255,0.15686275
GameObject -0.90625,0.18875,0.03125,0.03125,0,0.23921569,0.24705882,0.1764706
GameObject -0.875,0.18875,0.03125,0.03125,0,0.22745098,0.22352941,0.16078432
GameObject -0.84375,0.18875,0.03125,0.03125,0,0.22352941,0.20784314,0.15686275
GameObject -0.8125,0.18875,0.03125,0.03125,0,0.19215687,0.16862746,0.1254902
GameObject -0.78125,0.18875,0.03125,0.03125,0,0.16078432,0.13725491,0.09019608
GameObject -0.75,0.18875,0.03125,0.03125,0,0.11764706,0.09019608,0.050980393
GameObject -0.71875,0.18875,0.03125,0.03125,0,0.07450981,0.03529412,0.015686275
GameObject -0.6875,0.18875,0.03125,0.03125,0,0.06666667,0.023529412,0.011764706
GameObject -0.65625,0.18875,0.03125,0.03125,0,0.039215688,0.003921569,0.0
GameObject -0.625,0.18875,0.03125,0.03125,0,0.02745098,0.0,0.0
GameObject -0.59375,0.18875,0.03125,0.03125,0,0.29803923,0.25882354,0.27058825
GameObject -0.5625,0.18875,0.03125,0.03125,0,0.3882353,0.35686275,0.3764706
GameObject -0.53125,0.18875,0.03125,0.03125,0,0.24705882,0.23137255,0.2509804
GameObject -0.5,0.18875,0.03125,0.03125,0,0.2,0.1764706,0.20392157
GameObject -0.46875,0.18875,0.03125,0.03125,0,0.24313726,0.21568628,0.23137255
GameObject -0.4375,0.18875,0.03125,0.03125,0,0.20392157,0.16470589,0.16470589
GameObject -0.40625,0.18875,0.03125,0.03125,0,0.101960786,0.019607844,0.023529412
GameObject -0.375,0.18875,0.03125,0.03125,0,0.33333334,0.21960784,0.21960784
GameObject -0.34375,0.18875,0.03125,0.03125,0,0.83137256,0.69803923,0.6745098
GameObject -0.3125,0.18875,0.03125,0.03125,0,0.9019608,0.7490196,0.72156864
GameObject -0.28125,0.18875,0.03125,0.03125,0,0.89411765,0.76862746,0.73333335
GameObject -0.25,0.18875,0.03125,0.03125,0,0.90588236,0.7921569,0.75686276
GameObject -0.21875,0.18875,0.03125,0.03125,0,0.93333334,0.8235294,0.80784315
GameObject -0.1875,0.18875,0.03125,0.03125,0,0.9647059,0.87058824,0.8666667
GameObject -0.15625,0.18875,0.03125,0.03125,0,0.9647059,0.8862745,0.8862745
GameObject -0.125,0.18875,0.03125,0.03125,0,0.92156863,0.8666667,0.8627451
GameObject -0.09375,0.18875,0.03125,0.03125,0,0.9254902,0.84313726,0.8352941
GameObject -0.0625,0.18875,0.03125,0.03125,0,0.9098039,0.8156863,0.8117647
GameObject -0.03125,0.18875,0.03125,0.03125,0,0.8901961,0.76862746,0.76862746
GameObject 0.0,0.18875,0.03125,0.03125,0,0.87058824,0.72156864,0.7137255
GameObject 0.03125,0.18875,0.03125,0.03125,0,0.85882354,0.69803923,0.6901961
GameObject 0.0625,0.18875,0.03125,0.03125,0,0.85882354,0.69411767,0.68235296
GameObject 0.09375,0.18875,0.03125,0.03125,0,0.81960785,0.654902,0.63529414
GameObject 0.125,0.18875,0.03125,0.03125,0,0.8039216,0.64705884,0.62352943
GameObject 0.15625,0.18875,0.03125,0.03125,0,0.8039216,0.6509804,0.61960787
GameObject 0.1875,0.18875,0.03125,0.03125,0,0.8039216,0.6509804,0.6156863
GameObject 0.21875,0.18875,0.03125,0.03125,0,0.827451,0.67058825,0.64705884
GameObject 0.25,0.18875,0.03125,0.03125,0,0.8156863,0.654902,0.63529414
GameObject 0.28125,0.18875,0.03125,0.03125,0,0.79607844,0.63529414,0.62352943
GameObject 0.3125,0.18875,0.03125,0.03125,0,0.79607844,0.64705884,0.6392157
GameObject 0.34375,0.18875,0.03125,0.03125,0,0.8156863,0.6745098,0.6745098
GameObject 0.375,0.18875,0.03125,0.03125,0,0.84313726,0.7254902,0.7294118
GameObject 0.40625,0.18875,0.03125,0.03125,0,0.87058824,0.78039217,0.78039217
GameObject 0.4375,0.18875,0.03125,0.03125,0,0.88235295,0.80784315,0.80784315
GameObject 0.46875,0.18875,0.03125,0.03125,0,0.88235295,0.8352941,0.827451
GameObject 0.5,0.18875,0.03125,0.03125,0,0.95686275,0.8980392,0.89411765
GameObject 0.53125,0.18875,0.03125,0.03125,0,0.69803923,0.6431373,0.6509804
GameObject 0.5625,0.18875,0.03125,0.03125,0,0.27058825,0.2509804,0.22745098
GameObject 0.59375,0.18875,0.03125,0.03125,0,0.37254903,0.40784314,0.28235295
GameObject 0.625,0.18875,0.03125,0.03125,0,0.33333334,0.40784314,0.16078432
GameObject 0.65625,0.18875,0.03125,0.03125,0,0.31764707,0.4,0.12941177
GameObject 0.6875,0.18875,0.03125,0.03125,0,0.28235295,0.3647059,0.09019608
GameObject 0.71875,0.18875,0.03125,0.03125,0,0.29411766,0.37254903,0.09803922
GameObject 0.75,0.18875,0.03125,0.03125,0,0.34117648,0.42352942,0.14117648
GameObject 0.78125,0.18875,0.03125,0.03125,0,0.31764707,0.41568628,0.101960786
GameObject 0.8125,0.18875,0.03125,0.03125,0,0.30588236,0.40784314,0.07058824
GameObject 0.84375,0.18875,0.03125,0.03125,0,0.29803923,0.38431373,0.06666667
GameObject 0.875,0.18875,0.03125,0.03125,0,0.28235295,0.35686275,0.09803922
GameObject 0.90625,0.18875,0.03125,0.03125,0,0.27450982,0.34509805,0.14901961
GameObject 0.9375,0.18875,0.03125,0.03125,0,0.25490198,0.3254902,0.1764706
GameObject 0.96875,0.18875,0.03125,0.03125,0,0.27450982,0.34509805,0.19607843
GameObject -1.0,0.1575,0.03125,0.03125,0,0.3254902,0.32941177,0.29803923
GameObject -0.96875,0.1575,0.03125,0.03125,0,0.2,0.21176471,0.16078432
GameObject -0.9375,0.1575,0.03125,0.03125,0,0.16470589,0.1764706,0.11372549
GameObject -0.90625,0.1575,0.03125,0.03125,0,0.16862746,0.1764706,0.11764706
GameObject -0.875,0.1575,0.03125,0.03125,0,0.20784314,0.2,0.15294118
GameObject -0.84375,0.1575,0.03125,0.03125,0,0.23921569,0.22745098,0.2
GameObject -0.8125,0.1575,0.03125,0.03125,0,0.18039216,0.16078432,0.13725491
GameObject -0.78125,0.1575,0.03125,0.03125,0,0.12156863,0.09803922,0.078431375
GameObject -0.75,0.1575,0.03125,0.03125,0,0.101960786,0.07450981,0.050980393
GameObject -0.71875,0.1575,0.03125,0.03125,0,0.0627451,0.02745098,0.003921569
GameObject -0.6875,0.1575,0.03125,0.03125,0,0.07058824,0.03137255,0.02745098
GameObject -0.65625,0.1575,0.03125,0.03125,0,0.05882353,0.011764706,0.011764706
GameObject -0.625,0.1575,0.03125,0.03125,0,0.05490196,0.019607844,0.015686275
GameObject -0.59375,0.1575,0.03125,0.03125,0,0.29411766,0.25882354,0.26666668
GameObject -0.5625,0.1575,0.03125,0.03125,0,0.2901961,0.27058825,0.28627452
GameObject -0.53125,0.1575,0.03125,0.03125,0,0.2,0.18431373,0.20784314
GameObject -0.5,0.1575,0.03125,0.03125,0,0.21960784,0.19607843,0.21960784
GameObject -0.46875,0.1575,0.03125,0.03125,0,0.3019608,0.27058825,0.28627452
GameObject -0.4375,0.1575,0.03125,0.03125,0,0.20392157,0.15686275,0.16470589
GameObject -0.40625,0.1575,0.03125,0.03125,0,0.09019608,0.015686275,0.007843138
GameObject -0.375,0.1575,0.03125,0.03125,0,0.5568628,0.4509804,0.43529412
GameObject -0.34375,0.1575,0.03125,0.03125,0,0.9254902,0.78431374,0.77254903
GameObject -0.3125,0.1575,0.03125,0.03125,0,0.9137255,0.7764706,0.7529412
GameObject -0.28125,0.1575,0.03125,0.03125,0,0.9137255,0.79607844,0.76862746
GameObject -0.25,0.1575,0.03125,0.03125,0,0.92941177,0.81960785,0.8
GameObject -0.21875,0.1575,0.03125,0.03125,0,0.95686275,0.84705883,0.8392157
GameObject -0.1875,0.1575,0.03125,0.03125,0,0.9529412,0.84705883,0.84705883
GameObject -0.15625,0.1575,0.03125,0.03125,0,0.91764706,0.84313726,0.84313726
GameObject -0.125,0.1575,0.03125,0.03125,0,0.8666667,0.8,0.7921569
GameObject -0.09375,0.1575,0.03125,0.03125,0,0.8666667,0.77254903,0.7607843
GameObject -0.0625,0.1575,0.03125,0.03125,0,0.83137256,0.7058824,0.69411767
GameObject -0.03125,0.1575,0.03125,0.03125,0,0.8156863,0.6745098,0.6666667
GameObject 0.0,0.1575,0.03125,0.03125,0,0.81960785,0.6509804,0.6392157
GameObject 0.03125,0.1575,0.03125,0.03125,0,0.7921569,0.60784316,0.58431375
GameObject 0.0625,0.1575,0.03125,0.03125,0,0.7647059,0.5764706,0.54901963
GameObject 0.09375,0.1575,0.03125,0.03125,0,0.7372549,0.5411765,0.50980395
GameObject 0.125,0.1575,0.03125,0.03125,0,0.72156864,0.5411765,0.49411765
GameObject 0.15625,0.1575,0.03125,0.03125,0,0.7176471,0.53333336,0.4862745
GameObject 0.1875,0.1575,0.03125,0.03125,0,0.7176471,0.53333336,0.48235294
GameObject 0.21875,0.1575,0.03125,0.03125,0,0.7372549,0.5568628,0.5137255
GameObject 0.25,0.1575,0.03125,0.03125,0,0.7372549,0.54901963,0.5176471
GameObject 0.28125,0.1575,0.03125,0.03125,0,0.7058824,0.5254902,0.49411765
GameObject 0.3125,0.1575,0.03125,0.03125,0,0.69411767,0.5176471,0.49803922
GameObject 0.34375,0.1575,0.03125,0.03125,0,0.70980394,0.5568628,0.54509807
GameObject 0.375,0.1575,0.03125,0.03125,0,0.7529412,0.61960787,0.60784316
GameObject 0.40625,0.1575,0.03125,0.03125,0,0.78431374,0.6745098,0.6666667
GameObject 0.4375,0.1575,0.03125,0.03125,0,0.8352941,0.75686276,0.74509805
GameObject 0.46875,0.1575,0.03125,0.03125,0,0.8509804,0.7921569,0.7764706
GameObject 0.5,0.1575,0.03125,0.03125,0,0.96862745,0.9019608,0.9137255
GameObject 0.53125,0.1575,0.03125,0.03125,0,0.7490196,0.6901961,0.70980394
GameObject 0.5625,0.1575,0.03125,0.03125,0,0.27450982,0.2627451,0.21568628
GameObject 0.59375,0.1575,0.03125,0.03125,0,0.3764706,0.42745098,0.23921569
GameObject 0.625,0.1575,0.03125,0.03125,0,0.3372549,0.41568628,0.14117648
GameObject 0.65625,0.1575,0.03125,0.03125,0,0.3019608,0.3882353,0.11764706
GameObject 0.6875,0.1575,0.03125,0.03125,0,0.29803923,0.3764706,0.14117648
GameObject 0.71875,0.1575,0.03125,0.03125,0,0.38039216,0.44705883,0.22352941
GameObject 0.75,0.1575,0.03125,0.03125,0,0.44313726,0.52156866,0.2901961
GameObject 0.78125,0.1575,0.03125,0.03125,0,0.40784314,0.5019608,0.22745098
GameObject 0.8125,0.1575,0.03125,0.03125,0,0.32156864,0.41568628,0.09411765
GameObject 0.84375,0.1575,0.03125,0.03125,0,0.30588236,0.40392157,0.0627451
GameObject 0.875,0.1575,0.03125,0.03125,0,0.2901961,0.38039216,0.06666667
GameObject 0.90625,0.1575,0.03125,0.03125,0,0.28235295,0.3647059,0.09411765
GameObject 0.9375,0.1575,0.03125,0.03125,0,0.2509804,0.3254902,0.11372549
GameObject 0.96875,0.1575,0.03125,0.03125,0,0.22745098,0.29411766,0.101960786
GameObject -1.0,0.12625,0.03125,0.03125,0,0.24705882,0.22745098,0.20392157
GameObject -0.96875,0.12625,0.03125,0.03125,0,0.16862746,0.14509805,0.105882354
GameObject -0.9375,0.12625,0.03125,0.03125,0,0.13333334,0.12156863,0.07450981
GameObject -0.90625,0.12625,0.03125,0.03125,0,0.17254902,0.15686275,0.11372549
GameObject -0.875,0.12625,0.03125,0.03125,0,0.28627452,0.27058825,0.23921569
GameObject -0.84375,0.12625,0.03125,0.03125,0,0.34509805,0.32941177,0.30588236
GameObject -0.8125,0.12625,0.03125,0.03125,0,0.23921569,0.21176471,0.19607843
GameObject -0.78125,0.12625,0.03125,0.03125,0,0.14509805,0.10980392,0.09411765
GameObject -0.75,0.12625,0.03125,0.03125,0,0.11372549,0.07058824,0.047058824
GameObject -0.71875,0.12625,0.03125,0.03125,0,0.043137256,0.011764706,0.0
GameObject -0.6875,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.12625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.12625,0.03125,0.03125,0,0.011764706,0.011764706,0.011764706
GameObject -0.4375,0.12625,0.03125,0.03125,0,0.015686275,0.011764706,0.011764706
GameObject -0.40625,0.12625,0.03125,0.03125,0,0.02745098,0.015686275,0.011764706
GameObject -0.375,0.12625,0.03125,0.03125,0,0.16470589,0.13725491,0.13725491
GameObject -0.34375,0.12625,0.03125,0.03125,0,0.2784314,0.23921569,0.23529412
GameObject -0.3125,0.12625,0.03125,0.03125,0,0.32941177,0.28235295,0.27450982
GameObject -0.28125,0.12625,0.03125,0.03125,0,0.39215687,0.34509805,0.33333334
GameObject -0.25,0.12625,0.03125,0.03125,0,0.4627451,0.4117647,0.4
GameObject -0.21875,0.12625,0.03125,0.03125,0,0.5176471,0.45882353,0.45490196
GameObject -0.1875,0.12625,0.03125,0.03125,0,0.5372549,0.47058824,0.46666667
GameObject -0.15625,0.12625,0.03125,0.03125,0,0.5137255,0.44705883,0.44705883
GameObject -0.125,0.12625,0.03125,0.03125,0,0.4745098,0.40784314,0.39607844
GameObject -0.09375,0.12625,0.03125,0.03125,0,0.49803922,0.40784314,0.4
GameObject -0.0625,0.12625,0.03125,0.03125,0,0.5803922,0.4627451,0.4627451
GameObject -0.03125,0.12625,0.03125,0.03125,0,0.6392157,0.52156866,0.5058824
GameObject 0.0,0.12625,0.03125,0.03125,0,0.69411767,0.5411765,0.5294118
GameObject 0.03125,0.12625,0.03125,0.03125,0,0.69411767,0.5254902,0.5058824
GameObject 0.0625,0.12625,0.03125,0.03125,0,0.67058825,0.4862745,0.4627451
GameObject 0.09375,0.12625,0.03125,0.03125,0,0.6509804,0.47058824,0.43137255
GameObject 0.125,0.12625,0.03125,0.03125,0,0.64705884,0.4627451,0.41568628
GameObject 0.15625,0.12625,0.03125,0.03125,0,0.6509804,0.45882353,0.40784314
GameObject 0.1875,0.12625,0.03125,0.03125,0,0.63529414,0.44313726,0.3882353
GameObject 0.21875,0.12625,0.03125,0.03125,0,0.63529414,0.44705883,0.39607844
GameObject 0.25,0.12625,0.03125,0.03125,0,0.6392157,0.45490196,0.40392157
GameObject 0.28125,0.12625,0.03125,0.03125,0,0.6313726,0.4627451,0.41960785
GameObject 0.3125,0.12625,0.03125,0.03125,0,0.6313726,0.4745098,0.44313726
GameObject 0.34375,0.12625,0.03125,0.03125,0,0.6392157,0.5019608,0.48235294
GameObject 0.375,0.12625,0.03125,0.03125,0,0.6627451,0.5411765,0.52156866
GameObject 0.40625,0.12625,0.03125,0.03125,0,0.6431373,0.53333336,0.5294118
GameObject 0.4375,0.12625,0.03125,0.03125,0,0.6313726,0.54901963,0.5411765
GameObject 0.46875,0.12625,0.03125,0.03125,0,0.627451,0.54901963,0.54509807
GameObject 0.5,0.12625,0.03125,0.03125,0,0.84313726,0.77254903,0.78039217
GameObject 0.53125,0.12625,0.03125,0.03125,0,0.76862746,0.7137255,0.7294118
GameObject 0.5625,0.12625,0.03125,0.03125,0,0.3019608,0.29411766,0.23529412
GameObject 0.59375,0.12625,0.03125,0.03125,0,0.3529412,0.40784314,0.19607843
GameObject 0.625,0.12625,0.03125,0.03125,0,0.32941177,0.41960785,0.12941177
GameObject 0.65625,0.12625,0.03125,0.03125,0,0.30980393,0.39215687,0.12941177
GameObject 0.6875,0.12625,0.03125,0.03125,0,0.3254902,0.39215687,0.16862746
GameObject 0.71875,0.12625,0.03125,0.03125,0,0.4,0.46666667,0.27058825
GameObject 0.75,0.12625,0.03125,0.03125,0,0.4862745,0.5568628,0.3764706
GameObject 0.78125,0.12625,0.03125,0.03125,0,0.43137255,0.50980395,0.2901961
GameObject 0.8125,0.12625,0.03125,0.03125,0,0.32156864,0.40784314,0.1254902
GameObject 0.84375,0.12625,0.03125,0.03125,0,0.32941177,0.42352942,0.101960786
GameObject 0.875,0.12625,0.03125,0.03125,0,0.3372549,0.42352942,0.11372549
GameObject 0.90625,0.12625,0.03125,0.03125,0,0.3137255,0.39607844,0.11372549
GameObject 0.9375,0.12625,0.03125,0.03125,0,0.30588236,0.38039216,0.14901961
GameObject 0.96875,0.12625,0.03125,0.03125,0,0.3137255,0.3764706,0.18039216
GameObject -1.0,0.095,0.03125,0.03125,0,0.21568628,0.15686275,0.1254902
GameObject -0.96875,0.095,0.03125,0.03125,0,0.20392157,0.15686275,0.10980392
GameObject -0.9375,0.095,0.03125,0.03125,0,0.23137255,0.19215687,0.12941177
GameObject -0.90625,0.095,0.03125,0.03125,0,0.2509804,0.21960784,0.16470589
GameObject -0.875,0.095,0.03125,0.03125,0,0.25490198,0.22352941,0.18431373
GameObject -0.84375,0.095,0.03125,0.03125,0,0.2901961,0.25882354,0.22745098
GameObject -0.8125,0.095,0.03125,0.03125,0,0.26666668,0.22745098,0.2
GameObject -0.78125,0.095,0.03125,0.03125,0,0.23921569,0.18431373,0.15294118
GameObject -0.75,0.095,0.03125,0.03125,0,0.19607843,0.13725491,0.09411765
GameObject -0.71875,0.095,0.03125,0.03125,0,0.09803922,0.05490196,0.019607844
GameObject -0.6875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.65625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.59375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.53125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.5,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.46875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.4375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.40625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.095,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.095,0.03125,0.03125,0,0.015686275,0.007843138,0.007843138
GameObject 0.25,0.095,0.03125,0.03125,0,0.043137256,0.03137255,0.02745098
GameObject 0.28125,0.095,0.03125,0.03125,0,0.0627451,0.043137256,0.039215688
GameObject 0.3125,0.095,0.03125,0.03125,0,0.08627451,0.0627451,0.05882353
GameObject 0.34375,0.095,0.03125,0.03125,0,0.09019608,0.06666667,0.0627451
GameObject 0.375,0.095,0.03125,0.03125,0,0.09411765,0.06666667,0.06666667
GameObject 0.40625,0.095,0.03125,0.03125,0,0.1254902,0.09803922,0.09803922
GameObject 0.4375,0.095,0.03125,0.03125,0,0.15686275,0.12156863,0.1254902
GameObject 0.46875,0.095,0.03125,0.03125,0,0.16470589,0.11764706,0.13333334
GameObject 0.5,0.095,0.03125,0.03125,0,0.30588236,0.2627451,0.26666668
GameObject 0.53125,0.095,0.03125,0.03125,0,0.43529412,0.40392157,0.4117647
GameObject 0.5625,0.095,0.03125,0.03125,0,0.2627451,0.2627451,0.20784314
GameObject 0.59375,0.095,0.03125,0.03125,0,0.27450982,0.3137255,0.13725491
GameObject 0.625,0.095,0.03125,0.03125,0,0.2509804,0.3254902,0.0627451
GameObject 0.65625,0.095,0.03125,0.03125,0,0.25882354,0.3372549,0.06666667
GameObject 0.6875,0.095,0.03125,0.03125,0,0.31764707,0.39607844,0.1254902
GameObject 0.71875,0.095,0.03125,0.03125,0,0.39215687,0.45882353,0.22352941
GameObject 0.75,0.095,0.03125,0.03125,0,0.43137255,0.5058824,0.28627452
GameObject 0.78125,0.095,0.03125,0.03125,0,0.38039216,0.4627451,0.24705882
GameObject 0.8125,0.095,0.03125,0.03125,0,0.38039216,0.4627451,0.24705882
GameObject 0.84375,0.095,0.03125,0.03125,0,0.4,0.4745098,0.23529412
GameObject 0.875,0.095,0.03125,0.03125,0,0.39215687,0.47058824,0.20784314
GameObject 0.90625,0.095,0.03125,0.03125,0,0.37254903,0.45490196,0.16470589
GameObject 0.9375,0.095,0.03125,0.03125,0,0.3529412,0.41568628,0.14901961
GameObject 0.96875,0.095,0.03125,0.03125,0,0.34509805,0.41568628,0.18431373
GameObject -1.0,0.06375,0.03125,0.03125,0,0.28627452,0.23137255,0.18431373
GameObject -0.96875,0.06375,0.03125,0.03125,0,0.36078432,0.29803923,0.24705882
GameObject -0.9375,0.06375,0.03125,0.03125,0,0.4627451,0.40784314,0.3529412
GameObject -0.90625,0.06375,0.03125,0.03125,0,0.4509804,0.40784314,0.36078432
GameObject -0.875,0.06375,0.03125,0.03125,0,0.33333334,0.2901961,0.2509804
GameObject -0.84375,0.06375,0.03125,0.03125,0,0.28627452,0.24705882,0.20784314
GameObject -0.8125,0.06375,0.03125,0.03125,0,0.25882354,0.22352941,0.18039216
GameObject -0.78125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.06375,0.03125,0.03125,0,0.047058824,0.011764706,0.0
GameObject -0.65625,0.06375,0.03125,0.03125,0,0.2,0.16078432,0.13725491
GameObject -0.625,0.06375,0.03125,0.03125,0,0.84705883,0.8235294,0.79607844
GameObject -0.59375,0.06375,0.03125,0.03125,0,0.96862745,0.8980392,0.89411765
GameObject -0.5625,0.06375,0.03125,0.03125,0,0.32941177,0.23137255,0.22745098
GameObject -0.53125,0.06375,0.03125,0.03125,0,0.08627451,0.050980393,0.06666667
GameObject -0.5,0.06375,0.03125,0.03125,0,0.19607843,0.18431373,0.19607843
GameObject -0.46875,0.06375,0.03125,0.03125,0,0.18431373,0.1764706,0.17254902
GameObject -0.4375,0.06375,0.03125,0.03125,0,0.07450981,0.0627451,0.05490196
GameObject -0.40625,0.06375,0.03125,0.03125,0,0.039215688,0.03137255,0.03137255
GameObject -0.375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,0.06375,0.03125,0.03125,0,0.15294118,0.15294118,0.15294118
GameObject -0.28125,0.06375,0.03125,0.03125,0,0.09803922,0.09803922,0.09803922
GameObject -0.25,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.06375,0.03125,0.03125,0,0.078431375,0.078431375,0.078431375
GameObject -0.1875,0.06375,0.03125,0.03125,0,0.047058824,0.047058824,0.047058824
GameObject -0.15625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.1875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.21875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.06375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,0.06375,0.03125,0.03125,0,0.34509805,0.43529412,0.1764706
GameObject 0.75,0.06375,0.03125,0.03125,0,0.36862746,0.44705883,0.21176471
GameObject 0.78125,0.06375,0.03125,0.03125,0,0.35686275,0.43529412,0.23529412
GameObject 0.8125,0.06375,0.03125,0.03125,0,0.43529412,0.49803922,0.31764707
GameObject 0.84375,0.06375,0.03125,0.03125,0,0.44705883,0.52156866,0.3137255
GameObject 0.875,0.06375,0.03125,0.03125,0,0.4509804,0.5372549,0.29411766
GameObject 0.90625,0.06375,0.03125,0.03125,0,0.3882353,0.4745098,0.22352941
GameObject 0.9375,0.06375,0.03125,0.03125,0,0.30980393,0.39607844,0.105882354
GameObject 0.96875,0.06375,0.03125,0.03125,0,0.3137255,0.38431373,0.11764706
GameObject -1.0,0.0325,0.03125,0.03125,0,0.40784314,0.36862746,0.31764707
GameObject -0.96875,0.0325,0.03125,0.03125,0,0.57254905,0.49411765,0.4627451
GameObject -0.9375,0.0325,0.03125,0.03125,0,0.5372549,0.48235294,0.45490196
GameObject -0.90625,0.0325,0.03125,0.03125,0,0.38431373,0.32156864,0.29411766
GameObject -0.875,0.0325,0.03125,0.03125,0,0.23137255,0.16470589,0.13725491
GameObject -0.84375,0.0325,0.03125,0.03125,0,0.14509805,0.09803922,0.07058824
GameObject -0.8125,0.0325,0.03125,0.03125,0,0.12941177,0.101960786,0.06666667
GameObject -0.78125,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.75,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.71875,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.6875,0.0325,0.03125,0.03125,0,0.07058824,0.03137255,0.015686275
GameObject -0.65625,0.0325,0.03125,0.03125,0,0.43529412,0.3254902,0.2901961
GameObject -0.625,0.0325,0.03125,0.03125,0,0.7921569,0.49803922,0.3882353
GameObject -0.59375,0.0325,0.03125,0.03125,0,0.7647059,0.42352942,0.35686275
GameObject -0.5625,0.0325,0.03125,0.03125,0,0.5882353,0.3647059,0.34117648
GameObject -0.53125,0.0325,0.03125,0.03125,0,0.40784314,0.2901961,0.29803923
GameObject -0.5,0.0325,0.03125,0.03125,0,0.25882354,0.21568628,0.23921569
GameObject -0.46875,0.0325,0.03125,0.03125,0,0.20392157,0.2,0.20784314
GameObject -0.4375,0.0325,0.03125,0.03125,0,0.16470589,0.13725491,0.15686275
GameObject -0.40625,0.0325,0.03125,0.03125,0,0.09411765,0.08235294,0.08235294
GameObject -0.375,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.34375,0.0325,0.03125,0.03125,0,0.003921569,0.003921569,0.003921569
GameObject -0.3125,0.0325,0.03125,0.03125,0,0.37254903,0.37254903,0.37254903
GameObject -0.28125,0.0325,0.03125,0.03125,0,0.28235295,0.28235295,0.28235295
GameObject -0.25,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,0.0325,0.03125,0.03125,0,0.3764706,0.3764706,0.3764706
GameObject -0.1875,0.0325,0.03125,0.03125,0,0.3137255,0.3137255,0.3137255
GameObject -0.15625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.0325,0.03125,0.03125,0,0.35686275,0.25490198,0.21176471
GameObject 0.1875,0.0325,0.03125,0.03125,0,0.37254903,0.27058825,0.23137255
GameObject 0.21875,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.0325,0.03125,0.03125,0,0.05882353,0.05882353,0.05882353
GameObject 0.3125,0.0325,0.03125,0.03125,0,0.25882354,0.25882354,0.25882354
GameObject 0.34375,0.0325,0.03125,0.03125,0,0.0627451,0.0627451,0.0627451
GameObject 0.375,0.0325,0.03125,0.03125,0,0.02745098,0.02745098,0.02745098
GameObject 0.40625,0.0325,0.03125,0.03125,0,0.16470589,0.16470589,0.16470589
GameObject 0.4375,0.0325,0.03125,0.03125,0,0.043137256,0.043137256,0.043137256
GameObject 0.46875,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.0325,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.0325,0.03125,0.03125,0,0.023529412,0.03137255,0.011764706
GameObject 0.71875,0.0325,0.03125,0.03125,0,0.34901962,0.44313726,0.21176471
GameObject 0.75,0.0325,0.03125,0.03125,0,0.35686275,0.43137255,0.1764706
GameObject 0.78125,0.0325,0.03125,0.03125,0,0.36862746,0.4509804,0.22745098
GameObject 0.8125,0.0325,0.03125,0.03125,0,0.42745098,0.4862745,0.30980393
GameObject 0.84375,0.0325,0.03125,0.03125,0,0.46666667,0.5254902,0.3372549
GameObject 0.875,0.0325,0.03125,0.03125,0,0.5137255,0.6,0.39215687
GameObject 0.90625,0.0325,0.03125,0.03125,0,0.41568628,0.5058824,0.29411766
GameObject 0.9375,0.0325,0.03125,0.03125,0,0.27058825,0.3764706,0.043137256
GameObject 0.96875,0.0325,0.03125,0.03125,0,0.3254902,0.41960785,0.08235294
GameObject -1.0,0.0012500007,0.03125,0.03125,0,0.5058824,0.4627451,0.43529412
GameObject -0.96875,0.0012500007,0.03125,0.03125,0,0.45490196,0.38431373,0.35686275
GameObject -0.9375,0.0012500007,0.03125,0.03125,0,0.32156864,0.27058825,0.24313726
GameObject -0.90625,0.0012500007,0.03125,0.03125,0,0.3137255,0.25882354,0.23921569
GameObject -0.875,0.0012500007,0.03125,0.03125,0,0.26666668,0.20392157,0.18431373
GameObject -0.84375,0.0012500007,0.03125,0.03125,0,0.16862746,0.13333334,0.105882354
GameObject -0.8125,0.0012500007,0.03125,0.03125,0,0.13333334,0.101960786,0.07450981
GameObject -0.78125,0.0012500007,0.03125,0.03125,0,0.09019608,0.03529412,0.023529412
GameObject -0.75,0.0012500007,0.03125,0.03125,0,0.047058824,0.0,0.0
GameObject -0.71875,0.0012500007,0.03125,0.03125,0,0.023529412,0.0,0.0
GameObject -0.6875,0.0012500007,0.03125,0.03125,0,0.02745098,0.0,0.003921569
GameObject -0.65625,0.0012500007,0.03125,0.03125,0,0.50980395,0.29411766,0.2627451
GameObject -0.625,0.0012500007,0.03125,0.03125,0,0.8627451,0.40392157,0.29803923
GameObject -0.59375,0.0012500007,0.03125,0.03125,0,0.7372549,0.3019608,0.20392157
GameObject -0.5625,0.0012500007,0.03125,0.03125,0,0.65882355,0.36862746,0.33333334
GameObject -0.53125,0.0012500007,0.03125,0.03125,0,0.54901963,0.36078432,0.36862746
GameObject -0.5,0.0012500007,0.03125,0.03125,0,0.3137255,0.23529412,0.25882354
GameObject -0.46875,0.0012500007,0.03125,0.03125,0,0.20784314,0.19215687,0.21568628
GameObject -0.4375,0.0012500007,0.03125,0.03125,0,0.2,0.13725491,0.19215687
GameObject -0.40625,0.0012500007,0.03125,0.03125,0,0.36862746,0.31764707,0.3137255
GameObject -0.375,0.0012500007,0.03125,0.03125,0,0.20784314,0.18431373,0.1764706
GameObject -0.34375,0.0012500007,0.03125,0.03125,0,0.003921569,0.003921569,0.003921569
GameObject -0.3125,0.0012500007,0.03125,0.03125,0,0.2901961,0.2901961,0.2901961
GameObject -0.28125,0.0012500007,0.03125,0.03125,0,0.25490198,0.25490198,0.25490198
GameObject -0.25,0.0012500007,0.03125,0.03125,0,0.039215688,0.039215688,0.039215688
GameObject -0.21875,0.0012500007,0.03125,0.03125,0,0.34117648,0.34117648,0.34117648
GameObject -0.1875,0.0012500007,0.03125,0.03125,0,0.2901961,0.2901961,0.2901961
GameObject -0.15625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,0.0012500007,0.03125,0.03125,0,0.42745098,0.29803923,0.28627452
GameObject 0.1875,0.0012500007,0.03125,0.03125,0,0.46666667,0.33333334,0.3372549
GameObject 0.21875,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.25,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.28125,0.0012500007,0.03125,0.03125,0,0.09019608,0.09019608,0.09019608
GameObject 0.3125,0.0012500007,0.03125,0.03125,0,0.43529412,0.43529412,0.43529412
GameObject 0.34375,0.0012500007,0.03125,0.03125,0,0.11764706,0.11764706,0.11764706
GameObject 0.375,0.0012500007,0.03125,0.03125,0,0.0627451,0.0627451,0.0627451
GameObject 0.40625,0.0012500007,0.03125,0.03125,0,0.44313726,0.44313726,0.44313726
GameObject 0.4375,0.0012500007,0.03125,0.03125,0,0.14509805,0.14509805,0.14509805
GameObject 0.46875,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,0.0012500007,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,0.0012500007,0.03125,0.03125,0,0.03137255,0.03529412,0.023529412
GameObject 0.71875,0.0012500007,0.03125,0.03125,0,0.3764706,0.4745098,0.2509804
GameObject 0.75,0.0012500007,0.03125,0.03125,0,0.3529412,0.43137255,0.16862746
GameObject 0.78125,0.0012500007,0.03125,0.03125,0,0.34117648,0.43137255,0.1764706
GameObject 0.8125,0.0012500007,0.03125,0.03125,0,0.3882353,0.45882353,0.23921569
GameObject 0.84375,0.0012500007,0.03125,0.03125,0,0.47058824,0.53333336,0.35686275
GameObject 0.875,0.0012500007,0.03125,0.03125,0,0.56078434,0.6313726,0.49019608
GameObject 0.90625,0.0012500007,0.03125,0.03125,0,0.45882353,0.5411765,0.34117648
GameObject 0.9375,0.0012500007,0.03125,0.03125,0,0.3019608,0.40392157,0.039215688
GameObject 0.96875,0.0012500007,0.03125,0.03125,0,0.3254902,0.43137255,0.039215688
GameObject -1.0,-0.03,0.03125,0.03125,0,0.39607844,0.3529412,0.29411766
GameObject -0.96875,-0.03,0.03125,0.03125,0,0.32941177,0.26666668,0.22352941
GameObject -0.9375,-0.03,0.03125,0.03125,0,0.24705882,0.19215687,0.15294118
GameObject -0.90625,-0.03,0.03125,0.03125,0,0.27450982,0.22352941,0.19215687
GameObject -0.875,-0.03,0.03125,0.03125,0,0.25490198,0.20784314,0.17254902
GameObject -0.84375,-0.03,0.03125,0.03125,0,0.19607843,0.16078432,0.12156863
GameObject -0.8125,-0.03,0.03125,0.03125,0,0.18039216,0.14901961,0.10980392
GameObject -0.78125,-0.03,0.03125,0.03125,0,0.16862746,0.11764706,0.08235294
GameObject -0.75,-0.03,0.03125,0.03125,0,0.105882354,0.05882353,0.023529412
GameObject -0.71875,-0.03,0.03125,0.03125,0,0.05882353,0.03529412,0.0
GameObject -0.6875,-0.03,0.03125,0.03125,0,0.011764706,0.0,0.0
GameObject -0.65625,-0.03,0.03125,0.03125,0,0.46666667,0.26666668,0.23137255
GameObject -0.625,-0.03,0.03125,0.03125,0,0.827451,0.37254903,0.28235295
GameObject -0.59375,-0.03,0.03125,0.03125,0,0.7882353,0.4,0.30980393
GameObject -0.5625,-0.03,0.03125,0.03125,0,0.7294118,0.4745098,0.42352942
GameObject -0.53125,-0.03,0.03125,0.03125,0,0.64705884,0.43137255,0.40784314
GameObject -0.5,-0.03,0.03125,0.03125,0,0.49411765,0.3764706,0.3529412
GameObject -0.46875,-0.03,0.03125,0.03125,0,0.23529412,0.21960784,0.19607843
GameObject -0.4375,-0.03,0.03125,0.03125,0,0.25882354,0.22352941,0.23921569
GameObject -0.40625,-0.03,0.03125,0.03125,0,0.7764706,0.6862745,0.6745098
GameObject -0.375,-0.03,0.03125,0.03125,0,0.60784316,0.54509807,0.5254902
GameObject -0.34375,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.3125,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.28125,-0.03,0.03125,0.03125,0,0.14509805,0.14509805,0.14509805
GameObject -0.25,-0.03,0.03125,0.03125,0,0.47058824,0.47058824,0.47058824
GameObject -0.21875,-0.03,0.03125,0.03125,0,0.02745098,0.02745098,0.02745098
GameObject -0.1875,-0.03,0.03125,0.03125,0,0.105882354,0.105882354,0.105882354
GameObject -0.15625,-0.03,0.03125,0.03125,0,0.48235294,0.48235294,0.48235294
GameObject -0.125,-0.03,0.03125,0.03125,0,0.09411765,0.09411765,0.09411765
GameObject -0.09375,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,-0.03,0.03125,0.03125,0,0.5411765,0.40784314,0.39607844
GameObject 0.1875,-0.03,0.03125,0.03125,0,0.7019608,0.54509807,0.5411765
GameObject 0.21875,-0.03,0.03125,0.03125,0,0.38039216,0.29411766,0.28235295
GameObject 0.25,-0.03,0.03125,0.03125,0,0.050980393,0.02745098,0.023529412
GameObject 0.28125,-0.03,0.03125,0.03125,0,0.050980393,0.050980393,0.050980393
GameObject 0.3125,-0.03,0.03125,0.03125,0,0.27058825,0.27058825,0.27058825
GameObject 0.34375,-0.03,0.03125,0.03125,0,0.17254902,0.17254902,0.17254902
GameObject 0.375,-0.03,0.03125,0.03125,0,0.13333334,0.13333334,0.13333334
GameObject 0.40625,-0.03,0.03125,0.03125,0,0.3529412,0.3529412,0.3529412
GameObject 0.4375,-0.03,0.03125,0.03125,0,0.15686275,0.15686275,0.15686275
GameObject 0.46875,-0.03,0.03125,0.03125,0,0.023529412,0.023529412,0.023529412
GameObject 0.5,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.6875,-0.03,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.71875,-0.03,0.03125,0.03125,0,0.40392157,0.50980395,0.27058825
GameObject 0.75,-0.03,0.03125,0.03125,0,0.38039216,0.45882353,0.19215687
GameObject 0.78125,-0.03,0.03125,0.03125,0,0.3137255,0.40392157,0.15686275
GameObject 0.8125,-0.03,0.03125,0.03125,0,0.3529412,0.43137255,0.18431373
GameObject 0.84375,-0.03,0.03125,0.03125,0,0.4627451,0.5294118,0.32941177
GameObject 0.875,-0.03,0.03125,0.03125,0,0.5372549,0.6,0.44313726
GameObject 0.90625,-0.03,0.03125,0.03125,0,0.4392157,0.5176471,0.3019608
GameObject 0.9375,-0.03,0.03125,0.03125,0,0.32156864,0.42352942,0.07058824
GameObject 0.96875,-0.03,0.03125,0.03125,0,0.32156864,0.42745098,0.047058824
GameObject -1.0,-0.06125,0.03125,0.03125,0,0.2784314,0.23137255,0.16078432
GameObject -0.96875,-0.06125,0.03125,0.03125,0,0.34117648,0.2784314,0.21176471
GameObject -0.9375,-0.06125,0.03125,0.03125,0,0.26666668,0.22352941,0.15686275
GameObject -0.90625,-0.06125,0.03125,0.03125,0,0.20784314,0.16078432,0.09803922
GameObject -0.875,-0.06125,0.03125,0.03125,0,0.20392157,0.16470589,0.101960786
GameObject -0.84375,-0.06125,0.03125,0.03125,0,0.19215687,0.16470589,0.105882354
GameObject -0.8125,-0.06125,0.03125,0.03125,0,0.1764706,0.15294118,0.09411765
GameObject -0.78125,-0.06125,0.03125,0.03125,0,0.2,0.15686275,0.105882354
GameObject -0.75,-0.06125,0.03125,0.03125,0,0.20392157,0.14901961,0.09803922
GameObject -0.71875,-0.06125,0.03125,0.03125,0,0.16078432,0.10980392,0.050980393
GameObject -0.6875,-0.06125,0.03125,0.03125,0,0.015686275,0.0,0.0
GameObject -0.65625,-0.06125,0.03125,0.03125,0,0.34901962,0.20784314,0.18431373
GameObject -0.625,-0.06125,0.03125,0.03125,0,0.70980394,0.3529412,0.30588236
GameObject -0.59375,-0.06125,0.03125,0.03125,0,0.81960785,0.5019608,0.4509804
GameObject -0.5625,-0.06125,0.03125,0.03125,0,0.85882354,0.60784316,0.56078434
GameObject -0.53125,-0.06125,0.03125,0.03125,0,0.7137255,0.44313726,0.39607844
GameObject -0.5,-0.06125,0.03125,0.03125,0,0.6784314,0.4627451,0.40392157
GameObject -0.46875,-0.06125,0.03125,0.03125,0,0.36862746,0.26666668,0.2
GameObject -0.4375,-0.06125,0.03125,0.03125,0,0.20392157,0.16078432,0.12156863
GameObject -0.40625,-0.06125,0.03125,0.03125,0,0.7647059,0.7058824,0.6901961
GameObject -0.375,-0.06125,0.03125,0.03125,0,0.63529414,0.5921569,0.5803922
GameObject -0.34375,-0.06125,0.03125,0.03125,0,0.07450981,0.06666667,0.06666667
GameObject -0.3125,-0.06125,0.03125,0.03125,0,0.003921569,0.003921569,0.003921569
GameObject -0.28125,-0.06125,0.03125,0.03125,0,0.15686275,0.15686275,0.15686275
GameObject -0.25,-0.06125,0.03125,0.03125,0,0.45490196,0.45490196,0.45490196
GameObject -0.21875,-0.06125,0.03125,0.03125,0,0.03529412,0.03529412,0.03529412
GameObject -0.1875,-0.06125,0.03125,0.03125,0,0.10980392,0.10980392,0.10980392
GameObject -0.15625,-0.06125,0.03125,0.03125,0,0.48235294,0.48235294,0.48235294
GameObject -0.125,-0.06125,0.03125,0.03125,0,0.05882353,0.05882353,0.05882353
GameObject -0.09375,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.125,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.15625,-0.06125,0.03125,0.03125,0,0.6431373,0.5294118,0.5254902
GameObject 0.1875,-0.06125,0.03125,0.03125,0,0.85882354,0.7254902,0.7058824
GameObject 0.21875,-0.06125,0.03125,0.03125,0,0.7529412,0.64705884,0.6
GameObject 0.25,-0.06125,0.03125,0.03125,0,0.12156863,0.08235294,0.07450981
GameObject 0.28125,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.3125,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,-0.06125,0.03125,0.03125,0,0.30588236,0.30588236,0.30588236
GameObject 0.375,-0.06125,0.03125,0.03125,0,0.3647059,0.3647059,0.3647059
GameObject 0.40625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,-0.06125,0.03125,0.03125,0,0.29411766,0.29411766,0.29411766
GameObject 0.46875,-0.06125,0.03125,0.03125,0,0.39607844,0.39607844,0.39607844
GameObject 0.5,-0.06125,0.03125,0.03125,0,0.003921569,0.003921569,0.003921569
GameObject 0.53125,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,-0.06125,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,-0.06125,0.03125,0.03125,0,0.07058824,0.08627451,0.043137256
GameObject 0.6875,-0.06125,0.03125,0.03125,0,0.5058824,0.6156863,0.3529412
GameObject 0.71875,-0.06125,0.03125,0.03125,0,0.40392157,0.52156866,0.24313726
GameObject 0.75,-0.06125,0.03125,0.03125,0,0.4117647,0.49803922,0.22745098
GameObject 0.78125,-0.06125,0.03125,0.03125,0,0.3254902,0.40784314,0.2
GameObject 0.8125,-0.06125,0.03125,0.03125,0,0.34509805,0.42745098,0.17254902
GameObject 0.84375,-0.06125,0.03125,0.03125,0,0.39607844,0.47843137,0.21176471
GameObject 0.875,-0.06125,0.03125,0.03125,0,0.41960785,0.5019608,0.2509804
GameObject 0.90625,-0.06125,0.03125,0.03125,0,0.3529412,0.44313726,0.15686275
GameObject 0.9375,-0.06125,0.03125,0.03125,0,0.3137255,0.41568628,0.0627451
GameObject 0.96875,-0.06125,0.03125,0.03125,0,0.3137255,0.40392157,0.05490196
GameObject -1.0,-0.0925,0.03125,0.03125,0,0.29411766,0.23921569,0.17254902
GameObject -0.96875,-0.0925,0.03125,0.03125,0,0.32941177,0.2784314,0.21568628
GameObject -0.9375,-0.0925,0.03125,0.03125,0,0.2901961,0.23529412,0.18431373
GameObject -0.90625,-0.0925,0.03125,0.03125,0,0.27058825,0.23137255,0.16862746
GameObject -0.875,-0.0925,0.03125,0.03125,0,0.34901962,0.31764707,0.26666668
GameObject -0.84375,-0.0925,0.03125,0.03125,0,0.35686275,0.32941177,0.2784314
GameObject -0.8125,-0.0925,0.03125,0.03125,0,0.24313726,0.21960784,0.17254902
GameObject -0.78125,-0.0925,0.03125,0.03125,0,0.14117648,0.105882354,0.05882353
GameObject -0.75,-0.0925,0.03125,0.03125,0,0.12156863,0.07450981,0.02745098
GameObject -0.71875,-0.0925,0.03125,0.03125,0,0.14509805,0.08235294,0.03529412
GameObject -0.6875,-0.0925,0.03125,0.03125,0,0.015686275,0.0,0.0
GameObject -0.65625,-0.0925,0.03125,0.03125,0,0.21568628,0.12156863,0.11764706
GameObject -0.625,-0.0925,0.03125,0.03125,0,0.7058824,0.4117647,0.38039216
GameObject -0.59375,-0.0925,0.03125,0.03125,0,0.8509804,0.5411765,0.49411765
GameObject -0.5625,-0.0925,0.03125,0.03125,0,0.77254903,0.45882353,0.4
GameObject -0.53125,-0.0925,0.03125,0.03125,0,0.6666667,0.32156864,0.27450982
GameObject -0.5,-0.0925,0.03125,0.03125,0,0.6117647,0.3254902,0.2784314
GameObject -0.46875,-0.0925,0.03125,0.03125,0,0.6117647,0.4392157,0.3764706
GameObject -0.4375,-0.0925,0.03125,0.03125,0,0.61960787,0.54901963,0.49803922
GameObject -0.40625,-0.0925,0.03125,0.03125,0,0.8666667,0.79607844,0.77254903
GameObject -0.375,-0.0925,0.03125,0.03125,0,0.96862745,0.8901961,0.87058824
GameObject -0.34375,-0.0925,0.03125,0.03125,0,0.9607843,0.8745098,0.8627451
GameObject -0.3125,-0.0925,0.03125,0.03125,0,0.17254902,0.15294118,0.14901961
GameObject -0.28125,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,-0.0925,0.03125,0.03125,0,0.38431373,0.38431373,0.38431373
GameObject -0.1875,-0.0925,0.03125,0.03125,0,0.3019608,0.3019608,0.3019608
GameObject -0.15625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,-0.0925,0.03125,0.03125,0,0.35686275,0.35686275,0.35686275
GameObject -0.09375,-0.0925,0.03125,0.03125,0,0.29803923,0.29803923,0.29803923
GameObject -0.0625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,-0.0925,0.03125,0.03125,0,0.09803922,0.07058824,0.06666667
GameObject 0.125,-0.0925,0.03125,0.03125,0,0.4627451,0.38431373,0.3764706
GameObject 0.15625,-0.0925,0.03125,0.03125,0,0.77254903,0.67058825,0.67058825
GameObject 0.1875,-0.0925,0.03125,0.03125,0,0.83137256,0.73333335,0.7176471
GameObject 0.21875,-0.0925,0.03125,0.03125,0,0.8352941,0.7372549,0.69803923
GameObject 0.25,-0.0925,0.03125,0.03125,0,0.30588236,0.23529412,0.22745098
GameObject 0.28125,-0.0925,0.03125,0.03125,0,0.07058824,0.039215688,0.039215688
GameObject 0.3125,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,-0.0925,0.03125,0.03125,0,0.26666668,0.26666668,0.26666668
GameObject 0.375,-0.0925,0.03125,0.03125,0,0.33333334,0.33333334,0.33333334
GameObject 0.40625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,-0.0925,0.03125,0.03125,0,0.29411766,0.29411766,0.29411766
GameObject 0.46875,-0.0925,0.03125,0.03125,0,0.38431373,0.38431373,0.38431373
GameObject 0.5,-0.0925,0.03125,0.03125,0,0.003921569,0.003921569,0.003921569
GameObject 0.53125,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,-0.0925,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.65625,-0.0925,0.03125,0.03125,0,0.03529412,0.039215688,0.023529412
GameObject 0.6875,-0.0925,0.03125,0.03125,0,0.5058824,0.6,0.34117648
GameObject 0.71875,-0.0925,0.03125,0.03125,0,0.4117647,0.52156866,0.2
GameObject 0.75,-0.0925,0.03125,0.03125,0,0.44313726,0.53333336,0.23137255
GameObject 0.78125,-0.0925,0.03125,0.03125,0,0.38039216,0.4627451,0.23921569
GameObject 0.8125,-0.0925,0.03125,0.03125,0,0.34901962,0.43529412,0.18039216
GameObject 0.84375,-0.0925,0.03125,0.03125,0,0.33333334,0.41960785,0.11372549
GameObject 0.875,-0.0925,0.03125,0.03125,0,0.31764707,0.4117647,0.09019608
GameObject 0.90625,-0.0925,0.03125,0.03125,0,0.26666668,0.3647059,0.02745098
GameObject 0.9375,-0.0925,0.03125,0.03125,0,0.27058825,0.3764706,0.0
GameObject 0.96875,-0.0925,0.03125,0.03125,0,0.28235295,0.38431373,0.02745098
GameObject -1.0,-0.12375,0.03125,0.03125,0,0.27450982,0.21176471,0.14901961
GameObject -0.96875,-0.12375,0.03125,0.03125,0,0.28627452,0.23529412,0.18039216
GameObject -0.9375,-0.12375,0.03125,0.03125,0,0.32156864,0.26666668,0.21960784
GameObject -0.90625,-0.12375,0.03125,0.03125,0,0.43529412,0.40392157,0.34901962
GameObject -0.875,-0.12375,0.03125,0.03125,0,0.5647059,0.5529412,0.49803922
GameObject -0.84375,-0.12375,0.03125,0.03125,0,0.6117647,0.6,0.54901963
GameObject -0.8125,-0.12375,0.03125,0.03125,0,0.4862745,0.47058824,0.41960785
GameObject -0.78125,-0.12375,0.03125,0.03125,0,0.24705882,0.22352941,0.18039216
GameObject -0.75,-0.12375,0.03125,0.03125,0,0.105882354,0.05882353,0.03137255
GameObject -0.71875,-0.12375,0.03125,0.03125,0,0.09803922,0.043137256,0.007843138
GameObject -0.6875,-0.12375,0.03125,0.03125,0,0.047058824,0.007843138,0.0
GameObject -0.65625,-0.12375,0.03125,0.03125,0,0.09803922,0.007843138,0.007843138
GameObject -0.625,-0.12375,0.03125,0.03125,0,0.56078434,0.3529412,0.3137255
GameObject -0.59375,-0.12375,0.03125,0.03125,0,0.8784314,0.59607846,0.5294118
GameObject -0.5625,-0.12375,0.03125,0.03125,0,0.7647059,0.41568628,0.3372549
GameObject -0.53125,-0.12375,0.03125,0.03125,0,0.67058825,0.30980393,0.24705882
GameObject -0.5,-0.12375,0.03125,0.03125,0,0.73333335,0.4509804,0.42352942
GameObject -0.46875,-0.12375,0.03125,0.03125,0,0.9372549,0.76862746,0.7411765
GameObject -0.4375,-0.12375,0.03125,0.03125,0,0.8980392,0.8235294,0.78431374
GameObject -0.40625,-0.12375,0.03125,0.03125,0,0.92156863,0.83137256,0.8
GameObject -0.375,-0.12375,0.03125,0.03125,0,0.90588236,0.78431374,0.7607843
GameObject -0.34375,-0.12375,0.03125,0.03125,0,0.87058824,0.75686276,0.7294118
GameObject -0.3125,-0.12375,0.03125,0.03125,0,0.09803922,0.08627451,0.08627451
GameObject -0.28125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.25,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,-0.12375,0.03125,0.03125,0,0.39215687,0.39215687,0.39215687
GameObject -0.1875,-0.12375,0.03125,0.03125,0,0.31764707,0.31764707,0.31764707
GameObject -0.15625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,-0.12375,0.03125,0.03125,0,0.3764706,0.3764706,0.3764706
GameObject -0.09375,-0.12375,0.03125,0.03125,0,0.32156864,0.32156864,0.32156864
GameObject -0.0625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.09375,-0.12375,0.03125,0.03125,0,0.22352941,0.18431373,0.18039216
GameObject 0.125,-0.12375,0.03125,0.03125,0,0.92156863,0.8,0.7882353
GameObject 0.15625,-0.12375,0.03125,0.03125,0,0.8862745,0.79607844,0.79607844
GameObject 0.1875,-0.12375,0.03125,0.03125,0,0.85882354,0.77254903,0.7607843
GameObject 0.21875,-0.12375,0.03125,0.03125,0,0.8862745,0.7607843,0.7529412
GameObject 0.25,-0.12375,0.03125,0.03125,0,0.827451,0.68235296,0.6862745
GameObject 0.28125,-0.12375,0.03125,0.03125,0,0.5647059,0.43529412,0.44705883
GameObject 0.3125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,-0.12375,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,-0.12375,0.03125,0.03125,0,0.22745098,0.2509804,0.14117648
GameObject 0.65625,-0.12375,0.03125,0.03125,0,0.5019608,0.5568628,0.36862746
GameObject 0.6875,-0.12375,0.03125,0.03125,0,0.54901963,0.6392157,0.3764706
GameObject 0.71875,-0.12375,0.03125,0.03125,0,0.43529412,0.54509807,0.2
GameObject 0.75,-0.12375,0.03125,0.03125,0,0.47843137,0.5647059,0.23529412
GameObject 0.78125,-0.12375,0.03125,0.03125,0,0.47843137,0.5764706,0.31764707
GameObject 0.8125,-0.12375,0.03125,0.03125,0,0.39607844,0.49019608,0.22745098
GameObject 0.84375,-0.12375,0.03125,0.03125,0,0.3372549,0.42352942,0.1254902
GameObject 0.875,-0.12375,0.03125,0.03125,0,0.31764707,0.40784314,0.09411765
GameObject 0.90625,-0.12375,0.03125,0.03125,0,0.2901961,0.38039216,0.06666667
GameObject 0.9375,-0.12375,0.03125,0.03125,0,0.25490198,0.3529412,0.0
GameObject 0.96875,-0.12375,0.03125,0.03125,0,0.28627452,0.38039216,0.03529412
GameObject -1.0,-0.155,0.03125,0.03125,0,0.24313726,0.1764706,0.11764706
GameObject -0.96875,-0.155,0.03125,0.03125,0,0.27058825,0.22352941,0.15294118
GameObject -0.9375,-0.155,0.03125,0.03125,0,0.34117648,0.29411766,0.22745098
GameObject -0.90625,-0.155,0.03125,0.03125,0,0.45882353,0.43137255,0.36862746
GameObject -0.875,-0.155,0.03125,0.03125,0,0.5294118,0.5411765,0.47058824
GameObject -0.84375,-0.155,0.03125,0.03125,0,0.6039216,0.6156863,0.54901963
GameObject -0.8125,-0.155,0.03125,0.03125,0,0.54901963,0.5529412,0.4862745
GameObject -0.78125,-0.155,0.03125,0.03125,0,0.34901962,0.34509805,0.2901961
GameObject -0.75,-0.155,0.03125,0.03125,0,0.2627451,0.24313726,0.19607843
GameObject -0.71875,-0.155,0.03125,0.03125,0,0.20392157,0.16078432,0.101960786
GameObject -0.6875,-0.155,0.03125,0.03125,0,0.12156863,0.047058824,0.0
GameObject -0.65625,-0.155,0.03125,0.03125,0,0.09411765,0.0,0.0
GameObject -0.625,-0.155,0.03125,0.03125,0,0.44313726,0.30588236,0.26666668
GameObject -0.59375,-0.155,0.03125,0.03125,0,0.9490196,0.7294118,0.67058825
GameObject -0.5625,-0.155,0.03125,0.03125,0,0.7607843,0.44313726,0.38431373
GameObject -0.53125,-0.155,0.03125,0.03125,0,0.6862745,0.36862746,0.31764707
GameObject -0.5,-0.155,0.03125,0.03125,0,0.90588236,0.6862745,0.65882355
GameObject -0.46875,-0.155,0.03125,0.03125,0,0.94509804,0.81960785,0.8117647
GameObject -0.4375,-0.155,0.03125,0.03125,0,0.84705883,0.78039217,0.77254903
GameObject -0.40625,-0.155,0.03125,0.03125,0,0.8862745,0.78431374,0.75686276
GameObject -0.375,-0.155,0.03125,0.03125,0,0.89411765,0.77254903,0.73333335
GameObject -0.34375,-0.155,0.03125,0.03125,0,0.8862745,0.7647059,0.7372549
GameObject -0.3125,-0.155,0.03125,0.03125,0,0.8980392,0.7921569,0.7607843
GameObject -0.28125,-0.155,0.03125,0.03125,0,0.6156863,0.5529412,0.54509807
GameObject -0.25,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,-0.155,0.03125,0.03125,0,0.039215688,0.039215688,0.039215688
GameObject -0.09375,-0.155,0.03125,0.03125,0,0.050980393,0.050980393,0.050980393
GameObject -0.0625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,-0.155,0.03125,0.03125,0,0.3137255,0.2627451,0.2509804
GameObject 0.09375,-0.155,0.03125,0.03125,0,0.50980395,0.44705883,0.43137255
GameObject 0.125,-0.155,0.03125,0.03125,0,0.92941177,0.8235294,0.8156863
GameObject 0.15625,-0.155,0.03125,0.03125,0,0.9411765,0.85490197,0.85490197
GameObject 0.1875,-0.155,0.03125,0.03125,0,0.9490196,0.84313726,0.8509804
GameObject 0.21875,-0.155,0.03125,0.03125,0,0.93333334,0.8,0.8235294
GameObject 0.25,-0.155,0.03125,0.03125,0,0.84313726,0.72156864,0.7294118
GameObject 0.28125,-0.155,0.03125,0.03125,0,0.60784316,0.5176471,0.5137255
GameObject 0.3125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.34375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.40625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.4375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.46875,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.53125,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.5625,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.59375,-0.155,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.625,-0.155,0.03125,0.03125,0,0.25882354,0.2784314,0.18431373
GameObject 0.65625,-0.155,0.03125,0.03125,0,0.5411765,0.58431375,0.40392157
GameObject 0.6875,-0.155,0.03125,0.03125,0,0.58431375,0.6627451,0.41568628
GameObject 0.71875,-0.155,0.03125,0.03125,0,0.49019608,0.58431375,0.2509804
GameObject 0.75,-0.155,0.03125,0.03125,0,0.5058824,0.5803922,0.27450982
GameObject 0.78125,-0.155,0.03125,0.03125,0,0.5254902,0.6156863,0.3529412
GameObject 0.8125,-0.155,0.03125,0.03125,0,0.44313726,0.5411765,0.27450982
GameObject 0.84375,-0.155,0.03125,0.03125,0,0.36078432,0.44313726,0.18039216
GameObject 0.875,-0.155,0.03125,0.03125,0,0.33333334,0.40784314,0.1764706
GameObject 0.90625,-0.155,0.03125,0.03125,0,0.34117648,0.40784314,0.19607843
GameObject 0.9375,-0.155,0.03125,0.03125,0,0.31764707,0.39215687,0.13333334
GameObject 0.96875,-0.155,0.03125,0.03125,0,0.3137255,0.4,0.12156863
GameObject -1.0,-0.18625,0.03125,0.03125,0,0.23921569,0.17254902,0.101960786
GameObject -0.96875,-0.18625,0.03125,0.03125,0,0.2784314,0.23921569,0.16862746
GameObject -0.9375,-0.18625,0.03125,0.03125,0,0.38431373,0.3372549,0.27058825
GameObject -0.90625,-0.18625,0.03125,0.03125,0,0.42745098,0.4117647,0.34901962
GameObject -0.875,-0.18625,0.03125,0.03125,0,0.4117647,0.43137255,0.3647059
GameObject -0.84375,-0.18625,0.03125,0.03125,0,0.5529412,0.57254905,0.5058824
GameObject -0.8125,-0.18625,0.03125,0.03125,0,0.5529412,0.56078434,0.49803922
GameObject -0.78125,-0.18625,0.03125,0.03125,0,0.4392157,0.45490196,0.3882353
GameObject -0.75,-0.18625,0.03125,0.03125,0,0.54901963,0.5411765,0.48235294
GameObject -0.71875,-0.18625,0.03125,0.03125,0,0.40392157,0.3529412,0.2901961
GameObject -0.6875,-0.18625,0.03125,0.03125,0,0.14901961,0.043137256,0.0
GameObject -0.65625,-0.18625,0.03125,0.03125,0,0.07058824,0.0,0.0
GameObject -0.625,-0.18625,0.03125,0.03125,0,0.34901962,0.2509804,0.23529412
GameObject -0.59375,-0.18625,0.03125,0.03125,0,0.8745098,0.70980394,0.69411767
GameObject -0.5625,-0.18625,0.03125,0.03125,0,0.9372549,0.7058824,0.69411767
GameObject -0.53125,-0.18625,0.03125,0.03125,0,0.7921569,0.5764706,0.54901963
GameObject -0.5,-0.18625,0.03125,0.03125,0,0.8235294,0.6627451,0.6313726
GameObject -0.46875,-0.18625,0.03125,0.03125,0,0.91764706,0.8039216,0.78431374
GameObject -0.4375,-0.18625,0.03125,0.03125,0,0.85490197,0.76862746,0.7529412
GameObject -0.40625,-0.18625,0.03125,0.03125,0,0.85882354,0.7529412,0.7294118
GameObject -0.375,-0.18625,0.03125,0.03125,0,0.92156863,0.80784315,0.7764706
GameObject -0.34375,-0.18625,0.03125,0.03125,0,0.92156863,0.81960785,0.78431374
GameObject -0.3125,-0.18625,0.03125,0.03125,0,0.89411765,0.8039216,0.76862746
GameObject -0.28125,-0.18625,0.03125,0.03125,0,0.57254905,0.5254902,0.5176471
GameObject -0.25,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.21875,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.1875,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.15625,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.09375,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.0625,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject -0.03125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.03125,-0.18625,0.03125,0.03125,0,0.0,0.0,0.0
GameObject 0.0625,-0.18625,0.03125,0.03125,0,0.69411767,0.59607846,0.5921569
GameObject 0.09375,-0.18625,0.03125,0.03125,0,0.9490196,0.8509804,0.85882354
GameObject 0.125,-0.18625,0.03125,0.03125,0,0.9647059,0.8666667,0.8901961
GameObject 0.15625,-0.18625,0.03125,0.03125,0,0.9411765,0.8352941,0.85882354
GameObject 0.1875,-0.18625,0.03125,0.03125,0,0.92156863,0.80784315,0.8352941
GameObject 0.21875,-0.18625,0.03125,0.03125,0,0.9098039,0.8156863,0.84705883
GameObject 0.25,-0.18625,0.03125,0.03125,0,0.90588236,0.827451,0.8509804
GameObject 0.28125,-0.18625,0.03125,0.03125,0,0.827451,0.7372549,0.7294118
GameObject 0.3125,-0.18625,0.03125,0.03125,0,0.7176471,0.58431375,0.5568628
GameObject 0.34375,-0.18625,0.03125,0.03125,0,0.7647059,0.60784316,0.58431375
GameObject 0.375,-0.18625,0.03125,0.03125,0,0.83137256,0.6862745,0.68235296
GameObject 0.40625,-0.18625,0.03125,0.03125,0,0.83137256,0.72156864,0.7607843
GameObject 0.4375,-0.18625,0.03125,0.03125,0,0.8509804,0.7647059,0.8156863
GameObject 0.46875,-0.18625,0.03125,0.03125,0,0.88235295,0.78039217,0.83137256
GameObject 0.5,-0.18625,0.03125,0.03125,0,0.8666667,0.78431374,0.8
GameObject 0.53125,-0.18625,0.03125,0.03125,0,0.8117647,0.7529412,0.73333335
GameObject 0.5625,-0.18625,0.03125,0.03125,0,0.69411767,0.6509804,0.61960787
GameObject 0.59375,-0.18625,0.03125,0.03125,0,0.5803922,0.57254905,0.5294118
GameObject 0.625,-0.18625,0.03125,0.03125,0,0.5176471,0.5294118,0.3882353
GameObject 0.65625,-0.18625,0.03125,0.03125,0,0.5254902,0.54901963,0.38039216
GameObject 0.6875,-0.18625,0.03125,0.03125,0,0.5686275,0.6156863,0.4
GameObject 0.71875,-0.18625,0.03125,0.03125,0,0.5411765,0.6156863,0.32941177
GameObject 0.75,-0.18625,0.03125,0.03125,0,0.56078434,0.61960787,0.36862746
GameObject 0.78125,-0.18625,0.03125,0.03125,0,0.5686275,0.65882355,0.41960785
GameObject 0.8125,-0.18625,0.03125,0.03125,0,0.49411765,0.59607846,0.32156864
GameObject 0.84375,-0.18625,0.03125,0.03125,0,0.4,0.49019608,0.23137255
GameObject 0.875,-0.18625,0.03125,0.03125,0,0.36862746,0.4392157,0.24313726
GameObject 0.90625,-0.18625,0.03125,0.03125,0,0.40392157,0.45882353,0.2901961
GameObject 0.9375,-0.18625,0.03125,0.03125,0,0.41960785,0.4862745,0.29803923
GameObject 0.96875,-0.18625,0.03125,0.03125,0,0.33333334,0.40784314,0.21176471
GameObject -1.0,-0.2175,0.03125,0.03125,0,0.25882354,0.19607843,0.15294118
GameObject -0.96875,-0.2175,0.03125,0.03125,0,0.3764706,0.32941177,0.2901961
GameObject -0.9375,-0.2175,0.03125,0.03125,0,0.5254902,0.4745098,0.4392157
GameObject -0.90625,-0.2175,0.03125,0.03125,0,0.4862745,0.47058824,0.43529412
GameObject -0.875,-0.2175,0.03125,0.03125,0,0.37254903,0.4,0.34509805
GameObject -0.84375,-0.2175,0.03125,0.03125,0,0.5176471,0.54509807,0.5019608
GameObject -0.8125,-0.2175,0.03125,0.03125,0,0.5529412,0.56078434,0.5254902
GameObject -0.78125,-0.2175,0.03125,0.03125,0,0.45490196,0.47058824,0.43529412
GameObject -0.75,-0.2175,0.03125,0.03125,0,0.6039216,0.5921569,0.5764706
GameObject -0.71875,-0.2175,0.03125,0.03125,0,0.44705883,0.4117647,0.4
GameObject -0.6875,-0.2175,0.03125,0.03125,0,0.16078432,0.09803922,0.0627451
GameObject -0.65625,-0.2175,0.03125,0.03125,0,0.08627451,0.019607844,0.0
GameObject -0.625,-0.2175,0.03125,0.03125,0,0.2,0.12156863,0.09411765
GameObject -0.59375,-0.2175,0.03125,0.03125,0,0.7294118,0.5882353,0.5764706
GameObject -0.5625,-0.2175,0.03125,0.03125,0,0.98039216,0.8392157,0.84705883
GameObject -0.53125,-0.2175,0.03125,0.03125,0,0.9843137,0.8666667,0.8627451
GameObject -0.5,-0.2175,0.03125,0.03125,0,0.8745098,0.7647059,0.7411765
GameObject -0.46875,-0.2175,0.03125,0.03125,0,0.87058824,0.7647059,0.7294118
GameObject -0.4375,-0.2175,0.03125,0.03125,0,0.8509804,0.75686276,0.70980394
GameObject -0.40625,-0.2175,0.03125,0.03125,0,0.85882354,0.7647059,0.72156864
GameObject -0.375,-0.2175,0.03125,0.03125,0,0.91764706,0.8156863,0.7764706
GameObject -0.34375,-0.2175,0.03125,0.03125,0,0.90588236,0.8,0.75686276
GameObject -0.3125,-0.2175,0.03125,0.03125,0,0.93333334,0.83137256,0.79607844
GameObject -0.28125,-0.2175,0.03125,0.03125,0,0.9411765,0.8509804,0.8235294
GameObject -0.25,-0.2175,0.03125,0.03125,0,0.8862745,0.8039216,0.7921569
GameObject -0.21875,-0.2175,0.03125,0.03125,0,0.81960785,0.7294118,0.7294118
GameObject -0.1875,-0.2175,0.03125,0.03125,0,0.7607843,0.654902,0.65882355
GameObject -0.15625,-0.2175,0.03125,0.03125,0,0.6627451,0.53333336,0.5294118
GameObject -0.125,-0.2175,0.03125,0.03125,0,0.5647059,0.43137255,0.42352942
GameObject -0.09375,-0.2175,0.03125,0.03125,0,0.4627451,0.34117648,0.32941177
GameObject -0.0625,-0.2175,0.03125,0.03125,0,0.34509805,0.23137255,0.21176471
GameObject -0.03125,-0.2175,0.03125,0.03125,0,0.25490198,0.14509805,0.1254902
GameObject 0.0,-0.2175,0.03125,0.03125,0,0.2,0.11764706,0.105882354
GameObject 0.03125,-0.2175,0.03125,0.03125,0,0.3019608,0.2509804,0.24705882
GameObject 0.0625,-0.2175,0.03125,0.03125,0,0.7647059,0.6901961,0.7019608
GameObject 0.09375,-0.2175,0.03125,0.03125,0,0.9098039,0.83137256,0.85882354
GameObject 0.125,-0.2175,0.03125,0.03125,0,0.92156863,0.827451,0.8509804
GameObject 0.15625,-0.2175,0.03125,0.03125,0,0.8901961,0.7647059,0.76862746
GameObject 0.1875,-0.2175,0.03125,0.03125,0,0.85490197,0.7176471,0.7137255
GameObject 0.21875,-0.2175,0.03125,0.03125,0,0.8627451,0.7529412,0.7529412
GameObject 0.25,-0.2175,0.03125,0.03125,0,0.8901961,0.8,0.8156863
GameObject 0.28125,-0.2175,0.03125,0.03125,0,0.8862745,0.7764706,0.78039217
GameObject 0.3125,-0.2175,0.03125,0.03125,0,0.6627451,0.49803922,0.4862745
GameObject 0.34375,-0.2175,0.03125,0.03125,0,0.5882353,0.38039216,0.35686275
GameObject 0.375,-0.2175,0.03125,0.03125,0,0.70980394,0.5176471,0.49019608
GameObject 0.40625,-0.2175,0.03125,0.03125,0,0.76862746,0.6392157,0.627451
GameObject 0.4375,-0.2175,0.03125,0.03125,0,0.80784315,0.7058824,0.7058824
GameObject 0.46875,-0.2175,0.03125,0.03125,0,0.8745098,0.7529412,0.75686276
GameObject 0.5,-0.2175,0.03125,0.03125,0,0.9019608,0.80784315,0.80784315
GameObject 0.53125,-0.2175,0.03125,0.03125,0,0.8862745,0.827451,0.8117647
GameObject 0.5625,-0.2175,0.03125,0.03125,0,0.7921569,0.74509805,0.7176471
GameObject 0.59375,-0.2175,0.03125,0.03125,0,0.7137255,0.7019608,0.6509804
GameObject 0.625,-0.2175,0.03125,0.03125,0,0.67058825,0.6784314,0.53333336
GameObject 0.65625,-0.2175,0.03125,0.03125,0,0.6392157,0.64705884,0.5019608
GameObject 0.6875,-0.2175,0.03125,0.03125,0,0.60784316,0.63529414,0.45882353
GameObject 0.71875,-0.2175,0.03125,0.03125,0,0.5921569,0.64705884,0.40784314
GameObject 0.75,-0.2175,0.03125,0.03125,0,0.6156863,0.65882355,0.4509804
GameObject 0.78125,-0.2175,0.03125,0.03125,0,0.6156863,0.69411767,0.47058824
GameObject 0.8125,-0.2175,0.03125,0.03125,0,0.5294118,0.6313726,0.3529412
GameObject 0.84375,-0.2175,0.03125,0.03125,0,0.43529412,0.53333336,0.24705882
GameObject 0.875,-0.2175,0.03125,0.03125,0,0.40392157,0.47843137,0.24705882
GameObject 0.90625,-0.2175,0.03125,0.03125,0,0.39607844,0.45882353,0.21960784
GameObject 0.9375,-0.2175,0.03125,0.03125,0,0.40392157,0.47843137,0.25490198
GameObject 0.96875,-0.2175,0.03125,0.03125,0,0.34117648,0.41568628,0.21960784
GameObject -1.0,-0.24875,0.03125,0.03125,0,0.34509805,0.2784314,0.24705882
GameObject -0.96875,-0.24875,0.03125,0.03125,0,0.46666667,0.42352942,0.39607844
GameObject -0.9375,-0.24875,0.03125,0.03125,0,0.63529414,0.6,0.5882353
GameObject -0.90625,-0.24875,0.03125,0.03125,0,0.61960787,0.6117647,0.59607846
GameObject -0.875,-0.24875,0.03125,0.03125,0,0.49019608,0.50980395,0.49803922
GameObject -0.84375,-0.24875,0.03125,0.03125,0,0.54901963,0.56078434,0.54509807
GameObject -0.8125,-0.24875,0.03125,0.03125,0,0.6117647,0.6156863,0.59607846
GameObject -0.78125,-0.24875,0.03125,0.03125,0,0.47058824,0.47843137,0.44705883
GameObject -0.75,-0.24875,0.03125,0.03125,0,0.35686275,0.36078432,0.3137255
GameObject -0.71875,-0.24875,0.03125,0.03125,0,0.23921569,0.21960784,0.19215687
GameObject -0.6875,-0.24875,0.03125,0.03125,0,0.14901961,0.101960786,0.07450981
GameObject -0.65625,-0.24875,0.03125,0.03125,0,0.14509805,0.078431375,0.02745098
GameObject -0.625,-0.24875,0.03125,0.03125,0,0.039215688,0.0,0.0
GameObject -0.59375,-0.24875,0.03125,0.03125,0,0.54509807,0.43529412,0.41960785
GameObject -0.5625,-0.24875,0.03125,0.03125,0,1.0,0.9372549,0.92156863
GameObject -0.53125,-0.24875,0.03125,0.03125,0,1.0,0.92941177,0.90588236
GameObject -0.5,-0.24875,0.03125,0.03125,0,0.92941177,0.83137256,0.79607844
GameObject -0.46875,-0.24875,0.03125,0.03125,0,0.88235295,0.78039217,0.7411765
GameObject -0.4375,-0.24875,0.03125,0.03125,0,0.8392157,0.7529412,0.7176471
GameObject -0.40625,-0.24875,0.03125,0.03125,0,0.85490197,0.7764706,0.7372549
GameObject -0.375,-0.24875,0.03125,0.03125,0,0.88235295,0.79607844,0.75686276
GameObject -0.34375,-0.24875,0.03125,0.03125,0,0.9254902,0.8235294,0.78431374
GameObject -0.3125,-0.24875,0.03125,0.03125,0,0.9647059,0.8509804,0.8117647
GameObject -0.28125,-0.24875,0.03125,0.03125,0,0.90588236,0.78039217,0.75686276
GameObject -0.25,-0.24875,0.03125,0.03125,0,0.8745098,0.7490196,0.7254902
GameObject -0.21875,-0.24875,0.03125,0.03125,0,0.8509804,0.69803923,0.68235296
GameObject -0.1875,-0.24875,0.03125,0.03125,0,0.84705883,0.64705884,0.6392157
GameObject -0.15625,-0.24875,0.03125,0.03125,0,0.8,0.5764706,0.5647059
GameObject -0.125,-0.24875,0.03125,0.03125,0,0.7058824,0.49411765,0.45490196
GameObject -0.09375,-0.24875,0.03125,0.03125,0,0.62352943,0.41960785,0.38039216
GameObject -0.0625,-0.24875,0.03125,0.03125,0,0.53333336,0.3254902,0.29411766
GameObject -0.03125,-0.24875,0.03125,0.03125,0,0.43529412,0.23921569,0.20392157
GameObject 0.0,-0.24875,0.03125,0.03125,0,0.59607846,0.42352942,0.40784314
GameObject 0.03125,-0.24875,0.03125,0.03125,0,1.0,0.8980392,0.8980392
GameObject 0.0625,-0.24875,0.03125,0.03125,0,0.92941177,0.8156863,0.81960785
GameObject 0.09375,-0.24875,0.03125,0.03125,0,0.9098039,0.7882353,0.8
GameObject 0.125,-0.24875,0.03125,0.03125,0,0.92941177,0.7921569,0.7921569
GameObject 0.15625,-0.24875,0.03125,0.03125,0,0.92156863,0.7490196,0.7294118
GameObject 0.1875,-0.24875,0.03125,0.03125,0,0.84705883,0.67058825,0.654902
GameObject 0.21875,-0.24875,0.03125,0.03125,0,0.8117647,0.6666667,0.67058825
GameObject 0.25,-0.24875,0.03125,0.03125,0,0.84705883,0.7411765,0.74509805
GameObject 0.28125,-0.24875,0.03125,0.03125,0,0.92156863,0.8117647,0.8117647
GameObject 0.3125,-0.24875,0.03125,0.03125,0,0.79607844,0.6392157,0.6313726
GameObject 0.34375,-0.24875,0.03125,0.03125,0,0.53333336,0.33333334,0.30980393
GameObject 0.375,-0.24875,0.03125,0.03125,0,0.5411765,0.34117648,0.3019608
GameObject 0.40625,-0.24875,0.03125,0.03125,0,0.6509804,0.4862745,0.44313726
GameObject 0.4375,-0.24875,0.03125,0.03125,0,0.70980394,0.5647059,0.5137255
GameObject 0.46875,-0.24875,0.03125,0.03125,0,0.79607844,0.6392157,0.5921569
GameObject 0.5,-0.24875,0.03125,0.03125,0,0.8627451,0.7372549,0.70980394
GameObject 0.53125,-0.24875,0.03125,0.03125,0,0.8980392,0.8235294,0.79607844
GameObject 0.5625,-0.24875,0.03125,0.03125,0,0.7882353,0.75686276,0.7294118
GameObject 0.59375,-0.24875,0.03125,0.03125,0,0.70980394,0.7137255,0.67058825
GameObject 0.625,-0.24875,0.03125,0.03125,0,0.6901961,0.6901961,0.60784316
GameObject 0.65625,-0.24875,0.03125,0.03125,0,0.69803923,0.69803923,0.6
GameObject 0.6875,-0.24875,0.03125,0.03125,0,0.6627451,0.67058825,0.5372549
GameObject 0.71875,-0.24875,0.03125,0.03125,0,0.627451,0.6509804,0.4745098
GameObject 0.75,-0.24875,0.03125,0.03125,0,0.654902,0.68235296,0.5058824
GameObject 0.78125,-0.24875,0.03125,0.03125,0,0.6392157,0.7058824,0.5137255
GameObject 0.8125,-0.24875,0.03125,0.03125,0,0.5686275,0.6509804,0.41960785
GameObject 0.84375,-0.24875,0.03125,0.03125,0,0.47058824,0.5568628,0.30588236
GameObject 0.875,-0.24875,0.03125,0.03125,0,0.4627451,0.54509807,0.3019608
GameObject 0.90625,-0.24875,0.03125,0.03125,0,0.40392157,0.4862745,0.21568628
GameObject 0.9375,-0.24875,0.03125,0.03125,0,0.34901962,0.42745098,0.18039216
GameObject 0.96875,-0.24875,0.03125,0.03125,0,0.30588236,0.38039216,0.18431373
GameObject -1.0,-0.28,0.03125,0.03125,0,0.39215687,0.3372549,0.3019608
GameObject -0.96875,-0.28,0.03125,0.03125,0,0.43137255,0.4,0.38039216
GameObject -0.9375,-0.28,0.03125,0.03125,0,0.5764706,0.56078434,0.54509807
GameObject -0.90625,-0.28,0.03125,0.03125,0,0.654902,0.6666667,0.6627451
GameObject -0.875,-0.28,0.03125,0.03125,0,0.5921569,0.6039216,0.60784316
GameObject -0.84375,-0.28,0.03125,0.03125,0,0.57254905,0.5882353,0.5882353
GameObject -0.8125,-0.28,0.03125,0.03125,0,0.6156863,0.61960787,0.6
GameObject -0.78125,-0.28,0.03125,0.03125,0,0.49803922,0.5058824,0.45882353
GameObject -0.75,-0.28,0.03125,0.03125,0,0.37254903,0.38039216,0.3137255
GameObject -0.71875,-0.28,0.03125,0.03125,0,0.22352941,0.20392157,0.15294118
GameObject -0.6875,-0.28,0.03125,0.03125,0,0.09803922,0.039215688,0.007843138
GameObject -0.65625,-0.28,0.03125,0.03125,0,0.1254902,0.05490196,0.011764706
GameObject -0.625,-0.28,0.03125,0.03125,0,0.047058824,0.0,0.0
GameObject -0.59375,-0.28,0.03125,0.03125,0,0.16078432,0.101960786,0.08627451
GameObject -0.5625,-0.28,0.03125,0.03125,0,0.7882353,0.78039217,0.76862746
GameObject -0.53125,-0.28,0.03125,0.03125,0,1.0,0.94509804,0.9137255
GameObject -0.5,-0.28,0.03125,0.03125,0,0.9372549,0.8,0.7490196
GameObject -0.46875,-0.28,0.03125,0.03125,0,0.92156863,0.80784315,0.7764706
GameObject -0.4375,-0.28,0.03125,0.03125,0,0.827451,0.7529412,0.7372549
GameObject -0.40625,-0.28,0.03125,0.03125,0,0.84313726,0.76862746,0.7411765
GameObject -0.375,-0.28,0.03125,0.03125,0,0.8862745,0.8039216,0.77254903
GameObject -0.34375,-0.28,0.03125,0.03125,0,0.9372549,0.83137256,0.79607844
GameObject -0.3125,-0.28,0.03125,0.03125,0,0.94509804,0.80784315,0.7764706
GameObject -0.28125,-0.28,0.03125,0.03125,0,0.87058824,0.7176471,0.6901961
GameObject -0.25,-0.28,0.03125,0.03125,0,0.827451,0.67058825,0.63529414
GameObject -0.21875,-0.28,0.03125,0.03125,0,0.79607844,0.6039216,0.58431375
GameObject -0.1875,-0.28,0.03125,0.03125,0,0.76862746,0.5254902,0.5058824
GameObject -0.15625,-0.28,0.03125,0.03125,0,0.6862745,0.44705883,0.42352942
GameObject -0.125,-0.28,0.03125,0.03125,0,0.60784316,0.39607844,0.3529412
GameObject -0.09375,-0.28,0.03125,0.03125,0,0.5529412,0.34901962,0.30588236
GameObject -0.0625,-0.28,0.03125,0.03125,0,0.49019608,0.2901961,0.25882354
GameObject -0.03125,-0.28,0.03125,0.03125,0,0.43137255,0.23529412,0.21176471
GameObject 0.0,-0.28,0.03125,0.03125,0,0.5921569,0.39607844,0.38039216
GameObject 0.03125,-0.28,0.03125,0.03125,0,0.92156863,0.7294118,0.7294118
GameObject 0.0625,-0.28,0.03125,0.03125,0,0.8392157,0.6509804,0.64705884
GameObject 0.09375,-0.28,0.03125,0.03125,0,0.7529412,0.56078434,0.54901963
GameObject 0.125,-0.28,0.03125,0.03125,0,0.7372549,0.5411765,0.5254902
GameObject 0.15625,-0.28,0.03125,0.03125,0,0.8039216,0.6117647,0.58431375
GameObject 0.1875,-0.28,0.03125,0.03125,0,0.72156864,0.5176471,0.5058824
GameObject 0.21875,-0.28,0.03125,0.03125,0,0.69411767,0.5019608,0.49411765
GameObject 0.25,-0.28,0.03125,0.03125,0,0.7529412,0.6156863,0.59607846
GameObject 0.28125,-0.28,0.03125,0.03125,0,0.8156863,0.69411767,0.6627451
GameObject 0.3125,-0.28,0.03125,0.03125,0,0.8,0.6392157,0.60784316
GameObject 0.34375,-0.28,0.03125,0.03125,0,0.5529412,0.36078432,0.33333334
GameObject 0.375,-0.28,0.03125,0.03125,0,0.5019608,0.29803923,0.26666668
GameObject 0.40625,-0.28,0.03125,0.03125,0,0.5882353,0.38431373,0.34901962
GameObject 0.4375,-0.28,0.03125,0.03125,0,0.6509804,0.44705883,0.40784314
GameObject 0.46875,-0.28,0.03125,0.03125,0,0.70980394,0.5254902,0.48235294
GameObject 0.5,-0.28,0.03125,0.03125,0,0.79607844,0.64705884,0.6117647
GameObject 0.53125,-0.28,0.03125,0.03125,0,0.85490197,0.7647059,0.73333335
GameObject 0.5625,-0.28,0.03125,0.03125,0,0.7529412,0.7490196,0.7137255
GameObject 0.59375,-0.28,0.03125,0.03125,0,0.7058824,0.7372549,0.7019608
GameObject 0.625,-0.28,0.03125,0.03125,0,0.69411767,0.7019608,0.67058825
GameObject 0.65625,-0.28,0.03125,0.03125,0,0.7019608,0.69803923,0.63529414
GameObject 0.6875,-0.28,0.03125,0.03125,0,0.68235296,0.6784314,0.57254905
GameObject 0.71875,-0.28,0.03125,0.03125,0,0.64705884,0.64705884,0.5176471
GameObject 0.75,-0.28,0.03125,0.03125,0,0.67058825,0.68235296,0.54509807
GameObject 0.78125,-0.28,0.03125,0.03125,0,0.654902,0.69803923,0.54901963
GameObject 0.8125,-0.28,0.03125,0.03125,0,0.58431375,0.6509804,0.45490196
GameObject 0.84375,-0.28,0.03125,0.03125,0,0.49803922,0.5764706,0.35686275
GameObject 0.875,-0.28,0.03125,0.03125,0,0.5254902,0.6039216,0.39215687
GameObject 0.90625,-0.28,0.03125,0.03125,0,0.4509804,0.5254902,0.29803923
GameObject 0.9375,-0.28,0.03125,0.03125,0,0.31764707,0.40392157,0.15686275
GameObject 0.96875,-0.28,0.03125,0.03125,0,0.2784314,0.3529412,0.16862746
GameObject -1.0,-0.31125,0.03125,0.03125,0,0.3764706,0.34509805,0.30588236
GameObject -0.96875,-0.31125,0.03125,0.03125,0,0.34901962,0.32941177,0.29803923
GameObject -0.9375,-0.31125,0.03125,0.03125,0,0.47843137,0.4862745,0.45882353
GameObject -0.90625,-0.31125,0.03125,0.03125,0,0.67058825,0.6901961,0.6784314
GameObject -0.875,-0.31125,0.03125,0.03125,0,0.65882355,0.68235296,0.67058825
GameObject -0.84375,-0.31125,0.03125,0.03125,0,0.6039216,0.627451,0.6117647
GameObject -0.8125,-0.31125,0.03125,0.03125,0,0.5568628,0.5764706,0.5529412
GameObject -0.78125,-0.31125,0.03125,0.03125,0,0.4862745,0.49803922,0.45490196
GameObject -0.75,-0.31125,0.03125,0.03125,0,0.5019608,0.5254902,0.46666667
GameObject -0.71875,-0.31125,0.03125,0.03125,0,0.3372549,0.31764707,0.2901961
GameObject -0.6875,-0.31125,0.03125,0.03125,0,0.07058824,0.007843138,0.007843138
GameObject -0.65625,-0.31125,0.03125,0.03125,0,0.05882353,0.0,0.0
GameObject -0.625,-0.31125,0.03125,0.03125,0,0.078431375,0.03137255,0.011764706
GameObject -0.59375,-0.31125,0.03125,0.03125,0,0.003921569,0.0,0.0
GameObject -0.5625,-0.31125,0.03125,0.03125,0,0.57254905,0.46666667,0.44705883
GameObject -0.53125,-0.31125,0.03125,0.03125,0,1.0,0.9019608,0.8784314
GameObject -0.5,-0.31125,0.03125,0.03125,0,0.972549,0.8156863,0.78039217
GameObject -0.46875,-0.31125,0.03125,0.03125,0,0.90588236,0.76862746,0.7294118
GameObject -0.4375,-0.31125,0.03125,0.03125,0,0.8235294,0.7411765,0.7137255
GameObject -0.40625,-0.31125,0.03125,0.03125,0,0.84313726,0.7607843,0.72156864
GameObject -0.375,-0.31125,0.03125,0.03125,0,0.8901961,0.8,0.7529412
GameObject -0.34375,-0.31125,0.03125,0.03125,0,0.92156863,0.8,0.75686276
GameObject -0.3125,-0.31125,0.03125,0.03125,0,0.8901961,0.73333335,0.7058824
GameObject -0.28125,-0.31125,0.03125,0.03125,0,0.7647059,0.59607846,0.56078434
GameObject -0.25,-0.31125,0.03125,0.03125,0,0.7176471,0.5568628,0.5137255
GameObject -0.21875,-0.31125,0.03125,0.03125,0,0.70980394,0.5137255,0.4745098
GameObject -0.1875,-0.31125,0.03125,0.03125,0,0.6862745,0.4509804,0.41960785
GameObject -0.15625,-0.31125,0.03125,0.03125,0,0.6313726,0.39607844,0.36078432
GameObject -0.125,-0.31125,0.03125,0.03125,0,0.5686275,0.3764706,0.33333334
GameObject -0.09375,-0.31125,0.03125,0.03125,0,0.50980395,0.3254902,0.28627452
GameObject -0.0625,-0.31125,0.03125,0.03125,0,0.45882353,0.27058825,0.24313726
GameObject -0.03125,-0.31125,0.03125,0.03125,0,0.4745098,0.27058825,0.2509804
GameObject 0.0,-0.31125,0.03125,0.03125,0,0.50980395,0.28235295,0.27450982
GameObject 0.03125,-0.31125,0.03125,0.03125,0,0.60784316,0.3764706,0.36862746
GameObject 0.0625,-0.31125,0.03125,0.03125,0,0.59607846,0.37254903,0.35686275
GameObject 0.09375,-0.31125,0.03125,0.03125,0,0.50980395,0.2901961,0.2784314
GameObject 0.125,-0.31125,0.03125,0.03125,0,0.46666667,0.2627451,0.2509804
GameObject 0.15625,-0.31125,0.03125,0.03125,0,0.5882353,0.40392157,0.3882353
GameObject 0.1875,-0.31125,0.03125,0.03125,0,0.59607846,0.39215687,0.3647059
GameObject 0.21875,-0.31125,0.03125,0.03125,0,0.6509804,0.43529412,0.38431373
GameObject 0.25,-0.31125,0.03125,0.03125,0,0.654902,0.48235294,0.42745098
GameObject 0.28125,-0.31125,0.03125,0.03125,0,0.6666667,0.49803922,0.45882353
GameObject 0.3125,-0.31125,0.03125,0.03125,0,0.6666667,0.4745098,0.44313726
GameObject 0.34375,-0.31125,0.03125,0.03125,0,0.50980395,0.30588236,0.27058825
GameObject 0.375,-0.31125,0.03125,0.03125,0,0.50980395,0.29411766,0.2627451
GameObject 0.40625,-0.31125,0.03125,0.03125,0,0.5803922,0.3529412,0.33333334
GameObject 0.4375,-0.31125,0.03125,0.03125,0,0.627451,0.4117647,0.39607844
GameObject 0.46875,-0.31125,0.03125,0.03125,0,0.6862745,0.49411765,0.47843137
GameObject 0.5,-0.31125,0.03125,0.03125,0,0.75686276,0.60784316,0.5882353
GameObject 0.53125,-0.31125,0.03125,0.03125,0,0.8,0.7176471,0.6901961
GameObject 0.5625,-0.31125,0.03125,0.03125,0,0.7294118,0.7254902,0.6901961
GameObject 0.59375,-0.31125,0.03125,0.03125,0,0.7019608,0.7294118,0.7058824
GameObject 0.625,-0.31125,0.03125,0.03125,0,0.7176471,0.72156864,0.69411767
GameObject 0.65625,-0.31125,0.03125,0.03125,0,0.7176471,0.7137255,0.6627451
GameObject 0.6875,-0.31125,0.03125,0.03125,0,0.6862745,0.69411767,0.6039216
GameObject 0.71875,-0.31125,0.03125,0.03125,0,0.6666667,0.6627451,0.5568628
GameObject 0.75,-0.31125,0.03125,0.03125,0,0.68235296,0.6862745,0.57254905
GameObject 0.78125,-0.31125,0.03125,0.03125,0,0.6627451,0.7019608,0.5647059
GameObject 0.8125,-0.31125,0.03125,0.03125,0,0.6,0.65882355,0.45490196
GameObject 0.84375,-0.31125,0.03125,0.03125,0,0.5411765,0.60784316,0.39607844
GameObject 0.875,-0.31125,0.03125,0.03125,0,0.5803922,0.6509804,0.47843137
GameObject 0.90625,-0.31125,0.03125,0.03125,0,0.5137255,0.58431375,0.40784314
GameObject 0.9375,-0.31125,0.03125,0.03125,0,0.3372549,0.4117647,0.19607843
GameObject 0.96875,-0.31125,0.03125,0.03125,0,0.3137255,0.38431373,0.1882353
GameObject -1.0,-0.3425,0.03125,0.03125,0,0.43137255,0.38039216,0.34901962
GameObject -0.96875,-0.3425,0.03125,0.03125,0,0.37254903,0.34901962,0.3019608
GameObject -0.9375,-0.3425,0.03125,0.03125,0,0.45882353,0.45490196,0.42352942
GameObject -0.90625,-0.3425,0.03125,0.03125,0,0.64705884,0.67058825,0.63529414
GameObject -0.875,-0.3425,0.03125,0.03125,0,0.67058825,0.7019608,0.6666667
GameObject -0.84375,-0.3425,0.03125,0.03125,0,0.67058825,0.69411767,0.6666667
GameObject -0.8125,-0.3425,0.03125,0.03125,0,0.6509804,0.67058825,0.64705884
GameObject -0.78125,-0.3425,0.03125,0.03125,0,0.654902,0.6666667,0.6431373
GameObject -0.75,-0.3425,0.03125,0.03125,0,0.70980394,0.72156864,0.6901961
GameObject -0.71875,-0.3425,0.03125,0.03125,0,0.4627451,0.44313726,0.42745098
GameObject -0.6875,-0.3425,0.03125,0.03125,0,0.0627451,0.02745098,0.03137255
GameObject -0.65625,-0.3425,0.03125,0.03125,0,0.02745098,0.0,0.0
GameObject -0.625,-0.3425,0.03125,0.03125,0,0.07450981,0.023529412,0.003921569
GameObject -0.59375,-0.3425,0.03125,0.03125,0,0.09411765,0.019607844,0.007843138
GameObject -0.5625,-0.3425,0.03125,0.03125,0,0.11372549,0.0,0.0
GameObject -0.53125,-0.3425,0.03125,0.03125,0,0.39215687,0.22745098,0.20784314
GameObject -0.5,-0.3425,0.03125,0.03125,0,0.5882353,0.41568628,0.38039216
GameObject -0.46875,-0.3425,0.03125,0.03125,0,0.75686276,0.6039216,0.5686275
GameObject -0.4375,-0.3425,0.03125,0.03125,0,0.84705883,0.7294118,0.70980394
GameObject -0.40625,-0.3425,0.03125,0.03125,0,0.85490197,0.7607843,0.72156864
GameObject -0.375,-0.3425,0.03125,0.03125,0,0.8862745,0.7882353,0.7372549
GameObject -0.34375,-0.3425,0.03125,0.03125,0,0.84705883,0.70980394,0.6666667
GameObject -0.3125,-0.3425,0.03125,0.03125,0,0.74509805,0.5803922,0.5254902
GameObject -0.28125,-0.3425,0.03125,0.03125,0,0.5882353,0.4117647,0.3529412
GameObject -0.25,-0.3425,0.03125,0.03125,0,0.654902,0.4862745,0.42745098
GameObject -0.21875,-0.3425,0.03125,0.03125,0,0.6509804,0.45882353,0.4
GameObject -0.1875,-0.3425,0.03125,0.03125,0,0.627451,0.39215687,0.36078432
GameObject -0.15625,-0.3425,0.03125,0.03125,0,0.59607846,0.38039216,0.34901962
GameObject -0.125,-0.3425,0.03125,0.03125,0,0.5254902,0.3529412,0.3137255
GameObject -0.09375,-0.3425,0.03125,0.03125,0,0.47843137,0.29411766,0.25490198
GameObject -0.0625,-0.3425,0.03125,0.03125,0,0.4509804,0.27450982,0.24705882
GameObject -0.03125,-0.3425,0.03125,0.03125,0,0.4509804,0.2901961,0.2784314
GameObject 0.0,-0.3425,0.03125,0.03125,0,0.4745098,0.33333334,0.33333334
GameObject 0.03125,-0.3425,0.03125,0.03125,0,0.47843137,0.34509805,0.3529412
GameObject 0.0625,-0.3425,0.03125,0.03125,0,0.2901961,0.16078432,0.16470589
GameObject 0.09375,-0.3425,0.03125,0.03125,0,0.25882354,0.12156863,0.11372549
GameObject 0.125,-0.3425,0.03125,0.03125,0,0.3529412,0.20392157,0.1882353
GameObject 0.15625,-0.3425,0.03125,0.03125,0,0.48235294,0.32156864,0.28627452
GameObject 0.1875,-0.3425,0.03125,0.03125,0,0.5529412,0.3764706,0.3372549
GameObject 0.21875,-0.3425,0.03125,0.03125,0,0.4862745,0.32156864,0.2901961
GameObject 0.25,-0.3425,0.03125,0.03125,0,0.3529412,0.20784314,0.18039216
GameObject 0.28125,-0.3425,0.03125,0.03125,0,0.47058824,0.3254902,0.30588236
GameObject 0.3125,-0.3425,0.03125,0.03125,0,0.56078434,0.39607844,0.38039216
GameObject 0.34375,-0.3425,0.03125,0.03125,0,0.47058824,0.30588236,0.2784314
GameObject 0.375,-0.3425,0.03125,0.03125,0,0.47058824,0.29803923,0.2627451
GameObject 0.40625,-0.3425,0.03125,0.03125,0,0.54509807,0.34509805,0.3019608
GameObject 0.4375,-0.3425,0.03125,0.03125,0,0.5921569,0.39215687,0.3372549
GameObject 0.46875,-0.3425,0.03125,0.03125,0,0.63529414,0.48235294,0.41960785
GameObject 0.5,-0.3425,0.03125,0.03125,0,0.7137255,0.5882353,0.5529412
GameObject 0.53125,-0.3425,0.03125,0.03125,0,0.7647059,0.68235296,0.65882355
GameObject 0.5625,-0.3425,0.03125,0.03125,0,0.7176471,0.72156864,0.69803923
GameObject 0.59375,-0.3425,0.03125,0.03125,0,0.7019608,0.7294118,0.7176471
GameObject 0.625,-0.3425,0.03125,0.03125,0,0.7137255,0.7254902,0.72156864
GameObject 0.65625,-0.3425,0.03125,0.03125,0,0.70980394,0.72156864,0.69803923
GameObject 0.6875,-0.3425,0.03125,0.03125,0,0.6901961,0.7058824,0.6509804
GameObject 0.71875,-0.3425,0.03125,0.03125,0,0.68235296,0.6862745,0.60784316
GameObject 0.75,-0.3425,0.03125,0.03125,0,0.6901961,0.69411767,0.6039216
GameObject 0.78125,-0.3425,0.03125,0.03125,0,0.6745098,0.6901961,0.59607846
GameObject 0.8125,-0.3425,0.03125,0.03125,0,0.62352943,0.65882355,0.48235294
GameObject 0.84375,-0.3425,0.03125,0.03125,0,0.57254905,0.61960787,0.42745098
GameObject 0.875,-0.3425,0.03125,0.03125,0,0.6156863,0.6627451,0.5254902
GameObject 0.90625,-0.3425,0.03125,0.03125,0,0.5882353,0.6392157,0.5019608
GameObject 0.9375,-0.3425,0.03125,0.03125,0,0.40784314,0.47058824,0.27450982
GameObject 0.96875,-0.3425,0.03125,0.03125,0,0.4,0.4627451,0.27058825
GameObject -1.0,-0.37375,0.03125,0.03125,0,0.46666667,0.4,0.36862746
GameObject -0.96875,-0.37375,0.03125,0.03125,0,0.4117647,0.3647059,0.3254902
GameObject -0.9375,-0.37375,0.03125,0.03125,0,0.43137255,0.41568628,0.3764706
GameObject -0.90625,-0.37375,0.03125,0.03125,0,0.58431375,0.5882353,0.5529412
GameObject -0.875,-0.37375,0.03125,0.03125,0,0.6431373,0.6627451,0.6313726
GameObject -0.84375,-0.37375,0.03125,0.03125,0,0.6745098,0.6901961,0.6627451
GameObject -0.8125,-0.37375,0.03125,0.03125,0,0.69803923,0.7058824,0.6862745
GameObject -0.78125,-0.37375,0.03125,0.03125,0,0.7372549,0.7411765,0.72156864
GameObject -0.75,-0.37375,0.03125,0.03125,0,0.80784315,0.8156863,0.79607844
GameObject -0.71875,-0.37375,0.03125,0.03125,0,0.68235296,0.7019608,0.6784314
GameObject -0.6875,-0.37375,0.03125,0.03125,0,0.27058825,0.2901961,0.2627451
GameObject -0.65625,-0.37375,0.03125,0.03125,0,0.03137255,0.019607844,0.007843138
GameObject -0.625,-0.37375,0.03125,0.03125,0,0.050980393,0.011764706,0.0
GameObject -0.59375,-0.37375,0.03125,0.03125,0,0.101960786,0.039215688,0.011764706
GameObject -0.5625,-0.37375,0.03125,0.03125,0,0.09411765,0.019607844,0.003921569
GameObject -0.53125,-0.37375,0.03125,0.03125,0,0.07450981,0.0,0.0
GameObject -0.5,-0.37375,0.03125,0.03125,0,0.41960785,0.32941177,0.2784314
GameObject -0.46875,-0.37375,0.03125,0.03125,0,0.8392157,0.7490196,0.7058824
GameObject -0.4375,-0.37375,0.03125,0.03125,0,0.85490197,0.76862746,0.73333335
GameObject -0.40625,-0.37375,0.03125,0.03125,0,0.85882354,0.7607843,0.72156864
GameObject -0.375,-0.37375,0.03125,0.03125,0,0.8901961,0.78431374,0.7372549
GameObject -0.34375,-0.37375,0.03125,0.03125,0,0.8039216,0.65882355,0.6117647
GameObject -0.3125,-0.37375,0.03125,0.03125,0,0.6666667,0.49411765,0.4392157
GameObject -0.28125,-0.37375,0.03125,0.03125,0,0.53333336,0.34901962,0.28627452
GameObject -0.25,-0.37375,0.03125,0.03125,0,0.64705884,0.4745098,0.40784314
GameObject -0.21875,-0.37375,0.03125,0.03125,0,0.6313726,0.4509804,0.3882353
GameObject -0.1875,-0.37375,0.03125,0.03125,0,0.5921569,0.38431373,0.3372549
GameObject -0.15625,-0.37375,0.03125,0.03125,0,0.5529412,0.36862746,0.32941177
GameObject -0.125,-0.37375,0.03125,0.03125,0,0.4745098,0.32941177,0.28627452
GameObject -0.09375,-0.37375,0.03125,0.03125,0,0.42352942,0.26666668,0.25490198
GameObject -0.0625,-0.37375,0.03125,0.03125,0,0.42352942,0.28235295,0.28235295
GameObject -0.03125,-0.37375,0.03125,0.03125,0,0.44705883,0.31764707,0.3254902
GameObject 0.0,-0.37375,0.03125,0.03125,0,0.5176471,0.40784314,0.40392157
GameObject 0.03125,-0.37375,0.03125,0.03125,0,0.6,0.5019608,0.5058824
GameObject 0.0625,-0.37375,0.03125,0.03125,0,0.46666667,0.38039216,0.37254903
GameObject 0.09375,-0.37375,0.03125,0.03125,0,0.36078432,0.27058825,0.2627451
GameObject 0.125,-0.37375,0.03125,0.03125,0,0.35686275,0.25882354,0.24705882
GameObject 0.15625,-0.37375,0.03125,0.03125,0,0.34509805,0.24313726,0.21960784
GameObject 0.1875,-0.37375,0.03125,0.03125,0,0.3529412,0.24313726,0.23137255
GameObject 0.21875,-0.37375,0.03125,0.03125,0,0.34509805,0.23529412,0.23921569
GameObject 0.25,-0.37375,0.03125,0.03125,0,0.43137255,0.32941177,0.3372549
GameObject 0.28125,-0.37375,0.03125,0.03125,0,0.5882353,0.47843137,0.49411765
GameObject 0.3125,-0.37375,0.03125,0.03125,0,0.60784316,0.49019608,0.49803922
GameObject 0.34375,-0.37375,0.03125,0.03125,0,0.4862745,0.3764706,0.35686275
GameObject 0.375,-0.37375,0.03125,0.03125,0,0.44705883,0.3137255,0.27450982
GameObject 0.40625,-0.37375,0.03125,0.03125,0,0.5176471,0.34117648,0.28627452
GameObject 0.4375,-0.37375,0.03125,0.03125,0,0.5686275,0.38431373,0.31764707
GameObject 0.46875,-0.37375,0.03125,0.03125,0,0.6117647,0.4745098,0.38431373
GameObject 0.5,-0.37375,0.03125,0.03125,0,0.6901961,0.5803922,0.5176471
GameObject 0.53125,-0.37375,0.03125,0.03125,0,0.7372549,0.6627451,0.6313726
GameObject 0.5625,-0.37375,0.03125,0.03125,0,0.7137255,0.7176471,0.6862745
GameObject 0.59375,-0.37375,0.03125,0.03125,0,0.69411767,0.72156864,0.70980394
GameObject 0.625,-0.37375,0.03125,0.03125,0,0.69803923,0.7137255,0.7137255
GameObject 0.65625,-0.37375,0.03125,0.03125,0,0.69411767,0.70980394,0.69803923
GameObject 0.6875,-0.37375,0.03125,0.03125,0,0.6862745,0.69803923,0.6627451
GameObject 0.71875,-0.37375,0.03125,0.03125,0,0.68235296,0.6862745,0.6313726
GameObject 0.75,-0.37375,0.03125,0.03125,0,0.6901961,0.6784314,0.62352943
GameObject 0.78125,-0.37375,0.03125,0.03125,0,0.6745098,0.6784314,0.6039216
GameObject 0.8125,-0.37375,0.03125,0.03125,0,0.6313726,0.6509804,0.5254902
GameObject 0.84375,-0.37375,0.03125,0.03125,0,0.58431375,0.62352943,0.46666667
GameObject 0.875,-0.37375,0.03125,0.03125,0,0.62352943,0.65882355,0.53333336
GameObject 0.90625,-0.37375,0.03125,0.03125,0,0.60784316,0.6509804,0.50980395
GameObject 0.9375,-0.37375,0.03125,0.03125,0,0.44313726,0.49803922,0.30980393
GameObject 0.96875,-0.37375,0.03125,0.03125,0,0.41960785,0.4745098,0.29803923
GameObject -1.0,-0.405,0.03125,0.03125,0,0.5411765,0.47058824,0.43529412
GameObject -0.96875,-0.405,0.03125,0.03125,0,0.53333336,0.46666667,0.4392157
GameObject -0.9375,-0.405,0.03125,0.03125,0,0.45490196,0.43137255,0.38431373
GameObject -0.90625,-0.405,0.03125,0.03125,0,0.5294118,0.5294118,0.49019608
GameObject -0.875,-0.405,0.03125,0.03125,0,0.6392157,0.6431373,0.6156863
GameObject -0.84375,-0.405,0.03125,0.03125,0,0.7137255,0.7254902,0.69803923
GameObject -0.8125,-0.405,0.03125,0.03125,0,0.7294118,0.7372549,0.7137255
GameObject -0.78125,-0.405,0.03125,0.03125,0,0.7490196,0.7529412,0.74509805
GameObject -0.75,-0.405,0.03125,0.03125,0,0.79607844,0.79607844,0.79607844
GameObject -0.71875,-0.405,0.03125,0.03125,0,0.76862746,0.8,0.7764706
GameObject -0.6875,-0.405,0.03125,0.03125,0,0.5372549,0.5882353,0.5372549
GameObject -0.65625,-0.405,0.03125,0.03125,0,0.19215687,0.18039216,0.14901961
GameObject -0.625,-0.405,0.03125,0.03125,0,0.05490196,0.0,0.0
GameObject -0.59375,-0.405,0.03125,0.03125,0,0.09803922,0.015686275,0.0
GameObject -0.5625,-0.405,0.03125,0.03125,0,0.09019608,0.03529412,0.0
GameObject -0.53125,-0.405,0.03125,0.03125,0,0.0627451,0.03529412,0.0
GameObject -0.5,-0.405,0.03125,0.03125,0,0.43137255,0.39607844,0.3529412
GameObject -0.46875,-0.405,0.03125,0.03125,0,0.8352941,0.76862746,0.74509805
GameObject -0.4375,-0.405,0.03125,0.03125,0,0.8509804,0.7607843,0.7294118
GameObject -0.40625,-0.405,0.03125,0.03125,0,0.85882354,0.7607843,0.7254902
GameObject -0.375,-0.405,0.03125,0.03125,0,0.8627451,0.76862746,0.7176471
GameObject -0.34375,-0.405,0.03125,0.03125,0,0.7607843,0.627451,0.5764706
GameObject -0.3125,-0.405,0.03125,0.03125,0,0.627451,0.4627451,0.40784314
GameObject -0.28125,-0.405,0.03125,0.03125,0,0.50980395,0.33333334,0.27058825
GameObject -0.25,-0.405,0.03125,0.03125,0,0.6392157,0.4862745,0.40784314
GameObject -0.21875,-0.405,0.03125,0.03125,0,0.627451,0.4627451,0.39607844
GameObject -0.1875,-0.405,0.03125,0.03125,0,0.5647059,0.38431373,0.3372549
GameObject -0.15625,-0.405,0.03125,0.03125,0,0.49411765,0.33333334,0.29411766
GameObject -0.125,-0.405,0.03125,0.03125,0,0.4,0.28627452,0.24705882
GameObject -0.09375,-0.405,0.03125,0.03125,0,0.3882353,0.26666668,0.27058825
GameObject -0.0625,-0.405,0.03125,0.03125,0,0.38039216,0.26666668,0.2784314
GameObject -0.03125,-0.405,0.03125,0.03125,0,0.44313726,0.31764707,0.34117648
GameObject 0.0,-0.405,0.03125,0.03125,0,0.49411765,0.36862746,0.3882353
GameObject 0.03125,-0.405,0.03125,0.03125,0,0.5294118,0.4,0.41568628
GameObject 0.0625,-0.405,0.03125,0.03125,0,0.4862745,0.36862746,0.3882353
GameObject 0.09375,-0.405,0.03125,0.03125,0,0.40784314,0.3019608,0.3137255
GameObject 0.125,-0.405,0.03125,0.03125,0,0.34509805,0.2509804,0.25490198
GameObject 0.15625,-0.405,0.03125,0.03125,0,0.28235295,0.20784314,0.20784314
GameObject 0.1875,-0.405,0.03125,0.03125,0,0.30980393,0.23529412,0.22745098
GameObject 0.21875,-0.405,0.03125,0.03125,0,0.3764706,0.2901961,0.2901961
GameObject 0.25,-0.405,0.03125,0.03125,0,0.45490196,0.37254903,0.38039216
GameObject 0.28125,-0.405,0.03125,0.03125,0,0.54901963,0.45882353,0.4745098
GameObject 0.3125,-0.405,0.03125,0.03125,0,0.60784316,0.5058824,0.52156866
GameObject 0.34375,-0.405,0.03125,0.03125,0,0.52156866,0.42745098,0.42352942
GameObject 0.375,-0.405,0.03125,0.03125,0,0.43529412,0.32156864,0.29411766
GameObject 0.40625,-0.405,0.03125,0.03125,0,0.48235294,0.3254902,0.2784314
GameObject 0.4375,-0.405,0.03125,0.03125,0,0.57254905,0.4,0.34509805
GameObject 0.46875,-0.405,0.03125,0.03125,0,0.61960787,0.48235294,0.4117647
GameObject 0.5,-0.405,0.03125,0.03125,0,0.69803923,0.5921569,0.53333336
GameObject 0.53125,-0.405,0.03125,0.03125,0,0.7372549,0.67058825,0.63529414
GameObject 0.5625,-0.405,0.03125,0.03125,0,0.69411767,0.7019608,0.6666667
GameObject 0.59375,-0.405,0.03125,0.03125,0,0.6784314,0.7058824,0.6862745
GameObject 0.625,-0.405,0.03125,0.03125,0,0.6784314,0.7019608,0.69803923
GameObject 0.65625,-0.405,0.03125,0.03125,0,0.68235296,0.7058824,0.69411767
GameObject 0.6875,-0.405,0.03125,0.03125,0,0.6784314,0.69803923,0.6745098
GameObject 0.71875,-0.405,0.03125,0.03125,0,0.68235296,0.6901961,0.6509804
GameObject 0.75,-0.405,0.03125,0.03125,0,0.68235296,0.6745098,0.6313726
GameObject 0.78125,-0.405,0.03125,0.03125,0,0.6627451,0.67058825,0.6117647
GameObject 0.8125,-0.405,0.03125,0.03125,0,0.63529414,0.6431373,0.5647059
GameObject 0.84375,-0.405,0.03125,0.03125,0,0.60784316,0.627451,0.5254902
GameObject 0.875,-0.405,0.03125,0.03125,0,0.63529414,0.654902,0.54901963
GameObject 0.90625,-0.405,0.03125,0.03125,0,0.6156863,0.64705884,0.50980395
GameObject 0.9375,-0.405,0.03125,0.03125,0,0.45490196,0.5019608,0.31764707
GameObject 0.96875,-0.405,0.03125,0.03125,0,0.41960785,0.4745098,0.3137255
GameObject -1.0,-0.43625,0.03125,0.03125,0,0.6,0.53333336,0.5019608
GameObject -0.96875,-0.43625,0.03125,0.03125,0,0.6627451,0.6156863,0.58431375
GameObject -0.9375,-0.43625,0.03125,0.03125,0,0.56078434,0.54901963,0.5058824
GameObject -0.90625,-0.43625,0.03125,0.03125,0,0.5294118,0.5411765,0.49803922
GameObject -0.875,-0.43625,0.03125,0.03125,0,0.64705884,0.65882355,0.62352943
GameObject -0.84375,-0.43625,0.03125,0.03125,0,0.73333335,0.74509805,0.7137255
GameObject -0.8125,-0.43625,0.03125,0.03125,0,0.7607843,0.77254903,0.7529412
GameObject -0.78125,-0.43625,0.03125,0.03125,0,0.77254903,0.7764706,0.7647059
GameObject -0.75,-0.43625,0.03125,0.03125,0,0.78039217,0.78039217,0.7764706
GameObject -0.71875,-0.43625,0.03125,0.03125,0,0.7411765,0.7647059,0.73333335
GameObject -0.6875,-0.43625,0.03125,0.03125,0,0.56078434,0.58431375,0.5411765
GameObject -0.65625,-0.43625,0.03125,0.03125,0,0.2509804,0.22352941,0.2
GameObject -0.625,-0.43625,0.03125,0.03125,0,0.105882354,0.02745098,0.003921569
GameObject -0.59375,-0.43625,0.03125,0.03125,0,0.11372549,0.023529412,0.0
GameObject -0.5625,-0.43625,0.03125,0.03125,0,0.09019608,0.03137255,0.0
GameObject -0.53125,-0.43625,0.03125,0.03125,0,0.09411765,0.07058824,0.03137255
GameObject -0.5,-0.43625,0.03125,0.03125,0,0.43529412,0.40784314,0.3764706
GameObject -0.46875,-0.43625,0.03125,0.03125,0,0.84705883,0.7882353,0.7647059
GameObject -0.4375,-0.43625,0.03125,0.03125,0,0.8509804,0.7607843,0.74509805
GameObject -0.40625,-0.43625,0.03125,0.03125,0,0.8352941,0.7411765,0.70980394
GameObject -0.375,-0.43625,0.03125,0.03125,0,0.83137256,0.73333335,0.6862745
GameObject -0.34375,-0.43625,0.03125,0.03125,0,0.7529412,0.62352943,0.5764706
GameObject -0.3125,-0.43625,0.03125,0.03125,0,0.6313726,0.4745098,0.42352942
GameObject -0.28125,-0.43625,0.03125,0.03125,0,0.50980395,0.34509805,0.28627452
GameObject -0.25,-0.43625,0.03125,0.03125,0,0.65882355,0.5176471,0.44705883
GameObject -0.21875,-0.43625,0.03125,0.03125,0,0.6901961,0.53333336,0.4745098
GameObject -0.1875,-0.43625,0.03125,0.03125,0,0.54509807,0.3764706,0.3372549
GameObject -0.15625,-0.43625,0.03125,0.03125,0,0.4392157,0.29411766,0.2627451
GameObject -0.125,-0.43625,0.03125,0.03125,0,0.36862746,0.27450982,0.23921569
GameObject -0.09375,-0.43625,0.03125,0.03125,0,0.4,0.3019608,0.27450982
GameObject -0.0625,-0.43625,0.03125,0.03125,0,0.39215687,0.28627452,0.2784314
GameObject -0.03125,-0.43625,0.03125,0.03125,0,0.42352942,0.3019608,0.30980393
GameObject 0.0,-0.43625,0.03125,0.03125,0,0.46666667,0.3254902,0.34901962
GameObject 0.03125,-0.43625,0.03125,0.03125,0,0.5058824,0.34901962,0.3882353
GameObject 0.0625,-0.43625,0.03125,0.03125,0,0.5294118,0.37254903,0.4
GameObject 0.09375,-0.43625,0.03125,0.03125,0,0.5019608,0.3529412,0.3764706
GameObject 0.125,-0.43625,0.03125,0.03125,0,0.4745098,0.33333334,0.34117648
GameObject 0.15625,-0.43625,0.03125,0.03125,0,0.41960785,0.28627452,0.28627452
GameObject 0.1875,-0.43625,0.03125,0.03125,0,0.4392157,0.3137255,0.3019608
GameObject 0.21875,-0.43625,0.03125,0.03125,0,0.47058824,0.3529412,0.32941177
GameObject 0.25,-0.43625,0.03125,0.03125,0,0.49411765,0.38039216,0.3647059
GameObject 0.28125,-0.43625,0.03125,0.03125,0,0.5176471,0.4,0.39607844
GameObject 0.3125,-0.43625,0.03125,0.03125,0,0.5372549,0.41960785,0.41568628
GameObject 0.34375,-0.43625,0.03125,0.03125,0,0.5176471,0.4117647,0.39607844
GameObject 0.375,-0.43625,0.03125,0.03125,0,0.46666667,0.36078432,0.32941177
GameObject 0.40625,-0.43625,0.03125,0.03125,0,0.4745098,0.32156864,0.2901961
GameObject 0.4375,-0.43625,0.03125,0.03125,0,0.59607846,0.42745098,0.3882353
GameObject 0.46875,-0.43625,0.03125,0.03125,0,0.6862745,0.5529412,0.5058824
GameObject 0.5,-0.43625,0.03125,0.03125,0,0.7019608,0.6117647,0.56078434
GameObject 0.53125,-0.43625,0.03125,0.03125,0,0.7254902,0.67058825,0.6313726
GameObject 0.5625,-0.43625,0.03125,0.03125,0,0.6862745,0.69411767,0.65882355
GameObject 0.59375,-0.43625,0.03125,0.03125,0,0.68235296,0.7137255,0.6745098
GameObject 0.625,-0.43625,0.03125,0.03125,0,0.6784314,0.7019608,0.6862745
GameObject 0.65625,-0.43625,0.03125,0.03125,0,0.6784314,0.7019608,0.68235296
GameObject 0.6875,-0.43625,0.03125,0.03125,0,0.6745098,0.69411767,0.67058825
GameObject 0.71875,-0.43625,0.03125,0.03125,0,0.68235296,0.6862745,0.65882355
GameObject 0.75,-0.43625,0.03125,0.03125,0,0.6745098,0.6745098,0.6431373
GameObject 0.78125,-0.43625,0.03125,0.03125,0,0.67058825,0.6666667,0.6156863
GameObject 0.8125,-0.43625,0.03125,0.03125,0,0.6431373,0.6509804,0.59607846
GameObject 0.84375,-0.43625,0.03125,0.03125,0,0.61960787,0.6313726,0.5686275
GameObject 0.875,-0.43625,0.03125,0.03125,0,0.6392157,0.654902,0.5647059
GameObject 0.90625,-0.43625,0.03125,0.03125,0,0.62352943,0.6431373,0.5294118
GameObject 0.9375,-0.43625,0.03125,0.03125,0,0.4862745,0.5176471,0.3647059
GameObject 0.96875,-0.43625,0.03125,0.03125,0,0.45882353,0.49411765,0.34901962
GameObject -1.0,-0.4675,0.03125,0.03125,0,0.5411765,0.5058824,0.46666667
GameObject -0.96875,-0.4675,0.03125,0.03125,0,0.6627451,0.654902,0.6117647
GameObject -0.9375,-0.4675,0.03125,0.03125,0,0.6313726,0.6431373,0.6
GameObject -0.90625,-0.4675,0.03125,0.03125,0,0.58431375,0.61960787,0.5764706
GameObject -0.875,-0.4675,0.03125,0.03125,0,0.68235296,0.7058824,0.67058825
GameObject -0.84375,-0.4675,0.03125,0.03125,0,0.7490196,0.7607843,0.73333335
GameObject -0.8125,-0.4675,0.03125,0.03125,0,0.77254903,0.76862746,0.75686276
GameObject -0.78125,-0.4675,0.03125,0.03125,0,0.78431374,0.76862746,0.7647059
GameObject -0.75,-0.4675,0.03125,0.03125,0,0.7607843,0.74509805,0.7411765
GameObject -0.71875,-0.4675,0.03125,0.03125,0,0.7647059,0.75686276,0.7294118
GameObject -0.6875,-0.4675,0.03125,0.03125,0,0.6862745,0.67058825,0.6392157
GameObject -0.65625,-0.4675,0.03125,0.03125,0,0.37254903,0.34117648,0.32156864
GameObject -0.625,-0.4675,0.03125,0.03125,0,0.13333334,0.08627451,0.05490196
GameObject -0.59375,-0.4675,0.03125,0.03125,0,0.10980392,0.047058824,0.0
GameObject -0.5625,-0.4675,0.03125,0.03125,0,0.14509805,0.078431375,0.039215688
GameObject -0.53125,-0.4675,0.03125,0.03125,0,0.12156863,0.07450981,0.050980393
GameObject -0.5,-0.4675,0.03125,0.03125,0,0.42745098,0.39215687,0.37254903
GameObject -0.46875,-0.4675,0.03125,0.03125,0,0.84705883,0.79607844,0.7764706
GameObject -0.4375,-0.4675,0.03125,0.03125,0,0.8392157,0.76862746,0.7411765
GameObject -0.40625,-0.4675,0.03125,0.03125,0,0.8039216,0.7137255,0.68235296
GameObject -0.375,-0.4675,0.03125,0.03125,0,0.8156863,0.7176471,0.6745098
GameObject -0.34375,-0.4675,0.03125,0.03125,0,0.7254902,0.6039216,0.5647059
GameObject -0.3125,-0.4675,0.03125,0.03125,0,0.6392157,0.49019608,0.4509804
GameObject -0.28125,-0.4675,0.03125,0.03125,0,0.5254902,0.3764706,0.31764707
GameObject -0.25,-0.4675,0.03125,0.03125,0,0.6313726,0.49803922,0.43137255
GameObject -0.21875,-0.4675,0.03125,0.03125,0,0.69411767,0.5568628,0.49803922
GameObject -0.1875,-0.4675,0.03125,0.03125,0,0.5176471,0.36078432,0.32156864
GameObject -0.15625,-0.4675,0.03125,0.03125,0,0.42745098,0.2901961,0.25490198
GameObject -0.125,-0.4675,0.03125,0.03125,0,0.41568628,0.32941177,0.2784314
GameObject -0.09375,-0.4675,0.03125,0.03125,0,0.4117647,0.31764707,0.25882354
GameObject -0.0625,-0.4675,0.03125,0.03125,0,0.35686275,0.24705882,0.21568628
GameObject -0.03125,-0.4675,0.03125,0.03125,0,0.3764706,0.2627451,0.23921569
GameObject 0.0,-0.4675,0.03125,0.03125,0,0.39215687,0.27450982,0.26666668
GameObject 0.03125,-0.4675,0.03125,0.03125,0,0.4117647,0.27058825,0.2784314
GameObject 0.0625,-0.4675,0.03125,0.03125,0,0.4509804,0.2901961,0.30588236
GameObject 0.09375,-0.4675,0.03125,0.03125,0,0.49411765,0.32156864,0.32941177
GameObject 0.125,-0.4675,0.03125,0.03125,0,0.5137255,0.32941177,0.3254902
GameObject 0.15625,-0.4675,0.03125,0.03125,0,0.5372549,0.34117648,0.32941177
GameObject 0.1875,-0.4675,0.03125,0.03125,0,0.5372549,0.34117648,0.3254902
GameObject 0.21875,-0.4675,0.03125,0.03125,0,0.52156866,0.35686275,0.3254902
GameObject 0.25,-0.4675,0.03125,0.03125,0,0.5137255,0.3764706,0.34901962
GameObject 0.28125,-0.4675,0.03125,0.03125,0,0.5372549,0.39607844,0.38431373
GameObject 0.3125,-0.4675,0.03125,0.03125,0,0.5764706,0.44313726,0.42745098
GameObject 0.34375,-0.4675,0.03125,0.03125,0,0.5254902,0.41568628,0.38039216
GameObject 0.375,-0.4675,0.03125,0.03125,0,0.4627451,0.36078432,0.30980393
GameObject 0.40625,-0.4675,0.03125,0.03125,0,0.46666667,0.34901962,0.29411766
GameObject 0.4375,-0.4675,0.03125,0.03125,0,0.6,0.46666667,0.41568628
GameObject 0.46875,-0.4675,0.03125,0.03125,0,0.7176471,0.6039216,0.54509807
GameObject 0.5,-0.4675,0.03125,0.03125,0,0.7019608,0.61960787,0.5803922
GameObject 0.53125,-0.4675,0.03125,0.03125,0,0.7058824,0.6627451,0.63529414
GameObject 0.5625,-0.4675,0.03125,0.03125,0,0.6784314,0.69411767,0.64705884
GameObject 0.59375,-0.4675,0.03125,0.03125,0,0.67058825,0.70980394,0.6627451
GameObject 0.625,-0.4675,0.03125,0.03125,0,0.6901961,0.7019608,0.6784314
GameObject 0.65625,-0.4675,0.03125,0.03125,0,0.6862745,0.69803923,0.6745098
GameObject 0.6875,-0.4675,0.03125,0.03125,0,0.6627451,0.6862745,0.65882355
GameObject 0.71875,-0.4675,0.03125,0.03125,0,0.65882355,0.67058825,0.6431373
GameObject 0.75,-0.4675,0.03125,0.03125,0,0.6627451,0.6627451,0.6313726
GameObject 0.78125,-0.4675,0.03125,0.03125,0,0.6666667,0.6666667,0.62352943
GameObject 0.8125,-0.4675,0.03125,0.03125,0,0.64705884,0.6509804,0.6
GameObject 0.84375,-0.4675,0.03125,0.03125,0,0.61960787,0.627451,0.57254905
GameObject 0.875,-0.4675,0.03125,0.03125,0,0.6313726,0.6431373,0.58431375
GameObject 0.90625,-0.4675,0.03125,0.03125,0,0.63529414,0.64705884,0.57254905
GameObject 0.9375,-0.4675,0.03125,0.03125,0,0.5411765,0.56078434,0.4392157
GameObject 0.96875,-0.4675,0.03125,0.03125,0,0.50980395,0.53333336,0.40784314
GameObject -1.0,-0.49875,0.03125,0.03125,0,0.5137255,0.5019608,0.47058824
GameObject -0.96875,-0.49875,0.03125,0.03125,0,0.6784314,0.6862745,0.6509804
GameObject -0.9375,-0.49875,0.03125,0.03125,0,0.67058825,0.6862745,0.654902
GameObject -0.90625,-0.49875,0.03125,0.03125,0,0.6784314,0.69411767,0.6784314
GameObject -0.875,-0.49875,0.03125,0.03125,0,0.7019608,0.70980394,0.6901961
GameObject -0.84375,-0.49875,0.03125,0.03125,0,0.7019608,0.68235296,0.6666667
GameObject -0.8125,-0.49875,0.03125,0.03125,0,0.7019608,0.6509804,0.6509804
GameObject -0.78125,-0.49875,0.03125,0.03125,0,0.68235296,0.6156863,0.6156863
GameObject -0.75,-0.49875,0.03125,0.03125,0,0.6313726,0.54901963,0.5568628
GameObject -0.71875,-0.49875,0.03125,0.03125,0,0.6745098,0.5921569,0.5921569
GameObject -0.6875,-0.49875,0.03125,0.03125,0,0.72156864,0.65882355,0.64705884
GameObject -0.65625,-0.49875,0.03125,0.03125,0,0.4117647,0.3647059,0.3529412
GameObject -0.625,-0.49875,0.03125,0.03125,0,0.105882354,0.05882353,0.03137255
GameObject -0.59375,-0.49875,0.03125,0.03125,0,0.105882354,0.03137255,0.0
GameObject -0.5625,-0.49875,0.03125,0.03125,0,0.22745098,0.13725491,0.09803922
GameObject -0.53125,-0.49875,0.03125,0.03125,0,0.16078432,0.06666667,0.05490196
GameObject -0.5,-0.49875,0.03125,0.03125,0,0.43137255,0.3529412,0.34901962
GameObject -0.46875,-0.49875,0.03125,0.03125,0,0.8901961,0.8156863,0.79607844
GameObject -0.4375,-0.49875,0.03125,0.03125,0,0.8745098,0.78431374,0.74509805
GameObject -0.40625,-0.49875,0.03125,0.03125,0,0.7882353,0.7019608,0.654902
GameObject -0.375,-0.49875,0.03125,0.03125,0,0.7647059,0.6666667,0.62352943
GameObject -0.34375,-0.49875,0.03125,0.03125,0,0.7372549,0.61960787,0.5803922
GameObject -0.3125,-0.49875,0.03125,0.03125,0,0.64705884,0.5058824,0.46666667
GameObject -0.28125,-0.49875,0.03125,0.03125,0,0.5529412,0.41568628,0.36078432
GameObject -0.25,-0.49875,0.03125,0.03125,0,0.60784316,0.49019608,0.42745098
GameObject -0.21875,-0.49875,0.03125,0.03125,0,0.7058824,0.57254905,0.5137255
GameObject -0.1875,-0.49875,0.03125,0.03125,0,0.5764706,0.42745098,0.38039216
GameObject -0.15625,-0.49875,0.03125,0.03125,0,0.42352942,0.2901961,0.24313726
GameObject -0.125,-0.49875,0.03125,0.03125,0,0.3647059,0.26666668,0.21960784
GameObject -0.09375,-0.49875,0.03125,0.03125,0,0.27450982,0.17254902,0.13725491
GameObject -0.0625,-0.49875,0.03125,0.03125,0,0.30980393,0.19607843,0.16078432
GameObject -0.03125,-0.49875,0.03125,0.03125,0,0.39215687,0.25882354,0.23137255
GameObject 0.0,-0.49875,0.03125,0.03125,0,0.41960785,0.2784314,0.2509804
GameObject 0.03125,-0.49875,0.03125,0.03125,0,0.47843137,0.31764707,0.28627452
GameObject 0.0625,-0.49875,0.03125,0.03125,0,0.44705883,0.27058825,0.2509804
GameObject 0.09375,-0.49875,0.03125,0.03125,0,0.39607844,0.20784314,0.2
GameObject 0.125,-0.49875,0.03125,0.03125,0,0.41960785,0.22352941,0.22352941
GameObject 0.15625,-0.49875,0.03125,0.03125,0,0.42745098,0.23137255,0.23529412
GameObject 0.1875,-0.49875,0.03125,0.03125,0,0.40784314,0.20784314,0.21568628
GameObject 0.21875,-0.49875,0.03125,0.03125,0,0.41568628,0.22745098,0.23529412
GameObject 0.25,-0.49875,0.03125,0.03125,0,0.45882353,0.30980393,0.3019608
GameObject 0.28125,-0.49875,0.03125,0.03125,0,0.4509804,0.32156864,0.30980393
GameObject 0.3125,-0.49875,0.03125,0.03125,0,0.3529412,0.21568628,0.2
GameObject 0.34375,-0.49875,0.03125,0.03125,0,0.3137255,0.1882353,0.15294118
GameObject 0.375,-0.49875,0.03125,0.03125,0,0.39607844,0.30980393,0.24313726
GameObject 0.40625,-0.49875,0.03125,0.03125,0,0.49019608,0.40392157,0.32941177
GameObject 0.4375,-0.49875,0.03125,0.03125,0,0.654902,0.5529412,0.47843137
GameObject 0.46875,-0.49875,0.03125,0.03125,0,0.72156864,0.62352943,0.54901963
GameObject 0.5,-0.49875,0.03125,0.03125,0,0.7137255,0.6392157,0.6
GameObject 0.53125,-0.49875,0.03125,0.03125,0,0.7019608,0.68235296,0.6666667
GameObject 0.5625,-0.49875,0.03125,0.03125,0,0.67058825,0.69803923,0.654902
GameObject 0.59375,-0.49875,0.03125,0.03125,0,0.6666667,0.69411767,0.6509804
GameObject 0.625,-0.49875,0.03125,0.03125,0,0.69411767,0.69411767,0.6666667
GameObject 0.65625,-0.49875,0.03125,0.03125,0,0.68235296,0.6862745,0.6627451
GameObject 0.6875,-0.49875,0.03125,0.03125,0,0.65882355,0.68235296,0.64705884
GameObject 0.71875,-0.49875,0.03125,0.03125,0,0.6509804,0.654902,0.64705884
GameObject 0.75,-0.49875,0.03125,0.03125,0,0.654902,0.64705884,0.6313726
GameObject 0.78125,-0.49875,0.03125,0.03125,0,0.6627451,0.6666667,0.63529414
GameObject 0.8125,-0.49875,0.03125,0.03125,0,0.65882355,0.6666667,0.6156863
GameObject 0.84375,-0.49875,0.03125,0.03125,0,0.6392157,0.64705884,0.59607846
GameObject 0.875,-0.49875,0.03125,0.03125,0,0.6392157,0.64705884,0.6117647
GameObject 0.90625,-0.49875,0.03125,0.03125,0,0.6313726,0.6431373,0.60784316
GameObject 0.9375,-0.49875,0.03125,0.03125,0,0.5764706,0.5921569,0.49803922
GameObject 0.96875,-0.49875,0.03125,0.03125,0,0.5568628,0.5686275,0.4745098
GameObject -1.0,-0.53,0.03125,0.03125,0,0.5019608,0.49019608,0.4627451
GameObject -0.96875,-0.53,0.03125,0.03125,0,0.6784314,0.68235296,0.654902
GameObject -0.9375,-0.53,0.03125,0.03125,0,0.69803923,0.7058824,0.6862745
GameObject -0.90625,-0.53,0.03125,0.03125,0,0.7176471,0.7058824,0.69411767
GameObject -0.875,-0.53,0.03125,0.03125,0,0.69803923,0.67058825,0.67058825
GameObject -0.84375,-0.53,0.03125,0.03125,0,0.6156863,0.5529412,0.5647059
GameObject -0.8125,-0.53,0.03125,0.03125,0,0.5294118,0.42745098,0.44705883
GameObject -0.78125,-0.53,0.03125,0.03125,0,0.50980395,0.37254903,0.39607844
GameObject -0.75,-0.53,0.03125,0.03125,0,0.5176471,0.36862746,0.3882353
GameObject -0.71875,-0.53,0.03125,0.03125,0,0.54509807,0.43529412,0.45490196
GameObject -0.6875,-0.53,0.03125,0.03125,0,0.52156866,0.47058824,0.47058824
GameObject -0.65625,-0.53,0.03125,0.03125,0,0.3137255,0.28627452,0.2784314
GameObject -0.625,-0.53,0.03125,0.03125,0,0.09019608,0.0627451,0.043137256
GameObject -0.59375,-0.53,0.03125,0.03125,0,0.06666667,0.015686275,0.0
GameObject -0.5625,-0.53,0.03125,0.03125,0,0.17254902,0.09803922,0.050980393
GameObject -0.53125,-0.53,0.03125,0.03125,0,0.12941177,0.050980393,0.019607844
GameObject -0.5,-0.53,0.03125,0.03125,0,0.4392157,0.3647059,0.34901962
GameObject -0.46875,-0.53,0.03125,0.03125,0,0.9098039,0.84705883,0.80784315
GameObject -0.4375,-0.53,0.03125,0.03125,0,0.8627451,0.78431374,0.72156864
GameObject -0.40625,-0.53,0.03125,0.03125,0,0.78039217,0.6784314,0.6313726
GameObject -0.375,-0.53,0.03125,0.03125,0,0.7529412,0.6509804,0.6117647
GameObject -0.34375,-0.53,0.03125,0.03125,0,0.7058824,0.5882353,0.54509807
GameObject -0.3125,-0.53,0.03125,0.03125,0,0.6666667,0.5176471,0.48235294
GameObject -0.28125,-0.53,0.03125,0.03125,0,0.5803922,0.4392157,0.39215687
GameObject -0.25,-0.53,0.03125,0.03125,0,0.60784316,0.47843137,0.42352942
GameObject -0.21875,-0.53,0.03125,0.03125,0,0.7058824,0.57254905,0.5137255
GameObject -0.1875,-0.53,0.03125,0.03125,0,0.63529414,0.47843137,0.43529412
GameObject -0.15625,-0.53,0.03125,0.03125,0,0.47058824,0.32941177,0.27058825
GameObject -0.125,-0.53,0.03125,0.03125,0,0.38431373,0.2901961,0.22745098
GameObject -0.09375,-0.53,0.03125,0.03125,0,0.4509804,0.30980393,0.2784314
GameObject -0.0625,-0.53,0.03125,0.03125,0,0.49803922,0.34901962,0.32941177
GameObject -0.03125,-0.53,0.03125,0.03125,0,0.5686275,0.4,0.39215687
GameObject 0.0,-0.53,0.03125,0.03125,0,0.6392157,0.45490196,0.45882353
GameObject 0.03125,-0.53,0.03125,0.03125,0,0.6745098,0.49019608,0.49803922
GameObject 0.0625,-0.53,0.03125,0.03125,0,0.7607843,0.56078434,0.5764706
GameObject 0.09375,-0.53,0.03125,0.03125,0,0.70980394,0.50980395,0.5254902
GameObject 0.125,-0.53,0.03125,0.03125,0,0.6156863,0.41960785,0.42745098
GameObject 0.15625,-0.53,0.03125,0.03125,0,0.53333336,0.34901962,0.35686275
GameObject 0.1875,-0.53,0.03125,0.03125,0,0.5529412,0.3647059,0.38039216
GameObject 0.21875,-0.53,0.03125,0.03125,0,0.6862745,0.49411765,0.5137255
GameObject 0.25,-0.53,0.03125,0.03125,0,0.75686276,0.60784316,0.6117647
GameObject 0.28125,-0.53,0.03125,0.03125,0,0.7294118,0.6,0.59607846
GameObject 0.3125,-0.53,0.03125,0.03125,0,0.6431373,0.49019608,0.4862745
GameObject 0.34375,-0.53,0.03125,0.03125,0,0.40392157,0.27450982,0.24313726
GameObject 0.375,-0.53,0.03125,0.03125,0,0.33333334,0.23529412,0.18039216
GameObject 0.40625,-0.53,0.03125,0.03125,0,0.4862745,0.3882353,0.33333334
GameObject 0.4375,-0.53,0.03125,0.03125,0,0.6862745,0.5764706,0.5294118
GameObject 0.46875,-0.53,0.03125,0.03125,0,0.7254902,0.6039216,0.5686275
GameObject 0.5,-0.53,0.03125,0.03125,0,0.7254902,0.6313726,0.62352943
GameObject 0.53125,-0.53,0.03125,0.03125,0,0.7058824,0.6862745,0.6784314
GameObject 0.5625,-0.53,0.03125,0.03125,0,0.67058825,0.7058824,0.67058825
GameObject 0.59375,-0.53,0.03125,0.03125,0,0.6666667,0.7019608,0.654902
GameObject 0.625,-0.53,0.03125,0.03125,0,0.69803923,0.69803923,0.6666667
GameObject 0.65625,-0.53,0.03125,0.03125,0,0.6901961,0.69411767,0.6627451
GameObject 0.6875,-0.53,0.03125,0.03125,0,0.6666667,0.68235296,0.65882355
GameObject 0.71875,-0.53,0.03125,0.03125,0,0.65882355,0.6666667,0.6509804
GameObject 0.75,-0.53,0.03125,0.03125,0,0.6627451,0.6627451,0.6431373
GameObject 0.78125,-0.53,0.03125,0.03125,0,0.65882355,0.67058825,0.64705884
GameObject 0.8125,-0.53,0.03125,0.03125,0,0.6666667,0.6745098,0.6392157
GameObject 0.84375,-0.53,0.03125,0.03125,0,0.6627451,0.67058825,0.62352943
GameObject 0.875,-0.53,0.03125,0.03125,0,0.654902,0.65882355,0.6313726
GameObject 0.90625,-0.53,0.03125,0.03125,0,0.64705884,0.64705884,0.62352943
GameObject 0.9375,-0.53,0.03125,0.03125,0,0.6117647,0.62352943,0.5411765
GameObject 0.96875,-0.53,0.03125,0.03125,0,0.59607846,0.6117647,0.5137255
GameObject -1.0,-0.56125,0.03125,0.03125,0,0.4745098,0.4509804,0.42352942
GameObject -0.96875,-0.56125,0.03125,0.03125,0,0.64705884,0.6392157,0.61960787
GameObject -0.9375,-0.56125,0.03125,0.03125,0,0.7294118,0.72156864,0.7058824
GameObject -0.90625,-0.56125,0.03125,0.03125,0,0.7019608,0.6666667,0.68235296
GameObject -0.875,-0.56125,0.03125,0.03125,0,0.654902,0.6,0.6313726
GameObject -0.84375,-0.56125,0.03125,0.03125,0,0.61960787,0.54509807,0.5764706
GameObject -0.8125,-0.56125,0.03125,0.03125,0,0.6431373,0.54509807,0.5764706
GameObject -0.78125,-0.56125,0.03125,0.03125,0,0.6627451,0.56078434,0.58431375
GameObject -0.75,-0.56125,0.03125,0.03125,0,0.63529414,0.5294118,0.5529412
GameObject -0.71875,-0.56125,0.03125,0.03125,0,0.62352943,0.5411765,0.5411765
GameObject -0.6875,-0.56125,0.03125,0.03125,0,0.61960787,0.5686275,0.5686275
GameObject -0.65625,-0.56125,0.03125,0.03125,0,0.5058824,0.47843137,0.49019608
GameObject -0.625,-0.56125,0.03125,0.03125,0,0.26666668,0.25490198,0.24313726
GameObject -0.59375,-0.56125,0.03125,0.03125,0,0.1254902,0.07058824,0.02745098
GameObject -0.5625,-0.56125,0.03125,0.03125,0,0.16470589,0.078431375,0.015686275
GameObject -0.53125,-0.56125,0.03125,0.03125,0,0.12156863,0.03529412,0.0
GameObject -0.5,-0.56125,0.03125,0.03125,0,0.47058824,0.41568628,0.38431373
GameObject -0.46875,-0.56125,0.03125,0.03125,0,0.92941177,0.88235295,0.8509804
GameObject -0.4375,-0.56125,0.03125,0.03125,0,0.8901961,0.8039216,0.77254903
GameObject -0.40625,-0.56125,0.03125,0.03125,0,0.76862746,0.6627451,0.6156863
GameObject -0.375,-0.56125,0.03125,0.03125,0,0.74509805,0.6392157,0.5921569
GameObject -0.34375,-0.56125,0.03125,0.03125,0,0.65882355,0.5411765,0.5019608
GameObject -0.3125,-0.56125,0.03125,0.03125,0,0.6,0.48235294,0.43529412
GameObject -0.28125,-0.56125,0.03125,0.03125,0,0.5803922,0.4509804,0.40784314
GameObject -0.25,-0.56125,0.03125,0.03125,0,0.5764706,0.46666667,0.40784314
GameObject -0.21875,-0.56125,0.03125,0.03125,0,0.61960787,0.49411765,0.43529412
GameObject -0.1875,-0.56125,0.03125,0.03125,0,0.60784316,0.46666667,0.4117647
GameObject -0.15625,-0.56125,0.03125,0.03125,0,0.5372549,0.39607844,0.33333334
GameObject -0.125,-0.56125,0.03125,0.03125,0,0.5137255,0.38039216,0.32156864
GameObject -0.09375,-0.56125,0.03125,0.03125,0,0.56078434,0.4,0.35686275
GameObject -0.0625,-0.56125,0.03125,0.03125,0,0.63529414,0.4627451,0.43137255
GameObject -0.03125,-0.56125,0.03125,0.03125,0,0.6,0.43137255,0.40784314
GameObject 0.0,-0.56125,0.03125,0.03125,0,0.61960787,0.44313726,0.4392157
GameObject 0.03125,-0.56125,0.03125,0.03125,0,0.6313726,0.4509804,0.4509804
GameObject 0.0625,-0.56125,0.03125,0.03125,0,0.5647059,0.39607844,0.39607844
GameObject 0.09375,-0.56125,0.03125,0.03125,0,0.53333336,0.37254903,0.3764706
GameObject 0.125,-0.56125,0.03125,0.03125,0,0.54509807,0.39215687,0.39215687
GameObject 0.15625,-0.56125,0.03125,0.03125,0,0.5294118,0.38431373,0.38431373
GameObject 0.1875,-0.56125,0.03125,0.03125,0,0.5294118,0.36862746,0.37254903
GameObject 0.21875,-0.56125,0.03125,0.03125,0,0.5411765,0.38039216,0.38039216
GameObject 0.25,-0.56125,0.03125,0.03125,0,0.6156863,0.47843137,0.46666667
GameObject 0.28125,-0.56125,0.03125,0.03125,0,0.70980394,0.58431375,0.56078434
GameObject 0.3125,-0.56125,0.03125,0.03125,0,0.7607843,0.62352943,0.6117647
GameObject 0.34375,-0.56125,0.03125,0.03125,0,0.63529414,0.49019608,0.47843137
GameObject 0.375,-0.56125,0.03125,0.03125,0,0.4627451,0.32941177,0.29803923
GameObject 0.40625,-0.56125,0.03125,0.03125,0,0.54509807,0.43137255,0.38431373
GameObject 0.4375,-0.56125,0.03125,0.03125,0,0.69803923,0.5882353,0.54509807
GameObject 0.46875,-0.56125,0.03125,0.03125,0,0.7137255,0.5921569,0.57254905
GameObject 0.5,-0.56125,0.03125,0.03125,0,0.7137255,0.6509804,0.6392157
GameObject 0.53125,-0.56125,0.03125,0.03125,0,0.69803923,0.6901961,0.67058825
GameObject 0.5625,-0.56125,0.03125,0.03125,0,0.68235296,0.69411767,0.6745098
GameObject 0.59375,-0.56125,0.03125,0.03125,0,0.6862745,0.70980394,0.6745098
GameObject 0.625,-0.56125,0.03125,0.03125,0,0.69803923,0.7058824,0.6784314
GameObject 0.65625,-0.56125,0.03125,0.03125,0,0.6862745,0.69803923,0.6745098
GameObject 0.6875,-0.56125,0.03125,0.03125,0,0.6745098,0.6901961,0.6627451
GameObject 0.71875,-0.56125,0.03125,0.03125,0,0.6666667,0.67058825,0.6509804
GameObject 0.75,-0.56125,0.03125,0.03125,0,0.67058825,0.6745098,0.6509804
GameObject 0.78125,-0.56125,0.03125,0.03125,0,0.67058825,0.6784314,0.65882355
GameObject 0.8125,-0.56125,0.03125,0.03125,0,0.67058825,0.6784314,0.64705884
GameObject 0.84375,-0.56125,0.03125,0.03125,0,0.67058825,0.6745098,0.63529414
GameObject 0.875,-0.56125,0.03125,0.03125,0,0.6627451,0.6627451,0.6392157
GameObject 0.90625,-0.56125,0.03125,0.03125,0,0.65882355,0.6627451,0.6313726
GameObject 0.9375,-0.56125,0.03125,0.03125,0,0.6431373,0.654902,0.5921569
GameObject 0.96875,-0.56125,0.03125,0.03125,0,0.6313726,0.6431373,0.5803922
GameObject -1.0,-0.5925,0.03125,0.03125,0,0.5372549,0.50980395,0.4745098
GameObject -0.96875,-0.5925,0.03125,0.03125,0,0.61960787,0.6039216,0.5803922
GameObject -0.9375,-0.5925,0.03125,0.03125,0,0.6784314,0.6666667,0.64705884
GameObject -0.90625,-0.5925,0.03125,0.03125,0,0.6627451,0.6313726,0.6313726
GameObject -0.875,-0.5925,0.03125,0.03125,0,0.65882355,0.6156863,0.627451
GameObject -0.84375,-0.5925,0.03125,0.03125,0,0.7058824,0.64705884,0.6745098
GameObject -0.8125,-0.5925,0.03125,0.03125,0,0.75686276,0.7019608,0.72156864
GameObject -0.78125,-0.5925,0.03125,0.03125,0,0.77254903,0.7294118,0.73333335
GameObject -0.75,-0.5925,0.03125,0.03125,0,0.7490196,0.7137255,0.70980394
GameObject -0.71875,-0.5925,0.03125,0.03125,0,0.69803923,0.6509804,0.63529414
GameObject -0.6875,-0.5925,0.03125,0.03125,0,0.6627451,0.6,0.58431375
GameObject -0.65625,-0.5925,0.03125,0.03125,0,0.5019608,0.46666667,0.46666667
GameObject -0.625,-0.5925,0.03125,0.03125,0,0.24705882,0.22745098,0.21960784
GameObject -0.59375,-0.5925,0.03125,0.03125,0,0.14509805,0.06666667,0.03529412
GameObject -0.5625,-0.5925,0.03125,0.03125,0,0.18431373,0.078431375,0.023529412
GameObject -0.53125,-0.5925,0.03125,0.03125,0,0.09803922,0.007843138,0.0
GameObject -0.5,-0.5925,0.03125,0.03125,0,0.52156866,0.47058824,0.43529412
GameObject -0.46875,-0.5925,0.03125,0.03125,0,0.9490196,0.9098039,0.8745098
GameObject -0.4375,-0.5925,0.03125,0.03125,0,0.9137255,0.8156863,0.79607844
GameObject -0.40625,-0.5925,0.03125,0.03125,0,0.7607843,0.64705884,0.60784316
GameObject -0.375,-0.5925,0.03125,0.03125,0,0.7294118,0.62352943,0.57254905
GameObject -0.34375,-0.5925,0.03125,0.03125,0,0.6431373,0.54509807,0.49019608
GameObject -0.3125,-0.5925,0.03125,0.03125,0,0.5882353,0.49019608,0.43529412
GameObject -0.28125,-0.5925,0.03125,0.03125,0,0.52156866,0.41568628,0.36862746
GameObject -0.25,-0.5925,0.03125,0.03125,0,0.5176471,0.40784314,0.3529412
GameObject -0.21875,-0.5925,0.03125,0.03125,0,0.5411765,0.41960785,0.35686275
GameObject -0.1875,-0.5925,0.03125,0.03125,0,0.54509807,0.41960785,0.35686275
GameObject -0.15625,-0.5925,0.03125,0.03125,0,0.52156866,0.39215687,0.32941177
GameObject -0.125,-0.5925,0.03125,0.03125,0,0.5568628,0.4117647,0.35686275
GameObject -0.09375,-0.5925,0.03125,0.03125,0,0.5882353,0.4392157,0.39215687
GameObject -0.0625,-0.5925,0.03125,0.03125,0,0.654902,0.5019608,0.4627451
GameObject -0.03125,-0.5925,0.03125,0.03125,0,0.654902,0.49803922,0.45882353
GameObject 0.0,-0.5925,0.03125,0.03125,0,0.6392157,0.48235294,0.44705883
GameObject 0.03125,-0.5925,0.03125,0.03125,0,0.6156863,0.4627451,0.4392157
GameObject 0.0625,-0.5925,0.03125,0.03125,0,0.49019608,0.34117648,0.32156864
GameObject 0.09375,-0.5925,0.03125,0.03125,0,0.43137255,0.28627452,0.27450982
GameObject 0.125,-0.5925,0.03125,0.03125,0,0.40784314,0.27058825,0.26666668
GameObject 0.15625,-0.5925,0.03125,0.03125,0,0.38039216,0.25882354,0.2509804
GameObject 0.1875,-0.5925,0.03125,0.03125,0,0.39607844,0.2784314,0.26666668
GameObject 0.21875,-0.5925,0.03125,0.03125,0,0.44313726,0.31764707,0.28627452
GameObject 0.25,-0.5925,0.03125,0.03125,0,0.5686275,0.43529412,0.4
GameObject 0.28125,-0.5925,0.03125,0.03125,0,0.6784314,0.54901963,0.5137255
GameObject 0.3125,-0.5925,0.03125,0.03125,0,0.7294118,0.6039216,0.5686275
GameObject 0.34375,-0.5925,0.03125,0.03125,0,0.67058825,0.5372549,0.50980395
GameObject 0.375,-0.5925,0.03125,0.03125,0,0.53333336,0.4,0.3647059
GameObject 0.40625,-0.5925,0.03125,0.03125,0,0.59607846,0.4745098,0.41960785
GameObject 0.4375,-0.5925,0.03125,0.03125,0,0.6784314,0.5764706,0.52156866
GameObject 0.46875,-0.5925,0.03125,0.03125,0,0.67058825,0.5882353,0.5568628
GameObject 0.5,-0.5925,0.03125,0.03125,0,0.69803923,0.6745098,0.64705884
GameObject 0.53125,-0.5925,0.03125,0.03125,0,0.6901961,0.7019608,0.67058825
GameObject 0.5625,-0.5925,0.03125,0.03125,0,0.6901961,0.69803923,0.67058825
GameObject 0.59375,-0.5925,0.03125,0.03125,0,0.6901961,0.7058824,0.6745098
GameObject 0.625,-0.5925,0.03125,0.03125,0,0.6901961,0.7019608,0.6745098
GameObject 0.65625,-0.5925,0.03125,0.03125,0,0.6862745,0.69803923,0.67058825
GameObject 0.6875,-0.5925,0.03125,0.03125,0,0.6745098,0.68235296,0.654902
GameObject 0.71875,-0.5925,0.03125,0.03125,0,0.6666667,0.67058825,0.64705884
GameObject 0.75,-0.5925,0.03125,0.03125,0,0.67058825,0.6745098,0.6509804
GameObject 0.78125,-0.5925,0.03125,0.03125,0,0.67058825,0.6745098,0.64705884
GameObject 0.8125,-0.5925,0.03125,0.03125,0,0.6745098,0.6784314,0.64705884
GameObject 0.84375,-0.5925,0.03125,0.03125,0,0.67058825,0.6745098,0.6431373
GameObject 0.875,-0.5925,0.03125,0.03125,0,0.6666667,0.6666667,0.6392157
GameObject 0.90625,-0.5925,0.03125,0.03125,0,0.65882355,0.6666667,0.62352943
GameObject 0.9375,-0.5925,0.03125,0.03125,0,0.6509804,0.6627451,0.6156863
GameObject 0.96875,-0.5925,0.03125,0.03125,0,0.6509804,0.6666667,0.6156863
GameObject -1.0,-0.62375,0.03125,0.03125,0,0.6784314,0.65882355,0.60784316
GameObject -0.96875,-0.62375,0.03125,0.03125,0,0.52156866,0.49803922,0.45882353
GameObject -0.9375,-0.62375,0.03125,0.03125,0,0.49803922,0.46666667,0.43529412
GameObject -0.90625,-0.62375,0.03125,0.03125,0,0.60784316,0.57254905,0.56078434
GameObject -0.875,-0.62375,0.03125,0.03125,0,0.6784314,0.6509804,0.64705884
GameObject -0.84375,-0.62375,0.03125,0.03125,0,0.73333335,0.7137255,0.70980394
GameObject -0.8125,-0.62375,0.03125,0.03125,0,0.7607843,0.7411765,0.7372549
GameObject -0.78125,-0.62375,0.03125,0.03125,0,0.77254903,0.7490196,0.7490196
GameObject -0.75,-0.62375,0.03125,0.03125,0,0.6862745,0.65882355,0.6509804
GameObject -0.71875,-0.62375,0.03125,0.03125,0,0.56078434,0.5176471,0.5019608
GameObject -0.6875,-0.62375,0.03125,0.03125,0,0.4745098,0.42352942,0.4
GameObject -0.65625,-0.62375,0.03125,0.03125,0,0.28627452,0.23921569,0.21176471
GameObject -0.625,-0.62375,0.03125,0.03125,0,0.13333334,0.09019608,0.05882353
GameObject -0.59375,-0.62375,0.03125,0.03125,0,0.14901961,0.07450981,0.03529412
GameObject -0.5625,-0.62375,0.03125,0.03125,0,0.15294118,0.05882353,0.019607844
GameObject -0.53125,-0.62375,0.03125,0.03125,0,0.05882353,0.0,0.0
GameObject -0.5,-0.62375,0.03125,0.03125,0,0.5882353,0.5568628,0.50980395
GameObject -0.46875,-0.62375,0.03125,0.03125,0,0.972549,0.9254902,0.88235295
GameObject -0.4375,-0.62375,0.03125,0.03125,0,0.9411765,0.8352941,0.79607844
GameObject -0.40625,-0.62375,0.03125,0.03125,0,0.7921569,0.68235296,0.63529414
GameObject -0.375,-0.62375,0.03125,0.03125,0,0.6901961,0.5921569,0.5411765
GameObject -0.34375,-0.62375,0.03125,0.03125,0,0.64705884,0.54509807,0.49411765
GameObject -0.3125,-0.62375,0.03125,0.03125,0,0.6156863,0.5137255,0.4627451
GameObject -0.28125,-0.62375,0.03125,0.03125,0,0.52156866,0.4117647,0.3647059
GameObject -0.25,-0.62375,0.03125,0.03125,0,0.49803922,0.3882353,0.33333334
GameObject -0.21875,-0.62375,0.03125,0.03125,0,0.5019608,0.3882353,0.33333334
GameObject -0.1875,-0.62375,0.03125,0.03125,0,0.47843137,0.34901962,0.2901961
GameObject -0.15625,-0.62375,0.03125,0.03125,0,0.5294118,0.4,0.3372549
GameObject -0.125,-0.62375,0.03125,0.03125,0,0.6117647,0.47843137,0.41960785
GameObject -0.09375,-0.62375,0.03125,0.03125,0,0.69411767,0.5764706,0.5294118
GameObject -0.0625,-0.62375,0.03125,0.03125,0,0.70980394,0.5882353,0.54901963
GameObject -0.03125,-0.62375,0.03125,0.03125,0,0.7294118,0.5882353,0.5529412
GameObject 0.0,-0.62375,0.03125,0.03125,0,0.7137255,0.5568628,0.5294118
GameObject 0.03125,-0.62375,0.03125,0.03125,0,0.68235296,0.50980395,0.49411765
GameObject 0.0625,-0.62375,0.03125,0.03125,0,0.5803922,0.41568628,0.40392157
GameObject 0.09375,-0.62375,0.03125,0.03125,0,0.47843137,0.3254902,0.30980393
GameObject 0.125,-0.62375,0.03125,0.03125,0,0.4117647,0.27450982,0.26666668
GameObject 0.15625,-0.62375,0.03125,0.03125,0,0.36862746,0.25490198,0.23921569
GameObject 0.1875,-0.62375,0.03125,0.03125,0,0.3882353,0.28627452,0.2627451
GameObject 0.21875,-0.62375,0.03125,0.03125,0,0.47843137,0.3647059,0.3372549
GameObject 0.25,-0.62375,0.03125,0.03125,0,0.59607846,0.45490196,0.41568628
GameObject 0.28125,-0.62375,0.03125,0.03125,0,0.6627451,0.5176471,0.48235294
GameObject 0.3125,-0.62375,0.03125,0.03125,0,0.70980394,0.5921569,0.54901963
GameObject 0.34375,-0.62375,0.03125,0.03125,0,0.69411767,0.5921569,0.54901963
GameObject 0.375,-0.62375,0.03125,0.03125,0,0.6156863,0.5019608,0.45490196
GameObject 0.40625,-0.62375,0.03125,0.03125,0,0.63529414,0.5254902,0.46666667
GameObject 0.4375,-0.62375,0.03125,0.03125,0,0.6431373,0.5568628,0.49411765
GameObject 0.46875,-0.62375,0.03125,0.03125,0,0.6627451,0.61960787,0.5647059
GameObject 0.5,-0.62375,0.03125,0.03125,0,0.7019608,0.7019608,0.6627451
GameObject 0.53125,-0.62375,0.03125,0.03125,0,0.6901961,0.7058824,0.67058825
GameObject 0.5625,-0.62375,0.03125,0.03125,0,0.6862745,0.7019608,0.6627451
GameObject 0.59375,-0.62375,0.03125,0.03125,0,0.6901961,0.7019608,0.6627451
GameObject 0.625,-0.62375,0.03125,0.03125,0,0.68235296,0.69803923,0.65882355
GameObject 0.65625,-0.62375,0.03125,0.03125,0,0.6862745,0.6901961,0.654902
GameObject 0.6875,-0.62375,0.03125,0.03125,0,0.67058825,0.6745098,0.64705884
GameObject 0.71875,-0.62375,0.03125,0.03125,0,0.6745098,0.6784314,0.6431373
GameObject 0.75,-0.62375,0.03125,0.03125,0,0.6784314,0.68235296,0.6509804
GameObject 0.78125,-0.62375,0.03125,0.03125,0,0.6745098,0.6784314,0.6431373
GameObject 0.8125,-0.62375,0.03125,0.03125,0,0.6745098,0.6784314,0.6431373
GameObject 0.84375,-0.62375,0.03125,0.03125,0,0.67058825,0.6745098,0.6392157
GameObject 0.875,-0.62375,0.03125,0.03125,0,0.6666667,0.67058825,0.6392157
GameObject 0.90625,-0.62375,0.03125,0.03125,0,0.6627451,0.67058825,0.62352943
GameObject 0.9375,-0.62375,0.03125,0.03125,0,0.654902,0.6627451,0.61960787
GameObject 0.96875,-0.62375,0.03125,0.03125,0,0.6627451,0.6666667,0.61960787
GameObject -1.0,-0.655,0.03125,0.03125,0,0.7058824,0.65882355,0.6431373
GameObject -0.96875,-0.655,0.03125,0.03125,0,0.49411765,0.43529412,0.42745098
GameObject -0.9375,-0.655,0.03125,0.03125,0,0.42745098,0.35686275,0.3529412
GameObject -0.90625,-0.655,0.03125,0.03125,0,0.58431375,0.5372549,0.53333336
GameObject -0.875,-0.655,0.03125,0.03125,0,0.67058825,0.6431373,0.6431373
GameObject -0.84375,-0.655,0.03125,0.03125,0,0.69411767,0.6784314,0.69803923
GameObject -0.8125,-0.655,0.03125,0.03125,0,0.7411765,0.7254902,0.74509805
GameObject -0.78125,-0.655,0.03125,0.03125,0,0.7921569,0.7647059,0.7764706
GameObject -0.75,-0.655,0.03125,0.03125,0,0.6862745,0.6392157,0.65882355
GameObject -0.71875,-0.655,0.03125,0.03125,0,0.35686275,0.32156864,0.3254902
GameObject -0.6875,-0.655,0.03125,0.03125,0,0.18039216,0.14117648,0.11372549
GameObject -0.65625,-0.655,0.03125,0.03125,0,0.18431373,0.11372549,0.07450981
GameObject -0.625,-0.655,0.03125,0.03125,0,0.12941177,0.050980393,0.019607844
GameObject -0.59375,-0.655,0.03125,0.03125,0,0.043137256,0.0,0.0
GameObject -0.5625,-0.655,0.03125,0.03125,0,0.105882354,0.047058824,0.050980393
GameObject -0.53125,-0.655,0.03125,0.03125,0,0.21568628,0.16078432,0.16078432
GameObject -0.5,-0.655,0.03125,0.03125,0,0.7372549,0.7058824,0.6745098
GameObject -0.46875,-0.655,0.03125,0.03125,0,0.9882353,0.9254902,0.87058824
GameObject -0.4375,-0.655,0.03125,0.03125,0,0.9529412,0.8392157,0.8
GameObject -0.40625,-0.655,0.03125,0.03125,0,0.8392157,0.7294118,0.6745098
GameObject -0.375,-0.655,0.03125,0.03125,0,0.69411767,0.5921569,0.5411765
GameObject -0.34375,-0.655,0.03125,0.03125,0,0.6117647,0.5137255,0.4627451
GameObject -0.3125,-0.655,0.03125,0.03125,0,0.6117647,0.5058824,0.45882353
GameObject -0.28125,-0.655,0.03125,0.03125,0,0.5568628,0.44705883,0.39607844
GameObject -0.25,-0.655,0.03125,0.03125,0,0.49411765,0.38431373,0.3254902
GameObject -0.21875,-0.655,0.03125,0.03125,0,0.49803922,0.3882353,0.33333334
GameObject -0.1875,-0.655,0.03125,0.03125,0,0.5019608,0.38431373,0.32941177
GameObject -0.15625,-0.655,0.03125,0.03125,0,0.6,0.46666667,0.40784314
GameObject -0.125,-0.655,0.03125,0.03125,0,0.67058825,0.54901963,0.49411765
GameObject -0.09375,-0.655,0.03125,0.03125,0,0.68235296,0.5921569,0.5411765
GameObject -0.0625,-0.655,0.03125,0.03125,0,0.73333335,0.6313726,0.5882353
GameObject -0.03125,-0.655,0.03125,0.03125,0,0.74509805,0.62352943,0.5882353
GameObject 0.0,-0.655,0.03125,0.03125,0,0.7294118,0.5882353,0.56078434
GameObject 0.03125,-0.655,0.03125,0.03125,0,0.6862745,0.5294118,0.50980395
GameObject 0.0625,-0.655,0.03125,0.03125,0,0.64705884,0.4862745,0.47058824
GameObject 0.09375,-0.655,0.03125,0.03125,0,0.5882353,0.43137255,0.42352942
GameObject 0.125,-0.655,0.03125,0.03125,0,0.4862745,0.3529412,0.3372549
GameObject 0.15625,-0.655,0.03125,0.03125,0,0.41568628,0.29803923,0.27450982
GameObject 0.1875,-0.655,0.03125,0.03125,0,0.45490196,0.34901962,0.3254902
GameObject 0.21875,-0.655,0.03125,0.03125,0,0.5568628,0.44705883,0.41960785
GameObject 0.25,-0.655,0.03125,0.03125,0,0.6431373,0.49411765,0.46666667
GameObject 0.28125,-0.655,0.03125,0.03125,0,0.6862745,0.53333336,0.5019608
GameObject 0.3125,-0.655,0.03125,0.03125,0,0.72156864,0.6156863,0.5803922
GameObject 0.34375,-0.655,0.03125,0.03125,0,0.6862745,0.6039216,0.5686275
GameObject 0.375,-0.655,0.03125,0.03125,0,0.654902,0.5764706,0.52156866
GameObject 0.40625,-0.655,0.03125,0.03125,0,0.6627451,0.57254905,0.50980395
GameObject 0.4375,-0.655,0.03125,0.03125,0,0.654902,0.5803922,0.5294118
GameObject 0.46875,-0.655,0.03125,0.03125,0,0.68235296,0.6627451,0.62352943
GameObject 0.5,-0.655,0.03125,0.03125,0,0.69803923,0.70980394,0.6627451
GameObject 0.53125,-0.655,0.03125,0.03125,0,0.6862745,0.69411767,0.64705884
GameObject 0.5625,-0.655,0.03125,0.03125,0,0.6862745,0.69411767,0.64705884
GameObject 0.59375,-0.655,0.03125,0.03125,0,0.68235296,0.69411767,0.64705884
GameObject 0.625,-0.655,0.03125,0.03125,0,0.68235296,0.6901961,0.64705884
GameObject 0.65625,-0.655,0.03125,0.03125,0,0.6784314,0.6862745,0.6431373
GameObject 0.6875,-0.655,0.03125,0.03125,0,0.6666667,0.6784314,0.6313726
GameObject 0.71875,-0.655,0.03125,0.03125,0,0.6666667,0.6745098,0.6313726
GameObject 0.75,-0.655,0.03125,0.03125,0,0.6745098,0.68235296,0.6392157
GameObject 0.78125,-0.655,0.03125,0.03125,0,0.6745098,0.68235296,0.6392157
GameObject 0.8125,-0.655,0.03125,0.03125,0,0.6666667,0.6745098,0.6313726
GameObject 0.84375,-0.655,0.03125,0.03125,0,0.65882355,0.67058825,0.62352943
GameObject 0.875,-0.655,0.03125,0.03125,0,0.654902,0.6627451,0.61960787
GameObject 0.90625,-0.655,0.03125,0.03125,0,0.6431373,0.6509804,0.60784316
GameObject 0.9375,-0.655,0.03125,0.03125,0,0.6313726,0.6392157,0.5882353
GameObject 0.96875,-0.655,0.03125,0.03125,0,0.6392157,0.64705884,0.5921569
GameObject -1.0,-0.68625,0.03125,0.03125,0,0.59607846,0.5058824,0.54509807
GameObject -0.96875,-0.68625,0.03125,0.03125,0,0.47843137,0.38039216,0.40392157
GameObject -0.9375,-0.68625,0.03125,0.03125,0,0.45882353,0.36862746,0.38431373
GameObject -0.90625,-0.68625,0.03125,0.03125,0,0.6,0.5176471,0.5294118
GameObject -0.875,-0.68625,0.03125,0.03125,0,0.67058825,0.6156863,0.63529414
GameObject -0.84375,-0.68625,0.03125,0.03125,0,0.69411767,0.6509804,0.68235296
GameObject -0.8125,-0.68625,0.03125,0.03125,0,0.7254902,0.6862745,0.7176471
GameObject -0.78125,-0.68625,0.03125,0.03125,0,0.78431374,0.73333335,0.7607843
GameObject -0.75,-0.68625,0.03125,0.03125,0,0.77254903,0.7058824,0.7372549
GameObject -0.71875,-0.68625,0.03125,0.03125,0,0.40784314,0.36078432,0.37254903
GameObject -0.6875,-0.68625,0.03125,0.03125,0,0.078431375,0.047058824,0.019607844
GameObject -0.65625,-0.68625,0.03125,0.03125,0,0.12941177,0.05882353,0.023529412
GameObject -0.625,-0.68625,0.03125,0.03125,0,0.078431375,0.003921569,0.0
GameObject -0.59375,-0.68625,0.03125,0.03125,0,0.12156863,0.09803922,0.10980392
GameObject -0.5625,-0.68625,0.03125,0.03125,0,0.5058824,0.46666667,0.5058824
GameObject -0.53125,-0.68625,0.03125,0.03125,0,0.38039216,0.33333334,0.35686275
GameObject -0.5,-0.68625,0.03125,0.03125,0,0.75686276,0.72156864,0.69411767
GameObject -0.46875,-0.68625,0.03125,0.03125,0,0.9882353,0.92156863,0.8901961
GameObject -0.4375,-0.68625,0.03125,0.03125,0,0.92941177,0.827451,0.80784315
GameObject -0.40625,-0.68625,0.03125,0.03125,0,0.87058824,0.7607843,0.7137255
GameObject -0.375,-0.68625,0.03125,0.03125,0,0.70980394,0.6039216,0.54509807
GameObject -0.34375,-0.68625,0.03125,0.03125,0,0.5921569,0.48235294,0.43137255
GameObject -0.3125,-0.68625,0.03125,0.03125,0,0.5686275,0.45490196,0.4117647
GameObject -0.28125,-0.68625,0.03125,0.03125,0,0.5921569,0.48235294,0.43529412
GameObject -0.25,-0.68625,0.03125,0.03125,0,0.5529412,0.44313726,0.4
GameObject -0.21875,-0.68625,0.03125,0.03125,0,0.49803922,0.3882353,0.3372549
GameObject -0.1875,-0.68625,0.03125,0.03125,0,0.52156866,0.40784314,0.3529412
GameObject -0.15625,-0.68625,0.03125,0.03125,0,0.6117647,0.49411765,0.4392157
GameObject -0.125,-0.68625,0.03125,0.03125,0,0.69803923,0.58431375,0.53333336
GameObject -0.09375,-0.68625,0.03125,0.03125,0,0.69803923,0.5921569,0.54901963
GameObject -0.0625,-0.68625,0.03125,0.03125,0,0.7529412,0.64705884,0.61960787
GameObject -0.03125,-0.68625,0.03125,0.03125,0,0.77254903,0.6627451,0.6392157
GameObject 0.0,-0.68625,0.03125,0.03125,0,0.78039217,0.65882355,0.6392157
GameObject 0.03125,-0.68625,0.03125,0.03125,0,0.7647059,0.6392157,0.61960787
GameObject 0.0625,-0.68625,0.03125,0.03125,0,0.8235294,0.69803923,0.6784314
GameObject 0.09375,-0.68625,0.03125,0.03125,0,0.85490197,0.7137255,0.69411767
GameObject 0.125,-0.68625,0.03125,0.03125,0,0.75686276,0.6117647,0.5882353
GameObject 0.15625,-0.68625,0.03125,0.03125,0,0.7019608,0.5529412,0.5294118
GameObject 0.1875,-0.68625,0.03125,0.03125,0,0.7176471,0.58431375,0.57254905
GameObject 0.21875,-0.68625,0.03125,0.03125,0,0.77254903,0.6509804,0.65882355
GameObject 0.25,-0.68625,0.03125,0.03125,0,0.78039217,0.63529414,0.63529414
GameObject 0.28125,-0.68625,0.03125,0.03125,0,0.7490196,0.6039216,0.59607846
GameObject 0.3125,-0.68625,0.03125,0.03125,0,0.7294118,0.62352943,0.6117647
GameObject 0.34375,-0.68625,0.03125,0.03125,0,0.7019608,0.627451,0.6039216
GameObject 0.375,-0.68625,0.03125,0.03125,0,0.6901961,0.6156863,0.5803922
GameObject 0.40625,-0.68625,0.03125,0.03125,0,0.6745098,0.5921569,0.5568628
GameObject 0.4375,-0.68625,0.03125,0.03125,0,0.67058825,0.6156863,0.5803922
GameObject 0.46875,-0.68625,0.03125,0.03125,0,0.654902,0.65882355,0.63529414
GameObject 0.5,-0.68625,0.03125,0.03125,0,0.6431373,0.6666667,0.63529414
GameObject 0.53125,-0.68625,0.03125,0.03125,0,0.654902,0.6627451,0.61960787
GameObject 0.5625,-0.68625,0.03125,0.03125,0,0.65882355,0.65882355,0.61960787
GameObject 0.59375,-0.68625,0.03125,0.03125,0,0.6627451,0.6627451,0.62352943
GameObject 0.625,-0.68625,0.03125,0.03125,0,0.6627451,0.6627451,0.62352943
GameObject 0.65625,-0.68625,0.03125,0.03125,0,0.654902,0.654902,0.6156863
GameObject 0.6875,-0.68625,0.03125,0.03125,0,0.6431373,0.6431373,0.6039216
GameObject 0.71875,-0.68625,0.03125,0.03125,0,0.6392157,0.6392157,0.6
GameObject 0.75,-0.68625,0.03125,0.03125,0,0.64705884,0.64705884,0.60784316
GameObject 0.78125,-0.68625,0.03125,0.03125,0,0.6509804,0.6509804,0.6117647
GameObject 0.8125,-0.68625,0.03125,0.03125,0,0.64705884,0.64705884,0.60784316
GameObject 0.84375,-0.68625,0.03125,0.03125,0,0.6392157,0.6392157,0.6
GameObject 0.875,-0.68625,0.03125,0.03125,0,0.6313726,0.6313726,0.5921569
GameObject 0.90625,-0.68625,0.03125,0.03125,0,0.61960787,0.62352943,0.5803922
GameObject 0.9375,-0.68625,0.03125,0.03125,0,0.6039216,0.60784316,0.5568628
GameObject 0.96875,-0.68625,0.03125,0.03125,0,0.60784316,0.6117647,0.5647059
GameObject -1.0,-0.7175,0.03125,0.03125,0,0.38431373,0.2509804,0.3137255
GameObject -0.96875,-0.7175,0.03125,0.03125,0,0.40784314,0.29803923,0.32941177
GameObject -0.9375,-0.7175,0.03125,0.03125,0,0.4862745,0.39607844,0.39607844
GameObject -0.90625,-0.7175,0.03125,0.03125,0,0.5137255,0.44705883,0.43529412
GameObject -0.875,-0.7175,0.03125,0.03125,0,0.6039216,0.5411765,0.53333336
GameObject -0.84375,-0.7175,0.03125,0.03125,0,0.6745098,0.6156863,0.62352943
GameObject -0.8125,-0.7175,0.03125,0.03125,0,0.6666667,0.6117647,0.61960787
GameObject -0.78125,-0.7175,0.03125,0.03125,0,0.69803923,0.6392157,0.6431373
GameObject -0.75,-0.7175,0.03125,0.03125,0,0.64705884,0.5921569,0.58431375
GameObject -0.71875,-0.7175,0.03125,0.03125,0,0.2784314,0.23529412,0.21568628
GameObject -0.6875,-0.7175,0.03125,0.03125,0,0.039215688,0.0,0.0
GameObject -0.65625,-0.7175,0.03125,0.03125,0,0.1254902,0.05882353,0.039215688
GameObject -0.625,-0.7175,0.03125,0.03125,0,0.12941177,0.08627451,0.07450981
GameObject -0.59375,-0.7175,0.03125,0.03125,0,0.60784316,0.61960787,0.6666667
GameObject -0.5625,-0.7175,0.03125,0.03125,0,0.36078432,0.34901962,0.44313726
GameObject -0.53125,-0.7175,0.03125,0.03125,0,0.27450982,0.21960784,0.2509804
GameObject -0.5,-0.7175,0.03125,0.03125,0,0.88235295,0.8745098,0.84705883
GameObject -0.46875,-0.7175,0.03125,0.03125,0,0.96862745,0.9137255,0.89411765
GameObject -0.4375,-0.7175,0.03125,0.03125,0,0.9254902,0.8235294,0.8117647
GameObject -0.40625,-0.7175,0.03125,0.03125,0,0.9019608,0.7921569,0.7490196
GameObject -0.375,-0.7175,0.03125,0.03125,0,0.73333335,0.61960787,0.5647059
GameObject -0.34375,-0.7175,0.03125,0.03125,0,0.5803922,0.46666667,0.41568628
GameObject -0.3125,-0.7175,0.03125,0.03125,0,0.5019608,0.39215687,0.34901962
GameObject -0.28125,-0.7175,0.03125,0.03125,0,0.5294118,0.41568628,0.36862746
GameObject -0.25,-0.7175,0.03125,0.03125,0,0.54509807,0.44313726,0.39215687
GameObject -0.21875,-0.7175,0.03125,0.03125,0,0.52156866,0.41960785,0.36862746
GameObject -0.1875,-0.7175,0.03125,0.03125,0,0.53333336,0.41960785,0.3647059
GameObject -0.15625,-0.7175,0.03125,0.03125,0,0.57254905,0.4627451,0.40784314
GameObject -0.125,-0.7175,0.03125,0.03125,0,0.6509804,0.5372549,0.49019608
GameObject -0.09375,-0.7175,0.03125,0.03125,0,0.65882355,0.54901963,0.5137255
GameObject -0.0625,-0.7175,0.03125,0.03125,0,0.72156864,0.6156863,0.5882353
GameObject -0.03125,-0.7175,0.03125,0.03125,0,0.74509805,0.6392157,0.6117647
GameObject 0.0,-0.7175,0.03125,0.03125,0,0.79607844,0.6901961,0.6627451
GameObject 0.03125,-0.7175,0.03125,0.03125,0,0.7882353,0.6784314,0.6509804
GameObject 0.0625,-0.7175,0.03125,0.03125,0,0.74509805,0.63529414,0.60784316
GameObject 0.09375,-0.7175,0.03125,0.03125,0,0.7294118,0.59607846,0.57254905
GameObject 0.125,-0.7175,0.03125,0.03125,0,0.69411767,0.54509807,0.52156866
GameObject 0.15625,-0.7175,0.03125,0.03125,0,0.6784314,0.5176471,0.49411765
GameObject 0.1875,-0.7175,0.03125,0.03125,0,0.7019608,0.54509807,0.5411765
GameObject 0.21875,-0.7175,0.03125,0.03125,0,0.7019608,0.57254905,0.5764706
GameObject 0.25,-0.7175,0.03125,0.03125,0,0.70980394,0.5764706,0.57254905
GameObject 0.28125,-0.7175,0.03125,0.03125,0,0.7137255,0.58431375,0.5803922
GameObject 0.3125,-0.7175,0.03125,0.03125,0,0.70980394,0.6,0.59607846
GameObject 0.34375,-0.7175,0.03125,0.03125,0,0.69803923,0.6156863,0.6117647
GameObject 0.375,-0.7175,0.03125,0.03125,0,0.654902,0.58431375,0.5647059
GameObject 0.40625,-0.7175,0.03125,0.03125,0,0.6392157,0.5764706,0.54509807
GameObject 0.4375,-0.7175,0.03125,0.03125,0,0.6509804,0.61960787,0.5803922
GameObject 0.46875,-0.7175,0.03125,0.03125,0,0.6313726,0.6431373,0.61960787
GameObject 0.5,-0.7175,0.03125,0.03125,0,0.627451,0.63529414,0.6117647
GameObject 0.53125,-0.7175,0.03125,0.03125,0,0.63529414,0.63529414,0.59607846
GameObject 0.5625,-0.7175,0.03125,0.03125,0,0.6392157,0.6392157,0.6
GameObject 0.59375,-0.7175,0.03125,0.03125,0,0.6431373,0.6431373,0.6039216
GameObject 0.625,-0.7175,0.03125,0.03125,0,0.64705884,0.64705884,0.60784316
GameObject 0.65625,-0.7175,0.03125,0.03125,0,0.6392157,0.6392157,0.6
GameObject 0.6875,-0.7175,0.03125,0.03125,0,0.62352943,0.627451,0.5882353
GameObject 0.71875,-0.7175,0.03125,0.03125,0,0.6156863,0.6156863,0.5764706
GameObject 0.75,-0.7175,0.03125,0.03125,0,0.62352943,0.62352943,0.58431375
GameObject 0.78125,-0.7175,0.03125,0.03125,0,0.627451,0.627451,0.5882353
GameObject 0.8125,-0.7175,0.03125,0.03125,0,0.6313726,0.6313726,0.5921569
GameObject 0.84375,-0.7175,0.03125,0.03125,0,0.62352943,0.62352943,0.58431375
GameObject 0.875,-0.7175,0.03125,0.03125,0,0.6156863,0.6156863,0.5764706
GameObject 0.90625,-0.7175,0.03125,0.03125,0,0.6117647,0.6117647,0.57254905
GameObject 0.9375,-0.7175,0.03125,0.03125,0,0.6,0.59607846,0.5529412
GameObject 0.96875,-0.7175,0.03125,0.03125,0,0.6039216,0.59607846,0.5568628
GameObject -1.0,-0.74875,0.03125,0.03125,0,0.26666668,0.14509805,0.20392157
GameObject -0.96875,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.9375,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.90625,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.875,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.84375,-0.74875,0.03125,0.03125,0,0.627451,0.5686275,0.54509807
GameObject -0.8125,-0.74875,0.03125,0.03125,0,0.60784316,0.54509807,0.53333336
GameObject -0.78125,-0.74875,0.03125,0.03125,0,0.62352943,0.5764706,0.5529412
GameObject -0.75,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.71875,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.6875,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.65625,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.625,-0.74875,0.03125,0.03125,0,0.19607843,0.18431373,0.18039216
GameObject -0.59375,-0.74875,0.03125,0.03125,0,0.6156863,0.65882355,0.72156864
GameObject -0.5625,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.53125,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.5,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.46875,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.4375,-0.74875,0.03125,0.03125,0,0.91764706,0.83137256,0.8117647
GameObject -0.40625,-0.74875,0.03125,0.03125,0,0.8980392,0.7882353,0.74509805
GameObject -0.375,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.34375,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.3125,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.28125,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.25,-0.74875,0.03125,0.03125,0,0.49411765,0.3882353,0.3372549
GameObject -0.21875,-0.74875,0.03125,0.03125,0,0.5019608,0.39607844,0.3529412
GameObject -0.1875,-0.74875,0.03125,0.03125,0,0.5176471,0.40784314,0.3647059
GameObject -0.15625,-0.74875,0.03125,0.03125,0,0.54901963,0.44313726,0.39215687
GameObject -0.125,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.09375,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.0625,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.03125,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.0,-0.74875,0.03125,0.03125,0,0.7137255,0.6039216,0.5764706
GameObject 0.03125,-0.74875,0.03125,0.03125,0,0.68235296,0.5686275,0.54901963
GameObject 0.0625,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.09375,-0.74875,0.03125,0.03125,0,0.6627451,0.5294118,0.5058824
GameObject 0.125,-0.74875,0.03125,0.03125,0,0.61960787,0.4745098,0.4509804
GameObject 0.15625,-0.74875,0.03125,0.03125,0,0.60784316,0.4509804,0.42745098
GameObject 0.1875,-0.74875,0.03125,0.03125,0,0.60784316,0.45882353,0.43529412
GameObject 0.21875,-0.74875,0.03125,0.03125,0,0.5882353,0.4627451,0.4509804
GameObject 0.25,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.28125,-0.74875,0.03125,0.03125,0,0.62352943,0.5176471,0.49803922
GameObject 0.3125,-0.74875,0.03125,0.03125,0,0.67058825,0.5764706,0.5647059
GameObject 0.34375,-0.74875,0.03125,0.03125,0,0.65882355,0.58431375,0.5764706
GameObject 0.375,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.40625,-0.74875,0.03125,0.03125,0,0.6156863,0.57254905,0.5294118
GameObject 0.4375,-0.74875,0.03125,0.03125,0,0.62352943,0.6039216,0.5529412
GameObject 0.46875,-0.74875,0.03125,0.03125,0,0.6117647,0.6117647,0.58431375
GameObject 0.5,-0.74875,0.03125,0.03125,0,0.6156863,0.6156863,0.5921569
GameObject 0.53125,-0.74875,0.03125,0.03125,0,0.61960787,0.61960787,0.5803922
GameObject 0.5625,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.59375,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.625,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.65625,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.6875,-0.74875,0.03125,0.03125,0,0.60784316,0.60784316,0.5686275
GameObject 0.71875,-0.74875,0.03125,0.03125,0,0.6,0.59607846,0.5568628
GameObject 0.75,-0.74875,0.03125,0.03125,0,0.6117647,0.60784316,0.5686275
GameObject 0.78125,-0.74875,0.03125,0.03125,0,0.60784316,0.60784316,0.5686275
GameObject 0.8125,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.84375,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.875,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.90625,-0.74875,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.9375,-0.74875,0.03125,0.03125,0,0.58431375,0.5686275,0.53333336
GameObject 0.96875,-0.74875,0.03125,0.03125,0,0.58431375,0.57254905,0.5372549
GameObject -1.0,-0.78,0.03125,0.03125,0,0.29803923,0.21176471,0.28627452
GameObject -0.96875,-0.78,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.9375,-0.78,0.03125,0.03125,0,0.63529414,0.6039216,0.5686275
GameObject -0.90625,-0.78,0.03125,0.03125,0,0.7058824,0.68235296,0.6313726
GameObject -0.875,-0.78,0.03125,0.03125,0,0.65882355,0.6313726,0.5882353
GameObject -0.84375,-0.78,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.8125,-0.78,0.03125,0.03125,0,0.63529414,0.5882353,0.5764706
GameObject -0.78125,-0.78,0.03125,0.03125,0,0.6156863,0.5921569,0.5647059
GameObject -0.75,-0.78,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.71875,-0.78,0.03125,0.03125,0,0.6745098,0.67058825,0.59607846
GameObject -0.6875,-0.78,0.03125,0.03125,0,0.4627451,0.43529412,0.36862746
GameObject -0.65625,-0.78,0.03125,0.03125,0,0.12941177,0.105882354,0.07450981
GameObject -0.625,-0.78,0.03125,0.03125,0,0.20392157,0.23137255,0.23137255
GameObject -0.59375,-0.78,0.03125,0.03125,0,0.5137255,0.58431375,0.65882355
GameObject -0.5625,-0.78,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.53125,-0.78,0.03125,0.03125,0,0.8039216,0.7921569,0.81960785
GameObject -0.5,-0.78,0.03125,0.03125,0,0.9529412,0.9137255,0.87058824
GameObject -0.46875,-0.78,0.03125,0.03125,0,0.9372549,0.87058824,0.83137256
GameObject -0.4375,-0.78,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.40625,-0.78,0.03125,0.03125,0,0.8980392,0.78039217,0.7254902
GameObject -0.375,-0.78,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.34375,-0.78,0.03125,0.03125,0,0.6666667,0.5568628,0.5019608
GameObject -0.3125,-0.78,0.03125,0.03125,0,0.5647059,0.44313726,0.40392157
GameObject -0.28125,-0.78,0.03125,0.03125,0,0.47058824,0.3647059,0.3137255
GameObject -0.25,-0.78,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.21875,-0.78,0.03125,0.03125,0,0.4392157,0.33333334,0.2901961
GameObject -0.1875,-0.78,0.03125,0.03125,0,0.4509804,0.3529412,0.3019608
GameObject -0.15625,-0.78,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.125,-0.78,0.03125,0.03125,0,0.49019608,0.39607844,0.34901962
GameObject -0.09375,-0.78,0.03125,0.03125,0,0.5137255,0.43137255,0.39215687
GameObject -0.0625,-0.78,0.03125,0.03125,0,0.5686275,0.47843137,0.4509804
GameObject -0.03125,-0.78,0.03125,0.03125,0,0.58431375,0.48235294,0.4627451
GameObject 0.0,-0.78,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.03125,-0.78,0.03125,0.03125,0,0.52156866,0.40784314,0.39215687
GameObject 0.0625,-0.78,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.09375,-0.78,0.03125,0.03125,0,0.5058824,0.38039216,0.3647059
GameObject 0.125,-0.78,0.03125,0.03125,0,0.47843137,0.36078432,0.33333334
GameObject 0.15625,-0.78,0.03125,0.03125,0,0.46666667,0.36078432,0.32156864
GameObject 0.1875,-0.78,0.03125,0.03125,0,0.45490196,0.34509805,0.30588236
GameObject 0.21875,-0.78,0.03125,0.03125,0,0.46666667,0.3529412,0.31764707
GameObject 0.25,-0.78,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.28125,-0.78,0.03125,0.03125,0,0.5372549,0.46666667,0.42352942
GameObject 0.3125,-0.78,0.03125,0.03125,0,0.59607846,0.5254902,0.5137255
GameObject 0.34375,-0.78,0.03125,0.03125,0,0.5882353,0.5372549,0.5254902
GameObject 0.375,-0.78,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.40625,-0.78,0.03125,0.03125,0,0.57254905,0.54509807,0.49411765
GameObject 0.4375,-0.78,0.03125,0.03125,0,0.5568628,0.54509807,0.47843137
GameObject 0.46875,-0.78,0.03125,0.03125,0,0.56078434,0.5529412,0.5019608
GameObject 0.5,-0.78,0.03125,0.03125,0,0.58431375,0.57254905,0.5372549
GameObject 0.53125,-0.78,0.03125,0.03125,0,0.58431375,0.57254905,0.5411765
GameObject 0.5625,-0.78,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.59375,-0.78,0.03125,0.03125,0,0.5921569,0.5764706,0.5411765
GameObject 0.625,-0.78,0.03125,0.03125,0,0.5921569,0.5764706,0.54509807
GameObject 0.65625,-0.78,0.03125,0.03125,0,0.5882353,0.57254905,0.5372549
GameObject 0.6875,-0.78,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.71875,-0.78,0.03125,0.03125,0,0.5647059,0.5529412,0.52156866
GameObject 0.75,-0.78,0.03125,0.03125,0,0.5686275,0.5568628,0.52156866
GameObject 0.78125,-0.78,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.8125,-0.78,0.03125,0.03125,0,0.5686275,0.54901963,0.5137255
GameObject 0.84375,-0.78,0.03125,0.03125,0,0.54509807,0.53333336,0.49803922
GameObject 0.875,-0.78,0.03125,0.03125,0,0.54509807,0.5294118,0.49411765
GameObject 0.90625,-0.78,0.03125,0.03125,0,0.54901963,0.53333336,0.5019608
GameObject 0.9375,-0.78,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.96875,-0.78,0.03125,0.03125,0,0.54509807,0.53333336,0.5019608
GameObject -1.0,-0.81125,0.03125,0.03125,0,0.32156864,0.27058825,0.33333334
GameObject -0.96875,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.9375,-0.81125,0.03125,0.03125,0,0.69803923,0.67058825,0.63529414
GameObject -0.90625,-0.81125,0.03125,0.03125,0,0.7254902,0.69803923,0.6392157
GameObject -0.875,-0.81125,0.03125,0.03125,0,0.64705884,0.6117647,0.57254905
GameObject -0.84375,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.8125,-0.81125,0.03125,0.03125,0,0.627451,0.59607846,0.5921569
GameObject -0.78125,-0.81125,0.03125,0.03125,0,0.6156863,0.5921569,0.58431375
GameObject -0.75,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.71875,-0.81125,0.03125,0.03125,0,0.69411767,0.6901961,0.64705884
GameObject -0.6875,-0.81125,0.03125,0.03125,0,0.5882353,0.5647059,0.50980395
GameObject -0.65625,-0.81125,0.03125,0.03125,0,0.23137255,0.22745098,0.19607843
GameObject -0.625,-0.81125,0.03125,0.03125,0,0.2901961,0.32941177,0.35686275
GameObject -0.59375,-0.81125,0.03125,0.03125,0,0.50980395,0.5647059,0.6627451
GameObject -0.5625,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.53125,-0.81125,0.03125,0.03125,0,0.627451,0.6431373,0.7137255
GameObject -0.5,-0.81125,0.03125,0.03125,0,0.9098039,0.8862745,0.8745098
GameObject -0.46875,-0.81125,0.03125,0.03125,0,0.9490196,0.8901961,0.84705883
GameObject -0.4375,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.40625,-0.81125,0.03125,0.03125,0,0.90588236,0.78039217,0.72156864
GameObject -0.375,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.34375,-0.81125,0.03125,0.03125,0,0.6901961,0.5647059,0.5176471
GameObject -0.3125,-0.81125,0.03125,0.03125,0,0.6,0.48235294,0.4392157
GameObject -0.28125,-0.81125,0.03125,0.03125,0,0.49019608,0.38039216,0.33333334
GameObject -0.25,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.21875,-0.81125,0.03125,0.03125,0,0.42745098,0.33333334,0.28627452
GameObject -0.1875,-0.81125,0.03125,0.03125,0,0.40392157,0.30980393,0.2627451
GameObject -0.15625,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.125,-0.81125,0.03125,0.03125,0,0.4392157,0.34509805,0.29803923
GameObject -0.09375,-0.81125,0.03125,0.03125,0,0.45882353,0.3764706,0.33333334
GameObject -0.0625,-0.81125,0.03125,0.03125,0,0.48235294,0.40392157,0.3647059
GameObject -0.03125,-0.81125,0.03125,0.03125,0,0.4745098,0.3882353,0.3529412
GameObject 0.0,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.03125,-0.81125,0.03125,0.03125,0,0.43529412,0.33333334,0.31764707
GameObject 0.0625,-0.81125,0.03125,0.03125,0,0.43137255,0.3254902,0.30588236
GameObject 0.09375,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.125,-0.81125,0.03125,0.03125,0,0.42745098,0.32941177,0.30588236
GameObject 0.15625,-0.81125,0.03125,0.03125,0,0.4117647,0.32941177,0.28627452
GameObject 0.1875,-0.81125,0.03125,0.03125,0,0.41568628,0.33333334,0.28627452
GameObject 0.21875,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.25,-0.81125,0.03125,0.03125,0,0.45882353,0.3764706,0.33333334
GameObject 0.28125,-0.81125,0.03125,0.03125,0,0.5058824,0.44313726,0.41960785
GameObject 0.3125,-0.81125,0.03125,0.03125,0,0.54509807,0.5058824,0.5019608
GameObject 0.34375,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.375,-0.81125,0.03125,0.03125,0,0.5176471,0.49411765,0.47843137
GameObject 0.40625,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.4375,-0.81125,0.03125,0.03125,0,0.52156866,0.5019608,0.44705883
GameObject 0.46875,-0.81125,0.03125,0.03125,0,0.5254902,0.5137255,0.47058824
GameObject 0.5,-0.81125,0.03125,0.03125,0,0.5411765,0.52156866,0.49411765
GameObject 0.53125,-0.81125,0.03125,0.03125,0,0.53333336,0.5137255,0.4862745
GameObject 0.5625,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.59375,-0.81125,0.03125,0.03125,0,0.54901963,0.5254902,0.5058824
GameObject 0.625,-0.81125,0.03125,0.03125,0,0.54901963,0.53333336,0.5058824
GameObject 0.65625,-0.81125,0.03125,0.03125,0,0.5372549,0.5254902,0.49803922
GameObject 0.6875,-0.81125,0.03125,0.03125,0,0.52156866,0.5137255,0.48235294
GameObject 0.71875,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.75,-0.81125,0.03125,0.03125,0,0.52156866,0.50980395,0.48235294
GameObject 0.78125,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.8125,-0.81125,0.03125,0.03125,0,0.5137255,0.5019608,0.46666667
GameObject 0.84375,-0.81125,0.03125,0.03125,0,0.5176471,0.5058824,0.47058824
GameObject 0.875,-0.81125,0.03125,0.03125,0,0.5254902,0.5137255,0.48235294
GameObject 0.90625,-0.81125,0.03125,0.03125,0,0.5372549,0.5254902,0.49411765
GameObject 0.9375,-0.81125,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.96875,-0.81125,0.03125,0.03125,0,0.5176471,0.50980395,0.48235294
GameObject -1.0,-0.8425,0.03125,0.03125,0,0.3019608,0.2784314,0.29803923
GameObject -0.96875,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.9375,-0.8425,0.03125,0.03125,0,0.6901961,0.6431373,0.5803922
GameObject -0.90625,-0.8425,0.03125,0.03125,0,0.69411767,0.6431373,0.56078434
GameObject -0.875,-0.8425,0.03125,0.03125,0,0.6039216,0.5529412,0.4862745
GameObject -0.84375,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.8125,-0.8425,0.03125,0.03125,0,0.5921569,0.5647059,0.54509807
GameObject -0.78125,-0.8425,0.03125,0.03125,0,0.6,0.57254905,0.56078434
GameObject -0.75,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.71875,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.6875,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.65625,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.625,-0.8425,0.03125,0.03125,0,0.5176471,0.54509807,0.62352943
GameObject -0.59375,-0.8425,0.03125,0.03125,0,0.5176471,0.56078434,0.69411767
GameObject -0.5625,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.53125,-0.8425,0.03125,0.03125,0,0.38039216,0.4117647,0.56078434
GameObject -0.5,-0.8425,0.03125,0.03125,0,0.6862745,0.6784314,0.73333335
GameObject -0.46875,-0.8425,0.03125,0.03125,0,0.93333334,0.8862745,0.85882354
GameObject -0.4375,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.40625,-0.8425,0.03125,0.03125,0,0.8862745,0.74509805,0.7019608
GameObject -0.375,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.34375,-0.8425,0.03125,0.03125,0,0.7058824,0.58431375,0.5372549
GameObject -0.3125,-0.8425,0.03125,0.03125,0,0.61960787,0.5019608,0.45882353
GameObject -0.28125,-0.8425,0.03125,0.03125,0,0.5254902,0.41568628,0.36862746
GameObject -0.25,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.21875,-0.8425,0.03125,0.03125,0,0.43137255,0.3372549,0.2901961
GameObject -0.1875,-0.8425,0.03125,0.03125,0,0.4,0.30980393,0.26666668
GameObject -0.15625,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.125,-0.8425,0.03125,0.03125,0,0.3882353,0.3019608,0.24705882
GameObject -0.09375,-0.8425,0.03125,0.03125,0,0.41960785,0.32156864,0.27450982
GameObject -0.0625,-0.8425,0.03125,0.03125,0,0.39215687,0.30980393,0.26666668
GameObject -0.03125,-0.8425,0.03125,0.03125,0,0.36862746,0.29803923,0.2627451
GameObject 0.0,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.03125,-0.8425,0.03125,0.03125,0,0.34509805,0.28627452,0.25490198
GameObject 0.0625,-0.8425,0.03125,0.03125,0,0.3372549,0.28235295,0.2509804
GameObject 0.09375,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.125,-0.8425,0.03125,0.03125,0,0.38431373,0.3137255,0.2784314
GameObject 0.15625,-0.8425,0.03125,0.03125,0,0.38431373,0.30588236,0.26666668
GameObject 0.1875,-0.8425,0.03125,0.03125,0,0.38431373,0.3137255,0.27450982
GameObject 0.21875,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.25,-0.8425,0.03125,0.03125,0,0.41568628,0.34117648,0.3254902
GameObject 0.28125,-0.8425,0.03125,0.03125,0,0.4627451,0.40784314,0.4
GameObject 0.3125,-0.8425,0.03125,0.03125,0,0.42745098,0.41568628,0.43137255
GameObject 0.34375,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.375,-0.8425,0.03125,0.03125,0,0.46666667,0.47058824,0.48235294
GameObject 0.40625,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.4375,-0.8425,0.03125,0.03125,0,0.5019608,0.4627451,0.43529412
GameObject 0.46875,-0.8425,0.03125,0.03125,0,0.49803922,0.47843137,0.45882353
GameObject 0.5,-0.8425,0.03125,0.03125,0,0.49019608,0.47843137,0.45882353
GameObject 0.53125,-0.8425,0.03125,0.03125,0,0.4862745,0.46666667,0.44313726
GameObject 0.5625,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.59375,-0.8425,0.03125,0.03125,0,0.5176471,0.49803922,0.4745098
GameObject 0.625,-0.8425,0.03125,0.03125,0,0.5254902,0.5058824,0.48235294
GameObject 0.65625,-0.8425,0.03125,0.03125,0,0.5294118,0.50980395,0.48235294
GameObject 0.6875,-0.8425,0.03125,0.03125,0,0.5176471,0.5019608,0.4745098
GameObject 0.71875,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.75,-0.8425,0.03125,0.03125,0,0.5254902,0.5137255,0.4862745
GameObject 0.78125,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.8125,-0.8425,0.03125,0.03125,0,0.5254902,0.5137255,0.47843137
GameObject 0.84375,-0.8425,0.03125,0.03125,0,0.54901963,0.53333336,0.5019608
GameObject 0.875,-0.8425,0.03125,0.03125,0,0.5647059,0.5529412,0.52156866
GameObject 0.90625,-0.8425,0.03125,0.03125,0,0.56078434,0.54509807,0.5176471
GameObject 0.9375,-0.8425,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.96875,-0.8425,0.03125,0.03125,0,0.53333336,0.52156866,0.5019608
GameObject -1.0,-0.87375,0.03125,0.03125,0,0.38431373,0.35686275,0.33333334
GameObject -0.96875,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.9375,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.90625,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.875,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.84375,-0.87375,0.03125,0.03125,0,0.5803922,0.5176471,0.49411765
GameObject -0.8125,-0.87375,0.03125,0.03125,0,0.5764706,0.54509807,0.5294118
GameObject -0.78125,-0.87375,0.03125,0.03125,0,0.5686275,0.56078434,0.53333336
GameObject -0.75,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.71875,-0.87375,0.03125,0.03125,0,0.6039216,0.5803922,0.5568628
GameObject -0.6875,-0.87375,0.03125,0.03125,0,0.57254905,0.5568628,0.5372549
GameObject -0.65625,-0.87375,0.03125,0.03125,0,0.60784316,0.6117647,0.654902
GameObject -0.625,-0.87375,0.03125,0.03125,0,0.60784316,0.6431373,0.77254903
GameObject -0.59375,-0.87375,0.03125,0.03125,0,0.49411765,0.5411765,0.6862745
GameObject -0.5625,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.53125,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.5,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.46875,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.4375,-0.87375,0.03125,0.03125,0,0.8980392,0.81960785,0.80784315
GameObject -0.40625,-0.87375,0.03125,0.03125,0,0.8862745,0.7411765,0.6862745
GameObject -0.375,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.34375,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.3125,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.28125,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.25,-0.87375,0.03125,0.03125,0,0.49803922,0.39215687,0.33333334
GameObject -0.21875,-0.87375,0.03125,0.03125,0,0.44705883,0.34901962,0.28235295
GameObject -0.1875,-0.87375,0.03125,0.03125,0,0.41960785,0.33333334,0.27058825
GameObject -0.15625,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.125,-0.87375,0.03125,0.03125,0,0.37254903,0.28627452,0.25882354
GameObject -0.09375,-0.87375,0.03125,0.03125,0,0.38039216,0.28627452,0.24313726
GameObject -0.0625,-0.87375,0.03125,0.03125,0,0.38039216,0.2901961,0.24313726
GameObject -0.03125,-0.87375,0.03125,0.03125,0,0.36078432,0.28235295,0.23529412
GameObject 0.0,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.03125,-0.87375,0.03125,0.03125,0,0.34117648,0.2784314,0.23529412
GameObject 0.0625,-0.87375,0.03125,0.03125,0,0.34117648,0.27450982,0.22745098
GameObject 0.09375,-0.87375,0.03125,0.03125,0,0.34509805,0.2784314,0.23137255
GameObject 0.125,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.15625,-0.87375,0.03125,0.03125,0,0.3882353,0.3019608,0.25490198
GameObject 0.1875,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.21875,-0.87375,0.03125,0.03125,0,0.34901962,0.29411766,0.23529412
GameObject 0.25,-0.87375,0.03125,0.03125,0,0.43529412,0.38039216,0.34117648
GameObject 0.28125,-0.87375,0.03125,0.03125,0,0.47843137,0.44313726,0.47843137
GameObject 0.3125,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.34375,-0.87375,0.03125,0.03125,0,0.34117648,0.3882353,0.4627451
GameObject 0.375,-0.87375,0.03125,0.03125,0,0.46666667,0.47843137,0.52156866
GameObject 0.40625,-0.87375,0.03125,0.03125,0,0.53333336,0.49803922,0.5176471
GameObject 0.4375,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.46875,-0.87375,0.03125,0.03125,0,0.5411765,0.52156866,0.5058824
GameObject 0.5,-0.87375,0.03125,0.03125,0,0.54901963,0.53333336,0.5176471
GameObject 0.53125,-0.87375,0.03125,0.03125,0,0.54901963,0.5294118,0.5176471
GameObject 0.5625,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.59375,-0.87375,0.03125,0.03125,0,0.58431375,0.5647059,0.5568628
GameObject 0.625,-0.87375,0.03125,0.03125,0,0.59607846,0.5764706,0.5686275
GameObject 0.65625,-0.87375,0.03125,0.03125,0,0.60784316,0.5921569,0.5803922
GameObject 0.6875,-0.87375,0.03125,0.03125,0,0.6117647,0.59607846,0.5882353
GameObject 0.71875,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.75,-0.87375,0.03125,0.03125,0,0.61960787,0.6039216,0.59607846
GameObject 0.78125,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.8125,-0.87375,0.03125,0.03125,0,0.62352943,0.60784316,0.6039216
GameObject 0.84375,-0.87375,0.03125,0.03125,0,0.6431373,0.6313726,0.62352943
GameObject 0.875,-0.87375,0.03125,0.03125,0,0.6509804,0.6392157,0.63529414
GameObject 0.90625,-0.87375,0.03125,0.03125,0,0.654902,0.6392157,0.6313726
GameObject 0.9375,-0.87375,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.96875,-0.87375,0.03125,0.03125,0,0.6392157,0.627451,0.62352943
GameObject -1.0,-0.905,0.03125,0.03125,0,0.54901963,0.5294118,0.4745098
GameObject -0.96875,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.9375,-0.905,0.03125,0.03125,0,0.6313726,0.6156863,0.4627451
GameObject -0.90625,-0.905,0.03125,0.03125,0,0.5294118,0.48235294,0.38039216
GameObject -0.875,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.84375,-0.905,0.03125,0.03125,0,0.58431375,0.5294118,0.5372549
GameObject -0.8125,-0.905,0.03125,0.03125,0,0.56078434,0.5372549,0.5176471
GameObject -0.78125,-0.905,0.03125,0.03125,0,0.57254905,0.56078434,0.5254902
GameObject -0.75,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.71875,-0.905,0.03125,0.03125,0,0.6,0.5764706,0.5137255
GameObject -0.6875,-0.905,0.03125,0.03125,0,0.5803922,0.56078434,0.5568628
GameObject -0.65625,-0.905,0.03125,0.03125,0,0.62352943,0.6392157,0.7372549
GameObject -0.625,-0.905,0.03125,0.03125,0,0.5176471,0.5686275,0.7254902
GameObject -0.59375,-0.905,0.03125,0.03125,0,0.38039216,0.44313726,0.5921569
GameObject -0.5625,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.53125,-0.905,0.03125,0.03125,0,0.34117648,0.40784314,0.53333336
GameObject -0.5,-0.905,0.03125,0.03125,0,0.36078432,0.41960785,0.5294118
GameObject -0.46875,-0.905,0.03125,0.03125,0,0.40784314,0.43529412,0.5176471
GameObject -0.4375,-0.905,0.03125,0.03125,0,0.64705884,0.6156863,0.654902
GameObject -0.40625,-0.905,0.03125,0.03125,0,0.8392157,0.7254902,0.68235296
GameObject -0.375,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.34375,-0.905,0.03125,0.03125,0,0.7411765,0.6039216,0.54509807
GameObject -0.3125,-0.905,0.03125,0.03125,0,0.65882355,0.52156866,0.47058824
GameObject -0.28125,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.25,-0.905,0.03125,0.03125,0,0.5137255,0.39607844,0.33333334
GameObject -0.21875,-0.905,0.03125,0.03125,0,0.4627451,0.36078432,0.29411766
GameObject -0.1875,-0.905,0.03125,0.03125,0,0.4117647,0.32941177,0.27450982
GameObject -0.15625,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.125,-0.905,0.03125,0.03125,0,0.38431373,0.29411766,0.26666668
GameObject -0.09375,-0.905,0.03125,0.03125,0,0.38039216,0.28627452,0.24313726
GameObject -0.0625,-0.905,0.03125,0.03125,0,0.37254903,0.28627452,0.23529412
GameObject -0.03125,-0.905,0.03125,0.03125,0,0.37254903,0.28627452,0.23529412
GameObject 0.0,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.03125,-0.905,0.03125,0.03125,0,0.3764706,0.30588236,0.24313726
GameObject 0.0625,-0.905,0.03125,0.03125,0,0.38039216,0.30588236,0.24313726
GameObject 0.09375,-0.905,0.03125,0.03125,0,0.38039216,0.30588236,0.24705882
GameObject 0.125,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.15625,-0.905,0.03125,0.03125,0,0.41568628,0.32941177,0.2627451
GameObject 0.1875,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.21875,-0.905,0.03125,0.03125,0,0.42745098,0.37254903,0.29411766
GameObject 0.25,-0.905,0.03125,0.03125,0,0.5764706,0.53333336,0.4745098
GameObject 0.28125,-0.905,0.03125,0.03125,0,0.5137255,0.5058824,0.5568628
GameObject 0.3125,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.34375,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.375,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.40625,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.4375,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.46875,-0.905,0.03125,0.03125,0,0.5921569,0.5803922,0.5764706
GameObject 0.5,-0.905,0.03125,0.03125,0,0.6039216,0.5882353,0.59607846
GameObject 0.53125,-0.905,0.03125,0.03125,0,0.60784316,0.59607846,0.6039216
GameObject 0.5625,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.59375,-0.905,0.03125,0.03125,0,0.6313726,0.62352943,0.63529414
GameObject 0.625,-0.905,0.03125,0.03125,0,0.64705884,0.6392157,0.6509804
GameObject 0.65625,-0.905,0.03125,0.03125,0,0.6627451,0.654902,0.6666667
GameObject 0.6875,-0.905,0.03125,0.03125,0,0.68235296,0.67058825,0.68235296
GameObject 0.71875,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.75,-0.905,0.03125,0.03125,0,0.6901961,0.6862745,0.69803923
GameObject 0.78125,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.8125,-0.905,0.03125,0.03125,0,0.69803923,0.6901961,0.7058824
GameObject 0.84375,-0.905,0.03125,0.03125,0,0.7058824,0.7019608,0.7176471
GameObject 0.875,-0.905,0.03125,0.03125,0,0.7137255,0.7137255,0.7294118
GameObject 0.90625,-0.905,0.03125,0.03125,0,0.70980394,0.70980394,0.72156864
GameObject 0.9375,-0.905,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.96875,-0.905,0.03125,0.03125,0,0.70980394,0.70980394,0.7254902
GameObject -1.0,-0.93625,0.03125,0.03125,0,0.60784316,0.64705884,0.5568628
GameObject -0.96875,-0.93625,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.9375,-0.93625,0.03125,0.03125,0,0.6,0.5803922,0.43137255
GameObject -0.90625,-0.93625,0.03125,0.03125,0,0.5058824,0.4745098,0.43529412
GameObject -0.875,-0.93625,0.03125,0.03125,0,0.5647059,0.5372549,0.58431375
GameObject -0.84375,-0.93625,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.8125,-0.93625,0.03125,0.03125,0,0.58431375,0.5803922,0.56078434
GameObject -0.78125,-0.93625,0.03125,0.03125,0,0.6313726,0.61960787,0.5647059
GameObject -0.75,-0.93625,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.71875,-0.93625,0.03125,0.03125,0,0.627451,0.627451,0.5686275
GameObject -0.6875,-0.93625,0.03125,0.03125,0,0.60784316,0.6392157,0.6862745
GameObject -0.65625,-0.93625,0.03125,0.03125,0,0.58431375,0.63529414,0.7490196
GameObject -0.625,-0.93625,0.03125,0.03125,0,0.43529412,0.49019608,0.6431373
GameObject -0.59375,-0.93625,0.03125,0.03125,0,0.3254902,0.38039216,0.5294118
GameObject -0.5625,-0.93625,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.53125,-0.93625,0.03125,0.03125,0,0.29411766,0.3529412,0.49411765
GameObject -0.5,-0.93625,0.03125,0.03125,0,0.3137255,0.37254903,0.52156866
GameObject -0.46875,-0.93625,0.03125,0.03125,0,0.33333334,0.3647059,0.50980395
GameObject -0.4375,-0.93625,0.03125,0.03125,0,0.36078432,0.3647059,0.47058824
GameObject -0.40625,-0.93625,0.03125,0.03125,0,0.54901963,0.5254902,0.5372549
GameObject -0.375,-0.93625,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.34375,-0.93625,0.03125,0.03125,0,0.7411765,0.58431375,0.5647059
GameObject -0.3125,-0.93625,0.03125,0.03125,0,0.7176471,0.53333336,0.49019608
GameObject -0.28125,-0.93625,0.03125,0.03125,0,0.6156863,0.46666667,0.4
GameObject -0.25,-0.93625,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.21875,-0.93625,0.03125,0.03125,0,0.4745098,0.37254903,0.35686275
GameObject -0.1875,-0.93625,0.03125,0.03125,0,0.4392157,0.3529412,0.31764707
GameObject -0.15625,-0.93625,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.125,-0.93625,0.03125,0.03125,0,0.39607844,0.3137255,0.23529412
GameObject -0.09375,-0.93625,0.03125,0.03125,0,0.4,0.30588236,0.2509804
GameObject -0.0625,-0.93625,0.03125,0.03125,0,0.3882353,0.29411766,0.24313726
GameObject -0.03125,-0.93625,0.03125,0.03125,0,0.3882353,0.30588236,0.25490198
GameObject 0.0,-0.93625,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.03125,-0.93625,0.03125,0.03125,0,0.38431373,0.30980393,0.2509804
GameObject 0.0625,-0.93625,0.03125,0.03125,0,0.39607844,0.32156864,0.2627451
GameObject 0.09375,-0.93625,0.03125,0.03125,0,0.4,0.3254902,0.2627451
GameObject 0.125,-0.93625,0.03125,0.03125,0,0.41568628,0.33333334,0.26666668
GameObject 0.15625,-0.93625,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.1875,-0.93625,0.03125,0.03125,0,0.4745098,0.38431373,0.3254902
GameObject 0.21875,-0.93625,0.03125,0.03125,0,0.59607846,0.5176471,0.4627451
GameObject 0.25,-0.93625,0.03125,0.03125,0,0.64705884,0.6,0.5686275
GameObject 0.28125,-0.93625,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.3125,-0.93625,0.03125,0.03125,0,0.28627452,0.38039216,0.50980395
GameObject 0.34375,-0.93625,0.03125,0.03125,0,0.32941177,0.4509804,0.5568628
GameObject 0.375,-0.93625,0.03125,0.03125,0,0.4627451,0.5294118,0.60784316
GameObject 0.40625,-0.93625,0.03125,0.03125,0,0.58431375,0.6039216,0.65882355
GameObject 0.4375,-0.93625,0.03125,0.03125,0,0.6039216,0.627451,0.6509804
GameObject 0.46875,-0.93625,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.5,-0.93625,0.03125,0.03125,0,0.6431373,0.6392157,0.654902
GameObject 0.53125,-0.93625,0.03125,0.03125,0,0.64705884,0.6431373,0.6627451
GameObject 0.5625,-0.93625,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.59375,-0.93625,0.03125,0.03125,0,0.6627451,0.6666667,0.6862745
GameObject 0.625,-0.93625,0.03125,0.03125,0,0.68235296,0.6862745,0.7019608
GameObject 0.65625,-0.93625,0.03125,0.03125,0,0.69411767,0.69803923,0.7176471
GameObject 0.6875,-0.93625,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.71875,-0.93625,0.03125,0.03125,0,0.7137255,0.7254902,0.7411765
GameObject 0.75,-0.93625,0.03125,0.03125,0,0.7176471,0.7294118,0.74509805
GameObject 0.78125,-0.93625,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.8125,-0.93625,0.03125,0.03125,0,0.7411765,0.74509805,0.7607843
GameObject 0.84375,-0.93625,0.03125,0.03125,0,0.7411765,0.7411765,0.7647059
GameObject 0.875,-0.93625,0.03125,0.03125,0,0.74509805,0.7490196,0.7647059
GameObject 0.90625,-0.93625,0.03125,0.03125,0,0.7411765,0.7490196,0.7647059
GameObject 0.9375,-0.93625,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.96875,-0.93625,0.03125,0.03125,0,0.7490196,0.75686276,0.76862746
GameObject -1.0,-0.9675,0.03125,0.03125,0,0.6313726,0.6862745,0.5803922
GameObject -0.96875,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.9375,-0.9675,0.03125,0.03125,0,0.58431375,0.57254905,0.45882353
GameObject -0.90625,-0.9675,0.03125,0.03125,0,0.5647059,0.54509807,0.5411765
GameObject -0.875,-0.9675,0.03125,0.03125,0,0.6117647,0.627451,0.6745098
GameObject -0.84375,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.8125,-0.9675,0.03125,0.03125,0,0.6509804,0.6509804,0.6431373
GameObject -0.78125,-0.9675,0.03125,0.03125,0,0.6901961,0.6862745,0.59607846
GameObject -0.75,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.71875,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.6875,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.65625,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.625,-0.9675,0.03125,0.03125,0,0.3882353,0.44705883,0.6039216
GameObject -0.59375,-0.9675,0.03125,0.03125,0,0.3882353,0.4392157,0.5803922
GameObject -0.5625,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.53125,-0.9675,0.03125,0.03125,0,0.29803923,0.36078432,0.4745098
GameObject -0.5,-0.9675,0.03125,0.03125,0,0.2509804,0.32156864,0.44705883
GameObject -0.46875,-0.9675,0.03125,0.03125,0,0.2627451,0.32156864,0.44705883
GameObject -0.4375,-0.9675,0.03125,0.03125,0,0.3137255,0.35686275,0.4627451
GameObject -0.40625,-0.9675,0.03125,0.03125,0,0.3764706,0.39607844,0.4862745
GameObject -0.375,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.34375,-0.9675,0.03125,0.03125,0,0.6862745,0.54901963,0.5372549
GameObject -0.3125,-0.9675,0.03125,0.03125,0,0.6901961,0.52156866,0.4862745
GameObject -0.28125,-0.9675,0.03125,0.03125,0,0.61960787,0.45490196,0.42352942
GameObject -0.25,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.21875,-0.9675,0.03125,0.03125,0,0.47843137,0.3764706,0.3372549
GameObject -0.1875,-0.9675,0.03125,0.03125,0,0.44313726,0.36078432,0.30980393
GameObject -0.15625,-0.9675,0.03125,0.03125,0,0.43529412,0.34509805,0.28235295
GameObject -0.125,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.09375,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.0625,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject -0.03125,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.0,-0.9675,0.03125,0.03125,0,0.41568628,0.32941177,0.27450982
GameObject 0.03125,-0.9675,0.03125,0.03125,0,0.40392157,0.32156864,0.27058825
GameObject 0.0625,-0.9675,0.03125,0.03125,0,0.42352942,0.3372549,0.28627452
GameObject 0.09375,-0.9675,0.03125,0.03125,0,0.44313726,0.36078432,0.29411766
GameObject 0.125,-0.9675,0.03125,0.03125,0,0.45882353,0.3764706,0.30980393
GameObject 0.15625,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.1875,-0.9675,0.03125,0.03125,0,0.5294118,0.43529412,0.3764706
GameObject 0.21875,-0.9675,0.03125,0.03125,0,0.68235296,0.5921569,0.5372549
GameObject 0.25,-0.9675,0.03125,0.03125,0,0.58431375,0.52156866,0.49411765
GameObject 0.28125,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.3125,-0.9675,0.03125,0.03125,0,0.3372549,0.41960785,0.5372549
GameObject 0.34375,-0.9675,0.03125,0.03125,0,0.53333336,0.6392157,0.7490196
GameObject 0.375,-0.9675,0.03125,0.03125,0,0.5647059,0.627451,0.70980394
GameObject 0.40625,-0.9675,0.03125,0.03125,0,0.63529414,0.654902,0.70980394
GameObject 0.4375,-0.9675,0.03125,0.03125,0,0.6313726,0.65882355,0.6862745
GameObject 0.46875,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.5,-0.9675,0.03125,0.03125,0,0.6509804,0.64705884,0.6745098
GameObject 0.53125,-0.9675,0.03125,0.03125,0,0.654902,0.6509804,0.6745098
GameObject 0.5625,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.59375,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.625,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.65625,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.6875,-0.9675,0.03125,0.03125,0,0.7176471,0.70980394,0.7372549
GameObject 0.71875,-0.9675,0.03125,0.03125,0,0.72156864,0.7254902,0.7411765
GameObject 0.75,-0.9675,0.03125,0.03125,0,0.72156864,0.7294118,0.7490196
GameObject 0.78125,-0.9675,0.03125,0.03125,0,0.7411765,0.7490196,0.77254903
GameObject 0.8125,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.84375,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.875,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.90625,-0.9675,0.03125,0.03125,0,1.0,0.003921569,0.003921569
GameObject 0.9375,-0.9675,0.03125,0.03125,0,0.76862746,0.75686276,0.78431374
GameObject 0.96875,-0.9675,0.03125,0.03125,0,0.76862746,0.7607843,0.7882353
GameObject -1.0,-0.99875,0.03125,0.03125,0,0.6901961,0.72156864,0.6313726
GameObject -0.96875,-0.99875,0.03125,0.03125,0,0.654902,0.67058825,0.56078434
GameObject -0.9375,-0.99875,0.03125,0.03125,0,0.6156863,0.60784316,0.5647059
GameObject -0.90625,-0.99875,0.03125,0.03125,0,0.6627451,0.654902,0.65882355
GameObject -0.875,-0.99875,0.03125,0.03125,0,0.6784314,0.6901961,0.7019608
GameObject -0.84375,-0.99875,0.03125,0.03125,0,0.68235296,0.6862745,0.7137255
GameObject -0.8125,-0.99875,0.03125,0.03125,0,0.7137255,0.7137255,0.69803923
GameObject -0.78125,-0.99875,0.03125,0.03125,0,0.7294118,0.74509805,0.6784314
GameObject -0.75,-0.99875,0.03125,0.03125,0,0.6901961,0.72156864,0.70980394
GameObject -0.71875,-0.99875,0.03125,0.03125,0,0.61960787,0.68235296,0.76862746
GameObject -0.6875,-0.99875,0.03125,0.03125,0,0.5882353,0.67058825,0.8
GameObject -0.65625,-0.99875,0.03125,0.03125,0,0.50980395,0.5882353,0.74509805
GameObject -0.625,-0.99875,0.03125,0.03125,0,0.42745098,0.49019608,0.64705884
GameObject -0.59375,-0.99875,0.03125,0.03125,0,0.4117647,0.47058824,0.59607846
GameObject -0.5625,-0.99875,0.03125,0.03125,0,0.33333334,0.39607844,0.49019608
GameObject -0.53125,-0.99875,0.03125,0.03125,0,0.29803923,0.3647059,0.45882353
GameObject -0.5,-0.99875,0.03125,0.03125,0,0.28627452,0.34117648,0.45490196
GameObject -0.46875,-0.99875,0.03125,0.03125,0,0.26666668,0.32941177,0.43529412
GameObject -0.4375,-0.99875,0.03125,0.03125,0,0.27058825,0.32941177,0.43137255
GameObject -0.40625,-0.99875,0.03125,0.03125,0,0.26666668,0.30588236,0.41960785
GameObject -0.375,-0.99875,0.03125,0.03125,0,0.30980393,0.31764707,0.42352942
GameObject -0.34375,-0.99875,0.03125,0.03125,0,0.45882353,0.40784314,0.46666667
GameObject -0.3125,-0.99875,0.03125,0.03125,0,0.5803922,0.47843137,0.4862745
GameObject -0.28125,-0.99875,0.03125,0.03125,0,0.5882353,0.4509804,0.4117647
GameObject -0.25,-0.99875,0.03125,0.03125,0,0.54509807,0.40392157,0.36078432
GameObject -0.21875,-0.99875,0.03125,0.03125,0,0.49803922,0.3764706,0.3254902
GameObject -0.1875,-0.99875,0.03125,0.03125,0,0.4509804,0.3529412,0.29411766
GameObject -0.15625,-0.99875,0.03125,0.03125,0,0.43529412,0.33333334,0.27058825
GameObject -0.125,-0.99875,0.03125,0.03125,0,0.43137255,0.32156864,0.28235295
GameObject -0.09375,-0.99875,0.03125,0.03125,0,0.41960785,0.32941177,0.28235295
GameObject -0.0625,-0.99875,0.03125,0.03125,0,0.42352942,0.32941177,0.28235295
GameObject -0.03125,-0.99875,0.03125,0.03125,0,0.42352942,0.33333334,0.2784314
GameObject 0.0,-0.99875,0.03125,0.03125,0,0.43529412,0.34509805,0.2901961
GameObject 0.03125,-0.99875,0.03125,0.03125,0,0.44705883,0.35686275,0.29803923
GameObject 0.0625,-0.99875,0.03125,0.03125,0,0.44313726,0.35686275,0.29411766
GameObject 0.09375,-0.99875,0.03125,0.03125,0,0.4745098,0.3882353,0.3254902
GameObject 0.125,-0.99875,0.03125,0.03125,0,0.5019608,0.4117647,0.34901962
GameObject 0.15625,-0.99875,0.03125,0.03125,0,0.5176471,0.43137255,0.3647059
GameObject 0.1875,-0.99875,0.03125,0.03125,0,0.57254905,0.47843137,0.41568628
GameObject 0.21875,-0.99875,0.03125,0.03125,0,0.69803923,0.6039216,0.54901963
GameObject 0.25,-0.99875,0.03125,0.03125,0,0.41568628,0.36078432,0.32941177
GameObject 0.28125,-0.99875,0.03125,0.03125,0,0.02745098,0.011764706,0.05490196
GameObject 0.3125,-0.99875,0.03125,0.03125,0,0.22352941,0.23529412,0.3372549
GameObject 0.34375,-0.99875,0.03125,0.03125,0,0.6156863,0.6509804,0.74509805
GameObject 0.375,-0.99875,0.03125,0.03125,0,0.76862746,0.77254903,0.84705883
GameObject 0.40625,-0.99875,0.03125,0.03125,0,0.74509805,0.7176471,0.75686276
GameObject 0.4375,-0.99875,0.03125,0.03125,0,0.7137255,0.7058824,0.7176471
GameObject 0.46875,-0.99875,0.03125,0.03125,0,0.69411767,0.6901961,0.70980394
GameObject 0.5,-0.99875,0.03125,0.03125,0,0.7137255,0.6784314,0.7137255
GameObject 0.53125,-0.99875,0.03125,0.03125,0,0.7254902,0.68235296,0.7019608
GameObject 0.5625,-0.99875,0.03125,0.03125,0,0.7294118,0.68235296,0.70980394
GameObject 0.59375,-0.99875,0.03125,0.03125,0,0.73333335,0.6901961,0.7137255
GameObject 0.625,-0.99875,0.03125,0.03125,0,0.7411765,0.69411767,0.7254902
GameObject 0.65625,-0.99875,0.03125,0.03125,0,0.7411765,0.69411767,0.7254902
GameObject 0.6875,-0.99875,0.03125,0.03125,0,0.7529412,0.7058824,0.73333335
GameObject 0.71875,-0.99875,0.03125,0.03125,0,0.7529412,0.7176471,0.74509805
GameObject 0.75,-0.99875,0.03125,0.03125,0,0.7647059,0.7254902,0.7490196
GameObject 0.78125,-0.99875,0.03125,0.03125,0,0.7764706,0.7411765,0.7607843
GameObject 0.8125,-0.99875,0.03125,0.03125,0,0.78431374,0.73333335,0.7607843
GameObject 0.84375,-0.99875,0.03125,0.03125,0,0.7882353,0.73333335,0.76862746
GameObject 0.875,-0.99875,0.03125,0.03125,0,0.7882353,0.7372549,0.76862746
GameObject 0.90625,-0.99875,0.03125,0.03125,0,0.7882353,0.73333335,0.7647059
GameObject 0.9375,-0.99875,0.03125,0.03125,0,0.78431374,0.73333335,0.7647059
GameObject 0.96875,-0.99875,0.03125,0.03125,0,0.7921569,0.73333335,0.7647059
screen2size dd 4096

  ;Chao
  chao	GameObject -1.0,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.96875,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.9375,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.90625,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.875,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.84375,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.8125,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.78125,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.75,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.71875,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.6875,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.65625,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.03125,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.0625,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.09375,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.125,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.15625,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.1875,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.21875,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.25,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.28125,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.3125,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.34375,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.375,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.40625,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.4375,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.46875,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.46875,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.5,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.53125,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.5625,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.59375,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.625,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.65625,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.6875,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.71875,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.75,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.78125,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.8125,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.84375,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.875,-0.78,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.90625,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.9375,-0.74875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.96875,-0.7175,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.75,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.71875,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.6875,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.65625,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.625,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.59375,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.5625,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.53125,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.5,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.46875,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.4375,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.40625,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.375,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.34375,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.3125,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.28125,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.25,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.21875,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.1875,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.15625,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.125,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.09375,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.0625,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject -0.03125,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.0,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.03125,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.0625,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.09375,0.43875,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.91875005,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.95000005,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 0.98125005,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.0125,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.04375,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.075,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.10625,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.1375,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.16875,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.2,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.23125,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.2625,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.29375,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.325,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.35625,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.3875,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.41875,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.45,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.48125,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.5125,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.54375,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.575,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.60625,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.6375,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.66875,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.703125,-0.7175,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.734375,-0.7175,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.734375,-0.68625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.765625,-0.68625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.796875,-0.68625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.828125,-0.68625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.859375,-0.68625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.890625,-0.68625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.921875,-0.68625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.953125,-0.68625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.984375,-0.68625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.015625,-0.68625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.046875,-0.655,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.109375,-0.655,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.140625,-0.655,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.203125,-0.655,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.234375,-0.655,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.265625,-0.655,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.296875,-0.655,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.328125,-0.655,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.359375,-0.655,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.390625,-0.655,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.421875,-0.62375,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.453125,-0.62375,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.484375,-0.62375,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.515625,-0.62375,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.546875,-0.62375,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.609375,-0.62375,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.640625,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.671875,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.734375,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.765625,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.796875,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.828125,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.171875,-0.655,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.078125,-0.655,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.575,-0.62375,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.7,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.79375,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.825,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.85625,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.8875,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.91875,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.95,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 1.98125,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.0125,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.04375,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.075,0.4075,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.075,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.10625,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.1375,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.16875,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.2,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.23125,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.2625,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.29375,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.325,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.35625,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.3875,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.41875,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.45,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.48125,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.5125,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.54375,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.575,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.60625,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.6375,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.66875,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.7,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.73125,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.7625,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 2.79375,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.2781248,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.3093748,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.3406248,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.3718748,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.4031248,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.4343748,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.4656248,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.4968748,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.5281248,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.5593748,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.5906248,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.6218748,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.6531248,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.0281248,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.0593748,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.0906248,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.1218748,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.1531248,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.1843748,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.2156248,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.2468748,0.37625,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.646875,-0.62375,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.678125,-0.62375,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.709375,-0.62375,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.740625,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.771875,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.803125,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.834375,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.865625,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.896875,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.928125,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.959375,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 3.990625,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 4.021875,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 4.053125,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 4.084375,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 4.115625,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 4.146875,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
GameObject 4.178125,-0.5925,0.03125,0.03125,1,1.0,1.0,1.0
chaosize dd 208

  ;Variaveis auxiliares
  aux GLfloat 0.0
  aux1 GLfloat 0.0
  aux2 GLfloat 0.0
  aux3 GLfloat 0.0

  wc WNDCLASS 0,WindowProc,0,0,NULL,NULL,NULL,NULL,NULL,_class

  hwnd dd ?
  hdc dd ?
  hrc dd ?

  msg MSG
  rc RECT
  pfd PIXELFORMATDESCRIPTOR

  clock dd ?

section '.idata' import data readable writeable

  library kernel,'KERNEL32.DLL',\
	  user,'USER32.DLL',\
	  gdi,'GDI32.DLL',\
	  opengl,'OPENGL32.DLL',\
	  glu,'GLU32.DLL'

  import kernel,\
	 GetModuleHandle,'GetModuleHandleA',\
	 GetTickCount,'GetTickCount',\
	 ExitProcess,'ExitProcess'

  import user,\
	 RegisterClass,'RegisterClassA',\
	 CreateWindowEx,'CreateWindowExA',\
	 DefWindowProc,'DefWindowProcA',\
	 GetMessage,'GetMessageA',\
	 TranslateMessage,'TranslateMessage',\
	 DispatchMessage,'DispatchMessageA',\
	 LoadCursor,'LoadCursorA',\
	 LoadIcon,'LoadIconA',\
	 GetClientRect,'GetClientRect',\
	 GetDC,'GetDC',\
	 ReleaseDC,'ReleaseDC',\
	 PostQuitMessage,'PostQuitMessage'

  import gdi,\
	 ChoosePixelFormat,'ChoosePixelFormat',\
	 SetPixelFormat,'SetPixelFormat',\
	 SwapBuffers,'SwapBuffers'

  import opengl,\
	 glAccum,'glAccum',\
	 glAlphaFunc,'glAlphaFunc',\
	 glAreTexturesResident,'glAreTexturesResident',\
	 glArrayElement,'glArrayElement',\
	 glBegin,'glBegin',\
	 glBindTexture,'glBindTexture',\
	 glBitmap,'glBitmap',\
	 glBlendFunc,'glBlendFunc',\
	 glCallList,'glCallList',\
	 glCallLists,'glCallLists',\
	 glClear,'glClear',\
	 glClearAccum,'glClearAccum',\
	 glClearColor,'glClearColor',\
	 glClearDepth,'glClearDepth',\
	 glClearIndex,'glClearIndex',\
	 glClearStencil,'glClearStencil',\
	 glClipPlane,'glClipPlane',\
	 glColor3b,'glColor3b',\
	 glColor3bv,'glColor3bv',\
	 glColor3d,'glColor3d',\
	 glColor3dv,'glColor3dv',\
	 glColor3f,'glColor3f',\
	 glColor3fv,'glColor3fv',\
	 glColor3i,'glColor3i',\
	 glColor3iv,'glColor3iv',\
	 glColor3s,'glColor3s',\
	 glColor3sv,'glColor3sv',\
	 glColor3ub,'glColor3ub',\
	 glColor3ubv,'glColor3ubv',\
	 glColor3ui,'glColor3ui',\
	 glColor3uiv,'glColor3uiv',\
	 glColor3us,'glColor3us',\
	 glColor3usv,'glColor3usv',\
	 glColor4b,'glColor4b',\
	 glColor4bv,'glColor4bv',\
	 glColor4d,'glColor4d',\
	 glColor4dv,'glColor4dv',\
	 glColor4f,'glColor4f',\
	 glColor4fv,'glColor4fv',\
	 glColor4i,'glColor4i',\
	 glColor4iv,'glColor4iv',\
	 glColor4s,'glColor4s',\
	 glColor4sv,'glColor4sv',\
	 glColor4ub,'glColor4ub',\
	 glColor4ubv,'glColor4ubv',\
	 glColor4ui,'glColor4ui',\
	 glColor4uiv,'glColor4uiv',\
	 glColor4us,'glColor4us',\
	 glColor4usv,'glColor4usv',\
	 glColorMask,'glColorMask',\
	 glColorMaterial,'glColorMaterial',\
	 glColorPointer,'glColorPointer',\
	 glCopyPixels,'glCopyPixels',\
	 glCopyTexImage1D,'glCopyTexImage1D',\
	 glCopyTexImage2D,'glCopyTexImage2D',\
	 glCopyTexSubImage1D,'glCopyTexSubImage1D',\
	 glCopyTexSubImage2D,'glCopyTexSubImage2D',\
	 glCullFace,'glCullFace',\
	 glDeleteLists,'glDeleteLists',\
	 glDeleteTextures,'glDeleteTextures',\
	 glDepthFunc,'glDepthFunc',\
	 glDepthMask,'glDepthMask',\
	 glDepthRange,'glDepthRange',\
	 glDisable,'glDisable',\
	 glDisableClientState,'glDisableClientState',\
	 glDrawArrays,'glDrawArrays',\
	 glDrawBuffer,'glDrawBuffer',\
	 glDrawElements,'glDrawElements',\
	 glDrawPixels,'glDrawPixels',\
	 glEdgeFlag,'glEdgeFlag',\
	 glEdgeFlagPointer,'glEdgeFlagPointer',\
	 glEdgeFlagv,'glEdgeFlagv',\
	 glEnable,'glEnable',\
	 glEnableClientState,'glEnableClientState',\
	 glEnd,'glEnd',\
	 glEndList,'glEndList',\
	 glEvalCoord1d,'glEvalCoord1d',\
	 glEvalCoord1dv,'glEvalCoord1dv',\
	 glEvalCoord1f,'glEvalCoord1f',\
	 glEvalCoord1fv,'glEvalCoord1fv',\
	 glEvalCoord2d,'glEvalCoord2d',\
	 glEvalCoord2dv,'glEvalCoord2dv',\
	 glEvalCoord2f,'glEvalCoord2f',\
	 glEvalCoord2fv,'glEvalCoord2fv',\
	 glEvalMesh1,'glEvalMesh1',\
	 glEvalMesh2,'glEvalMesh2',\
	 glEvalPoint1,'glEvalPoint1',\
	 glEvalPoint2,'glEvalPoint2',\
	 glFeedbackBuffer,'glFeedbackBuffer',\
	 glFinish,'glFinish',\
	 glFlush,'glFlush',\
	 glFogf,'glFogf',\
	 glFogfv,'glFogfv',\
	 glFogi,'glFogi',\
	 glFogiv,'glFogiv',\
	 glFrontFace,'glFrontFace',\
	 glFrustum,'glFrustum',\
	 glGenLists,'glGenLists',\
	 glGenTextures,'glGenTextures',\
	 glGetBooleanv,'glGetBooleanv',\
	 glGetClipPlane,'glGetClipPlane',\
	 glGetDoublev,'glGetDoublev',\
	 glGetError,'glGetError',\
	 glGetFloatv,'glGetFloatv',\
	 glGetIntegerv,'glGetIntegerv',\
	 glGetLightfv,'glGetLightfv',\
	 glGetLightiv,'glGetLightiv',\
	 glGetMapdv,'glGetMapdv',\
	 glGetMapfv,'glGetMapfv',\
	 glGetMapiv,'glGetMapiv',\
	 glGetMaterialfv,'glGetMaterialfv',\
	 glGetMaterialiv,'glGetMaterialiv',\
	 glGetPixelMapfv,'glGetPixelMapfv',\
	 glGetPixelMapuiv,'glGetPixelMapuiv',\
	 glGetPixelMapusv,'glGetPixelMapusv',\
	 glGetPointerv,'glGetPointerv',\
	 glGetPolygonStipple,'glGetPolygonStipple',\
	 glGetString,'glGetString',\
	 glGetTexEnvfv,'glGetTexEnvfv',\
	 glGetTexEnviv,'glGetTexEnviv',\
	 glGetTexGendv,'glGetTexGendv',\
	 glGetTexGenfv,'glGetTexGenfv',\
	 glGetTexGeniv,'glGetTexGeniv',\
	 glGetTexImage,'glGetTexImage',\
	 glGetTexLevelParameterfv,'glGetTexLevelParameterfv',\
	 glGetTexLevelParameteriv,'glGetTexLevelParameteriv',\
	 glGetTexParameterfv,'glGetTexParameterfv',\
	 glGetTexParameteriv,'glGetTexParameteriv',\
	 glHint,'glHint',\
	 glIndexMask,'glIndexMask',\
	 glIndexPointer,'glIndexPointer',\
	 glIndexd,'glIndexd',\
	 glIndexdv,'glIndexdv',\
	 glIndexf,'glIndexf',\
	 glIndexfv,'glIndexfv',\
	 glIndexi,'glIndexi',\
	 glIndexiv,'glIndexiv',\
	 glIndexs,'glIndexs',\
	 glIndexsv,'glIndexsv',\
	 glIndexub,'glIndexub',\
	 glIndexubv,'glIndexubv',\
	 glInitNames,'glInitNames',\
	 glInterleavedArrays,'glInterleavedArrays',\
	 glIsEnabled,'glIsEnabled',\
	 glIsList,'glIsList',\
	 glIsTexture,'glIsTexture',\
	 glLightModelf,'glLightModelf',\
	 glLightModelfv,'glLightModelfv',\
	 glLightModeli,'glLightModeli',\
	 glLightModeliv,'glLightModeliv',\
	 glLightf,'glLightf',\
	 glLightfv,'glLightfv',\
	 glLighti,'glLighti',\
	 glLightiv,'glLightiv',\
	 glLineStipple,'glLineStipple',\
	 glLineWidth,'glLineWidth',\
	 glListBase,'glListBase',\
	 glLoadIdentity,'glLoadIdentity',\
	 glLoadMatrixd,'glLoadMatrixd',\
	 glLoadMatrixf,'glLoadMatrixf',\
	 glLoadName,'glLoadName',\
	 glLogicOp,'glLogicOp',\
	 glMap1d,'glMap1d',\
	 glMap1f,'glMap1f',\
	 glMap2d,'glMap2d',\
	 glMap2f,'glMap2f',\
	 glMapGrid1d,'glMapGrid1d',\
	 glMapGrid1f,'glMapGrid1f',\
	 glMapGrid2d,'glMapGrid2d',\
	 glMapGrid2f,'glMapGrid2f',\
	 glMaterialf,'glMaterialf',\
	 glMaterialfv,'glMaterialfv',\
	 glMateriali,'glMateriali',\
	 glMaterialiv,'glMaterialiv',\
	 glMatrixMode,'glMatrixMode',\
	 glMultMatrixd,'glMultMatrixd',\
	 glMultMatrixf,'glMultMatrixf',\
	 glNewList,'glNewList',\
	 glNormal3b,'glNormal3b',\
	 glNormal3bv,'glNormal3bv',\
	 glNormal3d,'glNormal3d',\
	 glNormal3dv,'glNormal3dv',\
	 glNormal3f,'glNormal3f',\
	 glNormal3fv,'glNormal3fv',\
	 glNormal3i,'glNormal3i',\
	 glNormal3iv,'glNormal3iv',\
	 glNormal3s,'glNormal3s',\
	 glNormal3sv,'glNormal3sv',\
	 glNormalPointer,'glNormalPointer',\
	 glOrtho,'glOrtho',\
	 glPassThrough,'glPassThrough',\
	 glPixelMapfv,'glPixelMapfv',\
	 glPixelMapuiv,'glPixelMapuiv',\
	 glPixelMapusv,'glPixelMapusv',\
	 glPixelStoref,'glPixelStoref',\
	 glPixelStorei,'glPixelStorei',\
	 glPixelTransferf,'glPixelTransferf',\
	 glPixelTransferi,'glPixelTransferi',\
	 glPixelZoom,'glPixelZoom',\
	 glPointSize,'glPointSize',\
	 glPolygonMode,'glPolygonMode',\
	 glPolygonOffset,'glPolygonOffset',\
	 glPolygonStipple,'glPolygonStipple',\
	 glPopAttrib,'glPopAttrib',\
	 glPopClientAttrib,'glPopClientAttrib',\
	 glPopMatrix,'glPopMatrix',\
	 glPopName,'glPopName',\
	 glPrioritizeTextures,'glPrioritizeTextures',\
	 glPushAttrib,'glPushAttrib',\
	 glPushClientAttrib,'glPushClientAttrib',\
	 glPushMatrix,'glPushMatrix',\
	 glPushName,'glPushName',\
	 glRasterPos2d,'glRasterPos2d',\
	 glRasterPos2dv,'glRasterPos2dv',\
	 glRasterPos2f,'glRasterPos2f',\
	 glRasterPos2fv,'glRasterPos2fv',\
	 glRasterPos2i,'glRasterPos2i',\
	 glRasterPos2iv,'glRasterPos2iv',\
	 glRasterPos2s,'glRasterPos2s',\
	 glRasterPos2sv,'glRasterPos2sv',\
	 glRasterPos3d,'glRasterPos3d',\
	 glRasterPos3dv,'glRasterPos3dv',\
	 glRasterPos3f,'glRasterPos3f',\
	 glRasterPos3fv,'glRasterPos3fv',\
	 glRasterPos3i,'glRasterPos3i',\
	 glRasterPos3iv,'glRasterPos3iv',\
	 glRasterPos3s,'glRasterPos3s',\
	 glRasterPos3sv,'glRasterPos3sv',\
	 glRasterPos4d,'glRasterPos4d',\
	 glRasterPos4dv,'glRasterPos4dv',\
	 glRasterPos4f,'glRasterPos4f',\
	 glRasterPos4fv,'glRasterPos4fv',\
	 glRasterPos4i,'glRasterPos4i',\
	 glRasterPos4iv,'glRasterPos4iv',\
	 glRasterPos4s,'glRasterPos4s',\
	 glRasterPos4sv,'glRasterPos4sv',\
	 glReadBuffer,'glReadBuffer',\
	 glReadPixels,'glReadPixels',\
	 glRectd,'glRectd',\
	 glRectdv,'glRectdv',\
	 glRectf,'glRectf',\
	 glRectfv,'glRectfv',\
	 glRecti,'glRecti',\
	 glRectiv,'glRectiv',\
	 glRects,'glRects',\
	 glRectsv,'glRectsv',\
	 glRenderMode,'glRenderMode',\
	 glRotated,'glRotated',\
	 glRotatef,'glRotatef',\
	 glScaled,'glScaled',\
	 glScalef,'glScalef',\
	 glScissor,'glScissor',\
	 glSelectBuffer,'glSelectBuffer',\
	 glShadeModel,'glShadeModel',\
	 glStencilFunc,'glStencilFunc',\
	 glStencilMask,'glStencilMask',\
	 glStencilOp,'glStencilOp',\
	 glTexCoord1d,'glTexCoord1d',\
	 glTexCoord1dv,'glTexCoord1dv',\
	 glTexCoord1f,'glTexCoord1f',\
	 glTexCoord1fv,'glTexCoord1fv',\
	 glTexCoord1i,'glTexCoord1i',\
	 glTexCoord1iv,'glTexCoord1iv',\
	 glTexCoord1s,'glTexCoord1s',\
	 glTexCoord1sv,'glTexCoord1sv',\
	 glTexCoord2d,'glTexCoord2d',\
	 glTexCoord2dv,'glTexCoord2dv',\
	 glTexCoord2f,'glTexCoord2f',\
	 glTexCoord2fv,'glTexCoord2fv',\
	 glTexCoord2i,'glTexCoord2i',\
	 glTexCoord2iv,'glTexCoord2iv',\
	 glTexCoord2s,'glTexCoord2s',\
	 glTexCoord2sv,'glTexCoord2sv',\
	 glTexCoord3d,'glTexCoord3d',\
	 glTexCoord3dv,'glTexCoord3dv',\
	 glTexCoord3f,'glTexCoord3f',\
	 glTexCoord3fv,'glTexCoord3fv',\
	 glTexCoord3i,'glTexCoord3i',\
	 glTexCoord3iv,'glTexCoord3iv',\
	 glTexCoord3s,'glTexCoord3s',\
	 glTexCoord3sv,'glTexCoord3sv',\
	 glTexCoord4d,'glTexCoord4d',\
	 glTexCoord4dv,'glTexCoord4dv',\
	 glTexCoord4f,'glTexCoord4f',\
	 glTexCoord4fv,'glTexCoord4fv',\
	 glTexCoord4i,'glTexCoord4i',\
	 glTexCoord4iv,'glTexCoord4iv',\
	 glTexCoord4s,'glTexCoord4s',\
	 glTexCoord4sv,'glTexCoord4sv',\
	 glTexCoordPointer,'glTexCoordPointer',\
	 glTexEnvf,'glTexEnvf',\
	 glTexEnvfv,'glTexEnvfv',\
	 glTexEnvi,'glTexEnvi',\
	 glTexEnviv,'glTexEnviv',\
	 glTexGend,'glTexGend',\
	 glTexGendv,'glTexGendv',\
	 glTexGenf,'glTexGenf',\
	 glTexGenfv,'glTexGenfv',\
	 glTexGeni,'glTexGeni',\
	 glTexGeniv,'glTexGeniv',\
	 glTexImage1D,'glTexImage1D',\
	 glTexImage2D,'glTexImage2D',\
	 glTexParameterf,'glTexParameterf',\
	 glTexParameterfv,'glTexParameterfv',\
	 glTexParameteri,'glTexParameteri',\
	 glTexParameteriv,'glTexParameteriv',\
	 glTexSubImage1D,'glTexSubImage1D',\
	 glTexSubImage2D,'glTexSubImage2D',\
	 glTranslated,'glTranslated',\
	 glTranslatef,'glTranslatef',\
	 glVertex2d,'glVertex2d',\
	 glVertex2dv,'glVertex2dv',\
	 glVertex2f,'glVertex2f',\
	 glVertex2fv,'glVertex2fv',\
	 glVertex2i,'glVertex2i',\
	 glVertex2iv,'glVertex2iv',\
	 glVertex2s,'glVertex2s',\
	 glVertex2sv,'glVertex2sv',\
	 glVertex3d,'glVertex3d',\
	 glVertex3dv,'glVertex3dv',\
	 glVertex3f,'glVertex3f',\
	 glVertex3fv,'glVertex3fv',\
	 glVertex3i,'glVertex3i',\
	 glVertex3iv,'glVertex3iv',\
	 glVertex3s,'glVertex3s',\
	 glVertex3sv,'glVertex3sv',\
	 glVertex4d,'glVertex4d',\
	 glVertex4dv,'glVertex4dv',\
	 glVertex4f,'glVertex4f',\
	 glVertex4fv,'glVertex4fv',\
	 glVertex4i,'glVertex4i',\
	 glVertex4iv,'glVertex4iv',\
	 glVertex4s,'glVertex4s',\
	 glVertex4sv,'glVertex4sv',\
	 glVertexPointer,'glVertexPointer',\
	 glViewport,'glViewport',\
	 wglGetProcAddress,'wglGetProcAddress',\
	 wglCopyContext,'wglCopyContext',\
	 wglCreateContext,'wglCreateContext',\
	 wglCreateLayerContext,'wglCreateLayerContext',\
	 wglDeleteContext,'wglDeleteContext',\
	 wglDescribeLayerPlane,'wglDescribeLayerPlane',\
	 wglGetCurrentContext,'wglGetCurrentContext',\
	 wglGetCurrentDC,'wglGetCurrentDC',\
	 wglGetLayerPaletteEntries,'wglGetLayerPaletteEntries',\
	 wglMakeCurrent,'wglMakeCurrent',\
	 wglRealizeLayerPalette,'wglRealizeLayerPalette',\
	 wglSetLayerPaletteEntries,'wglSetLayerPaletteEntries',\
	 wglShareLists,'wglShareLists',\
	 wglSwapLayerBuffers,'wglSwapLayerBuffers',\
	 wglSwapMultipleBuffers,'wglSwapMultipleBuffers',\
	 wglUseFontBitmapsA,'wglUseFontBitmapsA',\
	 wglUseFontOutlinesA,'wglUseFontOutlinesA',\
	 wglUseFontBitmapsW,'wglUseFontBitmapsW',\
	 wglUseFontOutlinesW,'wglUseFontOutlinesW',\
	 glDrawRangeElements,'glDrawRangeElements',\
	 glTexImage3D,'glTexImage3D',\
	 glBlendColor,'glBlendColor',\
	 glBlendEquation,'glBlendEquation',\
	 glColorSubTable,'glColorSubTable',\
	 glCopyColorSubTable,'glCopyColorSubTable',\
	 glColorTable,'glColorTable',\
	 glCopyColorTable,'glCopyColorTable',\
	 glColorTableParameteriv,'glColorTableParameteriv',\
	 glColorTableParameterfv,'glColorTableParameterfv',\
	 glGetColorTable,'glGetColorTable',\
	 glGetColorTableParameteriv,'glGetColorTableParameteriv',\
	 glGetColorTableParameterfv,'glGetColorTableParameterfv',\
	 glConvolutionFilter1D,'glConvolutionFilter1D',\
	 glConvolutionFilter2D,'glConvolutionFilter2D',\
	 glCopyConvolutionFilter1D,'glCopyConvolutionFilter1D',\
	 glCopyConvolutionFilter2D,'glCopyConvolutionFilter2D',\
	 glGetConvolutionFilter,'glGetConvolutionFilter',\
	 glSeparableFilter2D,'glSeparableFilter2D',\
	 glGetSeparableFilter,'glGetSeparableFilter',\
	 glConvolutionParameteri,'glConvolutionParameteri',\
	 glConvolutionParameteriv,'glConvolutionParameteriv',\
	 glConvolutionParameterf,'glConvolutionParameterf',\
	 glConvolutionParameterfv,'glConvolutionParameterfv',\
	 glGetConvolutionParameteriv,'glGetConvolutionParameteriv',\
	 glGetConvolutionParameterfv,'glGetConvolutionParameterfv',\
	 glHistogram,'glHistogram',\
	 glResetHistogram,'glResetHistogram',\
	 glGetHistogram,'glGetHistogram',\
	 glGetHistogramParameteriv,'glGetHistogramParameteriv',\
	 glGetHistogramParameterfv,'glGetHistogramParameterfv',\
	 glMinmax,'glMinmax',\
	 glResetMinmax,'glResetMinmax',\
	 glGetMinmax,'glGetMinmax',\
	 glGetMinmaxParameteriv,'glGetMinmaxParameteriv',\
	 glGetMinmaxParameterfv,'glGetMinmaxParameterfv'

  import glu,\
	 gluBeginCurve,'gluBeginCurve',\
	 gluBeginPolygon,'gluBeginPolygon',\
	 gluBeginSurface,'gluBeginSurface',\
	 gluBeginTrim,'gluBeginTrim',\
	 gluBuild1DMipmaps,'gluBuild1DMipmaps',\
	 gluBuild2DMipmaps,'gluBuild2DMipmaps',\
	 gluCylinder,'gluCylinder',\
	 gluDeleteNurbsRenderer,'gluDeleteNurbsRenderer',\
	 gluDeleteQuadric,'gluDeleteQuadric',\
	 gluDeleteTess,'gluDeleteTess',\
	 gluDisk,'gluDisk',\
	 gluEndCurve,'gluEndCurve',\
	 gluEndPolygon,'gluEndPolygon',\
	 gluEndSurface,'gluEndSurface',\
	 gluEndTrim,'gluEndTrim',\
	 gluErrorString,'gluErrorString',\
	 gluGetNurbsProperty,'gluGetNurbsProperty',\
	 gluGetString,'gluGetString',\
	 gluGetTessProperty,'gluGetTessProperty',\
	 gluLoadSamplingMatrices,'gluLoadSamplingMatrices',\
	 gluLookAt,'gluLookAt',\
	 gluNewNurbsRenderer,'gluNewNurbsRenderer',\
	 gluNewQuadric,'gluNewQuadric',\
	 gluNewTess,'gluNewTess',\
	 gluNextContour,'gluNextContour',\
	 gluNurbsCallback,'gluNurbsCallback',\
	 gluNurbsCurve,'gluNurbsCurve',\
	 gluNurbsProperty,'gluNurbsProperty',\
	 gluNurbsSurface,'gluNurbsSurface',\
	 gluOrtho2D,'gluOrtho2D',\
	 gluPartialDisk,'gluPartialDisk',\
	 gluPerspective,'gluPerspective',\
	 gluPickMatrix,'gluPickMatrix',\
	 gluProject,'gluProject',\
	 gluPwlCurve,'gluPwlCurve',\
	 gluQuadricCallback,'gluQuadricCallback',\
	 gluQuadricDrawStyle,'gluQuadricDrawStyle',\
	 gluQuadricNormals,'gluQuadricNormals',\
	 gluQuadricOrientation,'gluQuadricOrientation',\
	 gluQuadricTexture,'gluQuadricTexture',\
	 gluScaleImage,'gluScaleImage',\
	 gluSphere,'gluSphere',\
	 gluTessBeginContour,'gluTessBeginContour',\
	 gluTessBeginPolygon,'gluTessBeginPolygon',\
	 gluTessCallback,'gluTessCallback',\
	 gluTessEndContour,'gluTessEndContour',\
	 gluTessEndPolygon,'gluTessEndPolygon',\
	 gluTessNormal,'gluTessNormal',\
	 gluTessProperty,'gluTessProperty',\
	 gluTessVertex,'gluTessVertex',\
	 gluUnProject,'gluUnProject'